<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="meshRequestTypeListForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true"
			rendered="#{!meshRequestTypeBean.renderErrorMessage}" />
		<label class="Page_Tittle">Mesh Request Type List</label>

		<p:commandButton icon="ui-icon-plus"
			update=":addMeshRequestTypeForm, :meshRequestTypeListForm"
			styleClass="btn_right cancel_button" title="Add NewRequestTypeName"
			action="#{meshRequestTypeController.resetMeshRequestType()}"
			oncomplete="PF('meshRequestTypeAddModal').show();" />

		<div class="listing_Table">
			<p:dataTable widgetVar="meshRequestTypeDataTable" var="meshRequestType"
				value="#{meshRequestTypeBean.meshRequestTypeTOList}" rows="10" paginator="true"
				styleClass="table-header" rowIndexVar="index"
				paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">
				<p:column sortBy="#{meshRequestType.requestTypeName}"
				          filterBy="#{meshRequestType.requestTypeName}"
					      headerText="MeshRequestType" 
					      filterMatchMode="contains">
					<h:outputText value="#{meshRequestType.requestTypeName}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();"
						update=":meshRequestTypeEditForm, :meshRequestTypeListForm"
						action="#{meshRequestTypeController.updateEditMeshRequestType(meshRequestType)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>
			</div>
	</h:form>	
	
	<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
			resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
		<h:form>	
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide(); PF('meshRequestTypeEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>
		</h:form>	
	</p:dialog>
	

	<p:dialog header="NEW MESH REQUEST TYPE"
		widgetVar="meshRequestTypeAddModal" modal="true">
		<h:form id="addMeshRequestTypeForm">
			<p:messages id="newRequestTypeNameMessages" showDetail="false"
				autoUpdate="true" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>System RequestTypeName:</p:outputLabel>
				<p:inputText id="MeshRequestType" required="true"
					maxlength="200"
					requiredMessage="Please input a MeshRequestType"
					value="#{meshRequestTypeBean.requestTypeName}" />
				</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{meshRequestTypeController.addMeshRequestType()}"
				process=":addMeshRequestTypeForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('meshRequestTypeAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="meshRequestTypeEditModal"
		header="Edit Mesh Request Type" modal="true">
		<h:form id="meshRequestTypeEditForm">
			<p:messages id="editMeshRequestType" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel>
					<span class="redColor">*</span>MeshRequestType:</p:outputLabel>
				<p:inputText value="#{meshRequestTypeBean.requestTypeName}"
					maxlength="200" required="true"
					requiredMessage="Request Type Name is required" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();"
				action="#{meshRequestTypeController.updateMeshRequestType}"
				update=":meshRequestTypeListForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('meshRequestTypeEditModal').hide();"
				style="float:bottom" immediate="true" />


		</h:form>
	</p:dialog>

</ui:composition>
