<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
  	xmlns:f="http://java.sun.com/jsf/core"
  	xmlns:ui = "http://java.sun.com/jsf/facelets"
  	xmlns:h = "http://java.sun.com/jsf/html"
  	xmlns:p="http://primefaces.org/ui"
  	xmlns:c="http://java.sun.com/jsp/jstl/core"
  	xmlns:tag="http://com.talentpact.adhocreportsui/facelets">
  	<h:body>
	<ui:composition>
		<p:outputLabel	value="#{processingLogicDefinitionTo.processingLogicTemplate.firstLogicValue}" 
			rendered="#{processingLogicDefinitionTo.processingLogicTemplate.firstLogicType.label eq 'SQLSyntax'}"></p:outputLabel>
		<p:selectOneMenu value="#{processingLogicDefinitionTo.firstLogicValue}" filter="true" filterMatchMode="contains"
			rendered="#{(processingLogicDefinitionTo.processingLogicTemplate.firstLogicType.label eq 'Column') or (processingLogicDefinitionTo.processingLogicTemplate.firstLogicType.label 
			eq 'DerivedGenericColumn') or (processingLogicDefinitionTo.processingLogicTemplate.firstLogicType.label eq 'DerivedGroupingColumn')}" converter="columnToConverter">
			<f:selectItems value="#{processingLogicDefinitionTo.firstLogicFilteredValuesList}" var="column"	itemLabel="#{column.columnTableTo.name}.#{column.column.label}"
				itemValue="#{column}"></f:selectItems>
		</p:selectOneMenu>
		<p:selectOneMenu value="#{processingLogicDefinitionTo.firstLogicValue}" filter="true" filterMatchMode="contains"
			rendered="#{(processingLogicDefinitionTo.processingLogicTemplate.firstLogicType.label eq 'ApplicationInput') or (processingLogicDefinitionTo.processingLogicTemplate.firstLogicType.label 
			eq 'Constant')}" converter="selectItemConverter">
			<f:selectItems value="#{processingLogicDefinitionTo.firstLogicFilteredValuesList}" var="selectItem"	itemLabel="#{selectItem.label}"
				itemValue="#{selectItem}"></f:selectItems>
		</p:selectOneMenu>
		<p:selectOneMenu value="#{processingLogicDefinitionTo.firstLogicValue}" filter="true" filterMatchMode="contains"
			rendered="#{processingLogicDefinitionTo.processingLogicTemplate.firstLogicType.label eq 'Operator'}" converter="operatorToConverter">
			<f:selectItems value="#{processingLogicDefinitionTo.firstLogicFilteredValuesList}" var="operator" itemLabel="#{operator.operatorLabel}"
				itemValue="#{operator}"></f:selectItems>
		</p:selectOneMenu>
		<p:outputLabel	value="#{processingLogicDefinitionTo.processingLogicTemplate.secondLogicValue}" 
			rendered="#{processingLogicDefinitionTo.processingLogicTemplate.secondLogicType.label eq 'SQLSyntax'}"></p:outputLabel>
		<p:selectOneMenu value="#{processingLogicDefinitionTo.secondLogicValue}" filter="true" filterMatchMode="contains"
			rendered="#{(processingLogicDefinitionTo.processingLogicTemplate.secondLogicType.label eq 'Column') or (processingLogicDefinitionTo.processingLogicTemplate.secondLogicType.label 
			eq 'DerivedGenericColumn') or (processingLogicDefinitionTo.processingLogicTemplate.secondLogicType.label eq 'DerivedGroupingColumn')}" converter="columnToConverter">
			<f:selectItems value="#{processingLogicDefinitionTo.secondLogicFilteredValuesList}" var="column" itemLabel="#{column.columnTableTo.name}.#{column.column.label}"
				itemValue="#{column}"></f:selectItems>
		</p:selectOneMenu>
		<p:selectOneMenu value="#{processingLogicDefinitionTo.secondLogicValue}" filter="true" filterMatchMode="contains"
			rendered="#{(processingLogicDefinitionTo.processingLogicTemplate.secondLogicType.label eq 'ApplicationInput') or (processingLogicDefinitionTo.processingLogicTemplate.secondLogicType.label 
			eq 'Constant')}" converter="selectItemConverter">
			<f:selectItems value="#{processingLogicDefinitionTo.secondLogicFilteredValuesList}" var="selectItem" itemLabel="#{selectItem.label}"
				itemValue="#{selectItem}"></f:selectItems>
		</p:selectOneMenu>
		<p:selectOneMenu value="#{processingLogicDefinitionTo.secondLogicValue}" filter="true" filterMatchMode="contains"
			rendered="#{processingLogicDefinitionTo.processingLogicTemplate.secondLogicType.label eq 'Operator'}" converter="operatorToConverter">
			<f:selectItems value="#{processingLogicDefinitionTo.secondLogicFilteredValuesList}" var="operator" itemLabel="#{operator.operatorLabel}"
				itemValue="#{operator}"></f:selectItems>
		</p:selectOneMenu>
		<p:outputLabel	value="#{processingLogicDefinitionTo.processingLogicTemplate.thirdLogicValue}" 
			rendered="#{processingLogicDefinitionTo.processingLogicTemplate.thirdLogicType.label eq 'SQLSyntax'}"></p:outputLabel>
		<p:selectOneMenu value="#{processingLogicDefinitionTo.thirdLogicValue}" filter="true" filterMatchMode="contains"
			rendered="#{(processingLogicDefinitionTo.processingLogicTemplate.thirdLogicType.label eq 'Column') or (processingLogicDefinitionTo.processingLogicTemplate.thirdLogicType.label 
			eq 'DerivedGenericColumn') or (processingLogicDefinitionTo.processingLogicTemplate.thirdLogicType.label eq 'DerivedGroupingColumn')}" converter="columnToConverter">
			<f:selectItems value="#{processingLogicDefinitionTo.thirdLogicFilteredValuesList}" var="column"	itemLabel="#{column.columnTableTo.name}.#{column.column.label}"
				itemValue="#{column}"></f:selectItems>
		</p:selectOneMenu>
		<p:selectOneMenu value="#{processingLogicDefinitionTo.thirdLogicValue}" filter="true" filterMatchMode="contains"
			rendered="#{(processingLogicDefinitionTo.processingLogicTemplate.thirdLogicType.label eq 'ApplicationInput') or (processingLogicDefinitionTo.processingLogicTemplate.thirdLogicType.label 
			eq 'Constant')}" converter="selectItemConverter">
			<f:selectItems value="#{processingLogicDefinitionTo.thirdLogicFilteredValuesList}" var="selectItem"	itemLabel="#{selectItem.label}"
				itemValue="#{selectItem}"></f:selectItems>
		</p:selectOneMenu>
		<p:selectOneMenu value="#{processingLogicDefinitionTo.thirdLogicValue}" filter="true" filterMatchMode="contains"
			rendered="#{processingLogicDefinitionTo.processingLogicTemplate.thirdLogicType.label eq 'Operator'}" converter="operatorToConverter">
			<f:selectItems value="#{processingLogicDefinitionTo.thirdLogicFilteredValuesList}" var="operator" itemLabel="#{operator.operatorLabel}"
				itemValue="#{operator}"></f:selectItems>
		</p:selectOneMenu>
	</ui:composition>
</h:body>
</html>