<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
  	xmlns:f="http://java.sun.com/jsf/core"
  	xmlns:ui = "http://java.sun.com/jsf/facelets"
  	xmlns:h = "http://java.sun.com/jsf/html"
  	xmlns:p="http://primefaces.org/ui"
  	xmlns:c="http://java.sun.com/jsp/jstl/core"
  	xmlns:tag="http://com.talentpact.adhocreportsui/facelets">
  	<h:body>
	    <ui:composition>
        <div class="form-listing-block">
			<div class="form-row clearfix">
            	<div class="form-listing-left">
	    	<p:outputLabel value=" Name :" styleClass="label-form"/>
	    	<p:inputText id="processingLogicTemplateName#{index1}#{index2}" value="#{intermediateProcessingLogicTemplateTo.processingElementName}"/>
            </div>
            <div class="form-listing-right">
	    	<p:outputLabel value=" Return Data Type :" styleClass="label-form"/>
	    	<p:selectOneMenu filter="true" filterMatchMode="contains" value="#{intermediateProcessingLogicTemplateTo.returnDataType}" converter="selectItemConverter">
	    		<f:selectItems value="#{commonReportDataBean.dataTypes}" var="dataType" itemLabel="#{dataType.label}" itemValue="#{dataType}"></f:selectItems>
	    	</p:selectOneMenu>
	    	</div>
            </div>
            </div>
            <div class="form-table">
            
	    	<p:panelGrid columns="4">
	    	<p:outputLabel value=" Select First Processing Logic Type :" styleClass="label-form"></p:outputLabel>
	    	<p:selectOneMenu filter="true" filterMatchMode="contains" value="#{intermediateProcessingLogicTemplateTo.firstLogicType}" converter="selectItemConverter">
	    		<f:selectItems value="#{commonReportDataBean.processingLogicTemplateTypeList}" var="template" itemLabel="#{template.label}" itemValue="#{template}"></f:selectItems>
	    		<p:ajax event="change" update="processingFirstLogicTypeBasedPanel3#{index1}#{index2}" listener="#{createReportDataController.checkFirstProcessingLogicType(intermediateProcessingLogicTemplateTo)}"></p:ajax>
	    	</p:selectOneMenu>
			<h:panelGroup layout="block" id="processingFirstLogicTypeBasedPanel3#{index1}#{index2}">
				<p:outputLabel value=" Syntax : " styleClass="label-form" rendered="#{intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'SQLSyntax'}"></p:outputLabel>
				<p:inputText value="#{intermediateProcessingLogicTemplateTo.firstLogicValue}" rendered="#{intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'SQLSyntax'}"></p:inputText>
				
	    		<p:outputLabel value=" Select Data Type : " styleClass="label-form" rendered="#{(intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'Column') or 
	    			(intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'DerivedGenericColumn') or (intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'DerivedGroupingColumn') or 
	    			(intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'Constant') or (intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'ApplicationInput') or 
	    			(intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'Operator')}"></p:outputLabel>
	    		<p:selectOneMenu filter="true" filterMatchMode="contains" value="#{intermediateProcessingLogicTemplateTo.firstLogicDataType}" converter="selectItemConverter" rendered="#{(intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'Column') or 
	    			(intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'DerivedGenericColumn') or (intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'DerivedGroupingColumn') or 
	    			(intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'Constant') or (intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'ApplicationInput') or 
	    			(intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'Operator')}">
	    			<f:selectItems value="#{commonReportDataBean.dataTypes}" var="dataType" itemLabel="#{dataType.label}" itemValue="#{dataType}"></f:selectItems>
	    		</p:selectOneMenu>
	    		<h:panelGroup layout="block" rendered="#{(intermediateProcessingLogicTemplateTo.firstLogicType.label eq 'ProcessingLogic')}">
	    			<tag:processingLogicTemplate4 intermediateProcessingLogicTemplateTo="#{intermediateProcessingLogicTemplateTo.firstTypeProcessingLogicTo}"
	    				index1="#{index1}" index2="#{index2}" index3="1"/>
	    		</h:panelGroup>
			</h:panelGroup>
			</p:panelGrid>
		 </div>
         <div class="form-table">
			<p:panelGrid columns="4">
	    	<p:outputLabel value=" Select Second Processing Logic Type :" styleClass="label-form"></p:outputLabel>
	    	<p:selectOneMenu filter="true" filterMatchMode="contains" value="#{intermediateProcessingLogicTemplateTo.secondLogicType}" converter="selectItemConverter">
	    		<f:selectItems value="#{commonReportDataBean.processingLogicTemplateTypeListWithNone}" var="template" itemLabel="#{template.label}" itemValue="#{template}"></f:selectItems>
	    		<p:ajax event="change" update="processingSecondLogicTypeBasedPanel3#{index1}#{index2}" listener="#{createReportDataController.checkSecondProcessingLogicType(intermediateProcessingLogicTemplateTo)}"></p:ajax>
	    	</p:selectOneMenu>
			<h:panelGroup layout="block" id="processingSecondLogicTypeBasedPanel3#{index1}#{index2}">
				<p:outputLabel value=" Syntax :" styleClass="label-form" rendered="#{intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'SQLSyntax'}"></p:outputLabel>
				<p:inputText value="#{intermediateProcessingLogicTemplateTo.secondLogicValue}" rendered="#{intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'SQLSyntax'}"></p:inputText>
	    		<p:outputLabel value=" Select Data Type :" styleClass="label-form" rendered="#{(intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'Column') or 
	    			(intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'DerivedGenericColumn') or (intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'DerivedGroupingColumn') or 
	    			(intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'Constant') or (intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'ApplicationInput') or 
	    			(intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'Operator')}"></p:outputLabel>
	    		<p:selectOneMenu filter="true" filterMatchMode="contains" value="#{intermediateProcessingLogicTemplateTo.secondLogicDataType}" converter="selectItemConverter" rendered="#{(intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'Column') or 
	    			(intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'DerivedGenericColumn') or (intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'DerivedGroupingColumn') or 
	    			(intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'Constant') or (intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'ApplicationInput') or 
	    			(intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'Operator')}">
	    			<f:selectItems value="#{commonReportDataBean.dataTypes}" var="dataType" itemLabel="#{dataType.label}" itemValue="#{dataType}"></f:selectItems>
	    		</p:selectOneMenu>
	    		<h:panelGroup layout="block" rendered="#{(intermediateProcessingLogicTemplateTo.secondLogicType.label eq 'ProcessingLogic')}">
	    			<tag:processingLogicTemplate4 intermediateProcessingLogicTemplateTo="#{intermediateProcessingLogicTemplateTo.secondTypeProcessingLogicTo}"
	    				index1="#{index1}" index2="#{index2}" index3="2"/>
	    		</h:panelGroup>
			</h:panelGroup>
			</p:panelGrid>
			</div>
            <div class="form-table">
			<p:panelGrid columns="4">
	    	<p:outputLabel value=" Select Third Processing Logic Type :" styleClass="label-form"></p:outputLabel>
	    	<p:selectOneMenu filter="true" filterMatchMode="contains" value="#{intermediateProcessingLogicTemplateTo.thirdLogicType}" converter="selectItemConverter">
	    		<f:selectItems value="#{commonReportDataBean.processingLogicTemplateTypeListWithNone}" var="template" itemLabel="#{template.label}" itemValue="#{template}"></f:selectItems>
	    		<p:ajax event="change" update="processingThirdLogicTypeBasedPanel3#{index1}#{index2}" listener="#{createReportDataController.checkThirdProcessingLogicType(intermediateProcessingLogicTemplateTo)}"></p:ajax>
	    	</p:selectOneMenu>
			<h:panelGroup layout="block" id="processingThirdLogicTypeBasedPanel3#{index1}#{index2}">
				<p:outputLabel value=" Syntax :" styleClass="label-form" rendered="#{intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'SQLSyntax'}"></p:outputLabel>
				<p:inputText value="#{intermediateProcessingLogicTemplateTo.thirdLogicValue}" rendered="#{intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'SQLSyntax'}"></p:inputText>
	    		<p:outputLabel value=" Select Data Type :" styleClass="label-form" rendered="#{(intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'Column') or 
	    			(intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'DerivedGenericColumn') or (intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'DerivedGroupingColumn') or 
	    			(intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'Constant') or (intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'ApplicationInput') or 
	    			(intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'Operator')}"></p:outputLabel>
	    		<p:selectOneMenu filter="true" filterMatchMode="contains" value="#{intermediateProcessingLogicTemplateTo.thirdLogicDataType}" converter="selectItemConverter" rendered="#{(intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'Column') or 
	    			(intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'DerivedGenericColumn') or (intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'DerivedGroupingColumn') or 
	    			(intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'Constant') or (intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'ApplicationInput') or 
	    			(intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'Operator')}">
	    			<f:selectItems value="#{commonReportDataBean.dataTypes}" var="dataType" itemLabel="#{dataType.label}" itemValue="#{dataType}"></f:selectItems>
	    		</p:selectOneMenu>
	    		<h:panelGroup layout="block" rendered="#{(intermediateProcessingLogicTemplateTo.thirdLogicType.label eq 'ProcessingLogic')}">
	    			<tag:processingLogicTemplate4 intermediateProcessingLogicTemplateTo="#{intermediateProcessingLogicTemplateTo.thirdTypeProcessingLogicTo}"
	    				index1="#{index1}" index2="#{index2}" index3="3"/>
	    		</h:panelGroup>
			</h:panelGroup>
			</p:panelGrid>
            </div>
	    </ui:composition>
    </h:body>
</html>