<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui = "http://java.sun.com/jsf/facelets"
  xmlns:h = "http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>AdHoc Report Configuration</title>
	  <link href="../css/home.css" type="text/css" rel="stylesheet" media="all" />
</h:head>

<h:body>
<h:form id="configurationForm">
	<p:messages id="forCreateApplicationInputDialog" showDetail="false" autoUpdate="false" closable="true"/>
    <f:event type="preRenderView" listener="#{reportDisplayController.preRenderView(createConfigurationDataBean)}"/>         
    <p:tabView id="tabView1" activeIndex="0" styleClass="tabs-common">
        <p:tab  title="Create Application Input">
        	<p:panel id="tabView2" title="Create ApplicationInput" style="border:none">
                <div id="createApplicationInputDialog" class="form-Configuration">
					<h:panelGrid columns="4" cellpadding="5">
						<p:outputLabel value="ApplicationInput Name :" styleClass="label-form"></p:outputLabel>
						<p:inputText value="#{createConfigurationDataBean.applicationInputNameForCreation}"></p:inputText>
					
						<p:outputLabel value="Data Type :" styleClass="label-form"></p:outputLabel>
						<p:selectOneMenu value="#{createConfigurationDataBean.selectedDataType}" converter="selectItemConverter">
							<f:selectItems value="#{commonReportDataBean.dataTypes}" var="dataType" itemLabel="#{dataType.label}" itemValue="#{dataType}"></f:selectItems>
						</p:selectOneMenu>
					</h:panelGrid>
				  </div>	
			
						<p:commandButton value="Submit" styleClass="Submit_button" actionListener="#{configurtionDataController.createApplicationInput(createConfigurationDataBean)}" update=":configurationForm">
						</p:commandButton>
			</p:panel>
        </p:tab>
    </p:tabView>   
 </h:form> 
</h:body>
</html>