<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>AdHoc Report Configuration</title>
	<link href="../css/home.css" type="text/css" rel="stylesheet"
		media="all" />
</h:head>

<h:body>
	<h:form id="rowsLimitForm">
		<p:growl id="growl" showDetail="true" />
		<label class="Page_Tittle">Assign Row Limit for Adhoc Reports</label>
		<br />
		<br />
		<br />
		<div class="listing_Table">
			<p:dataTable id="reportDataTable" widgetVar="dataTableWidgetVar"
				var="report" value="#{commonReportDataBean.allReportsDetails}"
				rows="20" paginator="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="20,40,60">
				<p:column sortBy="#{report.reportName}" headerText="Report Name"
					filterBy="#{report.reportName}" filterMatchMode="in">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="Report Name"
							onchange="#{p:widgetVar(':rowsLimitForm:reportDataTable')}.filter()"
							filterMatchMode="contains" filter="true">
							<f:selectItems value="#{reportDetailBean.reportNameList}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{report.reportName}" />
				</p:column>
				<p:column sortBy="#{report.moduleName}" headerText="Module Name"
					filterBy="#{report.moduleName}" filterMatchMode="in">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="Module Name"
							onchange="#{p:widgetVar(':rowsLimitForm:reportDataTable')}.filter()"
							filterMatchMode="contains" filter="true">
							<f:selectItems value="#{reportDetailBean.moduleNameList}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{report.moduleName}" />
				</p:column>
				<p:column sortBy="#{report.reportDescription}"
					headerText="Report Description"
					filterBy="#{report.reportDescription}" filterMatchMode="contains">
					<h:outputText value="#{report.reportDescription}" />
				</p:column>
				<p:column sortBy="#{report.rowLimit}" headerText="Row Limit">
					<h:outputText
						value="#{report.rowLimit != null ? report.rowLimit : 'Not Defined'}" />
				</p:column>
				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="#{p:widgetVar('editRowsLimitDialog')}.show()"
						actionListener="#{configurtionDataController.setSelectedReportDetailsToSetRowLimit(report,createConfigurationDataBean)}"
						update=":editRowsLimitDialog" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>
		</div>

	</h:form>
	<p:dialog header="Edit Rows Limit" id="editRowsLimitDialog"
		widgetVar="editRowsLimitDialog" resizable="false" modal="true" styleClass="PopUpinCenter">
		<h:form id="editRowsLimitForm">
			<p:messages id="editRowsLimitFormErrorMessage" showDetail="false"
				autoUpdate="true" closable="true" />

			<h:panelGrid columns="2" cellpadding="5" style="border:none">
			
					<p:outputLabel styleClass="label-form">
						Report Name:</p:outputLabel>
					<p:inputText
						value="#{createConfigurationDataBean.selectedReportDetailsToSetRowLimit.reportName}"
						disabled="true"></p:inputText>
				
				
					<p:outputLabel styleClass="label-form">
						Module Name:</p:outputLabel>
					<p:inputText 
						value="#{createConfigurationDataBean.selectedReportDetailsToSetRowLimit.moduleName}"
						disabled="true"></p:inputText>
	
				
					<p:outputLabel styleClass="label-form">
						Report Description:</p:outputLabel>
					<p:inputText
						value="#{createConfigurationDataBean.selectedReportDetailsToSetRowLimit.reportDescription}"
						disabled="true"></p:inputText>
			
				
					<p:outputLabel styleClass="label-form">
					<span class="redColor">*</span>Rows Limit:</p:outputLabel>
					<p:inputText maxlength="50"
						value="#{createConfigurationDataBean.selectedReportDetailsToSetRowLimit.rowLimit}"></p:inputText>
				

			</h:panelGrid>

			<div class="button-row">
				<p:commandButton value="Close" immediate="true"
					styleClass="btn-success"
					oncomplete="#{p:widgetVar(':editRowsLimitDialog')}.hide();" />
				<p:commandButton value="Save" styleClass="btn-success"
					actionListener="#{configurtionDataController.updateReportRowsLimit(createConfigurationDataBean)}"
					update="rowsLimitForm:reportDataTable" />
			</div>
		</h:form>
	</p:dialog>
</h:body>
</html>