<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui = "http://java.sun.com/jsf/facelets"
  xmlns:h = "http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>AdHoc Report Configuration</title>
	  <link href="../css/home.css" type="text/css" rel="stylesheet" media="all" />
</h:head>

<h:body>
<h:form id="mappingForm">
    <p:growl id="growl" showDetail="true"/>
	<label class="Page_Tittle">Assign Reports Organization Mapping</label> <br/> <br/> <br/>  
    <div class="listing_Table">
		<p:dataTable id="reportDataTable" widgetVar="dataTableWidgetVar"
			var="report" value="#{commonReportDataBean.nonDefaultReportsAllOrg}" rows="20"
			paginator="true" styleClass="table-header" rowIndexVar="index" filteredValue="#{commonReportDataBean.nonDefaultFilteredReportsAllOrg}"
			paginatorPosition="bottom" rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
			rowsPerPageTemplate="20,40,60">
			<p:column sortBy="#{report.reportName}" headerText="Report Name" 
				filterBy="#{report.reportName}" filterMatchMode="in">
				<f:facet name="filter">
					<p:selectCheckboxMenu label="Report Name" onchange="#{p:widgetVar(':mappingForm:reportDataTable')}.filter()" filterMatchMode="contains" filter="true">
						<f:selectItems value="#{reportDetailBean.reportNameList}" />
					</p:selectCheckboxMenu>
				</f:facet>
				<h:outputText value="#{report.reportName}" />
			</p:column>
			<p:column sortBy="#{report.moduleName}" headerText="Module Name" filterBy="#{report.moduleName}" filterMatchMode="in">
				<f:facet name="filter">
					<p:selectCheckboxMenu label="Module Name" onchange="#{p:widgetVar(':mappingForm:reportDataTable')}.filter()" filterMatchMode="contains" 
						filter="true">
						<f:selectItems value="#{reportDetailBean.moduleNameList}"/>
					</p:selectCheckboxMenu>
				</f:facet>
				<h:outputText value="#{report.moduleName}" />
			</p:column>
			<p:column headerText="Organization" sortBy="#{report.organization.label}"
				filterBy="#{report.organization.label}" filterMatchMode="in">
				<f:facet name="filter">
					<p:selectCheckboxMenu label="Organization" onchange="#{p:widgetVar(':mappingForm:reportDataTable')}.filter()" filterMatchMode="contains" 
						filter="true">
						<f:selectItems value="#{commonReportDataBean.organizationNameList}"/>
					</p:selectCheckboxMenu>
				</f:facet>
				<h:outputText value="#{report.organization.label}" />
			</p:column>
			<p:column sortBy="#{report.reportDescription}" headerText="Report Description"
				filterBy="#{report.reportDescription}" filterMatchMode="contains">
				<h:outputText value="#{report.reportDescription}" />
			</p:column>
			<p:column headerText="Assign/Deassign">
				<p:selectBooleanCheckbox value="#{report.selected}">
					<p:ajax event="change" listener="#{configurtionDataController.assignReport(report.reportId,report.organization.value)}">
					</p:ajax>
				</p:selectBooleanCheckbox>
			</p:column>
		</p:dataTable>
	</div>   
</h:form> 
</h:body>
</html>