<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui = "http://java.sun.com/jsf/facelets"
  xmlns:h = "http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>AdHoc Report Configuration</title>
	  <link href="../css/home.css" type="text/css" rel="stylesheet" media="all" />
</h:head>

<h:body>
<h:form id="mappingForm">
    <p:growl id="growl" showDetail="true"/>
	<label class="Page_Tittle">Assign Derived Table Organization Mapping</label> <br/> <br/> <br/>  
    <div class="listing_Table">
		<p:dataTable id="derivedDataTable" widgetVar="dataTableWidgetVar"
			var="table" value="#{commonReportDataBean.orgAdminDerivedTablesAllOrg}" rows="20"
			paginator="true" styleClass="table-header" rowIndexVar="index" filteredValue="#{commonReportDataBean.orgAdminFilteredDerivedTablesAllOrg}"
			paginatorPosition="bottom" rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
			rowsPerPageTemplate="20,40,60">
			<p:column sortBy="#{table.name}" headerText="Table Name" 
				filterBy="#{table.name}" filterMatchMode="in">
				<f:facet name="filter">
					<p:selectCheckboxMenu label="Table Name" onchange="#{p:widgetVar(':mappingForm:derivedDataTable')}.filter()" filterMatchMode="contains" filter="true">
						<f:selectItems value="#{commonReportDataBean.derivedTableNameList}" />
					</p:selectCheckboxMenu>
				</f:facet>
				<h:outputText value="#{table.name}" />
			</p:column>
			<p:column headerText="Organization" sortBy="#{table.organization.label}"
				filterBy="#{table.organization.label}" filterMatchMode="in">
				<f:facet name="filter">
					<p:selectCheckboxMenu label="Organization" onchange="#{p:widgetVar(':mappingForm:derivedDataTable')}.filter()" filterMatchMode="contains" 
						filter="true">
						<f:selectItems value="#{commonReportDataBean.organizationNameList}"/>
					</p:selectCheckboxMenu>
				</f:facet>
				<h:outputText value="#{table.organization.label}" />
			</p:column>
			<p:column sortBy="#{table.desc}" headerText="Table Description"
				filterBy="#{table.desc}" filterMatchMode="contains">
				<h:outputText value="#{table.desc}" />
			</p:column>
			<p:column headerText="Assign/Deassign">
				<p:selectBooleanCheckbox value="#{table.selected}">
					<p:ajax event="change" listener="#{configurtionDataController.assignTable(table.id,table.organization.value)}">
					</p:ajax>
				</p:selectBooleanCheckbox>
			</p:column>
		</p:dataTable>
	</div>   
</h:form> 
</h:body>
</html>