<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui = "http://java.sun.com/jsf/facelets"
  xmlns:h = "http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:tag="http://com.talentpact.adhocreportsui/facelets">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>AdHoc Report Configuration</title>
	  <link href="../css/adhocreports_gray.css" type="text/css" rel="stylesheet" media="all" />
</h:head>

<h:body>
<h:form id="configurationForm">
    <p:messages id="forProcessingLogicTemplateDialog" showDetail="false" autoUpdate="true" closable="true"/>
    <f:event type="preRenderView" listener="#{reportDisplayController.preRenderView(createConfigurationDataBean)}" />         
    <p:tabView id="tabView1" activeIndex="0" styleClass="tabs-common">
        <p:tab  title="Create ProcessingLogicTemplate">
        <div class="adhoc-report-block clearfix">
        		<p:panel id="tabView2" title="Create ProcessingLogicTemplate" style="border:none">
                <div id="processingLogicTemplateDialog" class="listing-Configuration clearfix">
        		 	<tag:processingLogicTemplate1 intermediateProcessingLogicTemplateTo="#{createConfigurationDataBean.intermediateProcessingLogicTemplateTo}"/>
 					<div class="button-row">
                    	<p:commandButton value="Submit" styleClass="btn-success" actionListener="#{configurtionDataController.createProcessingLogicTemplate(createConfigurationDataBean)}" update=":configurationForm">
        				</p:commandButton>
                    </div>
                 </div>
       			</p:panel>	
            </div>
        </p:tab>
    </p:tabView>   
 </h:form> 
</h:body>
</html>