<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui = "http://java.sun.com/jsf/facelets"
  xmlns:h = "http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>AdHoc Report Configuration</title>
      <script type="text/javascript">
            function redirect() {
                window.location="./applicationInputConfiguration.jsf";
             }
      </script>
	  <link href="../css/home.css" type="text/css" rel="stylesheet" media="all" />
</h:head>

<h:body>
<h:form id="configurationForm">
    <p:growl id="growl" showDetail="true"/>
    <f:event type="preRenderView" listener="#{reportDisplayController.preRenderView(createConfigurationDataBean)}" />
	<label class="Page_Tittle">View Application Input</label>
   	<p:commandButton styleClass="btn_right cancel_button" icon="ui-icon-plus" title="New Application Input" ajax="true"
			oncomplete="redirect()" update=":configurationForm">
	</p:commandButton>     
	    
    	<div class="listing_Table">
		<p:dataTable id="applicationInputDataTable"  rowKey="#{applicationInput.name}"
			var="applicationInput" value="#{commonReportDataBean.applicationInputToList}" rows="10"
			paginator="true" styleClass="table-header" rowIndexVar="index"
			paginatorPosition="bottom" rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
			rowsPerPageTemplate="10,20,30">
			
			<p:column sortBy="#{applicationInput.name}" headerText="Application Input Name"
				filterBy="#{applicationInput.name}" filterMatchMode="contains">
				<h:outputText value="#{applicationInput.name}" />
			</p:column>
			<p:column headerText="Application Input DataType" sortBy="#{applicationInput.dataType.label}"
				filterBy="#{applicationInput.dataType.label}" filterMatchMode="contains">
				<h:outputText value="#{applicationInput.dataType.label}" />
			</p:column>
			
		</p:dataTable>
		</div> 
 </h:form> 
</h:body>
</html>