<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui = "http://java.sun.com/jsf/facelets"
  xmlns:h = "http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:tag="http://com.talentpact.adhocreportsui/facelets">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>AdHoc Report Configuration</title>
      <script type="text/javascript">
            function redirect() {
                window.location="./processingLogicTemplateConfiguration.jsf";
             }
      </script>
	  <link href="../css/home.css" type="text/css" rel="stylesheet" media="all" />
</h:head>

<h:body>
<h:form id="configurationForm">
    <p:growl id="growl" showDetail="true"/>
    <f:event type="preRenderView" listener="#{reportDisplayController.preRenderView(createConfigurationDataBean)}" />
    <p:commandButton styleClass="btn_right cancel_button" icon="ui-icon-plus" title="New Processing Logic Template" ajax="true"
			oncomplete="redirect()" update=":configurationForm">
	</p:commandButton>          
    	<div class="listing_Table">
		<p:dataTable id="processingLogicTemplateDataTable"  rowKey="#{processingLogicTemplate.getKey()}"
			var="processingLogicTemplate" value="#{commonReportDataBean.processingLogicTemplatesMap.entrySet()}" rows="10"
			paginator="true" styleClass="table-header" rowIndexVar="index"
			paginatorPosition="bottom" rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
			rowsPerPageTemplate="10,20,30">
			<p:column sortBy="#{processingLogicTemplate.getValue().get(0).processingElementName}" headerText="ProcessingLogicTemplate Name"
				filterBy="#{processingLogicTemplate.getValue().get(0).processingElementName}" filterMatchMode="contains">
				<h:outputText value="#{processingLogicTemplate.getValue().get(0).processingElementName}" />
			</p:column>
			<p:column sortBy="#{processingLogicTemplate.getValue().get(0).toString}" headerText="ProcessingLogicTemplate String"
				filterBy="#{processingLogicTemplate.getValue().get(0).toString}" filterMatchMode="contains">
				<h:outputText value="#{processingLogicTemplate.getValue().get(0).toString}" />
			</p:column>
			<p:column headerText="Return DataType" sortBy="#{processingLogicTemplate.getValue().get(0).returnDataType.label}"
				filterBy="#{processingLogicTemplate.getValue().get(0).returnDataType.label}" filterMatchMode="contains">
				<h:outputText value="#{processingLogicTemplate.getValue().get(0).returnDataType.label}" />
			</p:column>
		</p:dataTable>
		</div>   
 </h:form> 
</h:body>
</html>