<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="tpAppListForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true" />
		<label class="Page_Tittle">TpApp</label>

		<p:commandButton oncomplete="PF('tpAppAddModal').show();"
			styleClass="btn_right cancel_button" icon="ui-icon-plus"
			title="Add TpApp" action="#{tpAppController.resetBean}"
			update=":newTpAppForm,:tpAppListForm">
		</p:commandButton>


		<div class="listing_Table">
			<p:dataTable widgetVar="myDataTable" id="appListForm" var="record"
				value="#{tpAppBean.tpAppTOList}" rows="10" paginator="true"
				styleClass="table-header" rowIndexVar="index"
				paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">

				<f:facet name="{App Name}" />

				<p:column sortBy="#{record.name}" filterBy="#{record.name}"
					headerText="App Name">
					<h:outputText value="#{record.name}" />
				</p:column>

				<p:column sortBy="#{record.code}" filterBy="#{record.code}"
					headerText="App Code">
					<h:outputText value="#{record.code}" />
				</p:column>

				<p:column sortBy="#{record.image}" filterBy="#{record.image}"
					headerText="App Image">
					<h:outputText value="#{record.image}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();"
						update=":tpAppListUpdateForm"
						action="#{tpAppController.refreshPopUp(record)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>

			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">

				<div class="confirmDialog_text">
					<label>Please edit carefully because changes made may
						affect the whole System.</label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide();PF('tpAppEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>

			</p:dialog>

		</div>
	</h:form>

	<p:dialog header="New TpApp" widgetVar="tpAppAddModal" modal="true">
		<h:form id="newTpAppForm">
			<p:messages id="newTpApp1" showDetail="false" autoUpdate="true"
				closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">

				<p:outputLabel>
					<span class="redColor">*</span>App Name:</p:outputLabel>
				<p:inputText value="#{tpAppBean.name}" maxlength="45"
					required="true" requiredMessage="Please enter App Name" />

				<p:outputLabel>
					<span class="redColor">*</span>App Code:</p:outputLabel>
				<p:inputText value="#{tpAppBean.code}" maxlength="45"
					required="true" requiredMessage="Please enter App Code" />

				<p:outputLabel>App Image Path</p:outputLabel>
				<p:commandButton icon="ui-icon-suitcase" title="Upload App Image"
					styleClass="cancel_button" onclick="PF('appImagePathModal').show()" />

			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{tpAppController.save}"
				process=":tpAppListForm,:newTpAppForm"
				update=":tpAppListForm,:newTpAppForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('tpAppAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="tpAppEditModal" header="TpApp" modal="true">
		<h:form id="tpAppListUpdateForm">
			<p:messages id="changeTpAppDetails" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel value="App Name: " />
				<p:inputText value="#{tpAppBean.name}" maxlength="45"
					required="true" requiredMessage="please enter a valid app Name" />
				<p:outputLabel value="App Code: " />
				<p:inputText value="#{tpAppBean.code}" maxlength="20"
					required="true" requiredMessage="please enter a valid app Code" />
				<p:outputLabel>App Image Path</p:outputLabel>
				<p:inputText value="#{tpAppBean.image}" ></p:inputText>
				<p:commandButton icon="ui-icon-suitcase" title="Upload App Image"
					styleClass="cancel_button"
					onclick="PF('appImagePathModal').show()" />


			</h:panelGrid>

			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" action="#{tpAppController.update}"
				update=":tpAppListForm,:tpAppListUpdateForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();" oncomplete="PF('tpAppEditModal').hide();"
				style="float:bottom" required="true" />
		</h:form>
	</p:dialog>

	<p:dialog header="AppImagePath" widgetVar="appImagePathModal"
		modal="true" resizable="false">
		<h:form id="appImagePathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Image: " />
				<p:fileUpload
					fileUploadListener="#{tpAppBean.handleFileUploadForAppImage}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000" update=":tpAppListUpdateForm"
					allowTypes="/(\.|\/)(jpe?g|png)$/" process=":appImagePathForm"
					oncomplete="PF('appImagePathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>

		</h:form>
	</p:dialog>


</ui:composition>