<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:tag="http://com.talentpact.adhocreportsui/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>AdHoc Report Creation</title>
	<script type="text/javascript" src="../js/createReportJavaScript.js"></script>
	<script type="text/javascript">
		function redirect() {
			window.location = "../adhocReportMain.jsf";
		}	
		function redirectToViewReports() {
			window.location = "../viewAdhocReport.jsf";
		}
		function creationAlert(){
			alert("Report or Table created successfully.");
		}
	</script>

	<link href="../css/adhocreports_gray.css" type="text/css"
		rel="stylesheet" media="all" />
	<link href="../css/custom-scrollbar.css" type="text/css"
		rel="stylesheet" />
 
</h:head>

<h:body>
	<h:form id="reportForm">
		<f:event type="preRenderView" listener="#{createReportDataController.preRenderView(createReportDataBean)}" />
	
		<p:tabView id="tabView1" activeIndex="0" dynamic="true" cache="false"
			styleClass="step-block">
			<p:ajax event="tabChange" immediate="true" oncomplete="dragColumnToSelectedColumnDataTable();" />

			<p:tab id="tab0" title="Objects Selection">
			<p:messages id="forTabViewMessage" showDetail="false" autoUpdate="false" closable="true"/>
				<div class="title-block clearfix">
					<div class="title-left">
						<p:commandLink styleClass="home-btn" value="Adhoc Report Home"
							oncomplete="redirect()"
							actionListener="#{createReportDataController.initialize(true)}"></p:commandLink>
						<p:outputLabel
							value="#{createReportDataBean.currentPopulatedListNode.data.tableTypeName}"
							styleClass="bold-text" />
						<p:outputLabel value=" Name " styleClass="bold-text" />
						<p:outputLabel id="name"
							value="#{createReportDataBean.currentPopulatedListNode.data.name}"></p:outputLabel>
					</div>
					<div class="select-report-block">
						<p:outputLabel styleClass="label-text"
							value=" Select Report Operation "
							rendered="#{(createReportDataBean.currentPopulatedListNode.data.tableType eq 'REPORTGENERIC') or 
                        (createReportDataBean.currentPopulatedListNode.data.tableType eq 'REPORTGROUPING')}" />
						<p:outputLabel value=" Select Table Operation "
							rendered="#{(createReportDataBean.currentPopulatedListNode.data.tableType eq 'GENERIC') or 
                        (createReportDataBean.currentPopulatedListNode.data.tableType eq 'GROUPING')}" />
						<p:selectOneMenu filter="true" filterMatchMode="contains" 
							value="#{createReportDataBean.currentPopulatedListNode.data.tableOperation}">
							<f:selectItems value="#{commonReportDataBean.tableOperation}"></f:selectItems>
						</p:selectOneMenu>
					</div>
				</div>

				<div class="setp-content-block clearfix">
					<p:panel id="panelGrid" styleClass="setp-block-inner">
						<div class="setp-column-one">
							<div class="setp-column-inner">
								<p:commandLink styleClass="btn-link" value="Create Derived Object" 
									ajax="true" actionListener="#{createReportDataController.resetAddDerivedTableDialogValues}"
									oncomplete="#{p:widgetVar(':reportForm:tabView1:selectTableTypeDialog')}.show()" update=":reportForm:tabView1:selectTableTypeDialog"></p:commandLink>
								<p:outputLabel styleClass="table-title" value="Available Objects"></p:outputLabel>
								<div class="gray-skin demo vertical-scrollbar">
									<p:tree
										value="#{createReportDataBean.currentPopulatedListNode.data.sourceTablesRoot}"
										var="node" dynamic="true" selectionMode="single"
										draggable="true" droppable="true" dragdropScope="demo"
										selection="#{createReportDataBean.currentPopulatedListNode.data.selectedNodeSourceTables}">
										<p:ajax event="dragdrop"
											listener="#{createReportDataController.onDragDropSourceTablesTree}"
											process="@none" update=":reportForm:tabView1:panelGrid"
											 />
										<p:ajax event="select" 
											update=":reportForm:tabView1:panelGrid1"
											listener="#{createReportDataController.onTreeNodeSelection}" />
										<p:treeNode
											styleClass="#{(node eq 'System Tables') or (node eq 'Derived Tables') ? 'stopDrag' : ''}">
											<h:outputText value="#{node}" />
										</p:treeNode>
									</p:tree>
								</div>
							</div>
						</div>
						<div class="setp-column-two">
							<p:commandButton value="Right" styleClass="right"
								actionListener="#{createReportDataController.moveSourceSelectedTableToSelectedTables}"
								update=":reportForm:tabView1:panelGrid"
								 immediate="true"></p:commandButton>
							<p:commandButton value="RightAll" styleClass="right-all"
								actionListener="#{createReportDataController.moveAllSourceTablesToSelectedTables}"
								update=":reportForm:tabView1:panelGrid"
								 immediate="true"></p:commandButton>
							<p:commandButton value="Left" styleClass="left"
								actionListener="#{createReportDataController.moveSelectedSelectedTablesToSourceTables}"
								update=":reportForm:tabView1:panelGrid"
								 immediate="true"></p:commandButton>
							<p:commandButton value="LeftAll" styleClass="left-all"
								actionListener="#{createReportDataController.moveAllSelectedTablesToSourceTables}"
								update=":reportForm:tabView1:panelGrid"
								 immediate="true"></p:commandButton>
						</div>
						<div class="setp-column-three">
							<div class="setp-column-inner">
								<p:outputLabel styleClass="table-title" value="Selected Objects (Drop Tables here)"></p:outputLabel>
								<div class="gray-skin demo vertical-scrollbar">
									<p:tree
										value="#{createReportDataBean.currentPopulatedListNode.data.selectedTablesRoot}"
										var="node" dynamic="true" selectionMode="single"
										draggable="true" droppable="true" dragdropScope="demo"
										selection="#{createReportDataBean.currentPopulatedListNode.data.selectedNodeSelectedTables}">
										<p:ajax event="dragdrop"
											listener="#{createReportDataController.onDragDropSelectedTablesTree}"
											process="@none" update=":reportForm:tabView1:panelGrid"
											 />
										<p:ajax event="select" 
											update=":reportForm:tabView1:panelGrid1"
											listener="#{createReportDataController.onTreeNodeSelection}" />
										<p:treeNode
											styleClass="#{(node eq 'System Objects') or (node eq 'Derived Objects') ? 'stopDrag' : ''}">
											<h:outputText value="#{node}" />
										</p:treeNode>
									</p:tree>
								</div>
							</div>
						</div>
						<p:panel id="panelGrid1">
						<div class="setp-column-four">
							<p:outputLabel styleClass="table-title" value="Object Description"></p:outputLabel>
							<div id="vertical-scrollbar-demo"
								class="setp-column-four-inner gray-skin demo">
								<h:outputText escape="false"
									value="#{createReportDataBean.currentPopulatedListNode.data.selectedTableDescription}" />
							</div>
						</div>
						</p:panel>
					</p:panel>

					<div class="btn-row">
						<p:commandButton value="Back" onclick="redirect()">
						</p:commandButton>
						<p:commandButton value="Next"
							actionListener="#{createReportDataController.changeState(1)}" styleClass="btn-success"
							oncomplete="if (!args.validationFailed) changeTab(#{p:widgetVar(':reportForm:tabView1')},1);" 
							update=":reportForm:tabView1:joinPanel :reportForm:tabView1:forTabViewMessage" immediate="true">
						</p:commandButton>
					</div>
				</div>
				<p:dialog header="Create Derived Object" id="selectTableTypeDialog" styleClass="PopUpinCenter_step3 dialog-box-columns" resizable="false" modal="true">
					<p:messages id="forDerivedTableAdditionErrorMessage" showDetail="false" autoUpdate="false" closable="true"/>
					<div class="clearfix form-item">
						<p:outputLabel styleClass="label-form"><span class="redColor">*</span>Object Name:</p:outputLabel>
						<p:inputText maxlength="50"
							value="#{createReportDataBean.derivedTableNameForCreation}"></p:inputText>
					</div>
					<div class="clearfix form-item">
						<p:outputLabel value="Object Type " styleClass="label-form"></p:outputLabel>
						<p:selectOneMenu value="#{createReportDataBean.selectedTableType}" filter="true" filterMatchMode="contains" >
							<f:selectItem itemLabel="Simple Object" itemValue="Generic" />
							<f:selectItem itemLabel="Grouping Object" itemValue="Grouping" />
						</p:selectOneMenu>
					</div>
					<div class="clearfix form-item">
						<p:outputLabel value="OrgAdmin Object" styleClass="label-form"></p:outputLabel>
						<p:selectOneMenu value="#{createReportDataBean.orgAdminFlag}" filter="true" filterMatchMode="contains" >
							<p:ajax event="change" update=":reportForm:tabView1:defaultDerivedTableBlock"></p:ajax>
							<f:selectItem itemLabel="false" itemValue="false" />
							<f:selectItem itemLabel="true" itemValue="true" />
						</p:selectOneMenu>
					</div>
					<p:panel id="defaultDerivedTableBlock" style="border:none">
					<div class="clearfix form-item">
						<p:outputLabel value="Default Derived Object" rendered="#{createReportDataBean.orgAdminFlag eq 'true'}" styleClass="label-form"></p:outputLabel>
						<p:selectOneMenu value="#{createReportDataBean.defaultDerivedTableFlag}" 
							rendered="#{createReportDataBean.orgAdminFlag eq 'true'}" filter="true" filterMatchMode="contains" >
							<p:ajax event="change" update=":reportForm:tabView1:moduleSelectionBlock"></p:ajax>
							<f:selectItem itemLabel="false" itemValue="false" />
							<f:selectItem itemLabel="true" itemValue="true" />
						</p:selectOneMenu>
					</div>
					</p:panel>
					<p:panel id="moduleSelectionBlock" style="border:none">
					<div class="clearfix form-item">
						<p:outputLabel value="Select Module" rendered="#{createReportDataBean.defaultDerivedTableFlag eq 'true'}" styleClass="label-form"></p:outputLabel>
						<p:selectOneMenu value="#{createReportDataBean.selectedDerivedTableModule}" converter="selectItemConverter"
							rendered="#{createReportDataBean.defaultDerivedTableFlag eq 'true'}" filter="true" filterMatchMode="contains" >
							<f:selectItems value="#{commonReportDataBean.commonModuleList}" var="module" itemLabel="#{module.label}" itemValue="#{module}" />
						</p:selectOneMenu>
					</div>
					</p:panel>
					<div class="clearfix form-item">						
						<p:outputLabel styleClass="label-form"><span class="redColor">*</span>Object Description:</p:outputLabel>
						<p:inputTextarea maxlength="400" styleClass="text-area" value="#{createReportDataBean.tableDescription}"></p:inputTextarea>
					</div>
					<div class="clearfix form-action">
						<p:commandButton id="addDerivedTableSubmitButton" value="Add"
							styleClass="btn-success" update=":reportForm:tabView1:forDerivedTableAdditionErrorMessage" 
							actionListener="#{createReportDataController.addNewDerivedTable}"
							oncomplete="if (!args.validationFailed) $('#reportForm\\:tabView1\\:updateForm').click();"></p:commandButton>
						<p:commandLink style="display:none" id="updateForm"
							update=":reportForm" immediate="true" oncomplete="stepIDupdate();"/>
					</div>
				</p:dialog>
			</p:tab>
			<p:tab id="tab1" title="Joins Selection" disabled="true">
				<div class="title-block clearfix">
					<div class="title-left">
						<p:commandLink styleClass="home-btn" value="Adhoc Report Home"
							oncomplete="redirect()"
							actionListener="#{createReportDataController.initialize(true)}"></p:commandLink>
						<p:outputLabel
							value="#{createReportDataBean.currentPopulatedListNode.data.tableTypeName}"
							styleClass="bold-text" />
						<p:outputLabel value=" Name " styleClass="bold-text" />
						<p:outputLabel
							value="#{createReportDataBean.currentPopulatedListNode.data.name}"></p:outputLabel>
					</div>
				</div>
				<div class="step-two-block">
					<div class="step-two-block-inner gray-skin demo vertical-scrollbar">
						<p:panel id="joinPanel">
							
								<div class="form-item-left">
									<p:selectOneMenu filter="true" filterMatchMode="contains" 
										value="#{createReportDataBean.currentPopulatedListNode.data.selectedTable}"
										converter="tableToConverter">
										<f:selectItems
											value="#{createReportDataBean.currentPopulatedListNode.data.selectedTables}"
											var="table" itemLabel="#{table.name}" itemValue="#{table}" />
										<p:ajax event="change"
											listener="#{createReportDataController.updateIntermediateSelectedTableList(-1)}"
											update=":reportForm:tabView1:joinPanel" process="@parent"
											></p:ajax>
									 </p:selectOneMenu>
								 </div>
							
							<div style="width:100%;float:left;"></div>
							<c:set var="index" value="0" />
							<c:forEach var="joinData"
								items="#{createReportDataBean.currentPopulatedListNode.data.joinDataList}">

								<div class="join-block">
									<div class="form-group clearfix">
										<div class="form-item-left join-type">
											<p:selectOneMenu value="#{joinData.selectedJoinType}"
												converter="selectItemConverter"
												rendered="#{joinData.renderUpdatedTableListFlag}">
												<f:selectItems value="#{commonReportDataBean.joinTypes}"
													var="joinType" itemLabel="#{joinType.label}"
													itemValue="#{joinType}" />
											</p:selectOneMenu>
										</div>
										<div class="form-item-right">
											<p:selectOneMenu value="#{joinData.selectedJoiningTable}"
												converter="tableToConverter" filter="true" filterMatchMode="contains" 
												rendered="#{joinData.renderUpdatedTableListFlag}">
												<f:selectItems
													value="#{joinData.updatedIntermediateSelectedTables}"
													var="table" itemLabel="#{table.name}" itemValue="#{table}" />
												<p:ajax event="change"
													listener="#{createReportDataController.updateIntermediateSelectedTableList(index)}"
													update=":reportForm:tabView1:joinPanel" process="@parent"
													></p:ajax>
											</p:selectOneMenu>
											<span class="label-outer"> <p:outputLabel value=" on "
													rendered="#{joinData.renderUpdatedTableListFlag}"></p:outputLabel>
											</span>
										</div>
										<div class="form-item-left">
											<p:selectOneMenu filter="true" filterMatchMode="contains" 
												value="#{joinData.joinFirstConditionFirstSelectedColumn}"
												converter="columnToConverter"
												rendered="#{joinData.renderUpdatedTableListFlag}">
												<f:selectItems value="#{joinData.joinFirstConditionColumns}"
													var="column"
													itemLabel="#{column.columnTableTo.name}.#{column.column.label}"
													itemValue="#{column}" />
											</p:selectOneMenu>
											<span class="label-outer"> <p:outputLabel value=" = "
													rendered="#{joinData.renderUpdatedTableListFlag}"></p:outputLabel>
											</span>
										</div>
										
											<p:selectOneMenu filter="true" filterMatchMode="contains" 
												value="#{joinData.joinFirstConditionSecondSelectedColumn}"
												converter="columnToConverter"
												rendered="#{joinData.renderUpdatedTableListFlag}">
												<f:selectItems
													value="#{joinData.joinSecondConditionColumns}" var="column"
													itemLabel="#{column.columnTableTo.name}.#{column.column.label}"
													itemValue="#{column}" />
											</p:selectOneMenu>
											
										
											<span class="label-outer"> 
												<p:outputLabel value="and"
													rendered="#{joinData.renderUpdatedTableListFlag and joinData.renderSecondConditionFlag}"></p:outputLabel>
											</span>
											<div class="form-item-rights">
												<p:commandLink value="Add Condition" styleClass="btn-link"
													actionListener="#{createReportDataController.renderSecondCondition(index)}"
													update=":reportForm:tabView1:joinPanel"
													rendered="#{joinData.renderUpdatedTableListFlag and !joinData.renderSecondConditionFlag}"/>
											
										</div>
									</div>
									<p:panel styleClass="form-group clearfix"
										rendered="#{joinData.renderSecondConditionFlag}">
										<div class="form-item-left">
											<p:selectOneMenu filter="true" filterMatchMode="contains" 
												value="#{joinData.joinSecondConditionFirstSelectedColumn}"
												converter="columnToConverter"
												rendered="#{joinData.renderSecondConditionFlag}">
												<f:selectItems value="#{joinData.joinFirstConditionColumns}"
													var="column"
													itemLabel="#{column.columnTableTo.name}.#{column.column.label}"
													itemValue="#{column}" />
											</p:selectOneMenu>
											<span class="label-outer"> <p:outputLabel value=" = "
													rendered="#{joinData.renderUpdatedTableListFlag and joinData.renderSecondConditionFlag}"></p:outputLabel>
											</span>
										</div>
										<div class="form-item-right">
											<p:selectOneMenu filter="true" filterMatchMode="contains" 
												value="#{joinData.joinSecondConditionSecondSelectedColumn}"
												converter="columnToConverter"
												rendered="#{joinData.renderSecondConditionFlag}">
												<f:selectItems
													value="#{joinData.joinSecondConditionColumns}" var="column"
													itemLabel="#{column.columnTableTo.name}.#{column.column.label}"
													itemValue="#{column}" />
											</p:selectOneMenu>
										</div>
										<span class="label-outer"> 
											<p:commandLink value="Remove Condition" styleClass="btn-link" actionListener="#{createReportDataController.removeSecondCondition(index)}"
													update=":reportForm:tabView1:joinPanel" rendered="#{joinData.renderSecondConditionFlag}"
													/>
										</span>
									</p:panel>
								</div>
								<c:set var="index" value="#{index + 1}" />
							</c:forEach>
							<p:panel styleClass="margB10">
								<p:commandLink value="Add Join" rendered="#{createReportDataBean.currentPopulatedListNode.data.renderAddJoinFlag}"
									actionListener="#{createReportDataController.addJoin()}"
									styleClass="btn-link onlymobile"
									update=":reportForm:tabView1:joinPanel"
									 />
								&nbsp;&nbsp;
								<p:commandLink value="Remove Join" rendered="#{createReportDataBean.currentPopulatedListNode.data.renderRemoveJoinFlag}"
									actionListener="#{createReportDataController.removeJoin()}"
									styleClass="btn-link onlymobile"
									update=":reportForm:tabView1:joinPanel"
									 />
							</p:panel>
						</p:panel>
					</div>

					<div class="btn-row">
						<p:commandButton value="Back"
							oncomplete="setState(#{p:widgetVar(':reportForm:tabView1')},0,0)" immediate="true"/>
						<p:commandButton value="Next"
							actionListener="#{createReportDataController.changeState(2)}"
							styleClass="btn-success" update="tablesColumnsTree"
							oncomplete="changeTab(#{p:widgetVar(':reportForm:tabView1')},2);" />
					</div>
				</div>
			</p:tab>
			<p:tab id="tab2" title="Columns/Filters Selection" disabled="true">
				<p:messages id="forColumnFilterSelectionTab" showDetail="false" autoUpdate="false" closable="true"/>
				<div class="title-block clearfix">
					<div class="title-left">
						<p:commandLink styleClass="home-btn" value="Adhoc Report Home"
							oncomplete="redirect()"
							actionListener="#{createReportDataController.initialize(true)}"></p:commandLink>
						<p:outputLabel
							value="#{createReportDataBean.currentPopulatedListNode.data.tableTypeName}"
							styleClass="bold-text" />
						<p:outputLabel value=" Name " styleClass="bold-text" />
						<p:outputLabel
							value="#{createReportDataBean.currentPopulatedListNode.data.name}"></p:outputLabel>
					</div>
				</div>

				<div class="setp-content-block step-three-wrapper clearfix">
					<div class="setp-block-inner">
						<div class="setp-column-one">
							<div class="setp-column-inner">
								<p:outputLabel styleClass="table-title" value="Select Columns"></p:outputLabel>
								<div style="text-align: center">
									<p:inputText id="search"
										value="#{createReportDataBean.searchColumnRegex}"
										style="width:90% !important;margin-top: 10px;">
										<p:ajax event="keyup"
											listener="#{createReportDataController.filterColumnTreeNode(createReportDataBean.searchColumnRegex)}"
											process="@parent"
											update="reportForm:tabView1:tablesColumnsTree"
											oncomplete="dragColumnToSelectedColumnDataTable();">
										</p:ajax>
									</p:inputText>
									<p:watermark for="search" value="Search a column name "
										id="watermark" />
								</div>
								<div class="gray-skin demo vertical-scrollbar">
									<p:remoteCommand name="columnToSelectedColumnDataTable"
										actionListener="#{createReportDataController.addColumnToSelectedColumnDataTable}"
										update="tablesColumnsTree selectedColumnDataTable"
										oncomplete="dragColumnToSelectedColumnDataTable();" />
									<p:tree id="tablesColumnsTree"
										value="#{createReportDataBean.currentPopulatedListNode.data.selectedTablesAndColumnsTreeRoot}"
										var="node" dynamic="true" selectionMode="single"
										draggable="true" styleClass="dragpoint"
										style="margin-bottom:20px"
										selection="#{createReportDataBean.currentPopulatedListNode.data.selectedReportColumn}">
										<p:treeNode
											styleClass="#{(node eq 'System Tables') or (node eq 'Derived Tables') ? 'stopDrag' : ''}">
											<h:outputText value="#{node}" />
										</p:treeNode>
									</p:tree>
								</div>
							</div>
						</div>
						<div class="setp-column-right">
                        
                        <div class="selected-filters-wrapper">
                            
                            <div class="title-block" style="border:none;">
                            <p:outputLabel value="Selected Filters" styleClass="main-title" />
				      		<p:commandLink id="addFilterLink"
								styleClass="floatRight btn-link" value="Add Filter Group "
								actionListener="#{createReportDataController.setInitialIntermediateFilterDataTo()}"
								update=":reportForm:tabView1:createFilterDialog :reportForm:tabView1:tabView2"
								oncomplete="if (!args.validationFailed) #{p:widgetVar(':reportForm:tabView1:createFilterDialog')}.show();"
								ajax="true"> </p:commandLink>
						 
							<p:remoteCommand name="selectedFilterReorder"
								actionListener="#{createReportDataController.onSelectedFilterReorder}"
								update="selectedFilterDataTable"
								oncomplete="dragColumnToSelectedColumnDataTable();" />
                                
							</div>
                            <div class="selected-columns-inner"> 
                              <p:dataTable id="selectedFilterDataTable" draggableColumns="true"
								var="filterGroupToMap" emptyMessage="No Filters Added"
								value="#{createReportDataBean.currentPopulatedListNode.data.filterGroupToMapForTable}">
								<p:columns
									value="#{createReportDataBean.currentPopulatedListNode.data.selectedOrderedFilterList}"
									var="filter">
									<f:facet name="header">
										<h:outputText value="#{filter}" />
										<p:commandLink id="filterSettings" value="button" styleClass="setting-button">
										</p:commandLink>
										<p:menu overlay="true" trigger="filterSettings" my="middle top" at="middle bottom" styleClass="icons-block">
        									<p:submenu label="Settings">
           								 		<p:menuitem value="View" styleClass="icons icon-view" oncomplete="if (!args.validationFailed) #{p:widgetVar(':reportForm:tabView1:viewSelectedFilterDialog')}.show();"
           								 			update=":reportForm:tabView1:viewSelectedFilterDialog" actionListener="#{createReportDataController.viewSelectedFilterGroup(filter)}"/>
            									<p:menuitem value="Delete" styleClass="icons icon-delete" actionListener="#{createReportDataController.removeSelectedFilterGroup(filter)}" 
            										update=":reportForm:tabView1:selectedFilterDataTable" process="@parent"/>
        									</p:submenu>
    									</p:menu>
									</f:facet>
									<h:dataTable var="filterTo" styleClass="table-date"
										value="#{filterGroupToMap.get(filter).filterValues}">
										<h:column>

											<p:outputLabel value="#{filterTo.sysFilterLabel}"></p:outputLabel>

											<p:selectOneMenu id="operatorSelectOneMenu#{index}"
												value="#{filterTo.selectedOperator}"
												rendered="#{filterTo.operatorVisible}"
												converter="operatorToConverter">
												<f:selectItems value="#{filterTo.inputOperators}"
													var="operator" itemLabel="#{operator.operatorLabel}"
													itemValue="#{operator}" />
												<p:ajax event="change" update="filterInnerDiv#{index}"></p:ajax>
											</p:selectOneMenu>

											<h:panelGroup layout="block" id="filterInnerDiv#{index}" styleClass="input-text">
												<p:calendar id="filterCalendar1#{index}"
													rendered="#{filterTo.filterType.getName() == 'calendar'}"
													readonlyInput="true" value="#{filterTo.firstSelectedDate}"
													pattern="dd/MM/yyyy"></p:calendar>
												<p:calendar id="filterCalendar2#{index}"
													rendered="#{filterTo.filterType.getName() == 'calendar' and filterTo.selectedOperator.numberOfRequiredInputs == 2}"
													readonlyInput="true" value="#{filterTo.secondSelectedDate}"
													pattern="dd/MM/yyyy"></p:calendar>
												<p:selectOneMenu id="UserInputSelectOneMenu1#{index}" filter="true" filterMatchMode="contains" 
													rendered="#{filterTo.filterType.getName() == 'list' and (filterTo.selectedOperator == null or
                                      filterTo.selectedOperator.singleSelect == true)}"
													value="#{filterTo.selectedSingleValue}"
													converter="selectItemConverter">
													<f:selectItems value="#{filterTo.inputValues}" var="option"
														itemLabel="#{option.label}" itemValue="#{option}" />
												</p:selectOneMenu>
												<p:selectCheckboxMenu 
													id="UserInputSelectCheckboxMenu2#{index}"
													rendered="#{filterTo.filterType.getName() == 'list' and 
                                      filterTo.selectedOperator.singleSelect == false}"
													filter="true" filterMatchMode="contains" 
													value="#{filterTo.selectedValues}"
													converter="selectItemConverter"
													label="Please select from list">
													<f:selectItems value="#{filterTo.inputValues}" var="option"
														itemLabel="#{option.label}" itemValue="#{option}" />
												</p:selectCheckboxMenu>
												<p:inputText id="UserInputText#{index}"
													rendered="#{filterTo.filterType.getName() == 'textfield'}"
													value="#{filterTo.selectedText}">
												</p:inputText>
											</h:panelGroup>

										</h:column>
									</h:dataTable>
								</p:columns>
							</p:dataTable>
                            </div>
                            </div>
						<p:dialog id="createFilterDialog" styleClass="PopUpinCenter_addFilter dialog-create-filter" resizable="false" modal="true" closable="true"
								header="#{createReportDataBean.currentPopulatedListNode.data.selectedFilterGroupHeader}">
								<p:messages id="forFilterGroupHeaderError" showDetail="false" autoUpdate="false" closable="true"/>
								
                                <div class="create-block">
								<div class="create-block-main">
                                <h3>Create Filter Group</h3>
								<div class="create-block-inner"> 
                                <div class="form-group clearfix">     
								<p:outputLabel styleClass="label-form"><span class="redColor">*</span>Header Name:</p:outputLabel>
                                <div class="input-item">
								<p:inputText id="filterHeaderText" disabled="#{!createReportDataBean.disableFilterFlag}"
									value="#{createReportDataBean.currentPopulatedListNode.data.selectedFilterGroupHeader}">
								</p:inputText>
                                </div>
                                
								<p:outputLabel value=" Optional " styleClass="label-form"></p:outputLabel>
								<p:selectOneMenu disabled="#{!createReportDataBean.disableFilterFlag}" 
									value="#{createReportDataBean.currentPopulatedListNode.data.optionalFilterGroupFlag}">
									<f:selectItem itemLabel="true" itemValue="true" />
									<f:selectItem itemLabel="false" itemValue="false" />
								</p:selectOneMenu>
								<p:outputLabel value=" Number of filters " styleClass="label-form"></p:outputLabel>
								<p:selectOneMenu disabled="#{!createReportDataBean.disableFilterFlag}"
									value="#{createReportDataBean.currentPopulatedListNode.data.selectedNumberFilters}">
									<f:selectItem itemLabel="1" itemValue="1" />
									<f:selectItem itemLabel="2" itemValue="2" />
									<f:selectItem itemLabel="3" itemValue="3" />
									<f:selectItem itemLabel="4" itemValue="4" />
									<f:selectItem itemLabel="5" itemValue="5" />
									<f:selectItem itemLabel="6" itemValue="6" />
									<p:ajax
										update=":reportForm:tabView1:filterCombinationOperatorSelectOneMenu"></p:ajax>
								</p:selectOneMenu>
								<p:selectOneMenu id="filterCombinationOperatorSelectOneMenu"
									converter="selectItemConverter"
									value="#{createReportDataBean.currentPopulatedListNode.data.selectedFilterCombinationOperator}"
									disabled="#{(createReportDataBean.currentPopulatedListNode.data.selectedNumberFilters lt 2) or (!createReportDataBean.disableFilterFlag) }">
									<f:selectItems
										value="#{commonReportDataBean.filterCombinationOperatorList}"
										var="combinationOperator"
										itemLabel="#{combinationOperator.label}"
										itemValue="#{combinationOperator}" />
								</p:selectOneMenu>
                                </div>
                                 </div>
                                <div class="button-row">
								<p:commandButton value="Add Filters" disabled="#{!createReportDataBean.disableFilterFlag}"
									actionListener="#{createReportDataController.updateIntermediateFilterDataTo()}"
									update=":reportForm:tabView1:createFilterDialog :reportForm:tabView1:tabView2" ajax="true" oncomplete="#{p:widgetVar(':reportForm:tabView1:createFilterDialog')}.show();" styleClass="btn-success"/>
								<p:commandButton value="Reset" disabled="#{createReportDataBean.disableFilterFlag}"
									actionListener="#{createReportDataController.setInitialIntermediateFilterDataTo()}"
									update=":reportForm:tabView1:createFilterDialog :reportForm:tabView1:tabView2" ajax="true" oncomplete="#{p:widgetVar(':reportForm:tabView1:createFilterDialog')}.show();"/>
                                  </div>
                                </div>
                                       
								<c:set var="index" value="0" />
                                <div class="tabs-common clearfix">
								<p:tabView id="tabView2" activeIndex="0">
									<p:ajax event="tabChange" immediate="true" />
									<c:forEach var="filterData"
										items="#{createReportDataBean.currentPopulatedListNode.data.intermediateFilterDataToList}">
										<p:tab id="tab#{index}" title="Filter#{index+1}" disabled="#{createReportDataBean.disableFilterFlag}">
											<div class="form-group clearfix">
                                            	<div class="input-left">
												<p:outputLabel styleClass="label-form"><span class="redColor">*</span>Select Filter Name:</p:outputLabel>
                                                <p:inputText value="#{filterData.selectedFilterName}" disabled="#{createReportDataBean.disableFilterFlag}"/>
												</div>
                                            </div>
                                             <div class="clearfix">
                                             <p:outputLabel styleClass="title" value="Create Apply On Processing Logic Definition" />
												 										
                                             </div>
                                             <div class="form-group clearfix">
                                             <div class="form-left">
											<p:outputLabel value="Select Processing Logic Template " styleClass="label-form"></p:outputLabel>
											<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" filter="true" filterMatchMode="contains" 
												value="#{filterData.selectedApplyOnProcessingLogicTemplateName}">
												<f:selectItems
													value="#{createReportDataBean.currentPopulatedListNode.data.updatedColumnProcessingLogicTemplateNameList}"
													var="template" itemLabel="#{template}"
													itemValue="#{template}" />
												<p:ajax event="change"
													update="filterSelectionPanelGroup1#{index}"
													listener="#{createReportDataController.updateApplyOnFilterSelectedProcessingLogicTemplate(index)}" />
											</p:selectOneMenu>
                                            </div>
                                             <h:panelGroup layout="block" styleClass="is-null-block"
												id="filterSelectionPanelGroup1#{index}">
      											<tag:columnSelectionComponent1
													processingLogicDefinitionTo="#{filterData.selectedApplyOnProcessingLogicDefinationTo}">
												</tag:columnSelectionComponent1>
		                   					</h:panelGroup>
                                            </div>
                                            
                                            
                                            <div class="form-group clearfix">
                                            	<div class="form-block-one">
                                                <p:outputLabel value="Select Operator Data Type " styleClass="label-form"></p:outputLabel>
                                                <p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width80"
                                                    value="#{filterData.selectedOperatorDataType}" filter="true" filterMatchMode="contains" 
                                                    converter="selectItemConverter">
                                                    <f:selectItems value="#{commonReportDataBean.dataTypes}"
                                                        var="dataType" itemLabel="#{dataType.label}"
                                                        itemValue="#{dataType}"></f:selectItems>
                                                    <p:ajax update="filterSelectionPanelGroup2#{index}"
                                                        listener="#{createReportDataController.updateOperatorList(index)}"></p:ajax>
                                                </p:selectOneMenu>
                                             </div>
											<h:panelGroup layout="block" styleClass="form-two-three"
												id="filterSelectionPanelGroup2#{index}">
                                                <div class="form-block-two">
												<p:outputLabel value="Select Operators " styleClass="label-form" />
												<p:selectCheckboxMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width155"
													value="#{filterData.selectedOperatorsList}"
													converter="operatorToConverter"
													label="Please select from list" required="true">
													<f:selectItems value="#{filterData.operatorsList}"
														var="operator" itemLabel="#{operator.operatorLabel}"
														itemValue="#{operator}" />
													<p:ajax event="change" update="filterSelectionPanelGroup2#{index}"></p:ajax>
													<p:ajax event="toggleSelect" update="filterSelectionPanelGroup2#{index}"></p:ajax>
												</p:selectCheckboxMenu>
                                                </div>
                                                <div class="form-block-three">
												<p:outputLabel value="Select Default Operator " styleClass="label-form"></p:outputLabel>
												<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}"
													value="#{filterData.selectedDefaultOperator}"
													converter="operatorToConverter">
													<f:selectItems value="#{filterData.selectedOperatorsList}"
														var="operator" itemLabel="#{operator.operatorLabel}"
														itemValue="#{operator}"></f:selectItems>
												</p:selectOneMenu>
                                                </div>
											</h:panelGroup>
											</div>
                                            <div class="form-group clearfix">
                                            <div class="form-left-block">
											<p:outputLabel value="Select Operator Visibility " styleClass="label-form"></p:outputLabel>
											<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width80"
												value="#{filterData.selectedOperatorVisibility}">
												<f:selectItem itemLabel="true" itemValue="true" />
												<f:selectItem itemLabel="false" itemValue="false" />
											</p:selectOneMenu>
                                            </div>
                                            <div class="form-right-block">
											<p:outputLabel value="Select Filter Type " styleClass="label-form"></p:outputLabel>
											<p:selectOneMenu value="#{filterData.selectedFilterType}" filter="true" filterMatchMode="contains"  styleClass="select-width155" disabled="#{createReportDataBean.disableFilterFlag}">
												<f:selectItem itemLabel="SystemInput" itemValue="SystemInput"></f:selectItem>
												<f:selectItem itemLabel="TextField" itemValue="TextField" />
												<f:selectItem itemLabel="Calendar" itemValue="Calendar" />
												<f:selectItem itemLabel="List" itemValue="List" />
												<p:ajax update="filterSelectionPanelGroup3#{index}"></p:ajax>
											</p:selectOneMenu>
                                            </div>
                                            </div>
                                            
											<h:panelGroup layout="block"
												id="filterSelectionPanelGroup3#{index}">
                                                 
                                           			 <div class="form-left-block">
												<p:outputLabel value="Select Filter Value Type " styleClass="label-form"
													rendered="#{(filterData.selectedFilterType eq 'SystemInput') or (filterData.selectedFilterType eq 'List')}" />
												<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width80"
													value="#{filterData.selectedFilterValueType}"
													rendered="#{filterData.selectedFilterType eq 'SystemInput'}">
													<f:selectItem itemLabel="ApplicationInput"
														itemValue="ApplicationInput" />
													<f:selectItem itemLabel="Constant" itemValue="Constant" />
													<p:ajax update="filterSelectionPanelGroup4#{index}"></p:ajax>
												</p:selectOneMenu>
												<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width80"
													value="#{filterData.selectedFilterValueType}"
													rendered="#{filterData.selectedFilterType eq 'List'}">
													<f:selectItem itemLabel="UserInput" itemValue="UserInput" />
													<p:ajax update="filterSelectionPanelGroup4#{index}"></p:ajax>
												</p:selectOneMenu>
                                                </div>
												<h:panelGroup layout="block"
													id="filterSelectionPanelGroup4#{index}">
													<div class="form-right-block">
                                                    <p:outputLabel value="Select Application Input " styleClass="label-form"
														rendered="#{(filterData.selectedFilterValueType eq 'ApplicationInput') and (filterData.selectedFilterType eq 'SystemInput')}"></p:outputLabel>
													<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" filter="true" filterMatchMode="contains" 
														value="#{filterData.selectedApplicationInput}"
														converter="selectItemConverter"
														rendered="#{(filterData.selectedFilterValueType eq 'ApplicationInput') and (filterData.selectedFilterType eq 'SystemInput')}">
														<f:selectItems
															value="#{commonReportDataBean.applicationInputList}"
															var="applicationInput"
															itemLabel="#{applicationInput.label}"
															itemValue="#{applicationInput}"></f:selectItems>
													</p:selectOneMenu>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                    <div class="form-left-block">
													<p:outputLabel value="Select Constant " styleClass="label-form"
														rendered="#{(filterData.selectedFilterValueType eq 'Constant') and (filterData.selectedFilterType eq 'SystemInput')}"></p:outputLabel>
													<p:selectOneMenu value="#{filterData.selectedConstant}" filter="true" filterMatchMode="contains" 
														converter="selectItemConverter" disabled="#{createReportDataBean.disableFilterFlag}"
														rendered="#{(filterData.selectedFilterValueType eq 'Constant') and (filterData.selectedFilterType eq 'SystemInput')}">
														<f:selectItems
															value="#{commonReportDataBean.constantList}"
															var="constant" itemLabel="#{constant.label}"
															itemValue="#{constant}"></f:selectItems>
													</p:selectOneMenu>
                                                    </div>
                                                    <div class="form-right-block">
													<p:outputLabel value=" Filter Values Table " styleClass="label-form "
														rendered="#{filterData.selectedFilterType eq 'List'}"></p:outputLabel>
													<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width155"
														value="#{filterData.selectedFilterValueTable}" filter="true" filterMatchMode="contains" 
														converter="tableToConverter"
														rendered="#{filterData.selectedFilterType eq 'List'}">
														<f:selectItems
															value="#{createReportDataBean.currentPopulatedListNode.data.selectedTables}"
															var="table" itemLabel="#{table.name}"
															itemValue="#{table}" />
														<p:ajax event="change"
															update="filterSelectionPanelGroup7#{index}"
															listener="#{createReportDataController.updateFilterValueLabelSelectedProcessingLogicTemplate(index)}" />
													</p:selectOneMenu>
                                                    </div>
                                                    </div>
													<h:panelGroup layout="block" styleClass="clearfix"
														id="filterSelectionPanelGroup7#{index}">
														<div class="form-group clearfix pad-top15">
                                                        <p:outputLabel styleClass="title"
															value="Create Label Processing Logic Definition" rendered="#{filterData.selectedFilterType eq 'List'}" /></div>
														<div class="form-group clearfix">
                                                        <div class="form-left">
														<p:outputLabel value="Select Processing Logic Template " styleClass="label-form"
															rendered="#{filterData.selectedFilterType eq 'List'}"></p:outputLabel>
														<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" filter="true" filterMatchMode="contains" 
															value="#{filterData.selectedLabelProcessingLogicTemplateName}"
															rendered="#{filterData.selectedFilterType eq 'List'}">
															<f:selectItems
																value="#{createReportDataBean.currentPopulatedListNode.data.updatedFilterValueColumnProcessingLogicTemplateNameList}"
																var="template" itemLabel="#{template}"
																itemValue="#{template}" />
															<p:ajax event="change"
																update="filterSelectionPanelGroup5#{index}"
																listener="#{createReportDataController.updateLabelFilterSelectedProcessingLogicTemplate(index,filterData.selectedFilterValueTable)}" />
														</p:selectOneMenu>
                                                        </div>                                                      
														<h:panelGroup layout="block" styleClass="is-null-block"
															id="filterSelectionPanelGroup5#{index}"
															rendered="#{filterData.selectedFilterType eq 'List'}">
															<tag:columnSelectionComponent1
																processingLogicDefinitionTo="#{filterData.selectedLabelProcessingLogicDefinationTo}">
															</tag:columnSelectionComponent1>
														</h:panelGroup>                                                        
                                                        </div>
                                                        <div class="clearfix form-group">
                                                        <p:outputLabel styleClass="title"
															value="Create Value Processing Logic Definition "
															 
															rendered="#{filterData.selectedFilterType eq 'List'}" />
                                                        </div>
                                                        <div class="form-group clearfix">
                                                        <div class="form-left">
														
													 
														<p:outputLabel value="Select Processing Logic Template "  styleClass="label-form"
															rendered="#{filterData.selectedFilterType eq 'List'}"></p:outputLabel>
														<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" filter="true" filterMatchMode="contains" 
															value="#{filterData.selectedValueProcessingLogicTemplateName}"
															rendered="#{filterData.selectedFilterType eq 'List'}">
															<f:selectItems
																value="#{createReportDataBean.currentPopulatedListNode.data.updatedFilterValueColumnProcessingLogicTemplateNameList}"
																var="template" itemLabel="#{template}"
																itemValue="#{template}" />
															<p:ajax event="change"
																update="filterSelectionPanelGroup6#{index}"
																listener="#{createReportDataController.updateValueFilterSelectedProcessingLogicTemplate(index,filterData.selectedFilterValueTable)}" />
														</p:selectOneMenu>
                                                        </div>
														<h:panelGroup layout="block" styleClass="is-null-block"
															id="filterSelectionPanelGroup6#{index}"
															rendered="#{filterData.selectedFilterType eq 'List'}">
															<tag:columnSelectionComponent1
																processingLogicDefinitionTo="#{filterData.selectedValueProcessingLogicDefinationTo}" />
														 
														</h:panelGroup>
                                                        </div>
													</h:panelGroup>
												</h:panelGroup>
											</h:panelGroup>
											<c:set var="index" value="#{index + 1}" />
										</p:tab>
									</c:forEach>                                    
								</p:tabView>
                                </div>
                                
                              </div>   
							  <div class="button-row pad-bot15">
								<p:commandButton value="Submit" disabled="#{createReportDataBean.disableFilterFlag}"
									actionListener="#{createReportDataController.addFilterGroup()}"
									update="selectedFilterDataTable :reportForm:tabView1:forFilterGroupHeaderError" process="@parent" styleClass="btn-success"
									oncomplete="if (!args.validationFailed) #{p:widgetVar(':reportForm:tabView1:createFilterDialog')}.hide(); dragColumnToSelectedColumnDataTable();" />
								<p:commandButton value="Close"
									oncomplete="#{p:widgetVar(':reportForm:tabView1:createFilterDialog')}.hide(); dragColumnToSelectedColumnDataTable();" />
                               </div>
							</p:dialog>

							<p:dialog id="viewSelectedFilterDialog" styleClass="PopUpinCenter_addFilter dialog-create-filter" resizable="false" modal="true"
								header="#{createReportDataBean.currentPopulatedListNode.data.selectedFilterGroupHeader}">
                                <div class="create-block">
								<div class="create-block-main">
                                <h3>Create Filter Group</h3>
									<div class="create-block-inner"> 
                               <div class="form-group clearfix">     
								<p:outputLabel styleClass="label-form"><span class="redColor">*</span>Header Name:</p:outputLabel>
								
                                <div class="input-item">
								<p:inputText disabled="#{createReportDataBean.disableFilterFlag}"
									value="#{createReportDataBean.currentPopulatedListNode.data.selectedFilterGroupHeader}">
								</p:inputText>
                                </div>
                                
								<p:outputLabel value=" Optional " styleClass="label-form"></p:outputLabel>
								<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}"
									value="#{createReportDataBean.currentPopulatedListNode.data.optionalFilterGroupFlag}">
									<f:selectItem itemLabel="true" itemValue="true" />
									<f:selectItem itemLabel="false" itemValue="false" />
								</p:selectOneMenu>
								<p:outputLabel value=" Number of filters " styleClass="label-form"></p:outputLabel>
								<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}"
									value="#{createReportDataBean.currentPopulatedListNode.data.selectedNumberFilters}">
									<f:selectItem itemLabel="1" itemValue="1" />
									<f:selectItem itemLabel="2" itemValue="2" />
									<f:selectItem itemLabel="3" itemValue="3" />
									<f:selectItem itemLabel="4" itemValue="4" />
									<f:selectItem itemLabel="5" itemValue="5" />
									<f:selectItem itemLabel="6" itemValue="6" />
									<p:ajax
										update=":reportForm:tabView1:filterCombinationOperatorSelectOneMenu"></p:ajax>
								</p:selectOneMenu>
								<p:selectOneMenu
									converter="selectItemConverter"
									value="#{createReportDataBean.currentPopulatedListNode.data.selectedFilterCombinationOperator}"
									disabled="#{(createReportDataBean.currentPopulatedListNode.data.selectedNumberFilters lt 2) or (createReportDataBean.disableFilterFlag) }">
									<f:selectItems
										value="#{commonReportDataBean.filterCombinationOperatorList}"
										var="combinationOperator"
										itemLabel="#{combinationOperator.label}"
										itemValue="#{combinationOperator}" />
								</p:selectOneMenu>
                                </div>
                                 </div>
                                </div>
                                       
								<c:set var="index" value="0" />
                                <div class="tabs-common clearfix">
								<p:tabView activeIndex="0">
									<p:ajax event="tabChange" immediate="true" />
									<c:forEach var="filterData"
										items="#{createReportDataBean.currentPopulatedListNode.data.curentlySelectedFilterDataToList}">
										<p:tab id="tab#{index}" title="Filter#{index+1}">
											<div class="form-group clearfix">
                                            	<div class="input-left">
												<p:outputLabel styleClass="label-form"><span class="redColor">*</span>Select Filter Name:</p:outputLabel>
                                                <p:inputText value="#{filterData.selectedFilterName}" disabled="#{createReportDataBean.disableFilterFlag}"/>
												</div>
                                            </div>
                                             <div class="clearfix">
                                             <p:outputLabel styleClass="title" value="Create Apply On Processing Logic Definition" />		
                                             </div>
                                             <div class="form-group clearfix">
                                             <div class="form-left">
											<p:outputLabel value="Select Processing Logic Template " styleClass="label-form"></p:outputLabel>
											<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" filter="true" filterMatchMode="contains" 
												value="#{filterData.selectedApplyOnProcessingLogicTemplateName}">
												<f:selectItems
													value="#{createReportDataBean.currentPopulatedListNode.data.updatedColumnProcessingLogicTemplateNameList}"
													var="template" itemLabel="#{template}"
													itemValue="#{template}" />
												<p:ajax event="change"
													update="filterSelectionPanelGroup1#{index}"
													listener="#{createReportDataController.updateApplyOnFilterSelectedProcessingLogicTemplate(index)}" />
											</p:selectOneMenu>
                                            </div>
                                             <h:panelGroup layout="block" styleClass="is-null-block"
												id="filterSelectionPanelGroup1#{index}">
      											<tag:columnSelectionComponent1
													processingLogicDefinitionTo="#{filterData.selectedApplyOnProcessingLogicDefinationTo}">
												</tag:columnSelectionComponent1>
		                   					</h:panelGroup>
                                            </div>
                                            
                                            <div class="form-group clearfix">
                                            	<div class="form-block-one">
                                                <p:outputLabel value="Select Operator Data Type " styleClass="label-form"></p:outputLabel>
                                                <p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width80"
                                                    value="#{filterData.selectedOperatorDataType}" filter="true" filterMatchMode="contains" 
                                                    converter="selectItemConverter">
                                                    <f:selectItems value="#{commonReportDataBean.dataTypes}"
                                                        var="dataType" itemLabel="#{dataType.label}"
                                                        itemValue="#{dataType}"></f:selectItems>
                                                    <p:ajax update="filterSelectionPanelGroup2#{index}"
                                                        listener="#{createReportDataController.updateOperatorList(index)}"></p:ajax>
                                                </p:selectOneMenu>
                                             </div>
											<h:panelGroup layout="block" styleClass="form-two-three"
												id="filterSelectionPanelGroup2#{index}">
                                                <div class="form-block-two">
												<p:outputLabel value="Select Operators " styleClass="label-form" />
												<p:selectCheckboxMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width155"
													value="#{filterData.selectedOperatorsList}"
													converter="operatorToConverter"
													label="Please select from list">
													<f:selectItems value="#{filterData.operatorsList}"
														var="operator" itemLabel="#{operator.operatorLabel}"
														itemValue="#{operator}" />
													<p:ajax update="filterSelectionPanelGroup2#{index}"></p:ajax>
												</p:selectCheckboxMenu>
                                                </div>
                                                <div class="form-block-three">
												<p:outputLabel value="Select Default Operator " styleClass="label-form"></p:outputLabel>
												<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}"
													value="#{filterData.selectedDefaultOperator}"
													converter="operatorToConverter">
													<f:selectItems value="#{filterData.selectedOperatorsList}"
														var="operator" itemLabel="#{operator.operatorLabel}"
														itemValue="#{operator}"></f:selectItems>
												</p:selectOneMenu>
                                                </div>
											</h:panelGroup>
											</div>
                                            <div class="form-group clearfix">
                                            <div class="form-left-block">
											<p:outputLabel value="Select Operator Visibility " styleClass="label-form"></p:outputLabel>
											<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width80"
												value="#{filterData.selectedOperatorVisibility}">
												<f:selectItem itemLabel="true" itemValue="true" />
												<f:selectItem itemLabel="false" itemValue="false" />
											</p:selectOneMenu>
                                            </div>
                                            <div class="form-right-block">
											<p:outputLabel value="Select Filter Type " styleClass="label-form"></p:outputLabel>
											<p:selectOneMenu value="#{filterData.selectedFilterType}" filter="true" filterMatchMode="contains"  styleClass="select-width155" disabled="#{createReportDataBean.disableFilterFlag}">
												<f:selectItem itemLabel="SystemInput" itemValue="SystemInput"></f:selectItem>
												<f:selectItem itemLabel="TextField" itemValue="TextField" />
												<f:selectItem itemLabel="Calendar" itemValue="Calendar" />
												<f:selectItem itemLabel="List" itemValue="List" />
												<p:ajax update="filterSelectionPanelGroup3#{index}"></p:ajax>
											</p:selectOneMenu>
                                            </div>
                                            </div>
                                            
											<h:panelGroup layout="block"
												id="filterSelectionPanelGroup3#{index}">
                                           			 <div class="form-left-block">
												<p:outputLabel value="Select Filter Value Type " styleClass="label-form"
													rendered="#{(filterData.selectedFilterType eq 'SystemInput') or (filterData.selectedFilterType eq 'List')}" />
												<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width80"
													value="#{filterData.selectedFilterValueType}"
													rendered="#{filterData.selectedFilterType eq 'SystemInput'}">
													<f:selectItem itemLabel="ApplicationInput" itemValue="ApplicationInput" />
													<f:selectItem itemLabel="Constant" itemValue="Constant" />
													<p:ajax update="filterSelectionPanelGroup4#{index}"></p:ajax>
												</p:selectOneMenu>
												<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width80"
													value="#{filterData.selectedFilterValueType}"
													rendered="#{filterData.selectedFilterType eq 'List'}">
													<f:selectItem itemLabel="UserInput" itemValue="UserInput" />
													<p:ajax update="filterSelectionPanelGroup4#{index}"></p:ajax>
												</p:selectOneMenu>
                                                </div>
												<h:panelGroup layout="block"
													id="filterSelectionPanelGroup4#{index}">
													<div class="form-right-block">
                                                    <p:outputLabel value="Select Application Input " styleClass="label-form"
														rendered="#{(filterData.selectedFilterValueType eq 'ApplicationInput') and (filterData.selectedFilterType eq 'SystemInput')}"></p:outputLabel>
													<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" value="#{filterData.selectedApplicationInput}" 
														filter="true" filterMatchMode="contains"  converter="selectItemConverter" rendered="#{(filterData.selectedFilterValueType eq 'ApplicationInput') and (filterData.selectedFilterType eq 'SystemInput')}">
														<f:selectItems
															value="#{commonReportDataBean.applicationInputList}"
															var="applicationInput"
															itemLabel="#{applicationInput.label}"
															itemValue="#{applicationInput}"></f:selectItems>
													</p:selectOneMenu>
                                                    </div>
                                                    <div class="form-group clearfix">
                                                    <div class="form-left-block">
													<p:outputLabel value="Select Constant " styleClass="label-form"
														rendered="#{(filterData.selectedFilterValueType eq 'Constant') and (filterData.selectedFilterType eq 'SystemInput')}"></p:outputLabel>
													<p:selectOneMenu value="#{filterData.selectedConstant}" filter="true" filterMatchMode="contains" 
														converter="selectItemConverter" disabled="#{createReportDataBean.disableFilterFlag}"
														rendered="#{(filterData.selectedFilterValueType eq 'Constant') and (filterData.selectedFilterType eq 'SystemInput')}">
														<f:selectItems
															value="#{commonReportDataBean.constantList}"
															var="constant" itemLabel="#{constant.label}"
															itemValue="#{constant}"></f:selectItems>
													</p:selectOneMenu>
                                                    </div>
                                                    <div class="form-right-block">
													<p:outputLabel value=" Filter Values Table " styleClass="label-form "
														rendered="#{filterData.selectedFilterType eq 'List'}"></p:outputLabel>
													<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" styleClass="select-width155"
														value="#{filterData.selectedFilterValueTable}" converter="tableToConverter" filter="true" filterMatchMode="contains" 
														rendered="#{filterData.selectedFilterType eq 'List'}">
														<f:selectItems
															value="#{createReportDataBean.currentPopulatedListNode.data.selectedTables}"
															var="table" itemLabel="#{table.name}"
															itemValue="#{table}" />
														<p:ajax event="change"
															update="filterSelectionPanelGroup7#{index}"
															listener="#{createReportDataController.updateFilterValueLabelSelectedProcessingLogicTemplate(index)}" />
													</p:selectOneMenu>
                                                    </div>
                                                    </div>
													<h:panelGroup layout="block" styleClass="clearfix"
														id="filterSelectionPanelGroup7#{index}">
														<div class="form-group clearfix pad-top15">
                                                        <p:outputLabel styleClass="title"
															value="Create Label Processing Logic Definition" rendered="#{filterData.selectedFilterType eq 'List'}" /></div>
														<div class="form-group clearfix">
                                                        <div class="form-left">
														<p:outputLabel value="Select Processing Logic Template " styleClass="label-form"
															rendered="#{filterData.selectedFilterType eq 'List'}"></p:outputLabel>
														<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" filter="true" filterMatchMode="contains" 
															value="#{filterData.selectedLabelProcessingLogicTemplateName}" rendered="#{filterData.selectedFilterType eq 'List'}">
															<f:selectItems
																value="#{createReportDataBean.currentPopulatedListNode.data.updatedFilterValueColumnProcessingLogicTemplateNameList}"
																var="template" itemLabel="#{template}"
																itemValue="#{template}" />
															<p:ajax event="change"
																update="filterSelectionPanelGroup5#{index}"
																listener="#{createReportDataController.updateLabelFilterSelectedProcessingLogicTemplate(index,filterData.selectedFilterValueTable)}" />
														</p:selectOneMenu>
                                                        </div>                                                      
														<h:panelGroup layout="block" styleClass="is-null-block"
															id="filterSelectionPanelGroup5#{index}"
															rendered="#{filterData.selectedFilterType eq 'List'}">
															<tag:columnSelectionComponent1
																processingLogicDefinitionTo="#{filterData.selectedLabelProcessingLogicDefinationTo}">
															</tag:columnSelectionComponent1>
														</h:panelGroup>                                                        
                                                        </div>
                                                        <div class="clearfix form-group">
                                                        <p:outputLabel styleClass="title"
															value="Create Value Processing Logic Definition "
															 
															rendered="#{filterData.selectedFilterType eq 'List'}" />
                                                        </div>
                                                        <div class="form-group clearfix">
                                                        <div class="form-left">
																 
														<p:outputLabel value="Select Processing Logic Template "  styleClass="label-form"
															rendered="#{filterData.selectedFilterType eq 'List'}"></p:outputLabel>
														<p:selectOneMenu disabled="#{createReportDataBean.disableFilterFlag}" filter="true" filterMatchMode="contains" 
															value="#{filterData.selectedValueProcessingLogicTemplateName}" rendered="#{filterData.selectedFilterType eq 'List'}">
															<f:selectItems
																value="#{createReportDataBean.currentPopulatedListNode.data.updatedFilterValueColumnProcessingLogicTemplateNameList}"
																var="template" itemLabel="#{template}"
																itemValue="#{template}" />
															<p:ajax event="change"
																update="filterSelectionPanelGroup6#{index}"
																listener="#{createReportDataController.updateValueFilterSelectedProcessingLogicTemplate(index,filterData.selectedFilterValueTable)}" />
														</p:selectOneMenu>
                                                        </div>
														<h:panelGroup layout="block" styleClass="is-null-block"
															id="filterSelectionPanelGroup6#{index}"
															rendered="#{filterData.selectedFilterType eq 'List'}">
															<tag:columnSelectionComponent1
																processingLogicDefinitionTo="#{filterData.selectedValueProcessingLogicDefinationTo}" />
														 
														</h:panelGroup>
                                                        </div>
													</h:panelGroup>
												</h:panelGroup>
											</h:panelGroup>
											<c:set var="index" value="#{index + 1}" />
										</p:tab>
									</c:forEach>
								</p:tabView>
                                </div>
                                    <div class="button-row pad-bot15">
										<p:commandButton value="Close" styleClass="btn-success"
											oncomplete="#{p:widgetVar(':reportForm:tabView1:viewSelectedFilterDialog')}.hide();" />
                                    </div>
                              </div>      
							</p:dialog>
                                                  
                            <div class="selected-columns-wrapper">
                            
                            <div class="title-block" style="border:none;">
							<p:outputLabel value="Selected Columns" styleClass="main-title" />
							<p:commandLink value="Add Custom Column" ajax="true"
								styleClass="floatRight btn-link"
								oncomplete="#{p:widgetVar(':reportForm:tabView1:columnSelectionDialog')}.show()"
								actionListener="#{createReportDataController.resetColumnSelectedValues}"
								update="columnSelectionDialog"></p:commandLink>
							</div>
                            <div class="selected-columns-inner"> 
							<p:remoteCommand name="selectedColumnReorder"
								actionListener="#{createReportDataController.onSelectedColumnReorder}"
								update="selectedColumnDataTable"
								oncomplete="dragColumnToSelectedColumnDataTable();" />
                            <p:dataTable id="selectedColumnDataTable" var="dummy"
								value="#{commonReportDataBean.dummyDataList}"
								emptyMessage="Drop columns here" styleClass="droppoint"
								draggableColumns="true">
								<f:facet name="header">
    								Drop Columns here
								</f:facet>
								<p:columns  width="100"
									value="#{createReportDataBean.currentPopulatedListNode.data.selectedOrderedColumnList}"
									var="column">
									<f:facet name="header">
										<h:outputText
											style="float:left;display:block;height:20px;width:10px;border:0 none;"
											styleClass="droppointheader dropleft" />
										<h:outputText
											style="float:right;display:block;height:20px;width:10px;border:0 none;"
											styleClass="droppointheader dropright" />
										<h:outputText value="#{column}" styleClass="title-columns" />
										<p:commandLink id="columnSettings" value="button" styleClass="setting-button" title="Edit" actionListener="#{createReportDataController.viewSelectedColumn(column)}"
											oncomplete="#{p:widgetVar(':reportForm:tabView1:viewColumnSelectionDialog')}.show()" update=":reportForm:tabView1:viewColumnSelectionDialog">
										</p:commandLink>
									</f:facet>
									<h:outputText
										value="#{dummy[((createReportDataBean.currentPopulatedListNode.data.selectedColumnsDataMap.get(column).dataType.label).concat('1'))]}" />
								</p:columns>
							</p:dataTable>
                            </div>
                            </div>
                                                       
						<p:panel id="previewReportPanel" visible="#{createReportDataBean.previewFlag}">
							  <div class="table-listing-outer clearfix">  
                          <h3>Preview</h3>   
							<div class="table-listing broken_table"> 
							<p:dataTable id="previewReportDataTable" var="reportData" value="#{createReportDataBean.reportData}" rowIndexVar="rowKey"
                       			paginator="true" paginatorAlwaysVisible="true" rows="10" rowsPerPageTemplate="10,20,30" paginatorPosition="bottom" first="0">
  	 							<p:column headerText="SNo.">
									<h:outputText value="#{rowKey+1}"></h:outputText>
								</p:column>                    
       							<p:columns value="#{createReportDataBean.previewReportHeaders}" var="column" columnIndexVar="colIndex">
           							<f:facet name="header">
               							<h:outputText value="#{column}" />
           							</f:facet>
           							<h:outputText value="#{reportData[colIndex]}" />
       							</p:columns>
   							</p:dataTable>
                            </div>
                            </div>
                         </p:panel>
                         
                            <div class="button-row">
				<p:commandButton value="Submit" id="buttonForOpeningColumnDialog" styleClass="btn-success" actionListener="#{createReportDataController.setAutoSelectedColumnDialog}"
								style="display:none;" update=":reportForm:tabView1:autoColumnSelectionDialog :reportForm:tabView1:forColumnFilterSelectionTab"
								oncomplete="if (!args.validationFailed) $('#reportForm\\:tabView1\\:buttonForSubmittingAutoColumnDialog').click()"/>
				<p:commandButton value="Back"
					oncomplete="setState(#{p:widgetVar(':reportForm:tabView1')},1,1)" />
				<p:commandButton value="Preview" styleClass="btn-success"
					actionListener="#{createReportDataController.getPreviewReportFilters}" update=":reportForm:tabView1:filterSelectionDialog :reportForm:tabView1:forColumnFilterSelectionTab" 
					oncomplete="if (!args.validationFailed) #{p:widgetVar(':reportForm:tabView1:filterSelectionDialog')}.show()" />
				<p:commandButton value="Generate Report" styleClass="blue-btn"
					actionListener="#{createReportDataController.createTableOrReport}" update=":reportForm:tabView1:forColumnFilterSelectionTab"
					rendered="#{createReportDataBean.currentPopulatedListNode.parent eq null}" oncomplete="if (!args.validationFailed) {creationAlert(); redirectToViewReports();}"/>
				<p:commandButton value="Generate Derived Table" styleClass="blue-btn"
					actionListener="#{createReportDataController.createTableOrReport}" update=":reportForm:tabView1:forColumnFilterSelectionTab"
					rendered="#{!(createReportDataBean.currentPopulatedListNode.parent eq null)}" 
					oncomplete="if (!args.validationFailed) setState(#{p:widgetVar(':reportForm:tabView1')},'#{createReportDataBean.currentPopulatedListNode.parent.data.state}','#{createReportDataBean.currentPopulatedListNode.parent.data.currentTab}')" />
                    </div>
                    
					</div>
					</div>
				</div>
				
			    <p:dialog id="viewColumnSelectionDialog" header="View Column " styleClass="PopUpinCenter_step3 dialog-box-columns" resizable="false" modal="true">
                
                <div class="dialog-form-group clearfix">
              		
                </div>
                    
                    <div class="dialog-form-group clearfix">
					<p:outputLabel value="Selected Processing Logic:" styleClass="label-form"></p:outputLabel>
              			<tag:columnSelectionComponent1
							processingLogicDefinitionTo="#{createReportDataBean.currentPopulatedListNode.data.currentSelectedColumnsData.processingLogicDefination}">
						</tag:columnSelectionComponent1>
                    </div>
						<div class="dialog-form-group clearfix">
						<p:outputLabel styleClass="label-form"><span class="redColor">*</span>Header Name:</p:outputLabel>
						<p:inputText value="#{createReportDataBean.currentPopulatedListNode.data.currentSelectedColumnsData.name}" disabled="true"></p:inputText>
                         </div>
                        <div class="dialog-form-group clearfix">    
						<p:outputLabel value=" Visibility " styleClass="label-form"
							rendered="#{(createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgrouping') or (createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgeneric')}"></p:outputLabel>
						<p:selectOneMenu disabled="true"
							value="#{createReportDataBean.currentPopulatedListNode.data.currentSelectedColumnsData.visibility}"
							rendered="#{(createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgrouping') or (createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgeneric')}">
							<f:selectItem itemLabel="true" itemValue="true" />
							<f:selectItem itemLabel="false" itemValue="false" />
						</p:selectOneMenu>
						</div>
                        <p:panel styleClass="dialog-form-group clearfix" rendered="#{(createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'grouping') or (createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgrouping')}">
						<p:outputLabel value=" Grouping Function " styleClass="label-form" ></p:outputLabel>
						<p:selectOneMenu disabled="true"
							value="#{createReportDataBean.currentPopulatedListNode.data.currentSelectedColumnsData.groupingFunction.name}">
							<f:selectItem itemLabel="groupby" itemValue="groupby" />
							<f:selectItem itemLabel="min" itemValue="min" />
							<f:selectItem itemLabel="max" itemValue="max" />
							<f:selectItem itemLabel="sum" itemValue="sum" />
						</p:selectOneMenu>
                        </p:panel>
                        <div class="dialog-form-group clearfix">
						<p:outputLabel value=" DataType " styleClass="label-form"></p:outputLabel>
						<p:selectOneMenu disabled="true" filter="true" filterMatchMode="contains" 
							value="#{createReportDataBean.currentPopulatedListNode.data.currentSelectedColumnsData.dataType}"
							converter="selectItemConverter">
							<f:selectItems value="#{commonReportDataBean.dataTypes}"
								var="dataType" itemLabel="#{dataType.label}"
								itemValue="#{dataType}"></f:selectItems>
						</p:selectOneMenu>
                        </div>
                        
					<p:panel id="viewOrderByBlock" style="border:none">
						<div class="dialog-form-group clearfix">
							<p:outputLabel value=" Order By " styleClass="label-form"
							rendered="#{createReportDataBean.currentPopulatedListNode.parent eq null}"></p:outputLabel>
							<p:selectOneMenu disabled="true"
								value="#{createReportDataBean.currentPopulatedListNode.data.currentSelectedColumnsData.orderByFlag}"
								rendered="#{createReportDataBean.currentPopulatedListNode.parent eq null}">
								<f:selectItem itemLabel="true" itemValue="true" />
								<f:selectItem itemLabel="false" itemValue="false" />
							</p:selectOneMenu>
						</div>
						<div class="dialog-form-group clearfix">
							<p:outputLabel value=" Order by function" styleClass="label-form"
								rendered="#{(createReportDataBean.currentPopulatedListNode.data.currentSelectedColumnsData.orderByFlag eq 'true')}"></p:outputLabel>
							<p:selectOneMenu disabled="true"
								value="#{createReportDataBean.currentPopulatedListNode.data.currentSelectedColumnsData.orderByFunction}"
								rendered="#{(createReportDataBean.currentPopulatedListNode.data.currentSelectedColumnsData.orderByFlag eq 'true')}">
								<f:selectItem itemLabel="Ascending" itemValue="asc" />
								<f:selectItem itemLabel="Descending" itemValue="desc" />
							</p:selectOneMenu>
						</div>
					</p:panel>

                    <div class="button-row">
					<p:commandButton value="Close" immediate="true" styleClass="btn-success"
						oncomplete="#{p:widgetVar(':reportForm:tabView1:viewColumnSelectionDialog')}.hide();"/>
                    <p:commandButton title="Delete" icon="ui-icon-trash" immediate="true" styleClass="cancel_button" actionListener="#{createReportDataController.removeSelectedColumn(createReportDataBean.currentPopulatedListNode.data.currentSelectedColumnsData.name)}" 
                    	update=":reportForm:tabView1:selectedColumnDataTable" process="@parent"
						oncomplete="#{p:widgetVar(':reportForm:tabView1:viewColumnSelectionDialog')}.hide();dragColumnToSelectedColumnDataTable();"/>
                    </div>
				</p:dialog>
				
				<p:dialog id="columnSelectionDialog" header="Add Column " styleClass="PopUpinCenter_step3 dialog-box-columns" resizable="false" modal="true">
               	<p:messages id="forColumnHeaderError" showDetail="false" autoUpdate="false" closable="true"/>
                
                <div class="dialog-form-group clearfix">
              		<p:outputLabel value="Select Processing Logic Template " styleClass="label-form"></p:outputLabel>
					<p:selectOneMenu 
						value="#{createReportDataBean.currentPopulatedListNode.data.selectedProcessingLogicTemplateName}" filter="true" filterMatchMode="contains" >
						<f:selectItems
							value="#{createReportDataBean.currentPopulatedListNode.data.updatedColumnProcessingLogicTemplateNameList}"
							var="template" itemLabel="#{template}" itemValue="#{template}" />
						<p:ajax event="change" update="columnSelectionPanelGroup"
							listener="#{createReportDataController.updateSelectedProcessingLogicTemplate()}"></p:ajax>
					</p:selectOneMenu>
                </div>
                    
					<h:panelGroup layout="block" id="columnSelectionPanelGroup">
                    <div class="dialog-form-group is-null clearfix">
						<tag:columnSelectionComponent1
							processingLogicDefinitionTo="#{createReportDataBean.currentPopulatedListNode.data.selectedColumnProcessingLogicDefinationTo}">
						</tag:columnSelectionComponent1>
                        </div>
						<div class="dialog-form-group clearfix">
						<p:outputLabel styleClass="label-form"><span class="redColor">*</span>Header Name:</p:outputLabel>
						<p:inputText id="columnHeader"
							value="#{createReportDataBean.currentPopulatedListNode.data.selectedColumnHeader}"></p:inputText>
                         </div>
                        <div class="dialog-form-group clearfix">    
						<p:outputLabel value=" Visibility " styleClass="label-form"
							rendered="#{(createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgrouping') or (createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgeneric')}"></p:outputLabel>
						<p:selectOneMenu
							value="#{createReportDataBean.currentPopulatedListNode.data.columnVisible}"
							rendered="#{(createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgrouping') or (createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgeneric')}">
							<f:selectItem itemLabel="true" itemValue="true" />
							<f:selectItem itemLabel="false" itemValue="false" />
						</p:selectOneMenu>
						</div>
                        <p:panel styleClass="dialog-form-group clearfix" rendered="#{(createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'grouping') or (createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgrouping')}">
						<p:outputLabel value=" Grouping Function " styleClass="label-form" ></p:outputLabel>
						<p:selectOneMenu
							value="#{createReportDataBean.currentPopulatedListNode.data.selectedGroupingFunction}"
							>
							<f:selectItem itemLabel="groupby" itemValue="groupby" />
							<f:selectItem itemLabel="min" itemValue="min" />
							<f:selectItem itemLabel="max" itemValue="max" />
							<f:selectItem itemLabel="sum" itemValue="sum" />
						</p:selectOneMenu>
                        </p:panel>
                        <div class="dialog-form-group clearfix">
						<p:outputLabel value=" DataType " styleClass="label-form"></p:outputLabel>
						<p:selectOneMenu filter="true" filterMatchMode="contains" 
							value="#{createReportDataBean.currentPopulatedListNode.data.selectedColumnDataType}"
							converter="selectItemConverter">
							<f:selectItems value="#{commonReportDataBean.dataTypes}"
								var="dataType" itemLabel="#{dataType.label}"
								itemValue="#{dataType}"></f:selectItems>
							<p:ajax event="change" update=":reportForm:tabView1:cssPanelGroup" listener="#{createReportDataController.updateSelectedColumnCssOperators()}"></p:ajax>
						</p:selectOneMenu>
						<h:panelGroup id="cssPanelGroup">
							<p:outputLabel value="SelectCssOperator" styleClass="label-form" rendered="#{createReportDataBean.addCssFlag}"></p:outputLabel>
							<p:selectOneMenu value="#{createReportDataBean.currentPopulatedListNode.data.selectedColumnCssOperator}" rendered="#{createReportDataBean.addCssFlag}" 
								converter="operatorToConverter">
								<f:selectItems value="#{createReportDataBean.cssOperators}"	var="operator" itemLabel="#{operator.operatorLabel}" itemValue="#{operator}" />					
							</p:selectOneMenu>
							<p:outputLabel value=" Select Value " styleClass="label-form" rendered="#{createReportDataBean.addCssFlag}"></p:outputLabel>
							<p:inputText value="#{createReportDataBean.currentPopulatedListNode.data.selectedColumnValue}" rendered="#{createReportDataBean.addCssFlag}"></p:inputText>
							<p:outputLabel value=" Select Css" styleClass="label-form" rendered="#{createReportDataBean.addCssFlag}"></p:outputLabel>
							<p:selectOneMenu filter="true" filterMatchMode="contains" value="#{createReportDataBean.currentPopulatedListNode.data.selectedColumnCss}"
								converter="selectItemConverter" rendered="#{createReportDataBean.addCssFlag}">
								<f:selectItems value="#{commonReportDataBean.cssClassList}" var="cssClass" itemLabel="#{cssClass.label}"
									itemValue="#{cssClass}"></f:selectItems>
							</p:selectOneMenu>
						</h:panelGroup>
						<p:commandLink styleClass="btn-link" value="Add Css" ajax="true" actionListener="#{createReportDataController.addCss}" 
        					update=":reportForm:tabView1:columnSelectionDialog" rendered="#{!createReportDataBean.addCssFlag 
        						and ((createReportDataBean.currentPopulatedListNode.data.tableType eq 'REPORTGENERIC') or 
                        		(createReportDataBean.currentPopulatedListNode.data.tableType eq 'REPORTGROUPING'))}" 
        					oncomplete="if (!args.validationFailed) #{p:widgetVar(':reportForm:tabView1:columnSelectionDialog')}.show();">
        				</p:commandLink>
                        </div>
						
						<p:panel id="orderByBlock" style="border:none">
							<div class="dialog-form-group clearfix">
								<p:outputLabel value=" Order By " styleClass="label-form"
									rendered="#{createReportDataBean.currentPopulatedListNode.parent eq null}"></p:outputLabel>
								<p:selectOneMenu
									value="#{createReportDataBean.currentPopulatedListNode.data.orderByFlag}"
									rendered="#{createReportDataBean.currentPopulatedListNode.parent eq null}">
									<p:ajax event="change"
										update=":reportForm:tabView1:orderByBlock" />
									<f:selectItem itemLabel="true" itemValue="true" />
									<f:selectItem itemLabel="false" itemValue="false" />
								</p:selectOneMenu>
							</div>
							<div class="dialog-form-group clearfix">
								<p:outputLabel value=" Order by function "
									styleClass="label-form"
									rendered="#{(createReportDataBean.currentPopulatedListNode.data.orderByFlag eq 'true')}"></p:outputLabel>
								<p:selectOneMenu
									value="#{createReportDataBean.currentPopulatedListNode.data.orderByFunction}"
									rendered="#{(createReportDataBean.currentPopulatedListNode.data.orderByFlag eq 'true')}">
									<f:selectItem itemLabel="Ascending" itemValue="asc" />
									<f:selectItem itemLabel="Descending" itemValue="desc" />
								</p:selectOneMenu>
							</div>
						</p:panel>

					</h:panelGroup>
                    <div class="button-row">
					<p:commandButton value="Submit" styleClass="btn-success"
						actionListener="#{createReportDataController.addColumn()}"
						process="@parent"
						oncomplete="if (!args.validationFailed) #{p:widgetVar(':reportForm:tabView1:columnSelectionDialog')}.hide(); dragColumnToSelectedColumnDataTable();"
						update="selectedColumnDataTable :reportForm:tabView1:forColumnHeaderError" />
                         
                	<p:commandLink styleClass="btn-link" value="Add Processing Logic Template" ajax="true" actionListener="#{createReportDataController.resetIntermediateProcessingLogicTemplateTo}" 
        					update=":reportForm:tabView1:processingLogicTemplateDialog" oncomplete="#{p:widgetVar(':reportForm:tabView1:processingLogicTemplateDialog')}.show()"></p:commandLink>
            
                        </div>
				</p:dialog>
				
				<p:dialog header="Create Processing Logic Template" id="processingLogicTemplateDialog" maximizable="true" styleClass="PopUpinCenter_step3 dialog-processing" modal="true">
 					<tag:processingLogicTemplate1 intermediateProcessingLogicTemplateTo="#{createReportDataBean.intermediateProcessingLogicTemplateTo}"/>
 					<p:commandButton value="Submit" styleClass="btn-success" actionListener="#{createReportDataController.createProcessingLogicTemplate}" 
        				oncomplete="if (!args.validationFailed) #{p:widgetVar(':reportForm:tabView1:processingLogicTemplateDialog')}.hide()">
        			</p:commandButton>
        		</p:dialog>  
				
				<p:dialog id="autoColumnSelectionDialog" header="Select Columns" styleClass="PopUpinCenter_step3 dialog-box-columns" resizable="false" modal="true">
                      	<div class="dialog-form-group clearfix">
						 <p:outputLabel styleClass="label-form"><span class="redColor">*</span>Header Name:</p:outputLabel>
						 <p:inputText id="autoColumnHeader"
							value="#{createReportDataBean.currentPopulatedListNode.data.autoSelectedColumnHeader}"></p:inputText>
                        </div>
                        <div class="dialog-form-group clearfix"> 					
						<p:outputLabel value=" Visibility " styleClass="label-form"
							rendered="#{(createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgrouping') or (createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgeneric')}"></p:outputLabel>
						<p:selectOneMenu
							value="#{createReportDataBean.currentPopulatedListNode.data.autoSelectedColumnVisible}"
							rendered="#{(createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgrouping') or (createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgeneric')}">
							<f:selectItem itemLabel="true" itemValue="true" />
							<f:selectItem itemLabel="false" itemValue="false" />
						</p:selectOneMenu>
                        </div>
						<p:panel styleClass="dialog-form-group clearfix" rendered="#{(createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'grouping') or (createReportDataBean.currentPopulatedListNode.data.tableType.name eq 'reportgrouping')}">
						<p:outputLabel value="Grouping Function " styleClass="label-form" ></p:outputLabel>
						<p:selectOneMenu
							value="#{createReportDataBean.currentPopulatedListNode.data.autoSelectedGroupingFunction}">
							<f:selectItem itemLabel="groupby" itemValue="groupby" />
							<f:selectItem itemLabel="min" itemValue="min" />
							<f:selectItem itemLabel="max" itemValue="max" />
							<f:selectItem itemLabel="sum" itemValue="sum" />
						</p:selectOneMenu>
                        </p:panel>
                        <div class="dialog-form-group clearfix">
						<p:outputLabel value="DataType " styleClass="label-form"></p:outputLabel>
						<p:selectOneMenu filter="true" filterMatchMode="contains" 
							value="#{createReportDataBean.currentPopulatedListNode.data.autoSelectedColumnDataType}"
							converter="selectItemConverter">
							<f:selectItems value="#{commonReportDataBean.dataTypes}"
								var="dataType" itemLabel="#{dataType.label}"
								itemValue="#{dataType}"></f:selectItems>
						</p:selectOneMenu>
                        </div>
			 		<div class="button-row">
					<p:commandButton value="Submit" styleClass="btn-success" id="buttonForSubmittingAutoColumnDialog"
						actionListener="#{createReportDataController.addNewUIColumn()}"
						update="selectedColumnDataTable :reportForm:tabView1:forColumnFilterSelectionTab" process="@parent"
						oncomplete="if (!args.validationFailed) #{p:widgetVar(':reportForm:tabView1:autoColumnSelectionDialog')}.hide(); dragColumnToSelectedColumnDataTable();" />
                    </div>
				</p:dialog>
				
				<p:dialog id="filterSelectionDialog" styleClass="PopUpinCenter_step3 dialog-select-filters" header="Select Filters" closable="false" modal="true" resizable="false">
					<c:set var="index" value="0" />
					<c:if
						test="#{(createReportDataBean.currentPopulatedListNode.data.previewReportFilters eq null) or (createReportDataBean.currentPopulatedListNode.data.previewReportFilters.size() == 0)}">
						<p:outputLabel value=" No Filters in this Report "></p:outputLabel>
						<br />
					</c:if>
					<c:forEach var="filterGroup"
						items="#{createReportDataBean.currentPopulatedListNode.data.previewReportFilters}">
						<p:panel id="filterPanel#{index}" styleClass="dialog-form-block">
							<h3>#{filterGroup.filterDefinitionHeader}</h3>
							<div class="dialog-form">
								<c:forEach var="filter" items="#{filterGroup.filterValues}">
									<div id="filterTable#{index}" class="dialog-form-row">
									 		<div class="cell-one"><p:outputLabel
													value="#{filter.sysFilterLabel}"></p:outputLabel></div>
											<div class="cell-two"><p:selectOneMenu
													id="operatorSelectOneMenu#{index}"
													value="#{filter.selectedOperator}"
													rendered="#{filter.operatorVisible}"
													converter="operatorToConverter">
													<f:selectItems value="#{filter.inputOperators}"
														var="operator" itemLabel="#{operator.operatorLabel}"
														itemValue="#{operator}" />
													<p:ajax event="change" update="filterInnerDiv#{index}"></p:ajax>
												</p:selectOneMenu></div>
                                              <div class="cell-three"><h:panelGroup layout="block"
													id="filterInnerDiv#{index}">
													<p:calendar id="filterCalendar1#{index}"
														rendered="#{filter.filterType.getName() == 'calendar'}"
														readonlyInput="true" value="#{filter.firstSelectedDate}"
														pattern="dd/MM/yyyy" required="#{!filterGroup.optional}"></p:calendar>
													<p:calendar id="filterCalendar2#{index}"
														rendered="#{filter.filterType.getName() == 'calendar' and filter.selectedOperator.numberOfRequiredInputs == 2}"
														readonlyInput="true" value="#{filter.secondSelectedDate}"
														pattern="dd/MM/yyyy" required="#{!filterGroup.optional}"></p:calendar>
													<p:selectOneMenu id="UserInputSelectOneMenu1#{index}" filter="true" filterMatchMode="contains" 
														rendered="#{filter.filterType.getName() == 'list' and (filter.selectedOperator == null or
                                        filter.selectedOperator.singleSelect == true)}"
														required="#{!filterGroup.optional}"
														value="#{filter.selectedSingleValue}"
														converter="selectItemConverter">
														<f:selectItems value="#{filter.inputValues}" var="option"
															itemLabel="#{option.label}" itemValue="#{option}" />
													</p:selectOneMenu>
													<p:selectCheckboxMenu
														id="UserInputSelectCheckboxMenu2#{index}"
														rendered="#{filter.filterType.getName() == 'list' and 
                                        filter.selectedOperator.singleSelect == false}"
														filter="true" filterMatchMode="contains" 
														required="#{!filterGroup.optional}"
														value="#{filter.selectedValues}"
														converter="selectItemConverter"
														label="Please select from list">
														<f:selectItems value="#{filter.inputValues}" var="option"
															itemLabel="#{option.label}" itemValue="#{option}" />
													</p:selectCheckboxMenu>
													<p:inputText id="UserInputText#{index}"
														rendered="#{filter.filterType.getName() == 'textfield'}"
														value="#{filter.selectedText}"
														requiredMessage="Please enter filter value"
														required="#{!filterGroup.optional}">
													</p:inputText>
												</h:panelGroup></div>
										 
									</div>
									<c:set var="index" value="#{index + 1}" />
								</c:forEach>
							</div>
						</p:panel>
					</c:forEach>
					<div class="btn-row">
						<p:commandButton value="Submit" process="@parent"
							actionListener="#{createReportDataController.createAndExecutePreviewReportQuery}" update="previewReportPanel"
							oncomplete="if (!args.validationFailed) #{p:widgetVar(':reportForm:tabView1:filterSelectionDialog')}.hide()" styleClass="btn-success" />
						<p:commandButton value="Close" process="@parent" immediate="true"
							actionListener="#{createReportDataController.closePreviewFilterSelection}" update=":reportForm:tabView1:filterSelectionDialog"
							oncomplete="if (!args.validationFailed) #{p:widgetVar(':reportForm:tabView1:filterSelectionDialog')}.hide()"  />
					</div>
				</p:dialog>
				
			</p:tab>
		</p:tabView>
	</h:form>
</h:body>
</html>