<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>AdHoc Report Editing</title>
	<link href="../css/home.css" type="text/css" rel="stylesheet"
		media="all" />
	<script type="text/javascript" src="../js/createReportJavaScript.js"></script>
	<script type="text/javascript">
		function nextRedirect() {
			window.location = "../reportuirevamp/editReportMain.jsf";
		}
		function cancelRedirect() {
			window.location = "../viewAdhocReport.jsf";
		}
	</script>
	<link href="../css/adhocreports_gray.css" type="text/css"
		rel="stylesheet" media="all" />
	<link href="../css/custom-scrollbar.css" type="text/css"
		rel="stylesheet" />

</h:head>

<h:body>
	<h:form id="editReportForm">
		<p:messages id="showMessage" showDetail="false" autoUpdate="true"
			closable="true" />
		<p:tabView id="tabView" activeIndex="0"
			styleClass="frm_content2 form_content">
			<p:tab title="Edit Adhoc Report">
				<div class="form_content_inner">

					<h:panelGrid columns="4" cellpadding="5">
						<p:outputLabel styleClass="label-control">
							<span class="redColor">*</span>Report Name</p:outputLabel>
						<p:inputText styleClass="form-control"
							value="#{editReportDataBean.selectedReportForEditing.reportName}"
							required="true" requiredMessage="Please enter Report Name"
							maxlength="50">
						</p:inputText>

						<p:outputLabel styleClass="label-control">
							<span class="redColor">*</span>Report Description</p:outputLabel>
						<p:inputTextarea rows="5" cols="33" maxlength="400"
							value="#{editReportDataBean.selectedReportForEditing.reportDescription}"
							required="true" requiredMessage="Please enter Report Description">
						</p:inputTextarea>

						<p:outputLabel styleClass="label-control" value="Report Type "></p:outputLabel>
						<p:selectOneMenu value="#{editReportDataBean.selectedReportType}"
							filter="true" filterMatchMode="contains" disabled="true">
							<f:selectItem itemLabel="Simple Report" itemValue="ReportGeneric" />
							<f:selectItem itemLabel="Grouping Report"
								itemValue="ReportGrouping" />
						</p:selectOneMenu>

						<p:outputLabel styleClass="label-control" value="Default Report "></p:outputLabel>
						<p:selectOneMenu
							value="#{editReportDataBean.selectedReportForEditing.defaultFlag}"
							filter="true" filterMatchMode="contains">
							<f:selectItem itemLabel="False" itemValue="false" />
							<f:selectItem itemLabel="True" itemValue="true" />
						</p:selectOneMenu>


						<p:outputLabel styleClass="label-control" value="Select Module "></p:outputLabel>
						<p:selectOneMenu
							value="#{editReportDataBean.selectedReportModule}"
							converter="selectItemConverter" filter="true"
							filterMatchMode="contains">
							<f:selectItems value="#{reportDetailBean.modules}" var="module"
								itemLabel="#{module.label}" itemValue="#{module}" />
						</p:selectOneMenu>

					</h:panelGrid>

					<p:commandButton id="editReportCancelButton" value="Cancel"
						title="Cancel" onclick="cancelRedirect()" />

					<p:commandButton id="editReportUpdateButton" value="Update"
						title="Update"
						actionListener="#{editReportDataController.editAltReportTableEntry(editReportDataBean.selectedReportForEditing)}"
						styleClass="btn-success" />

					<p:commandButton id="editReportNextButton" value="Next"
						title="Next" onclick="nextRedirect()" />

				</div>
			</p:tab>
		</p:tabView>
	</h:form>
</h:body>
</html>