<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysMeshTagMappingListForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true"
			rendered="#{!sysMeshTagMappingBean.renderErrorMessage}" />
		<label class="Page_Tittle">SysMesh Tag Mapping List</label>
		<p:commandButton icon="ui-icon-plus"
			update=":addSysMeshTagMappingForm, :sysMeshTagMappingListForm"
			styleClass="btn_right cancel_button" title="Add SysMeshTagMapping"
			action="#{sysMeshTagMappingController.resetSysMeshTagMapping}"
			oncomplete="PF('sysMeshTagMappingAddModal').show()" />
		<div class="listing_Table">
			<p:dataTable widgetVar="sysMeshTagMappingDataTable"
				value="#{sysMeshTagMappingBean.sysMeshTagMappingTOList}"
				var="sysMeshTagMapping" rows="10" rowsPerPageTemplate="10,20,30"
				paginatorPosition="bottom" paginator="true">

				<p:column sortBy="#{sysMeshTagMapping.sysMeshTagModuleName}"
					filterBy="#{sysMeshTagMapping.sysMeshTagModuleName}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Module Name" />
					</f:facet>
					<h:outputText value="#{sysMeshTagMapping.sysMeshTagModuleName}" />
				</p:column>

				<p:column sortBy="#{sysMeshTagMapping.sysMeshTagType}"
					filterBy="#{sysMeshTagMapping.sysMeshTagType}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="SysMeshTagType" />
					</f:facet>
					<h:outputText value="#{sysMeshTagMapping.sysMeshTagType}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();"
						update=":sysMeshTagMappingEditForm, :sysMeshTagMappingListForm"
						action="#{sysMeshTagMappingController.refreshPopUp(sysMeshTagMapping)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide(); PF('sysMeshTagMappingEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>

	<p:dialog header="NEW SYSMESH TAG MAPPING"
		widgetVar="sysMeshTagMappingAddModal" modal="true">
		<h:form id="addSysMeshTagMappingForm">
			<p:messages id="messages" closable="true" showDetail="false"
				autoUpdate="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>Module Name:
				</p:outputLabel>
				<p:selectOneMenu value="#{sysMeshTagMappingBean.sysMeshTagModuleID}"
					required="true" filter="true" filterMatchMode="contains"
					requiredMessage="Please Select Module">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysMeshTagMappingBean.sysMeshModules}"
						itemLabel="#{record.sysMeshModuleName}"
						itemValue="#{record.sysMeshModuleID}" />
				</p:selectOneMenu>
				<p:outputLabel>
					<span class="redColor">*</span>MeshTagType:
				</p:outputLabel>
				<p:selectOneMenu value="#{sysMeshTagMappingBean.sysMeshTagType}"
					required="true" filter="true" filterMatchMode="contains"
					requiredMessage="Please Select Type">
					<f:selectItems var="record"
						value="#{sysMeshTagMappingBean.sysMeshTagTypes}"
						itemLabel="#{record.sysMeshTagTypeName}"
						itemValue="#{record.sysMeshTagTypeName}" />
				</p:selectOneMenu>

			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysMeshTagMappingController.addSysMeshTagMapping()}"
				process=":addSysMeshTagMappingForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysMeshTagMappingAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysMeshTagMappingEditModal"
		header="EDIT SYSMESH TAG MAPPING" modal="true">
		<h:form id="sysMeshTagMappingEditForm">
			<p:messages id="editSysMeshTagMapping" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel>
					<span class="redColor">*</span>Module Name:
				</p:outputLabel>
				<p:selectOneMenu label="#{sysMeshTagMappingBean.sysMeshModuleName}"
					value="#{sysMeshTagMappingBean.sysMeshTagModuleID}" required="true"
					filter="true" filterMatchMode="contains"
					requiredMessage="Please Select Module">
					<f:selectItems var="record"
						value="#{sysMeshTagMappingBean.sysMeshModules}"
						itemLabel="#{record.sysMeshModuleName}"
						itemValue="#{record.sysMeshModuleID}" />
				</p:selectOneMenu>
				<p:outputLabel>
					<span class="redColor">*</span>MeshTagType:
				</p:outputLabel>
				<p:selectOneMenu value="#{sysMeshTagMappingBean.sysMeshTagType}"
					required="true" filter="true" filterMatchMode="contains"
					requiredMessage="Please Select Type">
					<f:selectItems var="record"
						value="#{sysMeshTagMappingBean.sysMeshTagTypes}"
						itemLabel="#{record.sysMeshTagTypeName}"
						itemValue="#{record.sysMeshTagTypeName}" />
				</p:selectOneMenu>
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();"
				action="#{sysMeshTagMappingController.updateSysMeshTagMapping}" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('sysMeshTagMappingEditModal').hide();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>
</ui:composition>