<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui = "http://java.sun.com/jsf/facelets"
  xmlns:h = "http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>AdhocReports UI</title>
      <script type="text/javascript">
            function redirect() {
               window.location="./reportuirevamp/createNewReport.jsf";
            }
      </script>
 	  <link href="css/home.css" type="text/css" rel="stylesheet" media="all" />
</h:head>

<h:body>
<h:form id="displayReportsForm">
	<p:messages id="reportExistsError" showDetail="false" autoUpdate="true" closable="true"/>
    <f:event type="preRenderView" listener="#{reportDisplayController.preRenderView(reportDetailBean)}"/>    
    <p:tabView id="tabView" activeIndex="0" styleClass="frm_content2 form_content">
        <p:tab title="Create Adhoc Report">    		
            <div class="form_content_inner">
            	
					<h:panelGrid columns="4" cellpadding="5">
						<p:outputLabel styleClass="label-control"><span class="redColor">*</span>Report Name</p:outputLabel>
                        <p:inputText styleClass="form-control" value="#{reportDetailBean.reportNameForCreation}"
            				required="true"	requiredMessage="Please enter Report Name" maxlength="50">
						</p:inputText>
					
						<p:outputLabel styleClass="label-control"><span class="redColor">*</span>Report Description</p:outputLabel>
                       	<p:inputTextarea rows="5" cols="33" maxlength="400" value="#{reportDetailBean.reportDescriptionForCreation}" required="true" requiredMessage="Please enter Report Description">
						</p:inputTextarea>	
                  
                    	<p:outputLabel styleClass="label-control" value="Report Type "></p:outputLabel>
                        <p:selectOneMenu value="#{reportDetailBean.selectedReportType}" filter="true" filterMatchMode="contains">
       						<f:selectItem itemLabel="Simple Report" itemValue="ReportGeneric"/>
   							<f:selectItem itemLabel="Grouping Report" itemValue="ReportGrouping"/>
   						</p:selectOneMenu>
                  
                    	<p:outputLabel styleClass="label-control" value="Default Report "></p:outputLabel>
                        <p:selectOneMenu value="#{reportDetailBean.defaultFlag}" filter="true" filterMatchMode="contains">
       						<f:selectItem itemLabel="False" itemValue="false"/>
   							<f:selectItem itemLabel="True" itemValue="true"/>
   						</p:selectOneMenu>
   						
   						<p:outputLabel styleClass="label-control" value="Select Module "></p:outputLabel>
                         <p:selectOneMenu value="#{reportDetailBean.selectedModule}" converter="selectItemConverter" filter="true" filterMatchMode="contains">
                    		<f:selectItems value="#{reportDetailBean.modules}" var="module" itemLabel="#{module.label}" itemValue="#{module}" />
                		</p:selectOneMenu>
                   
                	</h:panelGrid> 
                    	
                    	<p:commandButton id="reportCreationSubmitButton" value="Next"  title="Next" actionListener="#{reportDisplayController.checkDuplicateReport(reportDetailBean)}"
                    		styleClass="Submit_button" oncomplete="if (!args.validationFailed) redirect()" update=":displayReportsForm"/>	
				
            </div>
        </p:tab>
    </p:tabView>   
 </h:form> 
</h:body>
</html>