<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui" 
	  xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
<style type="text/css">
	.content{margin:0px; padding:0px; height:800px;}

</style>
</h:head>
<h:body>
	<div class="content">
		<iframe  scrolling="no" frameborder="0" src="#{menuBean.adhocReportPage}" style="width:100%; height:315%; border:none;"  />
	</div>
</h:body>
</html>