<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>

</h:head>
<h:body>
<h:form id="cacheForm"  prependId="false">  
  <p:panel style="margin: 12% auto 0 !important;width: 650px;" >
    
     <p:tabView   id="tabView"> 
     
     <p:ajax event="tabChange"  />
			<f:param name="cid" value="#{javax.enterprise.context.conversation.id}" /> 
    <p:ajax  event="tabClose" />
    <p:tab title="Info"  closable="true"   >
      <h:panelGrid ></h:panelGrid>
      
    </p:tab >
    
      <p:tab title="Admin Users"  closable="true"   >
      <h:panelGrid ></h:panelGrid>
      
    </p:tab >
    
      <p:tab title="Modules"  closable="true"   >
     <p:panel id="modulesPanel">
     
     </p:panel>
      
    </p:tab >
  </p:tabView>  
    
    </p:panel>      
    </h:form>  
    
</h:body>
</html>