<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<p:messages id="dataUploadEditFormMSG" showDetail="true"
		autoUpdate="false" closable="true" />
	<h:form id="dataUploadEditForm">
  
		<p:panel styleClass="form_content formPadding" rendered="#{dataUploadBean.viewAddTempleteType}">
  			<h3>Add Template Type</h3>
			<div class="form_content_inner">
				<p:panelGrid id="du" columns="6" 
					rendered="#{dataUploadBean.viewAddTempleteType}">
					
					<p:outputLabel>
						<span class="redColor">*</span>Template Type Name:</p:outputLabel>
					<p:inputText value="#{dataUploadBean.templateTypeName}" />
					<p:outputLabel>
						<span class="redColor">*</span>Table:</p:outputLabel>
					<h:panelGroup>
                    <p:selectOneMenu id="tableSelectMenu" style="float:left;"
						value="#{dataUploadBean.uploadTableID}" filter="true"
						filterMatchMode="contains">
						<f:selectItems value="#{dataUploadBean.uploadTableDropDown}" />
						<p:ajax event="change"
							listener="#{dataUploadController.onTableSelection}"
							update=":dataUploadEditForm" />
					</p:selectOneMenu>
					<p:commandButton icon="ui-icon-pencil" styleClass="cancel_button" style="float:left; margin-left:5px;"
						title="Add/Edit" oncomplete="PF('tableDialog').show();" />
                        </h:panelGroup>
				</p:panelGrid>
			</div>
		</p:panel>
		
		
		<div class="listing_Table">
			<p:dataTable id="tableColumn" rowIndexVar="rowIndex"
				rendered="#{not empty dataUploadBean.columnList}"
				value="#{dataUploadBean.columnList}" var="tcolV">
				<p:column headerText="Column Name">
					<h:outputText value="#{tcolV.columnName}" />
				</p:column>
				<p:column headerText="Validation">
					<p:dataGrid var="validation" value="#{tcolV.validationList}"
						rowIndexVar="validationIndex" layout="grid" columns="1" >
						<h:panelGrid columns="2">
							<p:selectOneMenu value="#{validation.validationTypeID}" filter="true" filterMatchMode="contains">
								<f:selectItem itemLabel="Select One" itemValue="" />
								<f:selectItems value="#{dataUploadBean.validationList}"
								       var="data"
								       itemLabel="#{data.label}"
								       itemValue="#{data.validationTypeID}"/> 
							</p:selectOneMenu>
							<h:panelGroup>
								<p:commandButton
									action="#{dataUploadController.addValidation(rowIndex)}" styleClass="cancel_button"
									update=":dataUploadEditForm" icon="ui-icon-plus" />
								<p:commandButton
									action="#{dataUploadController.removeValidation(rowIndex,validationIndex)}" styleClass="cancel_button"
									update=":dataUploadEditForm"
									icon="ui-icon-close" />
							</h:panelGroup>
						</h:panelGrid>

					</p:dataGrid>
				</p:column>
				<p:column headerText="Data Upload Column Mapping">
					<p:inputText value="#{tcolV.dataUploadColumnName}" maxlength="200" size="100" />
				</p:column>
				<p:column headerText="Data Type">
					<h:outputText value="#{tcolV.dataType}" />
				</p:column>
			</p:dataTable>
		</div>

		<br/><br/>		
	 
		<div class="listing_Table">
			<p:dataTable id="attributeDataTable"
				rendered="#{not empty dataUploadBean.tableColumnTOList}"
				value="#{dataUploadBean.tableColumnTOList}" var="tcol">
				<p:column headerText="Column Name">
					<h:outputText value="#{tcol.columnName}" />
				</p:column>
				<p:column headerText="Attribute Name">
					<p:inputText value="#{tcol.attributeName}" />
				</p:column>
			</p:dataTable>
		</div>

		<p:commandButton value="Save Column" rendered="#{!dataUploadBean.viewMode and (not empty dataUploadBean.columnList)}"
			styleClass="Submit_button"
			action="#{dataUploadController.saveTableColumn}"
			update=":centerForm" onclick="scrollUp();" />
		<p:commandButton value="Save Template" rendered="#{!dataUploadBean.viewMode and (not empty dataUploadBean.tableColumnTOList)}"
			styleClass="Submit_button"
			action="#{dataUploadController.saveTemplateType}"
			update=":centerForm" onclick="scrollUp();" />
		<p:commandButton value="Cancel"
			action="#{dataUploadController.goBack}" styleClass="cancel_button"
			update=":centerForm" onclick="scrollUp();" />
	</h:form>

	<p:dialog widgetVar="tableDialog" styleClass="SelectDialog popup_width"
		header="Select Table" resizable="false" modal="true">
		<div class="listing">
			<h:form id="tableForm">
				<p:panelGrid columns="1">

					<h:outputText value="DataBase: " />
					<p:selectOneMenu value="#{dataUploadBean.persistenceUnitName}"
						filter="true" filterMatchMode="contains">
						<f:selectItem itemLabel="Select One" itemValue="" />
						<f:selectItem itemLabel="TalentPactAuth"
							itemValue="TalentPactAuth" />
						<f:selectItem itemLabel="TalentPactATS" itemValue="TalentPactATS" />
						<f:selectItem itemLabel="AltCommon" itemValue="AltCommon" />
						<f:selectItem itemLabel="TalentPact" itemValue="TalentPact" />
						<f:selectItem itemLabel="AltDataManager"
							itemValue="AltDataManager" />
						<p:ajax event="change"
							listener="#{dataUploadController.searchTable}"
							update=":tableForm:tableDataTable" />
					</p:selectOneMenu>

					<h:outputText value="Table: " />
					<div class="listing_Table">
						<p:dataTable id="tableDataTable"
							value="#{dataUploadBean.tableNames}" var="tname"
							filteredValue="#{dataUploadBean.tableNamesFiltered}"
							style="width:100%;left:0px;top:21px;border:1px;" rows="10"
							first="0" paginator="true" rowsPerPageTemplate="10,20,30"
							styleClass="table-header" widgetVar="tableList"
							rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
							paginatorPosition="bottom">
						<p:columnGroup type="header">
							<p:row>
								<p:column headerText="Table Name" sortBy="#{tname}" />
							</p:row>
							<p:row>
								<p:column filterMatchMode="contains" filterBy="#{tname}" />
							</p:row>
						</p:columnGroup>
							<p:column>
								<p:commandLink value="#{tname}"
									oncomplete="PF('tableDialog').hide();"
									action="#{dataUploadController.getTableColumn(tname)}"
									update=":dataUploadEditForm,:dataUploadEditFormMSG" />
							</p:column>
						</p:dataTable>
					</div>

				</p:panelGrid>
			</h:form>
		</div>
	</p:dialog>

</ui:composition>

