<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="dataUploadSetupForm">
	<p:messages id="messages" showDetail="true" autoUpdate="false"
		closable="true" />
	<label class="Page_Tittle">Data Upload Type List</label>
		<p:commandButton styleClass="btn_right cancel_button"  title="Add New Template" icon="ui-icon-plus" onclick="scrollUp();"
			action="#{dataUploadController.addTemplateType}" update=":centerForm" />
		
		<div class="listing_Table">
		<p:dataTable value="#{dataUploadBean.templateTypeTOList}"
			var="templateType"  filteredValue="#{dataUploadBean.templateTypeFilteredTOList}" rows="14"
				rowsPerPageTemplate="10,20,30" paginatorPosition="bottom" paginator="true" >
			<p:column headerText="TemplateType" sortBy="#{templateType.templateTypeName}"
					filterBy="#{templateType.templateTypeName}">
			<p:commandLink value="#{templateType.templateTypeName}" action="#{dataUploadController.viewTemplateType(templateType)}" update=":centerForm"/>
			</p:column>
			<p:column headerText="TableName" sortBy="#{templateType.uploadTableName}"
					filterBy="#{templateType.uploadTableName}">
				<h:outputText value="#{templateType.uploadTableName}" />
			</p:column>
			<p:column headerText="DataBaseName" sortBy="#{templateType.databaseName}"
					filterBy="#{templateType.databaseName}">
				<h:outputText value="#{templateType.databaseName}" />
			</p:column>
			<p:column headerText="Action" rendered="false">
				<p:commandLink 
					action="#{dataUploadController.deleteTemplateType(templateType)}"
					value="delete" update=":centerForm" />
			</p:column>
		</p:dataTable>
		</div>
	</h:form>
</ui:composition>