<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:c="http://java.sun.com/jsf/core"
  xmlns:ui = "http://java.sun.com/jsf/facelets"
  xmlns:h = "http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>AdHoc Report</title>
</h:head>
<h:body>
<h:form id="form">
	<p:inputTextarea readonly="true" rows="20" cols="150" value="#{reportDetailBean.selectedReportQuery}"></p:inputTextarea>
	<p:commandButton value="Execute Query" id="submitButton" 
		actionListener="#{reportDisplayController.executeSelectedReportQuery(reportDetailBean)}" action="displayReportData.xhtml"/>
</h:form> 
</h:body>
</html>