<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:c="http://java.sun.com/jsf/core"
  xmlns:ui = "http://java.sun.com/jsf/facelets"
  xmlns:h = "http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui">  
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>AdHoc Report</title>
<link href="css/adhocreports_gray.css" type="text/css" rel="stylesheet" media="all" />
	<link href="css/custom-scrollbar.css" type="text/css" rel="stylesheet" />
	  <script type="text/javascript">
            function back() {
               window.location="./viewAdhocReport.jsf";
            }
      </script>
</h:head>
<h:body>
<h:form id="form">
	<p:outputLabel styleClass="bold-text" value="Report Name : "></p:outputLabel>
    <p:outputLabel styleClass="bold-text" value="#{reportDetailBean.reportNameForCreation}"></p:outputLabel>
	<div class="table-listing broken_table">
    <p:dataTable id="reportDataTable" var="reportData" value="#{reportDetailBean.reportData}" rowIndexVar="rowKey"
                        paginator="true" paginatorAlwaysVisible="true" rows="10"
                        rowsPerPageTemplate="10,20,30" paginatorPosition="bottom" first="0"  tableStyle="table-layout: auto;">
   	 	<p:column headerText="">
		<h:outputText value="#{rowKey+1}"></h:outputText>
		</p:column>                    
        <p:columns value="#{reportDetailBean.reportHeaders}" var="column" columnIndexVar="colIndex">
            <c:facet name="header">
                <h:outputText value="#{column}" />
            </c:facet>
			<p:row rendered="#{reportDetailBean.cssDetails.get(colIndex) != null}">
					<h:outputText value="#{reportData[colIndex]}" 
						styleClass="#{reportData[colIndex] == reportDetailBean.cssDetails.get(colIndex).value ? reportDetailBean.cssDetails.get(colIndex).cssClassName : ''}" 
						rendered="#{reportDetailBean.cssDetails.get(colIndex).operator.operatorValue eq '=='}"/>
					<h:outputText value="#{reportData[colIndex]}" 
						styleClass="#{reportData[colIndex] ge reportDetailBean.cssDetails.get(colIndex).value ? reportDetailBean.cssDetails.get(colIndex).cssClassName : ''}" 
						rendered="#{reportDetailBean.cssDetails.get(colIndex).operator.operatorValue eq '&gt;='}"/>
					<h:outputText value="#{reportData[colIndex]}" 
						styleClass="#{reportData[colIndex] le reportDetailBean.cssDetails.get(colIndex).value ? reportDetailBean.cssDetails.get(colIndex).cssClassName : ''}" 
						rendered="#{reportDetailBean.cssDetails.get(colIndex).operator.operatorValue eq '&lt;='}"/>
					<h:outputText value="#{reportData[colIndex]}" 
						styleClass="#{reportData[colIndex] ne reportDetailBean.cssDetails.get(colIndex).value ? reportDetailBean.cssDetails.get(colIndex).cssClassName : ''}" 
						rendered="#{reportDetailBean.cssDetails.get(colIndex).operator.operatorValue eq '!='}"/>
					<h:outputText value="#{reportData[colIndex]}" 
						styleClass="#{reportData[colIndex] ne reportDetailBean.cssDetails.get(colIndex).value ? reportDetailBean.cssDetails.get(colIndex).cssClassName : ''}" 
						rendered="#{reportDetailBean.cssDetails.get(colIndex).operator.operatorValue eq '&lt;&gt;'}"/>
					<h:outputText value="#{reportData[colIndex]}" 
						styleClass="#{reportData[colIndex] gt reportDetailBean.cssDetails.get(colIndex).value ? reportDetailBean.cssDetails.get(colIndex).cssClassName : ''}" 
						rendered="#{reportDetailBean.cssDetails.get(colIndex).operator.operatorValue eq '&gt;'}"/>
					<h:outputText value="#{reportData[colIndex]}" 
						styleClass="#{reportData[colIndex] lt reportDetailBean.cssDetails.get(colIndex).value ? reportDetailBean.cssDetails.get(colIndex).cssClassName : ''}" 
						rendered="#{reportDetailBean.cssDetails.get(colIndex).operator.operatorValue eq '&lt;'}"/>
					<h:outputText value="#{reportData[colIndex]}" 
						styleClass="#{reportData[colIndex] == reportDetailBean.cssDetails.get(colIndex).value ? reportDetailBean.cssDetails.get(colIndex).cssClassName : ''}" 
						rendered="#{reportDetailBean.cssDetails.get(colIndex).operator.operatorValue eq '='}"/>
			</p:row>
			<p:row rendered="#{reportDetailBean.cssDetails.get(colIndex) == null}">
				<h:outputText value="#{reportData[colIndex]}"/>
			</p:row>
		</p:columns>
    </p:dataTable>
	</div>
	<div>
	<p:commandButton value="Back" title="Back" styleClass="cancel_button" onclick="back()" />
	</div>
</h:form> 
</h:body>
</html>