<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
	
	
	</h:head>
	<h:body>

		<p:layout fullPage="true">
			
			<p:layoutUnit id="top" position="north" size="90" style="height:100px;">
				<h:form id="topForm" styleClass="colorBackground">
				 <h:panelGrid columns="2" width="150%">
				  
	           <p:graphicImage value="" style="border:none;width:auto;height:10%;">
						</p:graphicImage>
	            <h:panelGroup>
						<p:graphicImage value=""  style="border:none" height="28px" width="28px">
						</p:graphicImage>
					
				 <p:splitButton id="userName" value="Welcome- ">
						<p:menuitem value="Logout">	</p:menuitem>
							<p:menuitem value="Change Password"></p:menuitem>
						</p:splitButton>
				</h:panelGroup>	
				
				</h:panelGrid>
					<p:menubar id="topBar" model="#{menuBean.menuBarmodel}"
						autoDisplay="false" update=":centerForm" />
				
				</h:form>

			</p:layoutUnit>

			<p:layoutUnit id="bottom" position="south" size="30"
				collapsible="true">
				<h:form id="bottomForm" styleClass="colorBackground">
					<h:outputText value="Footer" style="text-align:center"></h:outputText>
				</h:form>
			</p:layoutUnit>

			<p:layoutUnit id="left" position="west" size="300" resizable="true"
				closable="true" minSize="200">
				<h:form id="leftForm">
					<h:panelGrid id="menuLeft" rendered="#{menuBean.showLeftMenu}">

						<p:menu id="menuLeft2" model="#{menuBean.model}"
							update=":centerForm" />

					</h:panelGrid>
					<h:panelGrid id="birthDay" rendered="#{menuBean.showLeftLinks}" >
						
						<h:outputText value="Useful Links" />
						<h:link value="www.google.com"></h:link>
                         <h:link value="www.rediff.com"></h:link>
                         <h:link value="www.yahoo.com"></h:link>
					</h:panelGrid>

				</h:form>

			</p:layoutUnit>

			<p:layoutUnit id="right" position="east" size="250" resizable="true"
				closable="true" style="text-align:center">


			</p:layoutUnit>

			<p:layoutUnit id="center" position="center">
				<h:form id="centerForm" styleClass="colorBackground">
					<ui:include src="body.xhtml">

					</ui:include>
				</h:form>



			</p:layoutUnit>

		</p:layout>


	</h:body>
</ui:composition>

