<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
	
	</h:head>
	<h:body>

		<p:layout fullPage="true">  
  
    <p:layoutUnit position="north" size="100" header="Top" resizable="true" closable="true" collapsible="true">  
        <h:outputText value="North unit content." />  
<h:form>       
<p:menubar id="topBar" model="#{menuBean.menuBarmodel}" update=":centerForm"
						autoDisplay="false"  />

</h:form>
    </p:layoutUnit>  
  
    <p:layoutUnit position="south" size="100" header="Bottom" resizable="true" closable="true" collapsible="true">  
        <h:outputText value="South unit content." />  
    </p:layoutUnit>  
  
    <p:layoutUnit position="west" size="200" header="Left" resizable="true" closable="true" collapsible="true">  
       
       <h:form id="leftForm">
        <h:outputText value="West unit content." />  
      </h:form>
    </p:layoutUnit>  
  
    <p:layoutUnit position="east" size="200" header="Right" resizable="true" closable="true" collapsible="true" effect="drop">  
        <h:outputText value="Right unit content." />  
    </p:layoutUnit>  
  
    <p:layoutUnit position="center">  
       <h:form id="centerForm" styleClass="colorBackground">
      
        </h:form>  
    </p:layoutUnit>  

</p:layout>
	</h:body>
</ui:composition>

