<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
<link rel="stylesheet" type="text/css" href="css/template_custom.css"></link>  

	</h:head>
	<h:body>
	<h:outputLabel> Organization Level  </h:outputLabel>
 		<p:layout fullPage="true">  
  
    <p:layoutUnit position="north" size="100" header="" resizable="true" styleClass="panel panel-primary">  

<h:panelGrid columns="2"> 

<div class="navbar-collapse collapse navbar-responsive-collapse">       
<h:form style="width:1100px;" >       
<p:menubar id="topBar" model="#{menuBean.menuBarmodel}" update=":centerForm"
						autoDisplay="false"  />

</h:form>
</div>
<h:panelGrid>


<!--div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>

<div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
    <li class="dropdown open">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Dropdown header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li> 
      </ul>
      </div>
      </div>  -->
      
 <h:form>
 <p:splitButton value="Logout" actionListener="#{loginActionController.logout}" >
        <p:menuitem value="Update" />
 
    </p:splitButton>
    </h:form>
    </h:panelGrid>
    
   </h:panelGrid> 
    </p:layoutUnit>  
  
    <p:layoutUnit position="south" size="100" header="" resizable="true" >  
       
    </p:layoutUnit>  
  
    <p:layoutUnit position="west" size="200" header="" resizable="true" >  
      <h:form id="leftForm" class="form-horizontal">
					<h:panelGrid id="menuLeft" rendered="true">
						<p:menu id="menuLeft2" model="#{menuBean.model}"
							update=":centerForm" />
					</h:panelGrid>
				</h:form>
      </p:layoutUnit>  
  
    <p:layoutUnit position="east" size="200" header="" resizable="true"  effect="drop">  
         
    </p:layoutUnit>  
  
    <p:layoutUnit position="center">  
       <h:form id="centerForm" styleClass="colorBackground">
        <ui:include src="#{menuBean.page}">
        </ui:include>
 
        </h:form>  
    </p:layoutUnit>  

</p:layout>
	</h:body>
</ui:composition>

