<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<link rel="stylesheet" type="text/css" href="css/template_custom.css"></link>
	</h:head>
	<h:body>
		<script type="text/javascript">
			$(function() {
				$(document).keydown(function(e) {
					return (e.which || e.keyCode) != 116;
				});
			});
		</script>
		<script type="text/javascript">
			$(function() {
				$(document).keydown(function(e) {
					return (e.which || e.keyCode) != 82;
				});
			});
		</script>

		<p:layout fullPage="true">

			<p:layoutUnit position="north" size="100" header="" resizable="true"
				styleClass="panel panel-primary">

				<h:panelGrid columns="2">
"src/main/webapp/cache.xhtml"
					<div class="navbar-collapse collapse navbar-responsive-collapse">
						<h:form style="width:1100px;">
							<p:menubar id="topBar" model="#{menuBean.menuBarmodel}"
								update=":centerForm" autoDisplay="false" />

						</h:form>
					</div>

					<h:panelGrid>


						<h:form>
							<p:splitButton value="Logout"
								actionListener="#{loginActionController.logout}">
								<p:menuitem value="Update" />

							</p:splitButton>
						</h:form>
					</h:panelGrid>

				</h:panelGrid>
			</p:layoutUnit>

			<p:layoutUnit position="south" size="100" header="" resizable="true">

			</p:layoutUnit>

			<p:layoutUnit position="west" size="200" header="" resizable="true">
				<h:form id="leftForm" class="form-horizontal">
					<h:panelGrid id="menuLeft" rendered="true">
						<p:menu id="menuLeft2" model="#{menuBean.model}"
							update=":centerForm" />
					</h:panelGrid>
				</h:form>
			</p:layoutUnit>



			</p:layoutUnit>

			<p:layoutUnit position="center">
				<h:panelGroup id="centerForm" styleClass="colorBackground">
					<ui:include src="#{menuBean.page}">
					</ui:include>

				</h:panelGroup>
			</p:layoutUnit>

		</p:layout>
	</h:body>
</ui:composition>

