<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<link rel="stylesheet" type="text/css" href="css/home.css"></link>  
</h:head>

<h:body>
	<div class="header">
		<div class="fl"><img src="images/pslogo.png" /></div>
    	<div class="fr logout">
            <h:form>
                <p:splitButton value="Logout" align="right" actionListener="#{loginActionController.logout}">
                    <p:menuitem value="Update" />
                </p:splitButton>
            </h:form>
        </div>
        <div class="fc"></div>
    </div>
    <div class="menu">
    	<h:form><p:menubar model="#{menuBean.menuBarmodel}"	update=":centerForm" autoDisplay="false" /></h:form>
    </div>
    <div>
        <h:form id="leftForm">
            <div class="fl leftside" id="menuLeft" rendered="true">
                <p:menu id="menuLeft2" model="#{menuBean.model}" update=":centerForm" />
            </div>
        </h:form>      
        <h:form id="centerForm">
            <div class="fl central"><ui:include src="#{menuBean.page}"></ui:include></div>
        </h:form>
        <div class="fc"></div>
    </div>						
</h:body>
</ui:composition>

