<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<link rel="icon" type="image/png" href="/images/diffcgfa.png"/>
<title>Welcome to Super Admin Portal</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
</h:head>
<h:body class="back">
	<div class="header"><img src="images/pslogo.png" /></div>
    <div class="side_img"><img src="images/leftbrending_img.png" /></div>
    <div>
    	<div class="left">  
            <h:form id="loginForm" prependId="false">
            <p:growl id="growl" closable="true" sticky="true"/>
                <div class="centerpart">
                    <h4>Login to Super Admin</h4>
                    <label for="">Username</label>   
                    <div class="controls"><p:inputText value="#{loginBean.userName}" id="username" label="username" /></div>
                    <label for="">Password</label>  
                    <div class="controls"><p:password value="#{loginBean.password}" id="password"  label="password" /></div> 
 					<p:selectOneMenu value="#{loginBean.level}" styleClass="selectcont">
                        <f:selectItem itemLabel="System" itemValue="System" /> 
                       </p:selectOneMenu>
                    <p:commandButton id="loginButton" value="Login" styleClass="btn" actionListener="#{loginActionController.login}" update="loginForm:growl"/>  
                    <f:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
                    <div class="copyright">Powered by<br /><span class="ps">PeopleStrong</span><br /> 2014 PeopleStrong HR Services Pvt Ltd</div>
                </div>
            </h:form>  
        </div>
        <div class="right"><img src="images/logbckone.png" /></div>
        <div class="fc"></div>
    </div>
</h:body>
</html>