<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<link rel="icon" type="image/png" href="/images/diffcgfa.png"/>
<title>SuperAdmin Session Timeout Page</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
</h:head>
<h:body style="background:#C7C9CB;">
<h:form id="logout" prependId="false">
    <div class="header"><img src="images/pslogo.png" /></div>
    <p:panel id="logoutPanel" styleClass="logout">
    	<img src="images/alt_headline.png" />
    	<div><p:commandLink id="logoutLing" value="Login Again" actionListener="#{loginActionController.loginPage}"/>
      	<f:param name="cid" value="#{javax.enterprise.context.conversation.id}" /></div>
    </p:panel>
</h:form>
</h:body>
</html>