<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<style>
.vendor_popup_width {
	width: 845px !important;
	overflow-x: hidden;
}
.ui-selectcheckboxmenu-header .ui-chkbox {
	cursor: pointer;
	display: none !important;
	float: left;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container {
	float: left;
	margin-left: 0px !important;
	position: relative;
	width: 135px;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-icon {
    position: absolute;
    right: -0px !important; 
    top: 2px;
}


</style>

	<div class="org_content">
		<p:tabView id="tabView">
			<p:tab title="Basic">
				<h:form id="organizationForm1">
					<div class="form_content">
						<h3>Organization Information</h3>
						<p:messages id="msgs" autoUpdate="true" closable="true" />
						<table cellpadding="0" cellspacing="10">
							<tr>
								<td class="leftpanel"><h:outputLabel> Tenant :</h:outputLabel></td>
								<td><p:selectOneMenu
										value="#{newOrganizationBean.tenantID}" filter="true"
										filterMatchMode="contains">
										<f:selectItems value="#{newOrganizationBean.tenantResTOList}" />
										<p:ajax
											listener="#{newOrganiztionController.changeDatabaseOnTenantChange}"
											update=":tabView:organizationForm1" />
									</p:selectOneMenu></td>
								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span> Organization Name :</h:outputLabel></td>
								<td><p:inputText value="#{newOrganizationBean.orgName}"
										required="true" requiredMessage="Enter Orgnisation name" /></td>
							</tr>
							<tr>
								<td class="leftpanel"><h:outputLabel lang="tr">
										<span class="redColor">*</span> Organization Code :</h:outputLabel></td>
								<td><p:inputText value="#{newOrganizationBean.orgCode}"
										required="true" requiredMessage="Enter Orgnisation code" /></td>
								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>Maximum Employee Count :</h:outputLabel></td>
								<td><p:inputText
										value="#{newOrganizationBean.employeeCount}" required="true"
										requiredMessage="Enter Maximum Employee Count " /></td>
							</tr>
							<tr>
								<td class="leftpanel"><h:outputLabel> Status :</h:outputLabel></td>
								<td><p:selectOneMenu
										value="#{newOrganizationBean.statusID}" filter="true"
										filterMatchMode="contains">
										<f:selectItem itemLabel="Open" itemValue="1" />
										<f:selectItem itemLabel="Inactive" itemValue="2" />
										<f:selectItem itemLabel="Closed" itemValue="3" />
									</p:selectOneMenu></td>
								<td class="leftpanel"><h:outputLabel>Data Location :</h:outputLabel></td>
								<td><p:inputText
										value="#{newOrganizationBean.dataLocation}" /></td>
							</tr>
							<tr>
								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>Contract Signed Date :</h:outputLabel></td>
								<td><p:calendar
										value="#{newOrganizationBean.contractSignedDate}"
										showOn="button" id="contractSignedDate" navigator="true"
										required="true" requiredMessage="Enter Contract Signed Date"
										readonlyInput="true" /></td>
								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>Effective From Date :</h:outputLabel></td>
								<td><p:calendar
										value="#{newOrganizationBean.effectiveFromDate}"
										showOn="button" id="effectiveDateFrom" navigator="true"
										required="true" requiredMessage="Enter Effective From "
										readonlyInput="true" /></td>
							</tr>
							<tr>
								<td class="leftpanel"><h:outputLabel><span class="redColor">*</span>Effective TO Date :</h:outputLabel></td>
								<td><p:calendar
										value="#{newOrganizationBean.effectiveTODate}" showOn="button"
										id="effectiveDateTO" navigator="true" required="true"
										requiredMessage="Enter Effective TO " readonlyInput="true" /></td>

								<td class="leftpanel"><h:outputLabel>Languages :</h:outputLabel></td>
								<td><p:selectCheckboxMenu
										value="#{newOrganizationBean.selectedBundleIds}"
										label="#{newOrganizationBean.selectedLanguages}">
										<f:selectItems value="#{newOrganizationBean.sysBundle}"
											var="entry" itemValue="#{entry.bundleId}"
											itemLabel="#{entry.name}" />
									</p:selectCheckboxMenu></td>
							</tr>
							<tr>
								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>Address Line 1:</h:outputLabel></td>
								<td><p:inputText value="#{newOrganizationBean.line1}"
										maxlenght="1000" required="true"
										requiredMessage="Please select valid address" /></td>


								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>Country :</h:outputLabel></td>
								<td><p:selectOneMenu id="country"
										value="#{newOrganizationBean.country}" style="width:150px"
										filter="true" filterMatchMode="contains" required="true"
										requiredMessage="Please select valid country">
										<f:selectItem itemLabel="Please Select" itemValue=""
											noSelectionOption="true" />
										<f:selectItems var="record"
											value="#{newOrganizationBean.countryTOList}"
											itemLabel="#{record.country}" itemValue="#{record.country}" />
										<p:ajax process="@this"
											update=":tabView:organizationForm1:state,:tabView:organizationForm1:district,:tabView:organizationForm1:city,:tabView:organizationForm1:zip"
											listener="#{newOrganiztionController.getStateDropDown(newOrganizationBean.country)}"></p:ajax>
									</p:selectOneMenu></td>

							</tr>
							<tr>
								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>State :</h:outputLabel></td>
								<td><p:selectOneMenu id="state"
										value="#{newOrganizationBean.state}" style="width:150px"
										filter="true" filterMatchMode="contains" required="true"
										requiredMessage="Please select valid state">
										<f:selectItem itemLabel="Please Select" itemValue=""
											noSelectionOption="true" />
										<f:selectItems var="record"
											value="#{newOrganizationBean.stateTOList}"
											itemLabel="#{record.state}" itemValue="#{record.state}" />
										<p:ajax
											update=":tabView:organizationForm1:district,:tabView:organizationForm1:city,:tabView:organizationForm1:zip"
											listener="#{newOrganiztionController.getDistrictDropDown(newOrganizationBean.state)}"></p:ajax>
									</p:selectOneMenu></td>


								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>District :</h:outputLabel></td>
								<td><p:selectOneMenu id="district"
										value="#{newOrganizationBean.district}" style="width:150px"
										filter="true" filterMatchMode="contains" required="true"
										requiredMessage="Please select valid district">
										<f:selectItem itemLabel="Please Select" itemValue=""
											noSelectionOption="true" />
										<f:selectItems var="record"
											value="#{newOrganizationBean.districtTOList}"
											itemLabel="#{record.district}" itemValue="#{record.district}" />
										<p:ajax
											update=":tabView:organizationForm1:city,:tabView:organizationForm1:zip"
											listener="#{newOrganiztionController.getCityDropDown(newOrganizationBean.district)}"></p:ajax>
									</p:selectOneMenu></td>
							</tr>

							<tr>
								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>City :</h:outputLabel></td>
								<td><p:selectOneMenu id="city"
										value="#{newOrganizationBean.cityID}" style="width:150px"
										filter="true" filterMatchMode="contains" required="true"
										requiredMessage="Please select valid city">
										<f:selectItem itemLabel="Please Select" itemValue=""
											noSelectionOption="true" />
										<f:selectItems var="record"
											value="#{newOrganizationBean.cityTOList}"
											itemLabel="#{record.city}" itemValue="#{record.cityID}" />
										<p:ajax update=":tabView:organizationForm1:zip"
											listener="#{newOrganiztionController.getZipCodeDropDown(newOrganizationBean.cityID)}"></p:ajax>
									</p:selectOneMenu></td>

								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>Zip Code:</h:outputLabel></td>
								<td><p:selectOneMenu id="zip"
										value="#{newOrganizationBean.zipCode}" style="width:150px"
										filter="true" filterMatchMode="contains" required="true"
										requiredMessage="Please select valid zipCode">
										<f:selectItem itemLabel="Please Select" itemValue=""
											noSelectionOption="true" />
										<f:selectItems var="record"
											value="#{newOrganizationBean.zipCodeTOList}"
											itemLabel="#{record.zipCode}" itemValue="#{record.zipCode}" />
									</p:selectOneMenu></td>
							</tr>
							<tr>
								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>Organization Email:</h:outputLabel></td>
								<td><p:inputText value="#{newOrganizationBean.email}"
									required="true"
									requiredMessage="Please enter organization email"	maxlenght="50" /></td>


								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>Sector:</h:outputLabel></td>
								<td><p:selectOneMenu id="sector"
										value="#{newOrganizationBean.sectorID}" style="width:150px"
										filter="true" filterMatchMode="contains" required="true"
										requiredMessage="Please select valid sector">
										<f:selectItem itemLabel="Please Select" itemValue=""
											noSelectionOption="true" />
										<f:selectItems var="record"
											value="#{newOrganizationBean.sectorTOList}"
											itemLabel="#{record.sector}" itemValue="#{record.sectorID}" />
									</p:selectOneMenu></td>

							</tr>
							<tr>
								<td class="leftpanel"><h:outputLabel>Setup Amount:</h:outputLabel></td>
								<td><p:inputText value="#{newOrganizationBean.setupCost}"
										maxlenght="50" /></td>



								<td class="leftpanel"><h:outputLabel>Recurring Per Month Amount:</h:outputLabel></td>
								<td><p:inputText
										value="#{newOrganizationBean.recurringPerMonthAmount }"
										maxlenght="50" /></td>

							</tr>


							<tr>
								<td class="leftpanel"><h:outputLabel>Customization Amount:</h:outputLabel></td>
								<td><p:inputText
										value="#{newOrganizationBean.customizationAmount}"
										maxlenght="50" /></td>

								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>Government Financial Year Start Date :</h:outputLabel></td>
								<td><p:calendar
										value="#{newOrganizationBean.govtFinancialStartDate}"
										showOn="button" id="govtFinancialStartDate" navigator="true"
										required="true"
										requiredMessage="Government Financial Year Start Date"
										readonlyInput="true" /></td>
							</tr>

							<tr>
								<td class="leftpanel"><h:outputLabel>
										<span class="redColor">*</span>Login User Type :</h:outputLabel></td>
								<td><p:selectOneMenu id="userType"
										value="#{newOrganizationBean.sysContentTypeID}"
										style="width:150px" filter="true" filterMatchMode="contains"
										required="true"
										requiredMessage="Please select valid user Type">
										<f:selectItem itemLabel="Please Select" itemValue=""
											noSelectionOption="true" />
										<f:selectItems var="record"
											value="#{newOrganizationBean.sysContentTypeTOList}"
											itemLabel="#{record.sysType}" itemValue="#{record.sysTypeID}" />
									</p:selectOneMenu></td>

								<td class="leftpanel"><h:outputLabel>Attendance Distance Limit:</h:outputLabel></td>
								<td><p:inputText
										value="#{newOrganizationBean.attendanceDistanceLimit}"
										maxlength="8" /></td>

							</tr>
							<tr>
								<td><p:outputLabel value="Send Welcome Mail:" /></td>
								<td><p:selectBooleanCheckbox
										value="#{newOrganizationBean.welcomeMail}">
									</p:selectBooleanCheckbox></td>
									</tr>
<tr>						
								<td><p:outputLabel value="MobileSessionTimeout:(in minutes)" /></td>

						<td><p:inputText id="mobileSessionTimeout"
										value="#{newOrganizationBean.mobileSessionTimeout}"
										maxlength="4"  onkeypress="return isNumber(event)" >
											</p:inputText>
										</td>
								<td><p:outputLabel value="Messenger Enabled" /></td>
								<td><p:selectBooleanCheckbox
										value="#{newOrganizationBean.messengerEnabled}">
									</p:selectBooleanCheckbox></td>
							</tr>
							<tr>
								<td><p:outputLabel value="Login Server Setting" /></td>
		
		<td>
		<p:selectCheckboxMenu  value="#{newOrganizationBean.selectedLoginServerTypes}" label="--Select Login Server---"
                              filter="true" filterMatchMode="startsWith" panelStyle="width:162px">
            <f:selectItems value="#{newOrganizationBean.loginServerTypeList}" var="serverType" itemLabel="#{serverType.typeName}" itemValue="#{serverType.loginTypeID}"	/>
				<p:ajax event="change" update="loginServerPanel"
										listener="#{newOrganiztionController.updateLoginServerPanel}" >
									</p:ajax>
        </p:selectCheckboxMenu>	 
	</td>
	
							</tr>
							
							
							
							<tr>
							
								<td><p:outputLabel value="Partner Apps" /></td>
		
		<td>
		<p:selectCheckboxMenu  value="#{newOrganizationBean.selectedPartnerAppList}" label="--Select Partner App ---"
                              filter="true" filterMatchMode="startsWith" panelStyle="width:162px">
            <f:selectItems value="#{newOrganizationBean.partnerAppList}" var="partnerApp" itemLabel="#{partnerApp.name}" itemValue="#{partnerApp.appID}"	/>
        </p:selectCheckboxMenu>	 
	</td>
	
							</tr>
							<tr>
								<td><p:outputLabel value="Custom Apps" /></td>
		
		<td>
		<p:selectCheckboxMenu  value="#{newOrganizationBean.selectedCustomAppList}" label="--Select Custom App---"
                              filter="true" filterMatchMode="startsWith" panelStyle="width:162px">
            <f:selectItems value="#{newOrganizationBean.customAppList}" var="customApp" itemLabel="#{customApp.name}" itemValue="#{customApp.appID}"	/>
				<p:ajax event="change" update="loginServerPanel"
										listener="#{newOrganiztionController.updateLoginServerPanel}" >
									</p:ajax>
        </p:selectCheckboxMenu>	 
	</td>
	
							</tr>
							
							
							
									
						</table>
					</div>
					<br />
					<br />
<p:outputPanel id="loginServerPanel" style="display: #{newOrganizationBean.renderLoginServerPanel==true?'':'none'};">
			<div class="form_content" style="display: #{(newOrganizationBean.renderLADP==true or newOrganizationBean.renderSP==true or newOrganizationBean.socialAppSettingTOList.size()>0)?'':'none'};">
									<h3>Default Login Server</h3>
<h:selectOneRadio  value="#{newOrganizationBean.defaultLoginServer}"  layout="grid" columns="3">
            <f:selectItems value="#{newOrganizationBean.selectedLoginServerList}" />
			<f:selectItem itemLabel="None" itemValue="None" />
        </h:selectOneRadio>
</div>
		

					<div class="form_content" style="display: #{newOrganizationBean.renderLADP==true?'':'none'};">
						<h3>LDAP INFO</h3>

						<h:panelGrid columns="6" >

							<p:outputLabel>	Ldap Server</p:outputLabel>
							<p:inputText id="LdapServer" maxlength="500"
								value="#{newOrganizationBean.ldapServer}"  />

							<p:outputLabel>Ldap Search Base</p:outputLabel>
							<p:inputText id="LdapSearchBase" maxlength="50"
								value="#{newOrganizationBean.ldapSearchBase}" />

							<p:outputLabel>	Ldap Domain</p:outputLabel>
							<p:inputText id="ldapDomain" maxlength="50"
								value="#{newOrganizationBean.ldapDomain}" />

							<p:outputLabel>Ldap Active</p:outputLabel>
							<p:selectBooleanCheckbox id="LdapActive" maxlength="50"
								value="#{newOrganizationBean.ldapActive}" />

							<p:outputLabel>Ldap Windows Authentication</p:outputLabel>
							<p:selectBooleanCheckbox id="LdapWindowsAuthentication"
								value="#{newOrganizationBean.ldapWindowsAuthentication}" />
								
							<p:outputLabel>	Ldap Logout URL</p:outputLabel>
							<p:inputText id="ldapLogoutUrl" 
								value="#{newOrganizationBean.ldapLogoutUrl}" />

								
						</h:panelGrid>

					</div>

<ui:repeat value="#{newOrganizationBean.socialAppSettingTOList}" var="loginServer" size="#{newOrganizationBean.socialAppSettingTOList.size()}">
					<div class="form_content" >
						<h3>#{loginServer.socialAppType} INFO</h3>
						<h:panelGrid columns="6">
                  		<p:outputLabel>	SocialAppName</p:outputLabel>
							<p:inputText  
								value="#{loginServer.appName}"  />
						
							<p:outputLabel>	ApiKey</p:outputLabel>
							<p:inputText  
								value="#{loginServer.appKey}" />

							<p:outputLabel>SecretKey</p:outputLabel>
							<p:inputText 
								value="#{loginServer.appSecretKey}"  />

							<p:outputLabel>ClientID</p:outputLabel>
							<p:inputText  
								value="#{loginServer.clientID}"  />

								
							<p:outputLabel>RedirectUri</p:outputLabel>
							<p:inputText  
								value="#{loginServer.redirectUrl}"/>

							<p:outputLabel>AccessLevel</p:outputLabel>
							<p:inputText  
								value="#{loginServer.accessLevel}"/>
								
	<p:outputLabel>ForwardUri</p:outputLabel>
							<p:inputText  
								value="#{loginServer.forwardUrl}" />

																					
<p:outputLabel>DefaultCSS</p:outputLabel>
							<p:inputText  
							value="#{loginServer.defaultCSS}" />
		<p:outputLabel>Is Active</p:outputLabel>
							<p:selectBooleanCheckbox value="#{loginServer.active}" />

						</h:panelGrid>
					</div>
</ui:repeat>

					<div class="form_content" style="display: #{newOrganizationBean.renderSP==true?'':'none'};">
						<h3>SP INFO</h3>

						<h:panelGrid columns="6" >

							<p:outputLabel>	SP Server</p:outputLabel>
							<p:inputText id="SpServer" maxlength="500"
								value="#{newOrganizationBean.spServer}"  />
								
							<p:outputLabel>	SP Logout URL</p:outputLabel>
							<p:inputText id="SpLogoutUrl" 
								value="#{newOrganizationBean.spLogoutUrl}" />
							

							<p:outputLabel>SP Active</p:outputLabel>
							<p:selectBooleanCheckbox id="SpActive" maxlength="50"
								value="#{newOrganizationBean.spActive}" />
								
								
							<p:outputLabel>SP Default Redirect</p:outputLabel>
							<p:selectBooleanCheckbox id="SpWindowsAuthentication"
								value="#{newOrganizationBean.ldapWindowsAuthentication}" />

						</h:panelGrid>
					</div>
					
					</p:outputPanel>






					<br />
					<br />
					<div class="listing_Table org">
						<h3>Configure Application:</h3>
						<div class="listing_Table">
							<p:dataTable id="appDivConfg" var="app"
								value="#{newOrganizationBean.orgAppPortalTreeTO.appList}">
								<p:column headerText="Applications">
									<b><h:outputText value="#{app.appName}"
											style="display:block;" /></b>

									<div class="#{app.appName}"></div>
									<br> </br>
									<p:column>
										<h:outputLabel value="Database:" rendered="true"></h:outputLabel>
										<p:selectOneMenu value="#{app.database}" filter="true"
											filterMatchMode="contains">
											<f:selectItem itemLabel="Select one Databse" itemValue="" />
											<f:selectItems
												value="#{newOrganizationBean.metaDatabaseList}" />
										</p:selectOneMenu>
									</p:column>
									<br> </br>
									<p:column>
										<h:outputLabel value="Favicon:" rendered="true"></h:outputLabel>
										<p:inputText value="#{app.favicon}" />

									</p:column>
								</p:column>
								<p:column headerText="Portals">
									<p:dataTable id="portalAdd" var="portal"
										styleClass="sub-listing"
										value="#{newOrganizationBean.orgAppPortalTreeTO.appPortalUrlMap[app.appId]}">
										<p:column>
											<p:selectBooleanCheckbox value="#{portal.portalChecked}" />
										</p:column>
										<p:column>
											<h:outputText value="#{portal.portalTypeName}" />
										</p:column>
										<p:column>
											<h:outputLabel value="Url" />
											<h:outputLabel value="*" styleClass="redColor"></h:outputLabel>
											<h:inputText value="#{portal.url}" />
										</p:column>
										<p:column>
											<h:outputLabel value="Login Page:" rendered="true"></h:outputLabel>
											<p:selectOneMenu value="#{portal.loginPage}" filter="true"
												filterMatchMode="contains">
												<f:selectItems
													value="#{newOrganizationBean.selectLoginPageList}" />
											</p:selectOneMenu>
										</p:column>
										<p:column>
											<h:outputLabel value="Login Page Theme:" rendered="true"></h:outputLabel>
											<p:selectOneMenu value="#{portal.loginPageTheme}"
												filter="true" filterMatchMode="contains">
												<f:selectItems
													value="#{newOrganizationBean.selectloginPageThemeList}" />
											</p:selectOneMenu>
										</p:column>
										<p:column>
											<h:outputLabel value="Home Page:" rendered="true"></h:outputLabel>
											<p:selectOneMenu value="#{portal.homePage}" filter="true"
												filterMatchMode="contains">
												<f:selectItems
													value="#{newOrganizationBean.selectHomePageList}" />
											</p:selectOneMenu>
										</p:column>
										<p:column>
											<h:outputLabel value="Landing Page:"
												rendered="#{(app.appId eq 2) and (portal.portalTypeId eq 1) }"></h:outputLabel>
											<p:selectOneMenu value="#{portal.landingPageID}"
												rendered="#{(app.appId eq 2) and  (portal.portalTypeId eq 1) }"
												filter="true" filterMatchMode="contains">
												<f:selectItem itemLabel="Select Component" itemValue=""
													noSelectionOption="true" />
												<f:selectItems
													value="#{newOrganizationBean.selectLandingePagList}"
													var="record" itemLabel="#{record.formName}"
													itemValue="#{record.formId}" />
											</p:selectOneMenu>
										</p:column>
										<p:column>
											<h:outputLabel value="Default Theme:" rendered="true"></h:outputLabel>
											<p:selectOneMenu value="#{portal.defualtTheme}" filter="true"
												filterMatchMode="contains">
												<f:selectItems
													value="#{newOrganizationBean.selectdefualtThemeList}" />
											</p:selectOneMenu>
										</p:column>
										<p:column>
											<h:outputLabel value="More Info:" rendered="true" />
											<p:commandButton
												oncomplete="PF('addNewOrgMoreInfoModal').show();"
												styleClass="btn_right cancel_button" icon="ui-icon-info"
												title="More Info" update=":newOrgMoreInfoForm"
												onclick="scrollUp();"
												action="#{newOrganiztionController.getOrgMoreInfoList(portal)}">
											</p:commandButton>
										</p:column>

									</p:dataTable>
								</p:column>

								<p:column headerText="Modules">
									<p:dataTable id="moduleAdd" var="module"
										value="#{newOrganizationBean.orgAppPortalTreeTO.appModuleMap[app.appId]}"
										styleClass="theadnone">
										<p:column style="width:20px;">
											<p:selectBooleanCheckbox value="#{module.moduleChecked}" />
										</p:column>
										<p:column>
											<h:outputText value="#{module.moduleName}" />
										</p:column>
									</p:dataTable>
								</p:column>
							</p:dataTable>
						</div>
					</div>
					<br />
					<p:commandButton value="Save" styleClass="submit-button"
						update=":centerForm" onclick="scrollUp();"
						process="tabView:organizationForm1"
						action="#{newOrganiztionController.save}"
						rendered="#{newOrganizationBean.saveFlag}"></p:commandButton>&nbsp;
					<p:commandButton value="Update" styleClass="submit-button"
						update=":centerForm" process="tabView:organizationForm1"
						action="#{newOrganiztionController.save}"
						rendered="#{newOrganizationBean.updateFlag}" onclick="scrollUp();">
					</p:commandButton>&nbsp;
            	<p:commandButton value="Cancel" update=":centerForm"
						onclick="scrollUp();" action="#{newOrganiztionController.cancel}"
						immediate="true"></p:commandButton>
				</h:form>
			</p:tab>
			<p:tab title="Activity">
				<div class="listing">
					<h:form id="activityTabForm">
						<p:messages showDetail="true" autoUpdate="false" closable="true" />
						<div class="listing_Table">
							<p:dataTable var="resTo"
								value="#{checkListBean.listCheckListResponseTO}">
								<p:column headerText="Select">
									<p:selectBooleanCheckbox value="#{resTo.selected}" />
								</p:column>
								<p:column headerText="System Check List">
									<p:commandLink value="#{resTo.itemName}" type="button"
										action="#{newOrganiztionController.getCheckListDetail(resTo)}" />
								</p:column>
							</p:dataTable>
						</div>
					</h:form>
				</div>
			</p:tab>
		</p:tabView>
	</div>
	<p:dialog widgetVar="copyContentDialog" header="Content" modal="true"
		styleClass="popup_width" resizable="false">
		<div class="listing">
			<h:form id="copyContentForm">
				<div class="listing_Table">
					<p:dataTable var="record" styleClass="fixed_btn"
						value="#{newOrganizationBean.sysContentTypeList}">
						<p:column headerText="Select">
							<p:selectBooleanCheckbox value="#{record.selected}" />
						</p:column>
						<p:column headerText="System Content">#{record.contentName} </p:column>
					</p:dataTable>
				</div>
				<br />
				<p:commandButton value="Save Content" styleClass="Submit_button"
					oncomplete="PF('copyContentDialog').hide();"
					update=":tabView:activityTabForm">
					<f:param name="checkListItem" value="COPY_CONTENT_TYPE" />
				</p:commandButton>
			</h:form>
		</div>
	</p:dialog>

	<p:dialog widgetVar="copyRoleDialog" header="Roles" modal="true"
		styleClass="popup_width" resizable="false">
		<div class="listing">
			<h:form id="copyRoleForm">
				<div class="listing_Table">
					<p:dataTable var="record" styleClass="fixed_btn"
						value="#{newOrganizationBean.sysRoleTypeList}">
						<p:column headerText="Select">
							<p:selectBooleanCheckbox value="#{record.selected}" />
						</p:column>
						<p:column headerText="Role Type">#{record.roleType}</p:column>
						<p:column headerText="Default Name">
							<p:inputText value="#{record.defaultName}"></p:inputText>
						</p:column>
					</p:dataTable>
				</div>
				<br />
				<p:commandButton value="Copy Role" styleClass="Submit_button"
					oncomplete="PF('copyRoleDialog').hide();"
					update=":tabView:activityTabForm"
					action="#{newOrganiztionController.copySysRoleList}">
					<f:param name="checkListItem" value="COPY_ROLES" />
				</p:commandButton>
			</h:form>
		</div>
	</p:dialog>

	<p:dialog header="Menus" styleClass="SelectDialog"
		widgetVar="copyMenuDialog" modal="true" resizable="false">
		<div class="listing">
			<h:form id="copyMenuForm">
				<p:tree value="#{newOrganizationBean.menuTree}" var="node"
					styleClass="fixed_btn" selectionMode="checkbox"
					selection="#{newOrganizationBean.selectedMenuNodes}">
					<p:treeNode>
						<h:outputText value="#{node.menuName}" />
					</p:treeNode>
				</p:tree>

				<p:commandButton value="Copy Menu" styleClass="Submit_button"
					oncomplete="PF('copyMenuDialog').hide();"
					update=":tabView:activityTabForm"
					action="#{newOrganiztionController.copySysMenuList}">
					<f:param name="checkListItem" value="COPY_MENU" />
				</p:commandButton>
			</h:form>
		</div>
	</p:dialog>
	<p:dialog header="DashBoard" styleClass="SelectDialog"
		widgetVar="copyDashBoardDialog" modal="true" resizable="false">
		<div class="listing">
			<h:form id="copyDashBoardForm">
				<div class="listing_Table">
					<p:dataTable var="record" styleClass="fixed_btn"
						value="#{newOrganizationBean.dashBoardTOlist}">
						<p:column headerText="Select">
							<p:selectBooleanCheckbox value="#{record.status}" />
						</p:column>
						<p:column headerText="DashBoard Name">
							<h:outputText value="#{record.dashboardItemName}"></h:outputText>
						</p:column>
					</p:dataTable>
				</div>
				<br />
				<p:commandButton value="Copy DashBoard" styleClass="Submit_button"
					oncomplete="PF('copyDashBoardDialog').hide();"
					update=":tabView:activityTabForm"
					action="#{newOrganiztionController.copySysDashBoardList}">
					<f:param name="checkListItem" value="COPY_DASHBOARD" />
				</p:commandButton>
			</h:form>
		</div>
	</p:dialog>
	
	
	
	<p:dialog header="Chart DashBoard" styleClass="SelectDialog"
		widgetVar="copyDashBoardChartDialog" modal="true" resizable="false">
		<div class="listing">
			<h:form id="copyDashBoardChartForm">
			<div class="form_content">
						<h3>PORTAL INFO</h3>
						<h:panelGrid columns="3"  >
							<p:outputLabel>	Portal Type</p:outputLabel>
						<f:selectItem itemLabel="--select portal--" itemValue="-1" noSelectionOption="true" />
						<p:selectOneMenu value="#{newOrganizationBean.selectedPortalID}">
			              	<f:selectItems  value="#{newOrganizationBean.portalList}" required="true"
				requiredMessage="Please select minimum characters" var="portal" itemLabel="#{portal.portalType}" itemValue="#{portal.portalID}"  />
							
										<p:ajax event="change" update=":copyDashBoardChartForm"
										listener="#{newOrganiztionController.refreshDashboardChart}" >
									</p:ajax>
									</p:selectOneMenu>
									
									
				
</h:panelGrid>
</div>
<p:panel id="chartDataPanel" >
<div class="form_content">
						<h3>Chart Dashboard INFO</h3>
				<div class="listing_Table">
					<p:dataTable var="record" styleClass="fixed_btn"
						value="#{newOrganizationBean.dashBoardChartTOlist}">
						<p:column headerText="Select">
							<p:selectBooleanCheckbox value="#{record.selected}" />
						</p:column>
						<p:column headerText="System DashBoard Name">
							<h:outputText value="#{record.dashboardName}"></h:outputText>
						</p:column>
							<p:column headerText="DashBoard Label">
							<h:inputText value="#{record.hrDashboardName}"></h:inputText>
						</p:column>
							<p:column headerText="DashBoard Sequence">
							<h:inputText value="#{record.sequence}"></h:inputText>
						</p:column>
					</p:dataTable>
				</div>
				</div>
				<br />
				<p:commandButton value="Copy Chart Dashbaord" styleClass="Submit_button"
					oncomplete="PF('copyDashBoardChartDialog').hide();"
					update=":tabView:activityTabForm"
					action="#{newOrganiztionController.copySysDashBoardChartList}">
					<f:param name="checkListItem" value="COPY_CHART_DASHBOARD" />
				</p:commandButton>
				<p:commandButton value="Cancel" 
						onclick="PF('copyDashBoardChartDialog').hide();"
						immediate="true" ></p:commandButton>
				</p:panel>
			</h:form>
		</div>
		
	</p:dialog>
	
	
	

	<p:dialog widgetVar="createAdminDialog" modal="true"
		header="Create Admin" styleClass="popup_width" resizable="false">

		<h:form id="createAdminForm" styleClass="fixed_btn">
			<p:messages id="newAdmin" autoUpdate="false" closable="true"></p:messages>
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>User Name:</p:outputLabel>
				<p:inputText required="true" value="#{newOrganizationBean.userName}"
					requiredMessage="User name is required" />

				<p:outputLabel>
					<span class="redColor">*</span>Password:</p:outputLabel>
				<p:password required="true" value="#{newOrganizationBean.password}"
					requiredMessage="Password is required" redisplay="false" />

				<p:outputLabel value="Is Active: " />
				<p:selectBooleanCheckbox value="#{newOrganizationBean.status}">
				</p:selectBooleanCheckbox>

				<p:commandButton value="Save" styleClass="Submit_button"
					action="#{newOrganiztionController.saveUserNamePassword}"
					onclick="scrollUp();" onerror="" update=":createAdminForm" />
				<p:commandButton value="Cancel" styleClass="cancel_button"
					onclick="scrollUp();" oncomplete="PF('createAdminDialog').hide();"
					immediate="true" />

			</h:panelGrid>
			<div class="listing_Table">
				<p:dataTable var="record" styleClass="listing_Table"
					value="#{newOrganizationBean.userTOList}">
					<p:column sortBy="#{record.userName}" filterBy="#{record.userName}"
						headerText="Admin User">
						<h:outputText value="#{record.userName}" />
					</p:column>
				</p:dataTable>
			</div>
		</h:form>
	</p:dialog>

	<p:dialog widgetVar="copyUIFormDialog" header="UI Form" modal="true"
		draggable="true" resizable="false" styleClass="frm_width popup_width">
		<div class="listing">
			<h:form id="copyUIForm">
				<div class="listing_Table">
					<p:dataTable var="record" styleClass="fixed_btn"
						widgetVar="copyFormWidgetVar"
						value="#{newOrganizationBean.sysCopyUIList}"
						filteredValue="#{newOrganizationBean.sysCopyUIList1}">
						<p:column headerText="Select">
							<p:selectBooleanCheckbox value="#{record.selected}" />
						</p:column>
						<p:column headerText="UI Form" sortBy="#{record.formName}"
							filterBy="#{record.formName}">
							<h:outputText value="#{record.formName}" />
						</p:column>

						<p:column headerText="Module" sortBy="#{record.moduleName}"
							filterBy="#{record.moduleName}">
							<h:outputText value="#{record.moduleName}" />
						</p:column>
						<p:column headerText="Copied Already">
							<p:selectBooleanCheckbox value="#{record.alreadyCopied}"
								disabled="true" />
						</p:column>
					</p:dataTable>
				</div>
				<br />
				<p:commandButton value="Save UIForm" styleClass="Submit_button"
					oncomplete="PF('copyUIFormDialog').hide();"
					update=":tabView:activityTabForm"
					action="#{newOrganiztionController.copyUIFormList}">
					<f:param name="checkListItem" value="COPY_FORM" />
				</p:commandButton>
			</h:form>
		</div>
	</p:dialog>

	<p:dialog widgetVar="addNewOrgMoreInfoModal"
		styleClass="centeredPopup_big" header="More Info for New Organization"
		modal="true" resizable="false">
		<h:form id="newOrgMoreInfoForm">
			<h:panelGrid columns="4" cellpadding="5" style="width:100%;">

				<p:outputLabel>Left Logo:</p:outputLabel>
				<h:panelGroup>
					<p:inputText value="#{newOrganizationBean.leftLogo}"></p:inputText>
					<p:commandButton icon="ui-icon-suitcase" title="Upload Left Logo"
						styleClass="cancel_button"
						onclick="PF('LeftlogoPathModal').show()" />
				</h:panelGroup>

				<p:outputLabel>Right Logo:</p:outputLabel>
				<h:panelGroup>
					<p:inputText value="#{newOrganizationBean.rightLogo}"></p:inputText>
					<p:commandButton icon="ui-icon-suitcase" title="Upload Right Logo"
						styleClass="cancel_button"
						onclick="PF('RightlogoPathModal').show()" />
				</h:panelGroup>
				<p:outputLabel>Banner:</p:outputLabel>
				<h:panelGroup>
					<p:inputText value="#{newOrganizationBean.banner}"></p:inputText>
					<p:commandButton icon="ui-icon-suitcase" title="Upload Banner"
						styleClass="cancel_button"
						onclick="PF('BannerlogoPathModal').show()" />
				</h:panelGroup>

				<p:outputLabel>BackGround Image:</p:outputLabel>
				<h:panelGroup>
					<p:inputText value="#{newOrganizationBean.backGroundImage}"></p:inputText>
					<p:commandButton icon="ui-icon-suitcase"
						title="Upload BackGround Image" styleClass="cancel_button"
						onclick="PF('BackGroundImagePathModal').show()" />
				</h:panelGroup>


			</h:panelGrid>
			<h:panelGrid columns="4" cellpadding="5">
				<p:outputLabel value="Title: " />
				<p:inputText value="#{newOrganizationBean.title}" maxlenght="512" />

				<p:outputLabel value="Heading Text: " />
				<p:inputText value="#{newOrganizationBean.headingTxt}"
					maxlenght="300" />

				<p:outputLabel value="User Name Text: " />
				<p:inputText value="#{newOrganizationBean.usernameTxt}"
					maxlenght="300" />

				<p:outputLabel value="Password Text: " />
				<p:inputText value="#{newOrganizationBean.passwordTxt}"
					maxlenght="300" />

				<p:outputLabel value="Button Text: " />
				<p:inputText value="#{newOrganizationBean.btnTxt}" maxlenght="300" />

				<p:outputLabel value="Footer: " />
				<p:inputText value="#{newOrganizationBean.footer}" maxlenght="16" />

				<p:outputLabel value="Saml Header: " />
				<p:inputText value="#{newOrganizationBean.samlHeader}"
					maxlenght="300" />

				<p:outputLabel value="Saml Button Text: " />
				<p:inputText value="#{newOrganizationBean.samlBtnTxt}"
					maxlenght="300" />

				<p:outputLabel value="Contact Number: " />
				<p:inputText value="#{newOrganizationBean.contactNumber}" />

				<p:outputLabel value="E-mail: " />
				<p:inputText value="#{newOrganizationBean.eMail}" />




				<p:outputLabel value="Mobile Enabled :" />
				<p:selectBooleanCheckbox value="#{newOrganizationBean.mobileStatus}" />

				<p:spacer></p:spacer>
				<p:spacer></p:spacer>

				<p:outputLabel value="External Video Path: " />
				<p:inputText value="#{newOrganizationBean.externalUrl}" />
				<p:spacer></p:spacer>

			</h:panelGrid>




			<p:commandButton styleClass="Submit_button" value="Ok"
				action="#{newOrganiztionController.setValuesOnSelectedPortal()}"
				oncomplete="PF('addNewOrgMoreInfoModal').hide();" />
			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('addNewOrgMoreInfoModal').hide()"
				style="float:bottom" required="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="copyFormSecurityDialog" header="FormSecurity"
		modal="true" styleClass="popup_width" resizable="false">
		<div class="listing">
			<h:form id="copyFormSecurity">
				<div class="listing_Table">
					<p:dataTable var="record" styleClass="fixed_btn"
						value="#{newOrganizationBean.hrModuleList}">
						<p:column headerText="Select">
							<p:selectBooleanCheckbox value="#{record.selected}" />
						</p:column>
						<p:column headerText="Module">#{record.moduleName}</p:column>
					</p:dataTable>
				</div>
				<br />
				<p:commandButton value="Copy Form Security"
					styleClass="Submit_button"
					oncomplete="PF('copyRoleDialog').hide();"
					update=":tabView:activityTabForm">
					<f:param name="checkListItem" value="COPY_FORM_SECURITY" />
				</p:commandButton>
			</h:form>
		</div>
	</p:dialog>


	<p:dialog widgetVar="copyVendorOfferingDialog"
		header="Vendor Offerings" modal="true" resizable="false"
		styleClass="vendor_popup_width">
		<div class="listing">
			<h:form id="copyVendorOffering">
				<div class="listing_Table">
					<p:dataTable var="offer" styleClass="fixed_btn"
						value="#{newOrganizationBean.vendorOfferingTemplateTOList}">
						<p:column headerText="Select">
							<p:selectBooleanCheckbox value="#{offer.selected}" />
						</p:column>
						<p:column headerText="Vendor">#{offer.vendorName}</p:column>
						<p:column headerText="Offer">#{offer.offerTemplateName}"</p:column>
						<p:column headerText="Banner">
							<img src="#{offer.banner}" width="300" height="100" />
						</p:column>
					</p:dataTable>
				</div>
				<br />
				<p:commandButton value="Copy Vendor Offering"
					styleClass="Submit_button"
					oncomplete="PF('copyVendorOfferingDialog').hide();"
					update=":tabView:activityTabForm"
					action="#{newOrganiztionController.copyVendorOfferings}">
					<f:param name="checkListItem" value="COPY_VENDOR_OFFERING" />
				</p:commandButton>
				<p:commandButton styleClass="cancel_button" value="Cancel"
					onclick="scrollUp();"
					oncomplete="PF('copyVendorOfferingDialog').hide()"
					style="float:bottom" immediate="true" />
			</h:form>
		</div>
	</p:dialog>

	<p:dialog widgetVar="copyProductAnnouncementDialog"
		header="Product Announement" modal="true" resizable="false"
		styleClass="vendor_popup_width">
		<div class="listing">
			<h:form id="copyProductAnnouncementForm">
				<p:messages id="messages" autoUpdate="false" closable="true" />
				<div class="listing_Table">
					<p:dataTable var="productAnnouncement" styleClass="fixed_btn"
						value="#{newOrganizationBean.sysProductAnnouncementTOList}">
						<p:column headerText="Select">
							<p:selectBooleanCheckbox value="#{productAnnouncement.selected}" />
						</p:column>
						<p:column headerText="SysProductAnnouncement">
							<h:outputText
								value="#{productAnnouncement.sysProductAnnouncement}" />
						</p:column>

						<p:column headerText="ValidFrom">
							<p:calendar value="#{productAnnouncement.validFrom}"
								pattern="dd-MMM-yyyy" timeZone="IST"
								mindate="#{newOrganizationBean.currentDate}" showOn="button"
								onkeyup="stopEvent(event)" onkeydown="stopEvent(event)"
								onkeypress="stopEvent(event)" />
						</p:column>

						<p:column headerText="ValidTo">
							<p:calendar id="validTo" value="#{productAnnouncement.validTo}"
								pattern="dd-MMM-yyyy" timeZone="IST" showOn="button"
								onkeyup="stopEvent(event)" onkeydown="stopEvent(event)"
								onkeypress="stopEvent(event)" />
						</p:column>
					</p:dataTable>
				</div>
				<br />
				<p:commandButton value="Copy Product Announcement"
					styleClass="Submit_button" update=":copyProductAnnouncementForm"
					action="#{newOrganiztionController.copyProductAnnouncement()}">
					<f:param name="checkListItem" value="COPY_PRODUCT_ANNOUNCEMENT" />
				</p:commandButton>
				<p:commandButton styleClass="cancel_button" value="Cancel"
					onclick="scrollUp();"
					oncomplete="PF('copyProductAnnouncementDialog').hide()"
					style="float:bottom" immediate="true" />
			</h:form>
		</div>
	</p:dialog>

	<p:dialog header="LeftLogoPath" widgetVar="LeftlogoPathModal"
		styleClass="centeredPopup" modal="true" resizable="false">
		<h:form id="leftLogoPathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Left Logo: " />
				<p:fileUpload
					fileUploadListener="#{newOrganizationBean.handleLeftLogo}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000" update=":newOrgMoreInfoForm"
					allowTypes="/(\.|\/)(jpe?g|png)$/" process=":leftLogoPathForm"
					oncomplete="PF('LeftlogoPathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>

		</h:form>
	</p:dialog>

	<p:dialog header="RightLogoPath" widgetVar="RightlogoPathModal"
		styleClass="centeredPopup" modal="true" resizable="false">
		<h:form id="RghtLogoPathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Right Logo: " />
				<p:fileUpload
					fileUploadListener="#{newOrganizationBean.handleRightLogo}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000" update=":newOrgMoreInfoForm"
					allowTypes="/(\.|\/)(jpe?g|png)$/" process=":RghtLogoPathForm"
					oncomplete="PF('RightlogoPathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>

		</h:form>
	</p:dialog>

	<p:dialog header="BannerLogoPath" widgetVar="BannerlogoPathModal"
		styleClass="centeredPopup" modal="true" resizable="false">
		<h:form id="BannerLogoPathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Banner: " />
				<p:fileUpload
					fileUploadListener="#{newOrganizationBean.handleBannerLogo}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000" update=":newOrgMoreInfoForm"
					allowTypes="/(\.|\/)(jpe?g|png)$/" process=":BannerLogoPathForm"
					oncomplete="PF('BannerlogoPathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>

		</h:form>
	</p:dialog>

	<p:dialog header="BackGroundImagePath"
		widgetVar="BackGroundImagePathModal" styleClass="centeredPopup"
		modal="true" resizable="false">
		<h:form id="BackGroundImagePathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Background Image: " />
				<p:fileUpload
					fileUploadListener="#{newOrganizationBean.handleBackGroundImage}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000" update=":newOrgMoreInfoForm"
					allowTypes="/(\.|\/)(jpe?g|png)$/"
					process=":BackGroundImagePathForm"
					oncomplete="PF('BackGroundImagePathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>

		</h:form>
	</p:dialog>


</ui:composition>