<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="newtenantForm">
		<p:messages id="msgs" closable="true" />
		<div class="form_content">
			<h3>New Tenant</h3>
			<table cellpadding="0" cellspacing="10">
				<tr>
					<td class="leftpanel"><p:outputLabel>
							<span class="redColor">*</span>Tenant Name :</p:outputLabel></td>
					<td><p:inputText value="#{newTenantBean.tenantName}"
							id="tenantName" required="true"
							onkeyup="tenantName1(event, 'newtenantForm:tenantName', 'newtenantForm:tenantCode')"
							maxlength="50" requiredMessage="Enter Tenant Name" /></td>
					<td class="leftpanel"><p:outputLabel>
							<span class="redColor">*</span>Tenant Code :</p:outputLabel></td>
					<td><p:inputText value="#{newTenantBean.tenantCode}"
							required="true" maxlength="45" id="tenantCode"
							requiredMessage="Enter Tenant Code" /></td>
				</tr>
				<tr>
					<td class="leftpanel"><p:outputLabel>Status :</p:outputLabel></td>
					<td><p:selectOneMenu value="#{newTenantBean.statusID}"
							filter="true" filterMatchMode="contains" required="true"
							requiredMessage="Enter Status">
							<f:selectItem itemLabel="Open" itemValue="1" />
							<f:selectItem itemLabel="Inactive" itemValue="2" />
							<f:selectItem itemLabel="Closed" itemValue="3" />
						</p:selectOneMenu></td>



					<td class="leftpanel"><p:outputLabel>
							<span class="redColor">*</span>Contract Signed Date :</p:outputLabel></td>
					<td><p:calendar value="#{newTenantBean.contractSignedDate}"
							navigator="true" showOn="button" id="contractSignedDate"
							required="true" requiredMessage="Enter Contract Signed Date" /></td>
				</tr>
				<tr>
					<td class="leftpanel"><p:outputLabel>
							<span class="redColor">*</span>Effective From :</p:outputLabel></td>
					<td><p:calendar value="#{newTenantBean.effectiveFrom}"
							showOn="button" id="effectiveDateFrom" required="true"
							requiredMessage="Enter Effective From " navigator="true" /></td>
					<td class="leftpanel"><p:outputLabel>Effective To :</p:outputLabel></td>
					<td><p:calendar value="#{newTenantBean.effectiveTo}"
							navigator="true" showOn="button" id="effectiveDateTo" /></td>
				</tr>
			</table>

			<br />
			<p:commandButton value="Submit" styleClass="Submit_button"
				rendered="#{newTenantBean.saveFlag}"
				action="#{newTenantController.save}" update=":centerForm"
				onclick="scrollUp();">
			</p:commandButton>
			&nbsp;
			<p:commandButton value="Update" styleClass="Submit_button"
				rendered="#{newTenantBean.updateFlag}"
				action="#{newTenantController.save}" update=":centerForm"
				onclick="scrollUp();">
			</p:commandButton>
			&nbsp;
			<p:commandButton value="Cancel" styleClass="cancel_button"
				onclick="scrollUp();" action="#{newTenantController.cancel}"
				update=":centerForm" immediate="true">
			</p:commandButton>
		</div>
	</h:form>
</ui:composition>