<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="orgForm">
		<p:messages id="newBand" autoUpdate="true" closable="true" />
		<label class="Page_Tittle">Organisations</label>
		<p:commandButton styleClass="btn_right cancel_button" icon="ui-icon-plus" title="Add New Organization" update=":centerForm" ajax="true"
			action="#{newOrganiztionController.createNewOrganisation}">
		</p:commandButton>
		<div class="listing_Table">
			<p:dataTable id="orgList" rows="10" rowIndexVar="index"
				paginatorPosition="bottom" rowsPerPageTemplate="10,20,30"
				var="orgTO" paginator="true"
				filteredValue="#{newOrganizationBean.filteredOrgList}"
				value="#{newOrganizationBean.allOrgList}">

				<p:column sortBy="#{orgTO.tenantName}"
					filterBy="#{orgTO.tenantName}" headerText="Tenant Name">
					<h:outputText value="#{orgTO.tenantName}" />
       			 </p:column>
				<p:column sortBy="#{orgTO.orgName}" filterBy="#{orgTO.orgName}" headerText="Organisation Name">
					<h:outputText value="#{orgTO.orgName}" />
				</p:column>
				<p:column sortBy="#{orgTO.orgCode}" filterBy="#{orgTO.orgCode}"
					headerText="Organisation Code">
					<h:outputText value="#{orgTO.orgCode}" />
				</p:column>
				<p:column headerText="Operation">
           		 <p:commandButton icon="ui-icon ui-icon-pencil" styleClass="cancel_button" title ="Edit Organization"  update=":centerForm" onclick="scrollUp();"
						action="#{newOrganiztionController.editOrganization(orgTO)}">
           		 </p:commandButton>
        	</p:column>
			</p:dataTable>
		</div>
	</h:form>
</ui:composition>