<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysEntityListForm">
		<p:messages id="msg" closable="true" autoUpdate="false"/>
		<label class="Page_Tittle">SysEntity List</label>
		<p:commandButton icon="ui-icon-plus" update=":centerForm" ajax="true"
			title="Add New SysEntity"
			styleClass="btn_right cancel_button" 
			action="#{sysEntityController.addSysEntitySysColumn}" />
		<div class="listing_Table">
			<p:dataTable id="sysEntityList" var="sysEntity"
				value="#{sysEntityBean.sysEntityTOList}"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
				paginator="true" rows="10" paginatorPosition="bottom"
				style="margin-bottom:20px"  filteredValue="#{sysEntityBean.filterSysEntityTOList}">
				<p:column sortBy="#{sysEntity.name}" filterBy="#{sysEntity.name}"
					headerText="Entity Name">
					<h:outputText value="#{sysEntity.name}" />
				</p:column>
				<p:column sortBy="#{sysEntity.description}"
					filterBy="#{sysEntity.description}" headerText="Description">
					<h:outputText value="#{sysEntity.description}" />
				</p:column>
				<p:column sortBy="#{sysEntity.tableName}"
					filterBy="#{sysEntity.tableName}" headerText="Table Name">
					<h:outputText value="#{sysEntity.tableName}" />
				</p:column>
				<p:column headerText="Operation">
					<p:commandButton icon="ui-icon ui-icon-pencil"
						styleClass="cancel_button" 
						title="Edit SysEntity"
						action="#{sysEntityController.editSysEntity(sysEntity)}"
						onclick="scrollUp();"
						update=":centerForm">
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</div>
	</h:form>
</ui:composition>