<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="addUpdateSysEntitySysColumnForm">
		<p:messages id="messages" autoUpdate="false" closable="true" />
		<div class="form_content formPadding">
			<h3>
				<h:outputLabel value="SysEntity Details" />
			</h3>
			<div class="form_content_inner">
				<h:panelGrid columns="6" cellpadding="5" style="border:none">
					<p:outputLabel>
						<span class="redColor">*</span>SysEntity Name</p:outputLabel>
					<p:inputText required="true"
						value="#{sysEntityBean.sysEntityTO.name}"
						requiredMessage="SysEntity name is required." />

					<p:outputLabel value="SysEntity Description" />
					<p:inputTextarea value="#{sysEntityBean.sysEntityTO.description}" />


					<p:outputLabel>
						<span class="redColor">*</span>Table Name:</p:outputLabel>
					<p:selectOneMenu id="tableName"
						value="#{sysEntityBean.sysEntityTO.tableName}" style="width:150px"
						required="true" requiredMessage="Please select table name" 
						filter="true" filterMatchMode="contains"
					    disabled="#{!sysEntityBean.selectTableEnable}">
						<f:selectItem itemLabel="Please Select" itemValue="" />
						<f:selectItems  var="record" value="#{sysEntityBean.sysEntityTableNameList}"  itemLabel="#{record}" itemValue="#{record}" />
						<p:ajax event="change"	listener="#{sysEntityController.renderSysEntityColumnDiv}" 	 />
					</p:selectOneMenu>


					<p:outputLabel><span class="redColor">*</span>Module Name:</p:outputLabel>
					<p:selectOneMenu id="moduleName"
						value="#{sysEntityBean.sysEntityTO.moduleId}" style="width:150px"
						required="true" requiredMessage="Please select module"
						filter="true" filterMatchMode="contains">
						<f:selectItem itemLabel="Please Select" itemValue=""
							noSelectionOption="true" />
						<f:selectItems var="subModule" value="#{sysEntityBean.sysSubModuleList}"
							itemLabel="#{subModule.moduleName}" itemValue="#{subModule.moduleId}" />
					</p:selectOneMenu>
				</h:panelGrid>
			</div>	
		</div>
					<div class="listing_Table">
							<p:dataTable id="sysEntityColumnList" var="sysColumn"
								value="#{sysEntityBean.sysEntityColumnList}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
								paginator="true" rows="10" paginatorPosition="bottom" editable="true" editMode="cell" rendered="#{sysEntityBean.renderSysColumnDataTable}">
								
								<p:column headerText="Primary Key" >
									<p:commandButton icon="ui-icon-key" rendered="#{(sysColumn.primaryKey eq 'true')}" disabled="true"></p:commandButton>
								</p:column>
								
								<p:column headerText="Column Check Box Option">
									<p:selectBooleanCheckbox
										disabled="#{(sysColumn.columnExistInSysEntityColumn eq 'true')  ||  (sysColumn.primaryKey eq 'true')}"
										value="#{sysColumn.checkBoxOption}" />
								</p:column>
								<p:column sortBy="#{sysColumn.entityColumnName}"
									filterBy="#{sysColumn.entityColumnName}"
									headerText="Entity Column Name">
									<p:cellEditor>  
								    <f:facet name="output">  
								       <h:outputText value="#{sysColumn.entityColumnName}" />  
								    </f:facet>  
								    <f:facet name="input">  
								        <p:inputText value="#{sysColumn.entityColumnName}"
												style="width:100%" required="true" requiredMessage="Please enter entityColumnName"></p:inputText>  
								    </f:facet>  
								 </p:cellEditor>
								</p:column>
								<p:column sortBy="#{sysColumn.dbColumnName}"
									filterBy="#{sysColumn.dbColumnName}" headerText="DBColumnName">
									<h:outputText value="#{sysColumn.dbColumnName}" />
								</p:column>
								<p:column sortBy="#{sysColumn.label}"
									filterBy="#{sysColumn.label}" headerText="Column Label">
									<p:cellEditor>  
								    <f:facet name="output">  
								       <h:outputText value="#{sysColumn.label}" />  
								    </f:facet>  
								    <f:facet name="input">  
								        <p:inputText value="#{sysColumn.label}"
												style="width:100%"></p:inputText>  
								    </f:facet>  
								 </p:cellEditor>
								</p:column>
								<p:column sortBy="#{sysColumn.description}"
									filterBy="#{sysColumn.description}" headerText="Description">
									<p:cellEditor>  
								    <f:facet name="output">  
								       <h:outputText value="#{sysColumn.description}" />  
								    </f:facet>  
								    <f:facet name="input">  
								        <p:inputText value="#{sysColumn.description}"
												style="width:100%"></p:inputText>  
								    </f:facet>  
								 </p:cellEditor>
								</p:column>
								<p:column sortBy="#{sysColumn.entityColumnType}"
									filterBy="#{sysColumn.entityColumnType}" headerText="EntityColumnType">
									<p:cellEditor>  
								    <f:facet name="output">  
								       <h:outputText value="#{sysColumn.entityColumnType}" />  
								    </f:facet>  
								    <f:facet name="input">  
								        <p:inputText value="#{sysColumn.entityColumnType}"
												style="width:100%"></p:inputText>  
								    </f:facet>  
								 </p:cellEditor>
								</p:column>
								<p:column sortBy="#{sysColumn.dbColumnType}"
									filterBy="#{sysColumn.dbColumnType}" headerText="DBColumnType">
									<h:outputText value="#{sysColumn.dbColumnType}" />
								</p:column>
							</p:dataTable>
					</div>
			
				<p:commandButton value="Save" styleClass="Submit_button" onsuccess="scrollUp();"
					action="#{sysEntityController.addSysEntity(sysEntityBean.sysEntityTO)}"
					process=":addUpdateSysEntitySysColumnForm" rendered="#{sysEntityBean.renderSaveButton}"
					update=":addUpdateSysEntitySysColumnForm" style="float:bottom" />
				<p:commandButton styleClass="Submit_button" value="Update"
					onsuccess="scrollUp();" rendered="#{sysEntityBean.renderUpdateButton}"
					action="#{sysEntityController.updateSysEntity(sysEntityBean.sysEntityTO)}"
					update=":addUpdateSysEntitySysColumnForm" style="float:bottom"
					process=":addUpdateSysEntitySysColumnForm">
				</p:commandButton>
				<p:commandButton styleClass="cancel_button" value="Back"
					update=":centerForm"
					action="#{sysEntityController.reloadSysEntity}" immediate="true"
					/>
			
	</h:form>
</ui:composition>