<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui" 
	  xmlns:ui="http://java.sun.com/jsf/facelets">
<h:form id="tenantForm">
<p:messages id="msgs" closable="true" />
<label class="Page_Tittle">Tenants List</label>
<p:commandButton styleClass="btn_right cancel_button" icon="ui-icon-plus" title="Add New Tenant"  update=":centerForm" ajax="true"
			action="#{newTenantController.createNew}">
		</p:commandButton>
<div class="listing_Table">
    <p:dataTable id="tenantList" rows="10" rowIndexVar="index" paginatorPosition="bottom" rowsPerPageTemplate="10,20,30"		
    	paginatorAlwaysVisible="true" var="tenant" paginator="true"	filteredValue="#{newTenantBean.filteredTenantList}"		
    		rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}" 
    value="#{newTenantBean.tenantResToList}">
        <p:column headerText="Tenant Name"  sortBy="#{tenant.tenantName}" filterBy="#{tenant.tenantName}">
            <h:outputLabel value="#{tenant.tenantName}"></h:outputLabel>
        </p:column>
        <p:column headerText="Tenant Code" sortBy="#{tenant.tenantCode}" filterBy="#{tenant.tenantCode}">
            <h:outputLabel value="#{tenant.tenantCode}"/>
        </p:column>
        <p:column headerText="Operation">
            <p:commandButton icon="ui-icon ui-icon-pencil" styleClass="cancel_button" update=":centerForm" title ="Edit Tenant"  action="#{newTenantController.editTenant(tenant)}" onclick="scrollUp();">
             <f:param value="#{tenant.tenantID}" name="tenantID"></f:param>
            </p:commandButton>
        </p:column>
    </p:dataTable>
</div>
</h:form>
</ui:composition>