<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui = "http://java.sun.com/jsf/facelets"
  xmlns:h = "http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:c="http://java.sun.com/jsp/jstl/core">
  <h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>View AdhocReports</title>
      <script type="text/javascript">
            function redirect() {
               window.location="./adhocReportMain.jsf";
            }
            function editRedirect() {
               window.location="./reportuirevamp/editReport.jsf";
            }
      </script>

 	  <link href="css/home.css" type="text/css" rel="stylesheet" media="all" />
      <style>
	  .viewIcon .ui-icon-eye { background: url(images/view_icon.png) 0 0 no-repeat !important; }
	  </style>
</h:head>

<h:body>
<h:form id="displayReportsForm">
	<p:messages id="reportDeletionError" closable="true"/>
	<label class="Page_Tittle">View Adhoc Reports</label>
    <p:commandButton styleClass="btn_right cancel_button" icon="ui-icon-plus" title="Create New Report" ajax="true"
			oncomplete="redirect()" update=":displayReportsForm" actionListener="#{reportDisplayController.setReportDetailBeanAttributesToNull(reportDetailBean)}">
	</p:commandButton>    

    	<div class="listing_Table">
		<p:dataTable id="reportDataTable" selection="#{reportDetailBean.selectedReport}" selectionMode="single" rowKey="#{report.reportId}"
			var="report" value="#{reportDetailBean.reportDetailList}" rows="10"
			paginator="true" styleClass="table-header" rowIndexVar="index" filteredValue="#{reportDetailBean.filteredReportDetailList}"
			paginatorPosition="bottom" rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}" rowsPerPageTemplate="10,20,30">
			<p:ajax event="rowSelect" listener="#{filterDisplayController.getFilters()}"
                 		onclick="scrollUp();" oncomplete="#{p:widgetVar('filterSelectionDialog')}.show()" update=":filterSelectionForm"/>
			<p:column headerText="Report Name" sortBy="#{report.reportName}"
				filterBy="#{report.reportName}" filterMatchMode="contains">
				<h:outputText value="#{report.reportName}" />
			</p:column>
			<p:column headerText="Report Description" sortBy="#{report.reportDescription}"
				filterBy="#{report.reportDescription}" filterMatchMode="contains">
				<h:outputText value="#{report.reportDescription}" />
			</p:column>
			<p:column sortBy="#{report.moduleName}" headerText="Module Name"
				filterBy="#{report.moduleName}" filterMatchMode="contains">
				<h:outputText value="#{report.moduleName}" />
			</p:column>
			<p:column sortBy="#{report.defaultFlag}" headerText="Default Report">
				<h:outputText value="#{report.defaultFlag}" />
			</p:column>
			<p:column headerText="Actions">
           		 <p:commandButton icon="ui-icon ui-icon-eye" styleClass="cancel_button viewIcon" title ="View Report" actionListener="#{filterDisplayController.getFilters(report)}"
                 		 oncomplete="#{p:widgetVar('filterSelectionDialog')}.show()" update=":filterSelectionForm">
           		 </p:commandButton>
           		 <p:commandButton icon="ui-icon ui-icon-trash" styleClass="cancel_button" title ="Delete Report" actionListener="#{deleteReportDataController.setReportForDeletion(report)}"
                 		 oncomplete="#{p:widgetVar('confirmForm')}.show()">
           		 </p:commandButton>
           		 <p:commandButton icon="ui-icon ui-icon-pencil" styleClass="cancel_button" title ="Edit Report" actionListener="#{editReportDataController.setReportForEditing(report)}"
           		 	oncomplete="editRedirect();">
           		 </p:commandButton>
           	</p:column>
		</p:dataTable>
		</div> 
 </h:form>
 
 <p:dialog header="Report Deletion Confirmation" styleClass="PopUpinCenter" widgetVar="confirmDlgBox" resizable="false" closeOnEscape="true"
	modal="true" id="confirmForm">
		<div class="confirmDialog_text">
			Do you really want to delete report? <br />
		</div>
		<div class="confirmDialog_btn_panel">
			<p:commandButton value="Yes" styleClass="Submit_button" icon="ui-icon-check" 
				actionListener="#{deleteReportDataController.deleteReport()}" 
				oncomplete="PF('confirmDlgBox').hide();" update=":displayReportsForm"/>
				<p:spacer width="20px" />
				<p:commandButton value="No" type="button" styleClass="cancel_button" icon="ui-icon-close"
					onclick="PF('confirmDlgBox').hide()" immediate="true" />
		</div>
</p:dialog> 

 <p:dialog id="filterSelectionDialog" styleClass="PopUpinCenter" header="Select Filters" modal="true" resizable="false">  
 <h:form id="filterSelectionForm">
    <p:messages id="reportError" showDetail="false" autoUpdate="true" closable="true"/>   
  		<c:set var="index" value="0" />
  		<c:if test="#{reportDetailBean.selectReportFilters.size() == 0}">
  			<p:outputLabel value=" No Filters in this Report "></p:outputLabel>
  			<br/>
  		</c:if>
 		<c:forEach var="filterGroup" items="#{reportDetailBean.selectReportFilters}">
 			<p:panel id="filterPanel#{index}" styleClass="dialog-form-block"> 
            	<h3>#{filterGroup.filterDefinitionHeader}</h3>

                    <c:forEach var="filter" items="#{filterGroup.filterValues}">
                       <h:panelGrid columns="3" cellpadding="5">
                                    <p:outputLabel value="#{filter.sysFilterLabel}"></p:outputLabel>
                                    <p:selectOneMenu id="operatorSelectOneMenu#{index}" value="#{filter.selectedOperator}" rendered="#{filter.operatorVisible}"
                                        converter="operatorToConverter">
                                        <f:selectItems value="#{filter.inputOperators}" var="operator" itemLabel="#{operator.operatorLabel}"
                                                    itemValue="#{operator}" />
                                                    <p:ajax event="change" update="filterInnerDiv#{index}"></p:ajax>
                                    </p:selectOneMenu>

                                <h:panelGroup layout="block" id="filterInnerDiv#{index}">
                                    <p:calendar id="filterCalendar1#{index}" rendered="#{filter.filterType.getName() == 'calendar'}" readonlyInput="true" value="#{filter.firstSelectedDate}" showOn="button" navigator="true"
                                            pattern="dd/MM/yyyy" required="#{!filterGroup.optional}" requiredMessage="Please enter calendar value"></p:calendar>							
                                    <p:calendar id="filterCalendar2#{index}" rendered="#{filter.filterType.getName() == 'calendar' and filter.selectedOperator.numberOfRequiredInputs == 2}" showOn="button" navigator="true" 
                                        readonlyInput="true" value="#{filter.secondSelectedDate}" pattern="dd/MM/yyyy" required="#{!filterGroup.optional}"
                                      	requiredMessage="Please enter calendar value"></p:calendar>
                                    <p:selectOneMenu id="UserInputSelectOneMenu1#{index}" rendered="#{filter.filterType.getName() == 'list' and (filter.selectedOperator == null or
                                        filter.selectedOperator.singleSelect == true)}"  required="#{!filterGroup.optional}" requiredMessage="Please select from menu list" value="#{filter.selectedSingleValue}" converter="selectItemConverter">
                                        <f:selectItems value="#{filter.inputValues}" var="option" itemLabel="#{option.label}" itemValue="#{option}" />
                                    </p:selectOneMenu>
                                    <p:selectCheckboxMenu id="UserInputSelectCheckboxMenu2#{index}" rendered="#{filter.filterType.getName() == 'list' and 
                                        filter.selectedOperator.singleSelect == false}" filter="true" filterMatchMode="startsWith"  required="#{!filterGroup.optional}"
                                        value="#{filter.selectedValues}" converter="selectItemConverter" label="Please select from list" requiredMessage="Please select from checkbox menu list">
                                        <f:selectItems value="#{filter.inputValues}" var="option" itemLabel="#{option.label}" itemValue="#{option}"/>
                                    </p:selectCheckboxMenu>
                                    <p:inputText  id="UserInputText#{index}" rendered="#{filter.filterType.getName() == 'textfield'}" value="#{filter.selectedText}" 
                                        requiredMessage="Please enter filter value"  required="#{!filterGroup.optional}">
                                    </p:inputText>
                                </h:panelGroup>

                        <c:set var="index" value="#{index + 1}" /></h:panelGrid>  
                    </c:forEach>	

 			</p:panel>
 		</c:forEach>

 		<p:commandButton value="Submit" id="submitButton" actionListener="#{reportDisplayController.getSelectedReportQuery(reportDetailBean)}" action="displayReportData.xhtml" styleClass="Submit_button" />

</h:form> 
</p:dialog>
<div class="loader_block_main">
  <p:ajaxStatus styleClass="loader_block" style="position: relative;left: 50% !important;bottom:249px !important;">
      <div style="position: relative;left: 50% !important;bottom:50% !important;">
		<f:facet name="start">
			<div class="loader_img" ><p:graphicImage  value="../images/ajax-loader.gif"></p:graphicImage></div>
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
      </div>
	</p:ajaxStatus>
</div> 
</h:body>
</html>
