<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="sysplaceholderForm">
		<p:messages
			rendered="#{!sysPlaceHolderBean.sysplaceholderFormMessagesFlag}"
			closable="true" />
		<label class="Page_Tittle">Sys Place Holder List</label>
		<p:commandButton icon="ui-icon-plus"
			update=":addUpdateDialog,:sysplaceholderForm"
			styleClass="btn_right cancel_button" title="Add Sys PlaceHolder"
			action="#{sysPlaceHolderController.openFormForNewPlaceHolder}"
			oncomplete="PF('sysPLaceHolderAddModal').show()" />
		<div class="listing_Table">
			<p:dataTable widgetVar="myDataTable" id="placeHolderListForm"
				var="sysPlaceHolder"
				value="#{sysPlaceHolderBean.sysPlaceHolderResponseTOList}" rows="10"
				paginator="true" styleClass="table-header" rowIndexVar="index"
				paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30" filteredValue="#{sysPlaceHolderBean.filteredSysPlaceHolderResponseTOList}">
				<f:facet name="{Sys Place Holder}" />
				<p:column sortBy="#{sysPlaceHolder.placeHolder}"
					filterBy="#{sysPlaceHolder.placeHolder}"
					headerText="Place Holder Name">
					<h:outputText value="#{sysPlaceHolder.placeHolder}" />
				</p:column>
				<p:column sortBy="#{sysPlaceHolder.placeholderDesc}"
					filterBy="#{sysPlaceHolder.placeholderDesc}"
					headerText="Place Holder Description">
					<h:outputText value="#{sysPlaceHolder.placeholderDesc}" />
				</p:column>
				<p:column sortBy="#{sysPlaceHolder.commTypeName}"
					filterBy="#{sysPlaceHolder.commTypeName}"
					filterMatchMode="contains" headerText="Communication Type">
					<h:outputText value="#{sysPlaceHolder.commTypeName}" />
				</p:column>
				<p:column sortBy="#{sysPlaceHolder.ruleName}"
					filterBy="#{sysPlaceHolder.ruleName}" headerText="Rule ID">
					<h:outputText value="#{sysPlaceHolder.ruleName}" />
				</p:column>
				<p:column sortBy="#{sysPlaceHolder.levelType}"
					filterBy="#{sysPlaceHolder.levelType}" headerText="Level Type">
					<h:outputText value="#{sysPlaceHolder.levelType}" />
				</p:column>
				<p:column sortBy="#{sysPlaceHolder.complexityType}"
					filterBy="#{sysPlaceHolder.complexityType}"
					headerText="Complexity Type">
					<h:outputText value="#{sysPlaceHolder.complexityType}" />
				</p:column>
				<p:column sortBy="#{sysPlaceHolder.entityColumnID}"
					filterBy="#{sysPlaceHolder.entityColumnID}"
					headerText="Entity Column ID">
					<h:outputText value="#{sysPlaceHolder.entityColumnID}" />
				</p:column>
				<p:column sortBy="#{sysPlaceHolder.columnExpression}"
					filterBy="#{sysPlaceHolder.columnExpression}"
					headerText="Column Expression">
					<h:outputText value="#{sysPlaceHolder.columnExpression}" />
				</p:column>
				<p:column sortBy="#{sysPlaceHolder.whereCondition}"
					filterBy="#{sysPlaceHolder.whereCondition}"
					headerText="Where Condition">
					<h:outputText value="#{sysPlaceHolder.whereCondition}" />
				</p:column>
				<p:column headerText="Operation">
					<p:commandButton icon="ui-icon-trash" update=":confirmForm"
						title="Delete" styleClass="btn_right cancel_button"
						action="#{sysPlaceHolderController.markPlaceHolderForDeletion(sysPlaceHolder.sysPlaceHolderID)}"
						oncomplete="PF('confirmDlgBox').show();" />
					<p:commandButton update=":addUpdateDialog" title="Update"
						icon="ui-icon-pencil" styleClass="btn_right cancel_button"
						action="#{sysPlaceHolderController.markPlaceHolderForUpdation(sysPlaceHolder.sysPlaceHolderID)}"
						oncomplete="PF('sysPLaceHolderAddModal').show();" />
				</p:column>
			</p:dataTable>
		</div>
	</h:form>

	<p:dialog header="Delete Confirmation" widgetVar="confirmDlgBox"
		resizable="false" closeOnEscape="true" modal="true">
		<h:form id="confirmForm">
			<div class="confirmDialog_text">
				Do you really want to delete? <br />
			</div>
			<div class="confirmDialog_btn_panel">
				<p:commandButton value="Yes" styleClass="Submit_button"
					icon="ui-icon-check"
					actionListener="#{sysPlaceHolderController.deletePlaceHolderByID(sysPlaceHolderBean.sysPlaceHolderIDForDeletion)}"
					update=":sysplaceholderForm"
					oncomplete="PF('confirmDlgBox').hide();PF('myDataTable').getPaginator().setPage(0); scrollUp();" />
				<p:spacer width="20px" />
				<p:commandButton value="No" type="button" styleClass="cancel_button"
					icon="ui-icon-close" onclick="PF('confirmDlgBox').hide();"
					immediate="true" />
			</div>
		</h:form>
	</p:dialog>



	<p:dialog id="addUpdateDialog"
		header="#{sysPlaceHolderBean.sysPLaceHolderAddHeader}"
		widgetVar="sysPLaceHolderAddModal" modal="true">
		<h:form id="addSysPLaceHolderForm">
			<p:messages closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>System Place Holder:</p:outputLabel>

				<p:inputText id="sysplaceholdername" required="true" maxlength="200"
					requiredMessage="Please enter place holder name"
					value="#{sysPlaceHolderBean.placeHolderName}" />

				<p:outputLabel>
					<span class="redColor">*</span>System Place Holder Description:</p:outputLabel>

				<p:inputText id="sysplaceholderdescription" required="true"
					maxlength="200"
					requiredMessage="Please enter place holder description"
					value="#{sysPlaceHolderBean.placeHolderDescription}" />


				<p:outputLabel>
					<span class="redColor">*</span>Place Holder Type:</p:outputLabel>

				<p:selectOneMenu id="sysplaceholdertype" required="true"
					requiredMessage="Please select place holder type"
					value="#{sysPlaceHolderBean.placeHolderTypeID}" style="width:150px">
					<f:selectItem itemLabel="Select Type" itemValue=""
						noSelectionOption="true" />
					<f:selectItems
						value="#{sysPlaceHolderBean.hrContentTypeResponseTOList}"
						var="contentType" itemValue="#{contentType.typeId}"
						itemLabel="#{contentType.type}" />
				</p:selectOneMenu>

				
				<p:outputLabel>
					<span class="redColor">*</span>Module Type:</p:outputLabel>

				<p:selectOneMenu id="moduleType" required="true"
					requiredMessage="Please select module type"
					value="#{sysPlaceHolderBean.moduleID}" style="width:150px">
					<f:selectItem itemLabel="Select Module Type" itemValue=""
						noSelectionOption="true" />
					<f:selectItems
						value="#{sysPlaceHolderBean.parentModuleIDByName.entrySet()}"
						var="entry" itemValue="#{entry.key}"
						itemLabel="#{entry.value}" />
						<p:ajax event="change"
						listener="#{sysPlaceHolderController.onModuleSelection}"
						update=":addSysPLaceHolderForm:submoduleType" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Sub-Module Type:</p:outputLabel>

				<p:selectOneMenu id="submoduleType" required="true"
					requiredMessage="Please select Sub-module type"
					disabled="#{sysPlaceHolderBean.disableSubModuleSelection}"
					value="#{sysPlaceHolderBean.subModuleName}" style="width:150px">
					<f:selectItem itemLabel="Select Sub-Module Type" itemValue=""
						noSelectionOption="true" />
					<f:selectItems
						value="#{sysPlaceHolderBean.subModulesNamesList}"
						var="entry" itemValue="#{entry}"
						itemLabel="#{entry}" /> />
						<p:ajax event="change"
						listener="#{sysPlaceHolderController.onSubModuleSelection()}"
						update=":addSysPLaceHolderForm:submoduleType" />
				</p:selectOneMenu>

				<p:outputLabel>
				Entity Type:</p:outputLabel>

				<p:selectOneMenu id="sysentitytype"
					value="#{sysPlaceHolderBean.entityColumnID}" style="width:150px">
					<f:selectItem itemLabel="Select Entity Type" itemValue=""
						noSelectionOption="true" />
					<f:selectItems
						value="#{sysPlaceHolderBean.sysEntityColumnResponseTOList}"
						var="entitytType" itemValue="#{entitytType.entityColumnID}"
						itemLabel="#{entitytType.entityColumnName}" />
				</p:selectOneMenu>



				<p:outputLabel>
				Rule Type:</p:outputLabel>

				<p:selectOneMenu id="sysruletype"
					value="#{sysPlaceHolderBean.ruleID}" style="width:150px">
					<f:selectItem itemLabel="Select Rule Type" itemValue="" />
					<f:selectItems value="#{sysPlaceHolderBean.sysRuleResponseTOList}"
						var="ruleObj" itemValue="#{ruleObj.ruleID}"
						itemLabel="#{ruleObj.ruleMethod}" />
				</p:selectOneMenu>

				<p:outputLabel>
				Level Type:</p:outputLabel>

				<p:selectOneMenu id="sysleveltype"
					value="#{sysPlaceHolderBean.levelType}" style="width:150px">
					<f:selectItem itemLabel="Select Level Type" itemValue="" />
					<f:selectItem itemLabel="1" itemValue="1" />
					<f:selectItem itemLabel="2" itemValue="2" />
				</p:selectOneMenu>

				<p:outputLabel>
				Complexity Type:</p:outputLabel>

				<p:selectOneMenu id="syscomplexitytype"
					value="#{sysPlaceHolderBean.complexityType}" style="width:150px">
					<f:selectItem itemLabel="Select Complexity Type" itemValue="" />
					<f:selectItem itemLabel="1" itemValue="1" />
					<f:selectItem itemLabel="2" itemValue="2" />
					<f:selectItem itemLabel="3" itemValue="3" />
					<f:selectItem itemLabel="4" itemValue="4" />
					<f:selectItem itemLabel="5" itemValue="5" />
				</p:selectOneMenu>



				<p:outputLabel>
				Column Expression:</p:outputLabel>

				<p:inputText id="columnExpressionDescription" maxlength="200"
					requiredMessage="Please enter column expression"
					value="#{sysPlaceHolderBean.columnExpression}" />


				<p:outputLabel>
				Where Expression:</p:outputLabel>

				<p:inputText id="whereExpressionDescription" maxlength="200"
					requiredMessage="Please enter where expression"
					value="#{sysPlaceHolderBean.whereCondition}" />

				<p:outputLabel>
				Entity Path:</p:outputLabel>

				<p:inputText id="sysentitypath" maxlength="200"
					requiredMessage="Please enter entity path"
					value="#{sysPlaceHolderBean.entityPath}" />


			</h:panelGrid>


			<p:commandButton styleClass="Submit_button"
				value="#{sysPlaceHolderBean.insertNewPlaceHolderCommandButtonValueText}"
				action="#{sysPlaceHolderController.insertNewPlaceHolder()}"
				process=":addSysPLaceHolderForm,:sysplaceholderForm"
				update=":addSysPLaceHolderForm,:sysplaceholderForm"
				oncomplete="if (!args.validationFailed) PF('myDataTable').getPaginator().setPage(0);scrollUp(); PF('myDataTable').clearFilters();"
				style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				action="#{sysPlaceHolderController.resetFields}"
				onclick="PF('sysPLaceHolderAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

</ui:composition>