<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysDashboardListForm">
		<p:messages id="messages" closable="true"
			rendered="#{!dashboardChartBean.renderErrorMessage}" />
		<label class="Page_Tittle">System Dashboard List</label>
		<p:commandButton icon="ui-icon-plus" update=":addsysDashboardForm"
			styleClass="btn_right cancel_button" title="Add Sys Policy"
			action="#{dashboardChartController.resetSysDashboard}"
			oncomplete="PF('sysDashboardAddModal').show()" />
		<div class="listing_Table">
			<p:dataTable widgetVar="sysDashboardDataTable" var="sysDashboard"
				value="#{dashboardChartBean.sysDashboardTOList}" rows="10" paginator="true"
				styleClass="table-header" rowIndexVar="index"
				paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">

				<p:column headerText="DashboardName">
					<h:outputText value="#{sysDashboard.dashboardName}" />
				</p:column>
					<p:column headerText="StyleClass">
					<h:outputText value="#{sysDashboard.styleClass}" />
				</p:column>
				
			</p:dataTable>
		</div>
	</h:form>

	

	<p:dialog id="dashboardChartAddModel" header="NEW DASHBOARD" widgetVar="sysDashboardAddModal"
		modal="true" resizable="false">
		<h:form id="addsysDashboardForm">
			<p:messages id="messages" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">

				<p:outputLabel>
					<span class="redColor">*</span>Dashboard Name:</p:outputLabel>
				
				<p:inputText  required="true" maxlength="200"
					requiredMessage="Please provide dashboard name."
					value="#{dashboardChartBean.dashboardName}" />

				<p:outputLabel>
					<span class="redColor">*</span>StyleClass:</p:outputLabel>

				<p:inputText id="sysDashboardName" required="true" maxlength="200"
					requiredMessage="Please provide styleclass"
					value="#{dashboardChartBean.styleClass}" />
	</h:panelGrid>
			
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{dashboardChartController.saveSysDashboard}"
				process=":addsysDashboardForm" update=":sysDashboardListForm"
				style="float:bottom" oncomplete="#{p:widgetVar(':dashboardChartAddModel')}.hide();"/>

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysDashboardAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	
</ui:composition>