/* ====== primefaces css custom =========== */
.ui-widget .ui-widget{font-size:12px!important; font-weight:normal; }
.ui-icon{border-radius:0px;}
.ui-corner-all{border-radius:0px;}
.ui-corner-right{border-radius:0px;}
.ui-selectonemenu-label, .ui-inputtext , .ui-inputfield{box-shadow:0px 0px 0px!important;}
.ui-outputlabel{font-weight:bold; text-align:right;}
.ui-state-hover, .ui-state-focus ,.ui-state-default{box-shadow:0px 0px 0px!important;}
.ui-state-hover, .ui-state-focus{text-shadow:0 0 0!important; font-weight:normal!important;}
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{margin-top:4px;}
.ui-state-highlight, .ui-widget-content, .ui-widget-header{text-shadow:inherit!important; font-size:12px;}
.ui-panel .ui-panel-content{padding:0px;}
.ui-widget-header{font-weight:bold;}
.ui-panel{padding:0px;}
/* ======= SelectoneMenu ========= */
.ui-selectonemenu-panel{box-shadow:0px 0px 0px!important;}
.ui-selectonemenu-panel .ui-selectonemenu-list{padding:0px;}
.ui-selectonemenu-panel .ui-selectonemenu-list-item{margin:0px; font-size:12px; padding:5px;}

/* ======= SelectCheckboxMenu ========= */
.ui-selectcheckboxmenu{background:none!important; border:1px solid #d8dcdf!important; height:23px; }
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{background:#eee!important; border-left:1px solid #d8dcdf!important;}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label-container .ui-state-hover{background:none;}
 
/* ============Clearfix========= */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
*zoom: 1;
}

/*===================== step css  =====================*/
/*.title-block{padding-bottom:15px;}*/
.title-left{float:left; font-size:12px;}
.bold-text{font-weight:bold!important;}
.title-left a.home-btn{width:20px; height:20px; display:block; float:left; font-size:0px!important; text-indent:-9999px!important; margin-right:10px;
 	-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
	-webkit-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9);}
.title-left a.home-btn:hover{-webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1)}
.title-left label {float:left; padding:5px 5px 0 0;}
.select-report-block{float:right;}
.select-report-block .label-text{padding:5px 10px 0 0; display:inline-block;}
.select-report-block .ui-selectonemenu{float:right;}
.step-block .ui-tabs-nav{max-width:570px; margin:auto; padding:0px!important;}
.step-block .ui-tabs-nav li.ui-state-default{padding:0px; top:0px!important; margin:0 45px; border:none; border-radius:0px; background:none;}
.step-block .ui-tabs-nav li#step1{margin:0 90px 0 70px;}
.step-block .ui-tabs-nav li#step2{margin:0px;}
.step-block .ui-tabs-nav li a{padding:50px 0 0px 0px; font-size:11px; text-shadow:0 0 0; font-weight:normal;}
.step-block .ui-tabs-nav li a{background-repeat:no-repeat;}
.step-block .ui-tabs-nav li#step0 a{background-position:center 12px;}
.step-block .ui-tabs-nav li#step1 a{background-position:center -66px;}
.step-block .ui-tabs-nav li#step2 a{background-position:center -142px;}
.step-block .ui-tabs-nav li.ui-state-disabled{opacity:1;}
.step-block .ui-tabs-nav li#step0.ui-state-active a{background-position:center -220px;}
.step-block .ui-tabs-nav li#step1.ui-state-active a{background-position:center -297px;}
.step-block .ui-tabs-nav li#step2.ui-state-active a{background-position:center -374px;}
.step-block .ui-tabs-nav li.ui-state-default a{background-position:center -452px;}
.step-block .ui-tabs-nav li.ui-state-disabled a{background-position:center 0px;}
.step-block .ui-tabs-panels{min-height:300px;}
/*===================== step one css  =====================*/
.setp-content-block {float:left; width:100%;}
.setp-block-inner{ width:100%; float:left; padding:15px 0;}
.setp-column-one ,.setp-column-three ,.setp-column-four{width:31.5%; float:left;}
.setp-column-four{float:right;}
.setp-column-one .btn-link{bottom:73px; position: absolute;  right: 22px;  z-index: 99;}
.setp-column-two{width:20px; float:left; margin:0 10px; padding-top:50px;}
.setp-column-inner{border-radius:3px; position:relative;}
.setp-column-inner .table-title{font-weight:bold; text-align:center; line-height:30px; display:block;}
.setp-column-inner .ui-tree{width:auto;}
.setp-column-inner .ui-tree-container{padding:5px 3px 5px 5px;}
.setp-column-inner .ui-treenode-unselected .ui-treenode-content{display:block; padding:5px 0; font-weight:bold;}
.setp-column-inner .ui-treenode-children{margin:0px; padding:0px;}
.setp-column-inner .ui-treenode-children .ui-treenode-content{background:none!important; border:none!important; padding:0px!important; font-weight:normal;}
.setp-column-inner .ui-treenode-children .ui-treenode-label{padding:0 5px}
.setp-column-inner .ui-treenode-children .ui-treenode-leaf-icon{display:none;}
.setp-column-inner .ui-treenode-children .ui-treenode-label{display:block; padding:3px 5px;} 
.setp-column-two button{width:20px; height:20px; margin-bottom:5px; font-size:0px; text-indent:-9999px;}
.setp-column-two .ui-button-text{padding:0px;}
.setp-column-two .right .ui-button-text{background-position:-32px -32px !important;}
.setp-column-two .right-all .ui-button-text{background-position:-208px -32px !important;}
.setp-column-two .left .ui-button-text{background-position:-96px -32px !important;}
.setp-column-two .left-all .ui-button-text{background-position:-240px -32px!important;}
.setp-column-four .table-title{font-weight:bold; padding:10px 0; text-align:center; display:block;}
.setp-column-four-inner{padding-bottom:5px;}
.setp-column-four-inner ul{padding:0px 0 0 15px; margin:0px; list-style:none;}
.setp-column-four-inner ul li{padding:0 0 5px 0px;}
.setp-column-four-inner ul li h4{margin:0 0 4px 0; font-size:12px;}	
.step-block .ui-tabs-panels{padding:0; width:100%; float:none; border:none;}
.vertical-scrollbar{height:365px; position:relative;  overflow-y: auto;}
#vertical-scrollbar-demo{height:300px; position:relative;  overflow-y: auto;}
.overview{width:100%;}

/*===================== step two css  =====================*/
.step-two-block{max-width:610px; margin:auto; padding:20px 0;}
.step-two-block-inner{padding:10px 10px 3px 10px;}
.step-two-block .ui-widget-content{background:none; border:none;}
.step-two-block .ui-selectonemenu{width:230px!important; float:left;}
.step-two-block .ui-selectonemenu .ui-selectonemenu-label{width:88%!important;}
.form-group{padding:0px;}
.form-item-left{width:260px; float:left; margin-bottom:10px;}
.form-item-right{width:311px; float:left; margin-bottom:10px;}
.form-item-rights{clear:both;margin:0 5px;}
.label-outer{display:inline-block; padding:6px 0 0 6px;}
.label-outer .ui-outputlabel{font-weight:bold; font-size:12px; text-transform:uppercase;}
.join-block{padding-bottom:5px; margin-bottom:15px;}
.step-two-block .scrollable .scroll-bar.vertical{right:3px; top:7px;}
.margB10{margin-bottom:10px;}
.scrollable .viewport{width:100%!important;}
.visibility-show .ui-overlay-hidden{visibility:visible!important; position:fixed; top:40%; left:50%; margin-left:-200px;}
.visibility-show .ui-overlay-hidden *{visibility:visible!important;}

/*===================== step three css  =====================*/
.step-three-wrapper{padding:0px; margin:0px;}
.step-three-wrapper .ui-widget-content{border:none;}
.setp-column-inner .ui-treenode-children .ui-tree-selectable{display:inline-block;}
.step-three-wrapper .setp-column-one{width:21%;}
.setp-column-right{width:75.5%; float:right; padding-left:20px; min-height:405px;}
.selected-filters-wrapper {margin-bottom: 15px;}
.selected-filters-wrapper .selected-columns-inner{border:none!important;}
.selected-filters-wrapper .selected-columns-inner table td{padding-top:0px;}
.selected-filters-wrapper .selected-columns-inner table.table-date{border-left:none; border-top:none;}
.selected-filters-wrapper .selected-columns-inner table.table-date td{padding:0px!important; border:none!important;}
.selected-filters-wrapper table.table-date .ui-outputlabel{font-weight:bold; padding:5px 10px 0 0; display:inline-block; min-width:80px;}
.selected-filters-wrapper table.table-date .ui-selectonemenu{position:relative; top:7px; margin-right:10px;}
.selected-filters-wrapper table.table-date .input-text{display:inline;}
table.table-date .input-text .ui-inputfield{width:90px;}
.selected-columns-wrapper{padding:0px; margin-bottom:15px;}
.selected-columns-inner{padding:0px;}
.selected-columns-inner .ui-datatable-header{background:none!important; border:1px dashed !important;border-radius:5px; margin:10px 0; padding:10px 0 10px 0;}
.selected-columns-inner table th.ui-state-default{padding:10px 0 7px 0;}
.selected-columns-inner table td{padding:8px 0; text-align:center;}
.selected-columns-inner .title-columns{font-weight:bold;}
.selected-columns-inner .setting-button{width:16px; height:16px; font-size:0px!important; text-indent:-9999!important;  display:block; 
float:right;}
.selected-columns-inner .ui-column-title,.selected-columns-inner .setting-button{margin:0 6px;}
.title-block .main-title{font-size:14px!important; font-weight:bold!important;}
.ui-column-dnd-bottom{display:none;}

/*=============================== Dialog ===============================*/
.dialog-box-columns{width:340px!important}
.ui-dialog .ui-dialog-content{padding:15px;}
.ui-dialog{border-radius:5px!important;	box-shadow:1px 1px 10px #000000!important;}
.ui-dialog .ui-dialog-titlebar{padding:5px 5px 5px 10px!important; height:21px; text-transform:uppercase;}
.dialog-form-group{padding:0px; margin-bottom:10px; border:none!important}
.button-row{padding:0;}
.label-form{font-weight:bold!important; display:block; float:left; text-align:right; padding:5px 10px 0 0;}
.dialog-box-columns .label-form{width:110px; word-break:break-all;}
.dialog-box-columns .ui-selectonemenu{width:150px!important;}
.dialog-box-columns .ui-inputtext{width:142px!important;}
.is-null {padding:0 0 0 76px;}
.is-null .ui-selectonemenu{margin:0 10px;}
.is-null .ui-outputlabel{font-weight:bold!important;} 
.dialog-create-filter{width:985px!important;}
.dialog-processing .ui-dialog-content{max-width:1300px; max-height:500px!important;}
.width200{width:200px!important;}
.width240{width:240px!important;}
.label-form40{width:40px!important;}
.label-form100{width:105px!important;}

.dialog-processing  .ui-selectonemenu ,.form-table .ui-selectonemenu ,.form-listing-right .ui-selectonemenu{width:120px!important;}
.ui-selectonemenu120{width:120px!important;}

.dialog-processing .ui-panelgrid-cell ,.dialog-processing .ui-widget-content{border:none;}
.create-block-main{padding:0 0 30px 0;}
.create-block-main h3{font-size:14px;}
.create-block-inner {margin-bottom:15px;}
.create-block-inner .ui-inputtext{width:130px;}
.create-block-inner .ui-selectonemenu{float:left; margin-right:10px;}
.input-item{float:left; margin-right:10px;}
.tabs-common .is-null {padding:0!important;}
.form-left{float:left; width:490px;}
.is-null-block{float:left;} 
.is-null-block .ui-selectonemenu{margin:0 10px;}
.is-null-block .ui-outputlabel{font-weight:bold!important;}
.form-block-one {float:left; width:335px;}
.form-block-one .label-form{min-width:200px;}
.form-block-two {float:left; width:320px;}
.form-block-three {float:left; width:240px;}
.form-two-three{float:left;}
.create-block .form-group{margin-bottom:10px;}
.form-left-block{float:left; width:335px;}
.form-right-block{float:left; width:400px;}
.select-width80{width:120px!important;}
.select-width155{width:155px!important;}
.select-width127{width:127px!important;}
.form-left-block .label-form{min-width:200px;}
.form-right-block .label-form{min-width:145px;}
.form-block-two .label-form{min-width:145px;}

.tabs-common .input-left{float:left;/* width:348px;*/}
.input-left .label-form{min-width:200px;}
.input-left .label-form135{min-width:135px;}
 
.create-block label.title{font-size:14px!important; font-weight:bold!important;border-bottom:solid 1px #ccc; padding-bottom:10px!important; display:block; text-align:left; margin-bottom:15px;}
.pad-top15{padding-top:15px;}
.pad-bot15{padding-bottom:15px;}

.PopUpinCenter {position: absolute;top: 26% !important;left: 40% !important;width: auto;height: auto;}
.ui-tabs-panels .ui-messages-close .ui-icon-close{margin:-13px -8px;}
.PopUpinCenter_addFilter {position: absolute;top: 1% !important;left: 15% !important;}
.dialog-create-filter .ui-dialog-content{height:350px!important;}
.PopUpinCenter_step3 {position: absolute;top: 15% !important;}

/*=============================== view page  ===============================*/
.ui-tabs{width:100%; float:left; border:none;  padding:0 0 10px 0; margin:0 0 10px 0;}
.tabs-common .ui-tabs-nav li a{background-image:none!important;}
.tabs-common .ui-tabs-panels{padding:2% 2%; width:95.8%; float:left;}
.tabs-common .ui-tabs-panel{padding:0px;}
.tabs-common .ui-tabs-nav{background:none!important; padding:0px!important; margin:0px;}
.tabs-common .ui-tabs-nav li.ui-state-default{border:none; margin:0px 2px 0 0; padding:0px; top:0px!important}
.tabs-common .ui-tabs-nav li a{padding:8px 11px 8px 11px; text-transform:uppercase; border-bottom:none!important;border-radius:2px 2px 0px 0px; 
font-size:12px; text-shadow:0 0 0; font-weight:bold; position:relative;}
.tabs-common .ui-tabs-nav li.ui-state-active a{border-bottom:none;}
.tabs-common .ui-tabs-nav li:hover.ui-tabs-selected a{border-bottom:none;}
.adhoc-report-block .ui-tabs-nav li.ui-state-active a:after{left: 100%;top:38%;border: solid 5px;content: " ";height: 0;width: 0;
position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);}
/* ========== Form Custom =============== */
.form-block ul{list-style:none;  padding:0; width:435px; margin:auto;}
.form-block ul li{list-style:none; width:100%; float:left; min-height:30px; margin-bottom:10px;}
.form-block .label-control{min-width:116px; padding:5px 10px 0 0; float:left; font-weight:bold;}
.form-block .ui-selectonemenu{width:305px!important; float:left;}
.form-block .ui-inputtext{width:298px!important; float:left;}

.form-listing-block{padding:0px; margin-bottom:10px;}
.form-listing-left{float:left; width:283px;}
.form-listing-left .ui-inputfield{width:112px;}
.form-listing-right{float:left;}
.form-table table tr td{padding:0px 0 5px 0!important;}
.form-table .label-form {width:150px; padding-top:0px;}
.form-listing-block .label-form{width:150px;}

.adhoc-report-block{width:100%;}
.tabs-common .adhoc-report-block .ui-tabs-panels{border:none!important;}
.adhoc-report-block .ui-tabs-panels{padding:0 2%; width:80%; float:right;}
.adhoc-report-block .ui-tabs-nav{width:16%;}
.adhoc-report-block .ui-tabs-nav li.ui-state-default{border:none; margin:0px; border-radius:0px; padding:0px; top:0px!important}
.adhoc-report-block .ui-tabs-nav li a{padding:8px 11px 8px 11px; text-transform:capitalize; border:none!important;  border-radius:0px; 
font-size:13px; text-shadow:0 0 0; width:89%; text-align:right; font-weight:normal;}
.adhoc-report-block .ui-tabs-nav li.ui-state-active a{border-bottom:none;}
.adhoc-report-block .ui-tabs-nav li:hover.ui-tabs-selected a{border-bottom:none;}
.text-area{width:142px!important;}

/*=============================== Table Listing ===============================*/
.table-listing{width:100%;}
.table-listing table thead tr th{padding:8px 0 9px 10px; border:none!important; text-align:left; text-shadow:0 0 0!important; font-weight:bold!important; font-size:12px;}
.table-listing table tr td {border-top:none!important; border-right:none!important; border-left:none!important; white-space:normal;  padding:8px 0 7px 10px!important;}
.table-listing .ui-widget-content{border:none;}

/*=============================== common Dialog ===============================*/
.ui-dialog .ui-dialog-content{padding:15px;}
.ui-dialog{border-radius:5px!important;	box-shadow:1px 1px 10px #000000!important;}
.ui-dialog .ui-dialog-titlebar{padding:5px 5px 5px 10px!important; height:21px; text-transform:uppercase;}
.btn-row{padding:15px 0 0 0;}
.dialog-form-block{border:none;}
.dialog-form-block h3{font-size:14px; font-weight:bold; margin:0px 0 15px 0; padding:0px;}
.dialog-form  .ui-selectonemenu {float:left;}
.dialog-form  table { border-spacing:0px; } 
.dialog-form  table tr td{padding:0px 10px 10px 0; margin:0px;}

.dialog-form{margin-bottom:5px;}
.dialog-select-filters{width:380px!important;}
.dialog-form-row{margin-bottom:10px; width:100%; float:left;}
.dialog-form .cell-one{min-width:100px; text-align:right;}
.cell-one , .cell-two, .cell-three{float:left; padding-right:10px;}
.dialog-form .cell-one .ui-outputlabel{display:block; font-weight:bold; padding-top:6px;}

/*=============================== Calendar===============================*/
.ui-datepicker{padding:0px;}
.ui-datepicker-header{height:27px; padding:0px!important; border:none;}
.ui-datepicker .ui-datepicker-title{padding-top:2px;}
.ui-datepicker table{font-size:12px;}
.ui-datepicker th{padding:8px 0px;}
.ui-datepicker td a{padding:2px 0px; text-align:center; text-shadow:0 0px 0px!important; font-weight:normal!important;}

/*=============================== CreateReport ===============================*/
.setp-content-block .ui-widget-content{border:none} 
.report_top{padding:0 10px 10px 0;}
.report_top a{margin-right:10px;}
.btn-link:hover{text-decoration:none;}
.report_top .label-text{float:left; padding:5px 10px 0 0;}
.form-item{padding-bottom:10px;}
.form-item .ui-inputfield{width:120px;} 
.floatRight{float:right;}

/*=============================== Configuration page ===============================*/
.form-Configuration{padding:0px}
.form-Configuration-row{padding-bottom:15px;}
.form-Configuration-items{float:left; width:300px;}
.form-Configuration-items .label-form{min-width:100px;}
.listing-Configuration{padding:0px;}
.listing-Configuration .ui-panelgrid-cell ,.listing-Configuration .ui-widget-content{border:none;}
.icons-block{width:70px; border:none;  box-shadow:0 0 0;  padding:6px 0 0;}
.icons-block .ui-menu-list{width:46px; box-shadow:0 0 2px #636466; float:left;}
.icons-block .ui-widget-header{display:none;}
.icons-block .ui-menuitem{float:left; width:auto; clear:none; padding:0 4px;}
.icons-block .icons{width:12px; height:12px; font-size:0px; text-indent:-9999; display:block;}
.icons-block .ui-state-hover{background-color:#fff!important;}
.icons-block .icon-view{background-position:0 0;}
.icons-block .icon-edit{background-position:-19px 0;}
.icons-block .icon-delete{background-position:-38px 0;}
.input-fliter .ui-column-filter{clear:both; margin:5px 0 0 0px;}
.ui-paginator-bottom{border:none !important;}
.table-listing-outer{margin-bottom:15px;}
.table-listing-outer h3{font-size:14px; font-weight:bold; color:#636466; padding:0px; margin:0 0 10px 0px;}
.listing-Configuration {max-height: 500px !important;max-width: 1300px;overflow: auto;}

/* =============== Media Queries ================ */
@media screen and (max-width:830px) {
	.setp-column-two{margin: 0 6px;}
}

@media screen and (max-width:767px) {
	.setp-column-two{margin: 0 3px;}
}
@media screen and (max-width:639px) {
	.step-block .ui-tabs-nav{max-width:370px; background-size:100% 17%!important;}
	.step-block .ui-tabs-nav li.ui-state-default{margin: 0 15px;}
	.step-block .ui-tabs-nav li#step1{margin:0 25px 0 30px;}
	.setp-column-one, .setp-column-three {width:45.8%; margin-bottom:15px;}
	.setp-column-two{margin: 0 5px;}
	.setp-column-four{width:100%;}
	.title-left{margin-bottom:10px;}
}
@media screen and (max-width:413px) {
	.step-block .ui-tabs-nav{max-width:270px;}
	.step-block .ui-tabs-nav li.ui-state-default{margin: 0 25px;}
	.step-block .ui-tabs-nav li#step1{margin: 0 45px 0 25px;}
	.step-block .ui-tabs-nav li a{font-size:0px; width:40px; height:40px; display:block; padding-top:25px;}
	.setp-column-two{margin: 0 1px;}
}
/* =============== Media Queries  2================ */
@media screen and (max-width:660px) {
	.step-two-block{max-width:370px;}
	.step-two-block .ui-selectonemenu{width:73%!important;}
	.step-two-block .ui-selectonemenu label.ui-selectonemenu-label{width:95%!important;}
	.form-item-left, .form-item-right{width:100%;}
}
@media screen and (max-width:413px) {
	.step-two-block .ui-selectonemenu{width:99%!important;}
	.label-outer{padding:10px 0 0; width:100%; text-align:center;}
	.label-outer a{display:block; text-align:center;}
	.onlymobile{text-align:center; display:block;}
}

/*===============================button css ===============================*/
button.ui-button-text-only,
input.btn-gray{
  color: #333333!important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)!important;
  background: #f5f5f5!important;
  *background: #e6e6e6!important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))!important;
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6)!important;
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6)!important;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6)!important;
  background-repeat: repeat-x!important;
  border: 1px solid #d0d0d0!important;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)!important;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false)!important;
   -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)!important;
   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)!important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)!important;
	font-weight:bold!important;
	margin-right:10px;
}
button.ui-button-text-only:hover,
input.btn-gray:hover  {
  color: #333333!important;
  background: #e6e6e6!important;
  *background: #d9d9d9!important;
}
button.ui-button-text-only:hover,
input.btn-gray:hover{
  -webkit-transition: background-position 0.1s linear!important;
  -moz-transition: background-position 0.1s linear!important;
  -o-transition: background-position 0.1s linear!important;
  transition: background-position 0.1s linear!important;
}
button.btn-success {
  color:#ffffff!important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
  background: #5bb75b!important;
  *background: #5bb75b!important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351))!important;
  background-image: -webkit-linear-gradient(top, #62c462, #51a351)!important;
  background-image: -o-linear-gradient(top, #62c462, #51a351)!important;
  background-image: linear-gradient(to bottom, #62c462, #51a351!important);
  background-image: -moz-linear-gradient(top, #62c462, #51a351)!important;
  background-repeat: repeat-x!important;
  border-color: #51a351 #51a351 #387038!important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)!important;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0)!important;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false)!important;
  margin-right:10px;
 }
button.btn-success:hover {
  color: #ffffff!important;
  background-color: #51a351!important;
  *background-color: #499249!important;
}
button.btn-success .ui-button-text{
	color: #ffffff!important;
}
button.blue-btn {
  color: #ffffff!important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
  background:#49afcd!important;
  *background: #2f96b4!important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4))!important;
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4)!important;
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4)!important;
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4)!important;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4)!important;
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)!important;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0)!important;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false)!important;
  text-transform:capitalize;
  font-weight:bold!important;
  margin-right:10px;
}

button.blue-btn:hover
{
  color: #ffffff!important;
  background: #2f96b4!important;
  *background: #2a85a0!important;
}
button.blue-btn:hover {
  -webkit-transition: background-position 0.1s linear!important;
  -moz-transition: background-position 0.1s linear!important;
  -o-transition: background-position 0.1s linear!important;
  transition: background-position 0.1s linear!important;
}
	
/*=======================================Page Title=======================================*/
.Page_Tittle{text-transform:uppercase; color: #636466; float: left; font-size: 14px;font-weight: bold; margin: 8px 0 0;}
/*=======================================Page Title=======================================*/
 input.ui-inputtext, input.ui-inputfield {width: 180px !important;}
 
/*==============================Pagination Start=========================================*/
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev { border-radius: 50px !important; color:#fff !important;}
.ui-paginator-page ,.ui-paginator-page  .ui-corner-all , .ui-paginator-next, .ui-paginator-prev,.ui-paginator-first, .ui-paginator-last{background:none !important;}
.ui-paginator-rpp-options {background:#fff !important;}
.ui-paginator.ui-paginator-bottom {background: #636466 !important;color: #ffffff !important; text-shadow: none !important;}
.listing_Table .ui-paginator .ui-paginator-pages .ui-state-active {background: #ffffff  !important; color: #636466 !important;}
.listing_Table .ui-paginator .ui-paginator-pages .ui-state-hover {background: #ffffff  !important; color: #636466 !important;}
.ui-icon .ui-icon-seek-prev:hover, .ui-icon .ui-icon-seek-first:hover,.ui-icon .ui-icon-seek-next:hover,.ui-icon .ui-icon-seek-end:hover{background-image:url(../images/ui-icons-gray.png)!important;}

.ui-paginator-page.ui-state-active {background: #fff !important;color: #636466 !important;}
/*==============================Pagination End=========================================*/


/*==============================Message View start=========================================*/
.ui-messages-error-icon {display: none;}
.ui-messages-error-summary{margin:0; font-size:12px;}
.content .ui-messages a.ui-messages-close .ui-icon-close {margin:5px;}
/*==============================Message View End=========================================*/
