@import url("adhocreports_custom.css");
.ui-icon{background-image:url(../images/ui-icons-gray.png) !important;}
.ui-icon.ui-icon-seek-prev, .ui-icon-seek-first,.ui-icon-seek-next,.ui-icon-seek-end{background-image:url(../images/ui-icons-white.png)!important;}
.redColor{margin-right:3px;color:red;}
.testclass{margin-right:3px;color:red;}
/* ====== primefaces css custom =========== */
.ui-widget{color:#636466!important;}
.ui-selectonemenu ,.ui-inputtext , .hasDatepicker{border:solid #d8dcdf 1px!important;}
.ui-selectonemenu .ui-selectonemenu-trigger{border-left:1px solid #d8dcdf; background:#eee;}
.ui-state-highlight, .ui-widget-content, .ui-widget-header{color:#636466;}
a.btn-link{color:#a73015!important; font-size:12px;}
/* ======= SelectoneMenu ========= */
.ui-selectonemenu-panel{border:1px solid #d8dcdf!important;}
.ui-selectonemenu-panel .ui-state-highlight{background:#f7f7f8; color:#636466;}
.ui-selectonemenu-panel .ui-state-hover{background:#e7e7e8; color:#636466;}

/*=============================== Adhoc Tabs  ===============================*/
.ui-tabs-panels{border:solid 1px #909193;}
.tabs-common .ui-tabs-nav li.ui-state-default{background:#e7e7e8;}
.tabs-common .ui-tabs-nav li a{color:#636466!important; border:solid 1px #909193;}
.tabs-common .ui-tabs-nav li:hover a{background:#fff; color:#636466;}
.tabs-common .ui-tabs-nav li.ui-state-active a{background:#636466; color:#fff!important; border:solid 1px #909090;}
.tabs-common .ui-tabs-nav li:hover.ui-tabs-selected a{color:#fff; background:#636466; border:solid 1px #909090;}
.tabs-common .ui-tabs-panels{border:solid 1px #909193;}
/*===================== step css  =====================*/
.title-block{border-bottom:solid 1px #e7e7e8;}
.title-left a.home-btn{background:url(../images/home_icon.png) 0 0 no-repeat;}
.step-block .ui-tabs-nav{background:url(../images/step_bg.png) center center no-repeat;}
.step-block .ui-tabs-nav li.ui-state-active a{color:#1c914a;}
.step-block .ui-tabs-nav li a{color:#7c7c7c;}
.step-block .ui-tabs-nav li a{background-image:url(../images/step_button.png);}
/*===================== step one css  =====================*/
.setp-column-inner{border:solid 1px #a8a8a8;}
.setp-column-inner .table-title{background:#e7e7e8; border-bottom:solid 1px #a8a8a8; color:#636466;}
.setp-column-inner .ui-treenode-unselected .ui-treenode-content{background:#e7e7e8; border:solid 1px #a8a8a8;}
.setp-column-inner .ui-treenode-unselected .ui-state-highlight,
.setp-column-inner .ui-treenode-unselected .ui-state-hover{background:none; color:#636466;}
.setp-column-inner .ui-treenode-children .ui-treenode-label:hover{background:#f6f6f7;}
.setp-column-inner .ui-treenode-children .ui-state-highlight{color:#fff; background:#636466;}
.setp-column-inner .ui-treenode-children .ui-state-highlight:hover{color:#fff; background:#636466;}
.setp-column-two button{background:#e7e7e8!important; border:solid 1px #a8a8a8!important;}
.setp-column-two button:hover{background:#fff!important;}
.setp-column-two .ui-button-text{background-image:url(../images/gray_icons/ui-icons-gray.png);}
.setp-column-four{background:#f6f6f7;}
.setp-column-four .table-title{color:#636466;}
/*===================== step two css  =====================*/
.step-two-block-inner{background:#f7f7f7; border:solid 1px #c1c2c3;}
.ui-selectonemenu-label{color:#636466!important;}
.step-two-block .ui-selectonemenu-items-wrapper{background:#fff;} 
.join-block{border-bottom:solid 1px #c1c2c3;}
.join-type .ui-icon-triangle-1-s{background:url(../images/gray_icons/drop_arrow.png) 5px 2px no-repeat!important;}	

/*===================== step three css  =====================*/
.setp-column-right{/*border-left:solid 1px #e7e7e8;*/width:77%;}
.selected-filters-wrapper .selected-columns-inner table{border-left:solid 1px #dddddd; border-top:solid 1px #dddddd;}
/*.selected-columns-inner{border:solid 1px #dddddd!important;}*/
.selected-columns-inner table td ,.selected-columns-inner table th{border-left:solid 1px #dddddd!important; border-right:solid 1px #dddddd!important; 
border:none;}
.selected-columns-inner table th.ui-state-default{background:#f3f3f3; border-top:solid 1px #dddddd; border-bottom:solid 1px #a8a8a8;}
.selected-columns-inner table td{ border-bottom:solid 1px #dddddd!important;}
.selected-columns-inner .ui-datatable-even td {background:#ffffff;}
.selected-columns-inner .ui-datatable-odd td{background:#f3f3f3;}
.selected-columns-inner .title-columns{color:#636466;}
.selected-columns-inner .setting-button{background:url(../images/view_icon.png) 0 0 no-repeat!important;}
.selected-columns-inner .setting-button:hover{background:url(../images/view_icon.png) 0 0 no-repeat!important;}
.title-block .main-title{color:#636466!important;}
/*=============================== view page  ===============================*/
.adhoc-report-block .ui-tabs-nav li.ui-state-active a:after{border-left-color: #636466;}
/*=============================== Table Listing ===============================*/

.table-listing{border-left:solid #e0e1e2 1px; border-right:solid #e0e1e2 1px;}
.table-listing table thead tr th{background:#e7e7e8!important; color:#636466!important;}
.table-listing table tr td {border-bottom:solid #e0e1e2 2px; background:#fff; color:#636466;}
.table-listing .ui-widget-content{border:none;}
.table-listing table tr.ui-state-highlight td{background:#636466; color:#fff;}
.ui-datatable tr.ui-state-highlight td{background:#fff; color:#636466;}
.ui-datatable-odd{background:#fbfbfb!important;}
/* .ui-datatable-even:hover{background:#f7f7f7;}
.ui-datatable-odd:hover{background:#f7f7f7;} */

/*=============================== Dialog ===============================*/

.ui-dialog .ui-dialog-titlebar{background:#636466!important;}
.ui-dialog .ui-dialog-title{color:#fff!important;}
.ui-dialog .ui-dialog-titlebar{background:#636466!important;}
.ui-dialog .ui-dialog-titlebar .ui-icon-closethick{background-color:#fff;}

/*=============================== Icons ===============================*/

/*.ui-icon{background:url(../images/gray_icons/ui-icons-gray.png) 0 0 no-repeat!important}*/
.ui-icon-closethick{background-position: -96px -128px!important;}
.ui-icon-triangle-1-s{background-position: -64px -16px!important;}
.ui-icon-search{background-position: -160px -112px!important;}
.ui-icon-check{background-position: -64px -144px!important;}
.ui-icon-circle-close{background-position: -32px -192px!important;}
.ui-chkbox .ui-chkbox-box{background:#eee!important; border:1px solid #d8dcdf!important;}
.ui-chkbox .ui-state-active{background:#fff!important; border:1px solid #d8dcdf!important;}
.ui-dialog .ui-dialog-titlebar .ui-icon-closethick{background-color:#fff!important;}
.ui-icon-circle-triangle-w{background-position:-80px -192px!important;}
.ui-icon-circle-triangle-e{background-position:-48px -192px!important;}
.ui-icon-arrowstop-1-e{background-position:-208px -32px !important;}
.ui-icon-arrowstop-1-w{background-position:-240px -32px!important;}
.ui-icon-arrow-1-e{background-position:-32px -32px!important;}
.ui-icon-arrow-1-w{background-position: -96px -32px!important;}
.ui-icon-gripsmall-diagonal-se {background-position:-64px -224px!important;}
.ui-icon-extlink{background-position: -32px -80px !important;}
.ui-icon-newwin{background-position: -48px -80px!important;}
.setp-column-inner .ui-icon-triangle-1-e{background-position:-32px -128px!important;}
.setp-column-inner .ui-icon-triangle-1-s{background-position:-63px -128px!important;}
.ui-icon-seek-first{background-position:-80px -160px!important;}
.ui-icon-seek-prev{background-position:-48px -160px!important;}
.ui-icon-seek-next{background-position:-32px -160px!important;}
.ui-icon-seek-end{background-position:-64px -160px!important;}

/*=============================== Calendar===============================*/

.ui-datepicker-header{background:#e7e7e8!important;}
.ui-datepicker-header a span{border:1px solid #e7e7e8!important;}
.ui-datepicker-header a span:hover{background-color:#fff!important; border:1px solid #d8dcdf!important;}
.ui-datepicker th{color:#4c4d4f;}
.ui-datepicker td a{color:#4c4d4f!important; border:1px solid #fff!important;}
.ui-datepicker td a.ui-state-hover{background:#e7e7e8!important; border:1px solid #636466!important; color:#636466!important;}
.ui-datepicker td a.ui-state-active {background:#636466!important;  border:1px solid #e7e7e8!important; color:#fff!important;}

/*=============================== CreateReport ===============================*/

.title{color:#636466;}

/*=============================== Configuration page ===============================*/
.icons-block{background:url(../images/arrow_up.png) center 0 no-repeat;}
.icons-block .ui-menu-list{background:#ffffff; border:solid 1px #636466; box-shadow:0 0 2px #636466;}
.icons-block .ui-menuitem{border-right:solid 1px #636466!important;}
.icons-block .icons{background-image:url(../images/icons_img.png); background-repeat:no-repeat;}


/*=============================== Sumith changes start here===============================*/
/*.broken_table{line-height:8px;}*/
/**/
		.btn_right{float:right; margin: 0 0 5px !important;}
		.cancel_button, .ui-fieldset-legend  {
		padding: 2px !important;
    	background-color:#E7E7E8 !important;
		border: 1px solid #D0D0D0 !important;
    	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    	color: #333 !important;
    	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
		text-transform:uppercase;
		font-weight: bold !important;
		font-size: 12px !important;
		/*margin: 5px 5px 0px 0px !important;*/
		}
		.cancel_button:hover{background:#E6E6E6 !important;}
		.listing_Table{ clear:both;}
		.listing_Table .ui-datatable-tablewrapper thead tr th, .ui-datatable tbody td, .ui-datatable-tablewrapper tfoot td {
			border-width: thin !important; }
		.listing_Table .ui-widget-content{	border-left: 1px solid #E0E1E2 !important;border-right: transparent !important;
			border-bottom: 2px solid #E0E1E2 !important;}
		.listing_Table table tr th.ui-state-default{background:#E7E7E9 !important;  color: #636466; font-size: 12px;
 			border: 1px solid #E7E7E9 !important; padding:8px !important; }
 		.listing_Table table tr th.ui-state-default:hover { background:#E7E7E9 !important; box-shadow: inset !important; 
 			box-shadow: none !important; color: #636466; text-shadow:none !important; border: 1px solid #E7E7E9 !important;
			position:inherit !important; font-weight:bold !important;}
 		.listing_Table  .ui-column-filter {margin:8px 0 0  0!important;}
		.ui-datatable thead th, .ui-datatable tfoot td { text-align: left !important;}
		.listing_Table .tab { width: 315px !important;}
