.ui-icon{background-image:url(../images/ui-icons-gray.png) !important;}
.view_icon{background:url(/images/view_icon.png) 0 0 no-repeat !important;}
/*.ui-icon.ui-icon-seek-prev, .ui-icon-seek-first,.ui-icon-seek-next,.ui-icon-seek-end{background-image:url(../images/ui-icons-white.png)!important;}*/
.menu ul li ul li:hover .menu ul li ul li .ui-icon-triangle-1-e,
.menu ul li ul li ul li :hover .ui-icon-triangle-1-e {background-image:url(../images/ui-icons-white.png)!important;}
a{text-decoration:none;}
.redColor{color:red;}
/*===============================layout===============================*/

/*==================for Searchbox of full length start======================*/
.ui-chkbox .ui-chkbox-box{background:#e7e7e8;}
.ui-selectcheckboxmenu-header {background: #e7e7e8;}
.ui-selectcheckboxmenu-panel{background:#e7e7e8;}
/*=================for Searchbox of full length end======================*/
.ui-column-customfilter .ui-selectcheckboxmenu-label {background: #fff;}
.menu{background:#636466; border-bottom: 1px solid #c1c2c3; border-top: 1px solid #c1c2c3; }
.menu ul li a{color:#fff;}
.menu ul li:hover a, .menu ul li.active a{background:#e7e7e8; color:#636466;}
.menu ul li ul li{background:#e7e7e8; border:1px solid #ccc;}
.menu ul li ul li a{color:#636466;}
.menu ul li ul li:hover a{background:#636466; color:#fff;}
.menu ul li ul li:hover ul li a, .menu ul li ul li ul li:hover ul li a{background:#e7e7e8; color:#636466;}
.menu ul li ul li ul li:hover a, .menu ul li ul li ul li ul li:hover a{background:#636466; color:#fff;}
.logout button{background:#e7e7e8;}

/*===============================primeface===============================*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{color:#636466 !important; border-radius:0 !important;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover{box-shadow:none !important;
background: red !important;
background: -webkit-linear-gradient(top, #ececec, #fcfcfc) !important;
background: -o-linear-gradient(top, #ececec, #fcfcfc) !important;
background: linear-gradient(to bottom, #ececec, #fcfcfc) !important;
background: -moz-linear-gradient(top, #ececec, #fcfcfc) !important;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffececec', endColorstr='#fffcfcfc', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);}

.ui-selectonemenu label.ui-selectonemenu-label{box-shadow:none !important; color:#636466 !important;}
.ui-widget-content{border:1px solid #ccc; color:#636466 !important;}
.ui-widget-header{border:1px solid #E7E7E8 !important; text-shadow:none !important;}

.submit-button {
  text-shadow:none !important;
  background: #5bb75b !important;
  *background: #51a351 !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)) !important;
  background-image: -webkit-linear-gradient(top, #62c462, #51a351) !important;
  background-image: -o-linear-gradient(top, #62c462, #51a351) !important;
  background-image: linear-gradient(to bottom, #62c462, #51a351) !important;
  background-image: -moz-linear-gradient(top, #62c462, #51a351) !important;
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.submit-button span{color: #ffffff !important;}
.submit-button:hover,
.submit-button.active{color: #ffffff !important; background: #51a351 !important; *background: #499249 !important;}
.ui-datatable-data a{color:#A73015 !important; text-decoration:none !important;cursor:pointer;}
.ui-datatable-data a:hover{color:#A73015 !important; text-decoration:underline !important;}
.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper{background:#fff;}
.ui-paginator{background:#e7e7e8 !important;}
.ui-corner-all{border-radius:0 !important;}
.ui-tabs-panels{border:1px solid #aaa;}
.ui-tabs ul{background:none !important; border:0 !important;}
.ui-tabs ul.ui-tabs-nav li{border:1px solid #999 !important; border-bottom:0 !important;}
.ui-tabs ul.ui-tabs-nav li.ui-state-default a{background:#e7e7e8 !important; color:#636466 !important; }
.ui-tabs ul.ui-tabs-nav li.ui-state-active a{background:#636466 !important; color:#fff !important;}
#createAdminForm input{box-shadow:none !important; color:#636466 !important;}
/*===============================owned===============================*/
.form_content{border: 1px solid #c8c8c8 !important;}
.form_content h3{background:#E7E7E8 !important;border-top:none; border-bottom: 1px solid #c8c8c8; color:#636466;}
.frm_content2{border:none !important;}
.form-Configuration label,.form_content label{ color:#636466;}
.form_content input.ui-inputfield , .form_content label.ui-inputfield{box-shadow:none!important; color:#636466 !important;}
.listing h3{text-transform:uppercase; color:#636466 !important;}
.listing .ui-datatable-tablewrapper th{background:#E7E7E8 !important;}
.listing table tr th.ui-state-default {text-shadow:none !important;}
.listing td{border:1px solid #c8c8c8 !important;}
.listing td td{border:1px solid #eee !important;}
.listing input{border:1px solid #d8dcdf !important; color:#636466 !important; box-shadow:none !important;}
.sub-listing thead{display:none;}
.theadnone thead{display:none;}

/*===============================calender===============================*/
.ui-datepicker{border:1px solid #c8c8c8 !important; background:#fff !important;}
.ui-datepicker .ui-datepicker-header{ color:#636466; background:#e7e7e8 !important;}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover{border:1px solid #c8c8c8 !important; 
background:#eee !important; border-radius:0 !important;}
.ui-datepicker table{color:#636466;}
.ui-datepicker .ui-datepicker-current-day .ui-state-highlight, .ui-datepicker .ui-datepicker-current-day .ui-state-default{text-shadow:none !important; background:#a73015 !important; color:#fff !important;}

/*==============================Pagination Start=========================================*/
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first,.ui-paginator
 .ui-paginator-prev { border-radius: 10px !important;border:1px solid #a8a8a8;}
.ui-paginator-page ,.ui-paginator-page  .ui-corner-all , .ui-paginator-next, .ui-paginator-prev,.ui-paginator-first, .ui-paginator-last
    {background:none !important;}
.ui-paginator-rpp-options {background:#fff !important;}
.ui-paginator.ui-paginator-bottom {background: #e7e7e9 !important;text-shadow: none !important;}
.listing_Table .ui-paginator .ui-paginator-pages .ui-state-active {background: #ffffff  !important; color: #636466 !important;}
.listing_Table .ui-paginator .ui-paginator-pages .ui-state-hover {background: #ffffff  !important; color: #636466 !important;}
.ui-icon .ui-icon-seek-prev:hover, .ui-icon .ui-icon-seek-first:hover,.ui-icon .ui-icon-seek-next:hover,.ui-icon .ui-icon-seek-end:hover{background-image:url(../images/ui-icons-gray.png)!important;}
/*==============================Pagination End=========================================*/

/*===============================logout css ===============================*/
.matteroff span{color:#4c4d4e;}
.headright{color:#606061; }
.headright ul{  background:url(/images/top_line3.png) 0 0 no-repeat; background-position:bottom left;}
.headright ul li a{color:#4c4d4e;}
.headright ul li.last{border:none;}
.lion45{ background:url(/images/line1.png) 0 0 repeat-x;}
.preferences{ background:url(/images/icons_logout.png) 4px 6px no-repeat;}
.preferences:hover{ background-position:4px -158px; color:#A73015 !important;}
.password{ background:url(/images/icons_logout.png) 4px -36px no-repeat;}
.password:hover{background-position:4px -200px; color:#A73015 !important;}
.logout{ background:url(/images/icons_logout.png) 4px -77px no-repeat;}
.logout:hover{background-position:4px -241px;color:#A73015 !important;}
.headright .first{background:url(/images/top_line1.png) 0 0 no-repeat;}
/*===============================logout css ===============================*/
a{transition: all 0.2s ease-out 0s;}
/*========================================Pop Up Start============================================*/
.ui-widget-header {background:#E7E7E8 !important; color:#636466 !important; }
.btn_popup{color: #36F !important;background:#FFF;}
.ui-overlay-visible{ border-radius: 8px !important; }
.ui-dialog .ui-dialog-titlebar{background:#636466 !important; color:#E7E7E8 !important; text-shadow:none !important;}
.ui-dialog-titlebar-close{border: 1px solid #FFFFFF;background-color:#E7E7E8 !important; color:#636466 !important;}
.ui-dialog-titlebar-close:hover{ border: 1px solid #FFFFFF;background-color:#E7E7E8 !important; color:#636466 !important; }
.ui-filter-column:hover{background:#CCC !important;}
.ui-state-highlight{background:none !important; color:#4f4f4f !important; text-shadow:none !important;}
/*========================================Pop Up END============================================*/

/*========================================Button==================================================*/
/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background:#060 !important;}*/
	
.Submit_button,.submit-button {
/*	.submit_btn{*/
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  text-transform:uppercase;
  box-shadow: inset 0 0 !important;
  background: #5bb75b !important;
  *background: #51a351 !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)) !important;
  background-image: -webkit-linear-gradient(top, #62c462, #51a351) !important;
  background-image: -o-linear-gradient(top, #62c462, #51a351) !important;
  background-image: linear-gradient(to bottom, #62c462, #51a351) !important;
  background-image: -moz-linear-gradient(top, #62c462, #51a351) !important;
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.Submit_button span{color: #fff !important;}
.Submit_button:hover,
.Submit_button:active,
.Submit_button.active{color: #fff !important; background: #51a351 !important; }

.cancel_button, .ui-fieldset-legend  {
    background-color:#E7E7E8 !important;
	border: 1px solid #D0D0D0 !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
}
.cancel_button:hover{background:#E6E6E6 !important;}

.choose_button{
	 color: #636466 !important;
     background: #E7E7E9 !important;
	 border: 1px solid #C8C8C8 !important;
     box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
     text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
}

.More_Info {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  background: #49afcd !important;
  *background: #2f96b4 !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4)) !important;
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4) !important;
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4) !important;
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4) !important;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4) !important;
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.More_Info span{color: #ffffff !important;}
.More_Infol:hover,.More_Info:active,
.More_Info.active{color: #ffffff; background: #2f96b4 !important; *background: #2a85a0 !important;} 

.ui-button-text .ui-c{
    background: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6) repeat-x scroll 0 0 #F5F5F5 !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
    color: #333333 !important;font-weight: bold !important;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;}

.ui-sortable-column:hover, .ui-filter-column:hover{color:#999;background:#600;}
.ui-widget-header  {background: #FFF !important;border: 1px solid #A8A8A8;color: red;font-weight: bold;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);}
.ui-selectonemenu-trigger .ui-state-default .ui-corner-right,.ui-icon .ui-icon-triangle-1-s .ui-c,
.ui-inputfield .ui-corner-all{ border-bottom: medium none;border-right: medium none;border-top: medium none;cursor: pointer;}
	
/*==============================Button=========================================*/

/*=======================================listing table=======================================*/
.listing_Table .ui-datatable-tablewrapper thead tr th, .ui-datatable tbody td, .ui-datatable-tablewrapper tfoot td {border-width: thin !important; }
.listing_Table .ui-widget-content{ border-top: 1px solid #E0E1E2 !important; border-left: 1px solid #E0E1E2 !important;border-right: transparent !important; border-bottom: 1px solid #E0E1E2 !important;}
.org .listing_Table .ui-widget-content{border-right:  1px solid #E0E1E2 !important;}
.listing_Table table tr th.ui-state-default{background:#E7E7E9 !important;  color: #636466; font-size: 12px;
 border: 1px solid #E7E7E9 !important;}
 
 .listing_Table table tr th.ui-state-default:hover { background:#E7E7E9 !important; box-shadow: inset !important; 
 box-shadow: none !important; color: #636466; text-shadow:none !important; border: 1px solid #E7E7E9 !important;}

 /*=======================================listing table=======================================*/
 .ui-panelgrid, .ui-panelgrid-cell{ border:none !important; }
 
 /*=======================================Page Title==========================================*/
label.Page_Tittle{text-transform:uppercase; color: #636466;}
 /*=======================================Page Title=======================================*/
.ALTRECRUIT {background:url("../images/Alt_Recruit.jpg")no-repeat; }
.ALTORGANIZE{background:url("../images/Alt_Organise.jpg")no-repeat; }
.ALTINFER{background:url("../images/Alt_Infer.jpg")no-repeat;}

/*========================loader_img start=======================================*/
.loader_block{background:none!important;border:none!important; box-shadow:0px 0px 0px!important;}
.loader_block .ui-widget-content{background:none !important;}
.loader_img{background:#676767; }
.loader_text{color:#666; background:transparent;}
/*========================loader_img end=======================================*/

.ui-datatable-odd {background: #f9f7f9 !important;}


/*-------------------AKHIL CODE START----------------*/

.table.editsvTable .ui-datatable.ui-widget .ui-datatable-tablewrapper th {background: #636466; color:#fff !important;}
.table.addsvTable .ui-datatable.ui-widget .ui-datatable-tablewrapper th {background: #636466; color:#fff !important;}