@import url("gray-color-theme.css");
 body, form, h1,h2,h3,h4,h5,h6,ul,li{padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.ui-widget{font-size:12px !important;}
.fr{float:right;}
.fc{clear:both;}
a{text-decoration:none;}
.redColor{margin-right:3px;}
.central table,.central tbody,.central thead,.central tr,.central td,.central span,.central label,.central div{font-size: 12px;}
/*===============================layout===============================*/

/*==================for Searchbox of full length start======================*/

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item{white-space:pre-wrap;}
.ui-selectonemenu-panel .ui-selectonemenu-list-item{white-space:pre-wrap;}
.ui-selectonemenu-panel .ui-selectonemenu-list{overflow-x:hidden !important;}
/*=================for Searchbox of full length end======================*/
.ui-selectonemenu-filter {max-width: 390px;}
.ui-selectcheckboxmenu-filter-container .ui-inputfield.ui-inputtext {width: 300px !important;}
.ui-datatable table {width: 100%;}
.org .ui-datatable table {width: auto;}
.ui-datatable-tablewrapper {overflow: auto;}
.container_header{margin:18px 0px 0px;}
.header{clear: left;height: 60px;width: 100%;}
.fl{display: block;height: 70px;padding: 10px 0 0 18px;width: 200px;}
.fl img {height: 60px;margin: -18px 0 0;width: auto;}
.menu ul{padding:0; margin:0;}
.menu ul li{float:left; list-style:none; position: relative;}
.menu ul li a{padding:12px 15px; display:block; font-weight:bold; text-transform:uppercase;}
.menu ul li ul{display: none; padding: 0; position: absolute; top: 39px; left: 0; z-index:9999;}
.menu ul li ul li{display:block; width: 200px;}
.menu ul li ul li a{padding:8px 4px; display:block; font-weight:bold; text-transform:uppercase;}
.menu ul li:hover ul{display:block;}
.menu ul li:hover ul ul, .menu ul li:hover ul ul ul{display:none;}
.menu ul ul li:hover ul, .menu ul ul ul li:hover ul{display:block;}
.menu ul ul ul,.menu ul ul ul ul {position: absolute; left: 100%; top:0;}
.ui-icon.ui-icon-triangle-1-e.arrow{ margin: -15px 0 0 177px;}
.logout .ui-button-text{font-size:13px;}
.central{width:98%; margin:10px auto;}

.ui-icon-circle-arrow-n,.ui-icon-stop{transform: scale(1.7);margin: -9px !important;}
.ui-icon-play,.ui-icon-arrowthickstop-1-s{transform:scale(1.4);}
.ui-icon-pencil,.ui-icon-plus{transform:scale(1.2);}
.ui-editor {border: 1px solid #cccccc !important;}
/*========================================Success/Error/Warn Message Start==========================================*/
.central .ui-messages ul,.central .close2{margin:0px;}
.central .ui-icon-close{margin:-12px -10px 0px 0px;}
.central .ui-button .ui-icon-close,.central .close_icon .ui-icon-close{margin:-7px;}
.central .ui-message-error-icon,.central .ui-messages-info-icon,.central .ui-messages-warn-icon,.central .ui-messages-fatal-icon,
.central .ui-messages-info-icon {display:none;}
/*========================================Success/Error/Warn Message End============================================*/

/*===============================primeface===============================*/

input.ui-inputtext, input.ui-inputfield{width:180px !important;}
.ui-selectcheckboxmenu{width:188px !important;}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {text-align:left !important;}
input.hasDatepicker{width: 155px !important;}
.ui-selectonemenu{width: 189px !important;}
.ui-selectcheckboxmenu-panel {z-index: 999999 !important;}
.ui-panel{padding:0 !important;}
.ui-panel .ui-panel-content{padding:0 !important;}
button.ui-datepicker-trigger{height:25px; width:25px; border-radius:0 !important;}
button.ui-datepicker-trigger .ui-button-text{padding:0 !important; }
.ui-datepicker{z-index:99999 !important;}
button.ui-button{text-transform: uppercase;}
.submit-button:hover,
.ui-datatable-data a{font-size: 13px; cursor:pointer;}
.ui-datatable-data a:hover{font-size: 13px;}
.ui-datatable.ui-datatable-resizable table{width:100% !important;}
.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper{font-size:12px;}

.ui-corner-all{border-radius:0 !important;}
.ui-tabs ul{padding:0 !important;}
.ui-tabs ul.ui-tabs-nav li.ui-state-default a{  padding:7px 12px;}
#createAdminForm .userlabel{width:70px; float:left; text-align:right; margin:7px;}
#createAdminForm input{margin:2px; }
.central .ui-outputlabel{font-weight:bold;}
.ui-dialog-content{max-height:500px;overflow:auto;}
/*===============================owned===============================*/
.form_content{ margin: 0 0 30px;}
.form-Configuration table{width:100%;}
.form_content h3{ font-size:12px; padding:6px 1% 6px 1%;}
.form_content table{margin:0px auto; width:100%;}
.form-Configuration label,.form_content label{font-size: 12px !important; font-weight: bold;}
.form-Configuration label,.form_content .leftpanel{width:200px; text-align:right;}
.listing h3{font-size:14px; text-transform:uppercase;}
.listing table tr th.ui-state-default {font-size: 12px !important; letter-spacing: 1px; text-align:left; }
.listing td{ font-size:12px;}
.listing input{width:140px; padding:3px 0; float:left;}
.sub-listing {width:930px; overflow:auto;}
.sub-listing thead{display:none;}
.theadnone thead{display:none;}169

/*===============================calender===============================*/
.ui-datepicker{width:15% !important; padding:0 !important;}
.ui-datepicker{border-radius:0 !important;}
.ui-datepicker .ui-datepicker-header{padding:5px !important; }
.ui-datepicker .ui-datepicker-title{line-height:normal !important; font-size:13px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{height:20px !important; width:20px !important;}
.ui-datepicker table{font-size:12px !important;}
.ui-datepicker td span, .ui-datepicker td a{text-align:center !important;}

/*===============================logout css ===============================*/
.matteroff{ position:absolute; right: 77px; top:20px; z-index:99998; min-width:100px;}
.matteroff span{font-weight:700; }
.matteroff img{vertical-align: middle;}
.headright {display:none;position:absolute;top:90%; right:0px; width:144px;}
.top-name{ padding:2px 0 0 8px !important; text-align:left; }
.top-name span{ width:125px; display:block;  font-weight: 700; padding-left: 10px;padding-bottom: 6px;}
.headright ul{float:left; display:block; width:100%;}
.headright ul li{list-style-type:none; float:left; display:block; width:100%; text-align:left;}
.headright ul li a{padding: 10px 9px 12px 30px; display:block; font-weight:700;}
.lion45{display: block; height:2px;}
.headright .first{height:17px; padding:0;}
.headright ul li.last{padding:0;}
.container_header .last_login{display:block;font-weight:normal;margin:0; padding:5px 0 0;font-size:11px;font-weight:normal;}
/*===============================logout css ===============================*/
.matteroff:hover .headright{display:block; }
/*===============================logout css ===============================*/
a{transition: all 0.2s ease-out 0s;}
/*========================================Pop Up Start============================================*/

.btn_popup{font-weight: bold;height:100% !important;float:right !important;}
.ui-overlay-visible{ border-radius: 8px !important; }
span.ui-dialog-title{text-transform:uppercase !important;}
.ui-dialog .ui-dialog-titlebar{width: auto; box-sizing:border-box !important;}
.ui-dialog-titlebar-close{ padding: 0 !important;}
.ui-dialog-titlebar-close:hover{padding: 0 !important; }
.ui-dialog {z-index:99999 !important; border-radius:5px !important;}
.ui-fieldset-contenttd {float:right;  text-align: right;}
.ui-selectonemenu-panel {z-index:999999 !important;}
span.ui-column-title{text-transform:capitalize !important;}
.fixed{position:fixed; bottom:10px;}
.SelectDialog .ui-dialog-content{/*height:250px!important;*/ overflow-x: hidden !important;}
.fixed_btn {overflow: auto; max-height:250px;}
.dialog {z-index: 99999999 !important;} /* for loader on top*/
.PopUpinCenter {position: absolute;top: 5% !important;left: 36% !important;}
.PopUpinCenter_addFilter {position: absolute;top: 10% !important;left: 15% !important;}
.PopUpinCenter_step3 {position: absolute;top: 15% !important;}
.central .centeredPopup{ margin:auto;top: 40% !important;position:absolute;left: 50%; width:300px;}
.menu_popup{width:99% !important;}
.centeredPopup_big{left:50%!important; top:50%!important; margin-top:-250px; margin-left:-400px; height:500px!important; width:800px!important;}
.centeredPopup_big .ui-dialog-content{max-height:450px; overflow:auto !important;}

.ui-dialog-content .fixed1{max-height:430px;min-width: 465px; overflow:auto !important;}
.ui-dialog-content .fixed_button{height:20%;}
/*========================================Pop Up END============================================*/
.org_content{width:100%; box-sizing:border-box;}

/*========================================Button==================================================*/	
.Submit_button{
/*	.submit_btn{*/
  padding: 2px !important;
  margin: 5px 10px 5px 5px !important;
  text-transform:uppercase;
}

.cancel_button, .ui-fieldset-legend  {
	padding: 2px !important;
	text-transform:uppercase;
	font-weight: bold !important;
	font-size: 12px !important;
/*	margin: 5px 5px 0px 0px !important;*/
}

.choose_button{height:28px;}

.More_Info {padding:3px 5px;margin: 0px 5px; text-transform:uppercase;}
.ui-button-text .ui-c{font-weight: bold !important;}
.ui-widget-header  {font-weight: bold;}
.ui-selectonemenu-trigger .ui-state-default .ui-corner-right,.ui-icon .ui-icon-triangle-1-s .ui-c,
.ui-inputfield .ui-corner-all{ cursor: pointer;height: 100%;padding: 0 3px; position: absolute;right: 0;top: 0;width: 100% !important;}

.btn_left{margin: 0 0 5px;}
.btn_right{float:right; margin: 0 0 5px;}/*margin-bottom:5px;*/
.btn_right2{float:right; margin:0 4px 0 0!important;}
/*==============================Button=========================================*/

/*========================Pop Up Right Align Start==============*/
.ui-dialog-content td > label {text-align: left !important;}
.ui-selectonemenu label.ui-selectonemenu-label {text-align:left !important; }
td.colClassMessage label,td label.ui-outputlabel, .colClassLabel label, .ui-dialog-content label,.label_survey{
float: left !important; margin-right: 8px !important; text-align: right !important; width: 100% !important;box-sizing:border-box !important;}
/*========================Pop Up Right Align End==============*/

/*=======================================listing table=======================================*/
.listing_Table{ clear:both;}
.table_gap{ margin: 0 20px 0 0;}
.listing_Table .ui-datatable-tablewrapper thead tr th, .ui-datatable tbody td, .ui-datatable-tablewrapper tfoot td {border-width: thin !important; }
.listing_Table table tr th.ui-state-default{font-size: 12px;padding:8px !important; }
.listing_Table table tr th.ui-state-default:hover {position:inherit !important; }
.listing_Table  .ui-column-filter {margin:8px 0 0  0!important; max-width:136px;}
.ui-datatable thead th, .ui-datatable tfoot td { text-align: left !important;}
.listing_Table .tab { width: 315px !important;}
 /*=======================================listing table=======================================*/
 
 /*=======================================Page Title==========================================*/
label.Page_Tittle{text-transform:uppercase;float: left; font-size: 12px;font-weight: bold; margin: 8px 0 0;}
 /*=======================================Page Title=======================================*/
/*.ui-datatable thead th, .ui-datatable tfoot td, */
.listing_Table .ui-datatable tbody tr td{white-space: normal; padding:3px 10px;}
.ui-dialog-content{/*height:300px !important;*/ overflow-y:auto !important;}
.PopUp_height .ui-dialog-content{height:300px !important; overflow-y:scroll !important; }
.ALTRECRUIT {width: 115px !important; height: 57px !important;}
.ALTORGANIZE{width: 129px !important; height: 42px !important;}
.ALTINFER{ width: 97px !important; height: 36px !important;}

/*========================loader_img start=======================================*/
.loader_block{ width:50px; height:80px; }
.loader_img{width:30px; height:30px; padding:2px; border-radius:3px; margin-bottom:3px;}
.loader_text{font-size:11px;}
/*========================loader_img end=======================================*/

.ui-button.ui-icon-close{margin: -10px;}
.ui-messages .ui-messages-error .ui-messages ul{margin:0;}
.ui-messages-error-icon,.ui-messages-warn-icon{display:none !important;}
.central .ui-icon-close {margin: -12px -11px 0 0;}
.central .ui-dialog .ui-icon-close {margin: -9px 0;}
.popup_width{width:501px !important; overflow-x:hidden;}
.ui-datatable table{table-layout:auto;}

/*========================UI FORM start========================*/
.central .ui-menu .ui-menu-parent .ui-menu-child{overflow: initial !important;width: 245px;height:auto !important;}
.central .menu_uifrm{height: 400px;width: 1218px;}
div table.frm_ttl {margin: 0px 250px 0 -182px;}/*Update Form Details*/
div table.frm_lng { margin: -5px -97px;}
.uifrm_seq{float: left !important;margin: 5px -203px;}
.uifrm_chckbox{float: right; margin: 0 -22px;}
	
div table.frm_ttl2 { margin: 0 0 0 110px;}
div table.frm_lng2 {margin: 0 19px;}
.set_Iconbtn {margin: 0 -55px !important;}
/*========================UI FORM End==========================*/

/*==================For text-align Start=========================*/
.Table{display: table;}
.Row{display: table-row;}
.Cell{display: table-cell;padding:5px;}
/*==================For text-align End=========================*/

/*=============for ALt Benefit Start=========================*/
.a,.b,.c{width:33%;}
.central .form_content_inner .drglist .a .ui-commandlink, .central .form_content_inner .drglist .b .ui-commandlink{
    color: #a73015;padding: 0 10px;text-decoration: underline;}
.ui-sortable-handle {background: #ffffff none repeat scroll 0 0 !important;}
.form_content_inner label { display: block; text-align: center;}
/*=============for Alt Benfit End=========================*/
/*--------------new Branding Start---------------------*/
.nameLoginBlock {
    float: right;
    margin-right: 5px;
}
.givenName {
    clear: both;
    display: block;
    text-align: right;
}
.AltAdminImg {
    height: 45px;
}

.matteronUserPic {
    float: right;
    height: 28px;
    width: 30px;
}
.RecruterInfer {
    display: inline-block;
    float: right;
    margin-right: 40px;
    position: relative;
    top: 20px;
    z-index: 99999;
}
/*--------------new Branding End---------------------*/

.label_width150 .ui-outputlabel{
	width:100px!important;
}
.ui_dialog400{
	width:700px!important;
}

.labelCol30 { width:40%; text-align:right;}
.labelCol22 { width:22%; text-align:right;}
.row:after {
	content:"";
	display:table;
	clear:both;
	visibility:hidden;
}
.row:before {
	content:"";
	display:table;
	clear:both;
	visibility:hidden;
}
.margin_top_20 {
	margin-top:20px;
}
.margin_top_10 {
	margin-top:10px;
}
.margin_bottom_10 {
	margin-bottom:10px;
}
.table {
	width:100%;
}
.radioTablePass label {display:inline;}
.radioTablePass {margin: 0 !important; width: 60%!important;}