/*---------------------------reset css-------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse; border-spacing: 0;}

/*---------------------------main css-------------------------- */
body {margin: 0px;	padding:0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; line-height: 10px;
color: rgb(51, 51, 51);}
.fl{float:left;}
.fr{float:right;}
.fc{clear:both;}
.header{background: #E7E7E8; height:78px; width:auto; margin:0 auto;}
.header img{margin:15px;}
.side_img{position:absolute;}
.left{width:276px; float:left;}
.right{margin:1% 40%;}
.back{background:url(../images/left_bg.png) #fff 0 0 repeat-y;}
.centerpart{background:url(../images/login-bck.png) no-repeat; margin:150px 0 0 20%;}
.centerpart h4{padding: 20px 0 0 20px; font-weight:bold;}
.centerpart label{text-transform:uppercase; font-size:10px; padding:5px 0 2px 20px; display:block;}
.selectcont{width:148px !important; margin:5px 0 0 20px; color:#000; border-radius:0 !important;}
.selectcont label{padding:5px !important; border-radius:0 !important;}
.controls{padding:0 20px;}
.controls input{font-size: 12px; width:140px; color:#000; border-radius:0 !important;}
.btn {background:#F9A96E; border:none !important; margin:5px 20px 0; border-radius:4px; color:#fff;}
.btn:hover {color: rgb(51, 51, 51);	text-decoration: none; background-color: rgb(230, 230, 230); box-shadow:none !important;}
.btn .ui-button-text{line-height:normal !important;}
.copyright{margin-top:50px; font-size: 10px;}
.ps {display:inline-table; width: 187px; height: 27px; background:url(../images/peoplestrong.png) no-repeat; text-indent: -9999px; margin:10px 0;}

.logout{background:url(../images/logout-back.png) no-repeat scroll 50% 0 rgba(0, 0, 0, 0) !important; height:142px; border:none !important; margin-top:10%;}
.logout .ui-widget-content{text-align:center; margin-top:1%;}
.logout img{margin-bottom:15px;}
.logout a{background:#f9a96e; padding:8px; text-decoration:none; color:#fff; font-weight:bold; border-radius:5px;}
.logout a:hover{background: #E7E7E8; color:#636466;}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus
	{border-color: rgba(82, 168, 236, 0.8);	outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px
		rgba(82, 168, 236, 0.6);}
