<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysContentTypeListForm">
		<p:messages id="messages" closable="true"
			rendered="#{!sysContentTypeBean.renderErrorMessage}" globalOnly="true"/>
		<label class="Page_Tittle">Sys Content Type List</label>
		<p:commandButton icon="ui-icon-plus" update=":addSysContentTypeForm"
			styleClass="btn_right cancel_button" title="Add Content Type"
			action="#{sysContentTypeController.resetSysContentType}"
			oncomplete="PF('sysContentTypeAddModal').show()" />
		<div class="listing_Table">
			<p:dataTable widgetVar="sysContentTypeDataTable" var="sysContentType"
				value="#{sysContentTypeBean.sysContentTypeTOList}" rows="10"
				paginator="true" styleClass="table-header" rowIndexVar="index"
				paginatorPosition="bottom"
				filteredValue="#{sysContentTypeBean.contentTypeFilteredList}"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">

				<f:facet name="{Sys Content Type}" />
				<p:column sortBy="#{sysContentType.categoryName}"
					filterBy="#{sysContentType.categoryName}"
					headerText="Sys Content Category" filterMatchMode="in">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="Sys Content Category"
							onchange="PF('sysContentTypeDataTable').filter()"
							filterMatchMode="contains" filter="true"
							value="#{sysContentTypeBean.selectedContentNameList}">
							<f:selectItems value="#{sysContentTypeBean.contentNameList}" />

						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{sysContentType.categoryName}" />
				</p:column>

				<p:column headerText="SysContentType"
					sortBy="#{sysContentType.sysType}"
					filterBy="#{sysContentType.sysType}" filterMatchMode="contains">
					<h:outputText value="#{sysContentType.sysType}" />
				</p:column>
				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show()"
						action="#{sysContentTypeController.updateEditSysContentCategory(sysContentType)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check" update=":sysContentTypeEditForm"
						oncomplete="PF('confirmDlgBox').hide(), PF('sysContentTypeEditModal').show()" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide()" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>

	<p:dialog header="NEW CONTENT TYPE" widgetVar="sysContentTypeAddModal"
		modal="true">
		<h:form id="addSysContentTypeForm">
			<p:messages closable="true"  showDetail="false" autoUpdate="true" for="SysContentCategory"/>
			<p:messages closable="true"  showDetail="false" autoUpdate="true" for="SysContentType"/>
			<h:panelGrid columns="2" cellpadding="5" style="border:none">

				<p:outputLabel>
					<span class="redColor">*</span>System Content Category:</p:outputLabel>
				<p:selectOneMenu id="SysContentCategory"
					label="#{sysContentTypeBean.categoryName}"
					value="#{sysContentTypeBean.contentCategoryID}" required="true"
					filter="true" filterMatchMode="contains"
					requiredMessage="Please select a System Content Category">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysContentTypeBean.newContentCategoryTOList}"
						itemLabel="#{record.categoryName}"
						itemValue="#{record.contentCategoryID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>System Content Type:</p:outputLabel>

				<p:inputText id="SysContentType" required="true" maxlength="200"
					requiredMessage="Please input a Sys Content Type"
					value="#{sysContentTypeBean.sysType}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysContentTypeController.addSysContentType()}"
				process=":addSysContentTypeForm"  update=":sysContentTypeListForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysContentTypeAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysContentTypeEditModal" header="SysContentType"
		modal="true">
		<h:form id="sysContentTypeEditForm">
			<p:messages id="editSysContentType" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>SysContentCategory:</p:outputLabel>
				<p:selectOneMenu id="SysContentCategory" filter="true"
					filterMatchMode="contains"
					value="#{sysContentTypeBean.contentCategoryID}" required="true"
					requiredMessage="Sys Content Category is required">
					<f:selectItems var="record"
						value="#{sysContentTypeBean.contentCategoryList}"
						itemLabel="#{record.categoryName}"
						itemValue="#{record.contentCategoryID}" />
				</p:selectOneMenu>

				<p:outputLabel value="SysContentType:" />
				<p:inputText id="sysContentType" required="true" maxlength="200"
					value="#{sysContentTypeBean.sysType}"
					requiredMessage="SysContentType is required" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" update=":sysContentTypeListForm"
				action="#{sysContentTypeController.saveSysContentType()}" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				action="#{sysContentTypeController.resetSysContentType}"
				oncomplete="PF('sysContentTypeEditModal').hide();"
				style="float:bottom" required="true" />


		</h:form>
	</p:dialog>
</ui:composition>