<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysMeshModuleForm">
		<p:messages id="messages" closable="true"
			rendered="#{sysMeshModuleBean.renderErrorMessage}" />
		<label class="Page_Tittle">SysMesh Module List</label>
		<p:commandButton icon="ui-icon-plus" update=":addSysMeshModule, :sysMeshModuleForm"
			styleClass="btn_right cancel_button" title="Add SysMesh Module"
			action="#{sysMeshModuleController.resetSysMeshModule}"
			oncomplete="PF('sysMeshModuleModal').show()" />
		<div class="listing_Table">
			<p:dataTable widgetVar="sysMeshModuleDataTable"
				value="#{sysMeshModuleBean.sysMeshModuleList}"
				var="sysMeshModuleVar" rows="10" rowsPerPageTemplate="10,20,30"
				paginatorPosition="bottom" paginator="true">
				<p:column headerText="ModuleName" sortBy="#{sysMeshModuleVar.sysMeshModuleName}"
					filterBy="#{sysMeshModuleVar.sysMeshModuleName}" filterMatchMode="contains">
					<h:outputText value="#{sysMeshModuleVar.sysMeshModuleName}" />
				</p:column>
				<p:column headerText="ModuleDescription" sortBy="#{sysMeshModuleVar.sysMeshModuleDescription}"
					filterBy="#{sysMeshModuleVar.sysMeshModuleDescription}" filterMatchMode="contains">
					<h:outputText value="#{sysMeshModuleVar.sysMeshModuleDescription}" />
				</p:column>
				<p:column headerText="SysSubModule" sortBy="#{sysMeshModuleVar.moduleName}"
					filterBy="#{sysMeshModuleVar.moduleName}" filterMatchMode="contains">
					<h:outputText value="#{sysMeshModuleVar.moduleName}" />
				</p:column>
				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show()"
						update=":MeshModuleEditForm, :sysMeshModuleForm"
						action="#{sysMeshModuleController.updateEditSysMeshModule(sysMeshModuleVar)}" />
					<p:spacer height="10" />
				</p:column>			
				
			</p:dataTable>
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide(); PF('sysMeshModuleEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>

	<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
		resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
		<h:form>
			<div class="confirmDialog_text">
				<label styleClass="ui-widget-header"><b> Please edit
						carefully, changes made might affect the whole setup. </b></label> <br />
			</div>
			<div class="confirmDialog_btn_panel">
				<p:commandButton value="Yes" styleClass="Submit_button"
					icon="ui-icon-check" update=":MeshModuleEditForm"
					oncomplete="PF('confirmDlgBox').hide(), PF('sysMeshModuleEditModal').show()" />
				<p:spacer width="20px" />
				<p:commandButton value="No" type="button" styleClass="cancel_button"
					icon="ui-icon-close" onclick="PF('confirmDlgBox').hide()"
					immediate="true" />
			</div>
		</h:form>
	</p:dialog>


	<p:dialog header="NEW SYSMESH MODULE" widgetVar="sysMeshModuleModal"
		modal="true">
		<h:form id="addSysMeshModule">
			<p:messages id="newSysmeshModuleMessages" showDetail="false"
				autoUpdate="true" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">

				<p:outputLabel>
					<span class="redColor">*</span>Module Name:</p:outputLabel>

				<p:inputText id="SysModuleName" required="true" maxlength="100"
					requiredMessage="Please input a ModuleName"
					value="#{sysMeshModuleBean.sysMeshModuleName}" />

				<p:outputLabel>
					<span class="redColor">*</span>Module Description:</p:outputLabel>

				<p:inputText id="SysModuleDescription" required="true" maxlength="100"
					requiredMessage="Please input a Module Description"
					value="#{sysMeshModuleBean.sysMeshModuleDescription}" />
					
				<p:outputLabel>
					<span class="redColor">*</span>SysSubModule:</p:outputLabel>
				<p:selectOneMenu id="SysModule" label="#{sysMeshModuleBean.moduleName}"
					value="#{sysMeshModuleBean.moduleID}" required="true" filter="true"
					filterMatchMode="contains"
					requiredMessage="Please select a Sys Sub Module">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysMeshModuleBean.sysSubModuleTOList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
				</p:selectOneMenu>
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysMeshModuleController.saveSysMeshModule}"
				style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysMeshModuleModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysMeshModuleEditModal" header="EDIT SYSMESH MODULE"
		modal="true">
		<h:form id="MeshModuleEditForm">
			<p:messages id="editSysMeshModule" closable="true" autoUpdate="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>Module Name:</p:outputLabel>

				<p:inputText id="SysModuleName" required="true" maxlength="100"
					requiredMessage="Please input a ModuleName"
					value="#{sysMeshModuleBean.sysMeshModuleName}" />

				<p:outputLabel>
					<span class="redColor">*</span>Module Description:</p:outputLabel>

				<p:inputText id="SysModuleDescription" required="true" maxlength="100"
					requiredMessage="Please input a Module Description"
					value="#{sysMeshModuleBean.sysMeshModuleDescription}" />
					
				<p:outputLabel>
					<span class="redColor">*</span>SysSubModule1:</p:outputLabel>
				<p:selectOneMenu id="SysModule" label="#{sysMeshModuleBean.moduleName}"
					value="#{sysMeshModuleBean.moduleID}" required="true" filter="true"
					filterMatchMode="contains"
					requiredMessage="Please select a Sys Sub Module">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysMeshModuleBean.sysSubModuleTOList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
				</p:selectOneMenu>
				
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" 
				action="#{sysMeshModuleController.updateSysMeshModule()}" 
				update=":MeshModuleEditForm"/>

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();" action="#{sysMeshModuleController.resetSysMeshModule}"
				oncomplete="PF('sysMeshModuleEditModal').hide();" style="float:bottom"
				required="true" />

		</h:form>
	</p:dialog>
</ui:composition>