<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<style>
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-hidden-container.ui-draggable{
top: 176.5px !important;
}
</style>

	<h:form id="urlForm">
		<p:messages closable="true" rendered="#{urlMigrationBean.renderFormMessage}"  />
		<div class="btn_left"><label class="Page_Tittle">Sync Url List</label></div>
		<div class="btn_right">
			<h:panelGrid columns="2" cellpadding="5">
				<p:commandButton icon="ui-icon-plus" update=":urlAddForm" styleClass="cancel_button" title="Add Url" action="#{urlMigrationController.addUrl}" oncomplete="PF('urlModal').show()" />
	
			</h:panelGrid>
		</div>
		<div class="listing_Table">
			<p:dataTable id="urlSynList" var="url"
				widgetVar="urlDataTable"
				value="#{urlMigrationBean.altSyncUrlTOList}"
				emptyMessage="No Url exist"
				filteredValue="#{urlMigrationBean.filteredAltSyncUrlTOList}"
				rowsPerPageTemplate="10,20,30" paginator="true"
				paginatorAlwaysVisible="true" rows="10" paginatorPosition="bottom">
				<p:column headerText="URL" filterBy="#{url.urlName}"
					filterMatchMode="contains">
					<h:outputText value="#{url.urlName}" />
				</p:column>
				<p:column headerText="Environment" filterBy="#{url.envName}"
					filterMatchMode="contains">
					<h:outputText value="#{url.envName}" />
				</p:column>
				<p:column headerText="App Name"
					filterBy="#{url.appName}"
					filterMatchMode="contains">
					<h:outputText value="#{url.appName}" />
				</p:column>
				<p:column headerText="Server Name"
					filterBy="#{url.serverName}"
					filterMatchMode="contains">
					<h:outputText value="#{url.serverName}" />
				</p:column>
				<p:column headerText="status"
					filterBy="#{url.status}"
					filterMatchMode="contains">
					<h:outputText value="#{url.status}" />
				</p:column>
				</p:dataTable>
		</div>
	</h:form>
	
	<p:dialog header="Add Url"
		widgetVar="urlModal" resizable="false" closeOnEscape="true"
		modal="true" >
		<h:form id="urlAddForm">
			<p:messages closable="true" autoUpdate="true"/>
			<h:panelGrid id="urlAddPanel" columns="2" styleClass="label_width150">
				<p:outputLabel><span class="redColor">*</span>Environment:</p:outputLabel>
				<p:selectOneMenu
					value="#{urlMigrationBean.selectedEnvID}"
					>
	<f:selectItem itemLabel="--Select--" itemValue="-1" noSelectionOption="true"/>
					<f:selectItems
						value="#{urlMigrationBean.sysEnvTOList}"
						var="env" itemValue="#{env.envID}"
						itemLabel="#{env.envName}" />
				</p:selectOneMenu>
   <p:outputLabel>
					<span class="redColor">*</span>App Name:</p:outputLabel>
				<p:selectOneMenu
					value="#{urlMigrationBean.selectedAppID}"
					
					>
							
	<f:selectItem itemLabel="--Select--" itemValue="-1" noSelectionOption="true"/>
					<f:selectItems
						value="#{urlMigrationBean.appTOList}"
						var="app" itemValue="#{app.appID}"
						itemLabel="#{app.name}" />
						
							<p:ajax event="change" update=":urlAddForm:urlPanel" process=":urlAddForm:urlAddPanel"
								listener="#{urlMigrationController.fetchUrlList(urlMigrationBean.selectedDbConfigId,urlMigrationBean.selectedAppID)}">
							</p:ajax>
				
				</p:selectOneMenu>

<p:outputLabel>
					<span class="redColor">*</span>Server Name:</p:outputLabel>
				<p:selectOneMenu
					value="#{urlMigrationBean.selectedDbConfigId}"
										>
	<f:selectItem itemLabel="--Select--" itemValue="-1" noSelectionOption="true"/>
					<f:selectItems
						value="#{urlMigrationBean.databaseConfigTOList}"
						var="server" itemValue="#{server.dbConfigID}"
						itemLabel="#{server.serverName}" />
							<p:ajax event="change" update=":urlAddForm:urlPanel" process=":urlAddForm:urlAddPanel"
								listener="#{urlMigrationController.fetchUrlList(urlMigrationBean.selectedDbConfigId,urlMigrationBean.selectedAppID)}">
							</p:ajax>
				</p:selectOneMenu>
			</h:panelGrid>	
				<h:panelGrid id="urlPanel" columns="2" styleClass="label_width150">
					<p:outputLabel >
							<span class="redColor">*</span>URL:</p:outputLabel>

						<p:selectOneMenu id="urlList"
							value="#{urlMigrationBean.selectedUrlCompositeID}" filter="true" filterMatchMode="contains">
							<f:selectItem itemLabel="--select--"
								noSelectionOption="true" />
							<f:selectItems value="#{urlMigrationBean.urlTOList}" var="urlInfo"
							itemLabel="#{urlInfo.url}" itemValue="#{urlInfo.compositeID}"
								 />
		
						</p:selectOneMenu>
	
	<p:outputLabel value="Is Active:"></p:outputLabel>
				<p:selectBooleanCheckbox
					value="#{urlMigrationBean.active}">
				</p:selectBooleanCheckbox>
			</h:panelGrid>

			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{urlMigrationController.saveAltUrl}"
				update=":urlForm" 
				/>
			<p:commandButton styleClass="cancel_button" value="Cancel"
				 onclick="PF('urlModal').hide();"
				immediate="true" />
		</h:form>
	</p:dialog>

</ui:composition>