<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

              <ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<style>
.ui-selectcheckboxmenu-header .ui-chkbox {
	cursor: pointer;
	display: none !important;
	float: left;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container {
	float: left;
	margin-left: 0px !important;
	position: relative;
	width: 165px;
}

.middle .ui-inputfield {
	width: 146px !important;
}

.form_content_inner {
	margin-left: 16px !important;
	width: 97% !important;
}
</style>

	<h:form id="instanceMigrationForm">
<p:outputPanel id="main" rendered="#{!instanceMigrationBean.success}">
	<p:messages closable="true" autoUpdate="true" />
		<p:panel id="urlPanel">
				<div class="form_content formPadding">
					<h3>
						<h:outputText value="Url Info" />
					</h3>
					<div class="form_content_inner role_add">

					<c:if
					test="#{instanceMigrationBean.urlTOList==null or instanceMigrationBean.urlTOList.size()==0}">
					<p:outputLabel value="No Group Found..." />
				</c:if>
				<c:if test="#{instanceMigrationBean.urlTOList.size()>0}">
					<h:panelGrid columns="3" cellpadding="5">
						<p:outputLabel>
							<span class="redColor">*</span>From URL:</p:outputLabel>

						<p:selectOneMenu id="urlList"
							value="#{instanceMigrationBean.selectedUrlCompositeID}" filter="true"
							filterMatchMode="contains" required="true"
							requiredMessage="Please select url">
							<f:selectItem itemLabel="--please select--"
								noSelectionOption="true" />
							<f:selectItems value="#{instanceMigrationBean.urlTOList}" var="urlInfo"
							itemLabel="#{urlInfo.url}" itemValue="#{urlInfo.compositeID}"
								 />
							<p:ajax event="change" update=":instanceMigrationForm"
								listener="#{instanceMigrationController.fetchModuleList(instanceMigrationBean.selectedUrlCompositeID)}">
							</p:ajax>

						</p:selectOneMenu>
					</h:panelGrid>
				</c:if>
			</div>
			</div>
			</p:panel>

			<p:panel id="modulePanel"
				rendered="#{instanceMigrationBean.renderModulePanel}">
				<div class="form_content formPadding">
					<h3>
						<h:outputText value="Module Info" />
					</h3>
					<div class="form_content_inner role_add">

						<c:if
							test="#{instanceMigrationBean.moduleTOList==null or instanceMigrationBean.moduleTOList.size()==0}">
							<p:outputLabel value="No Module Found..." />
						</c:if>
						<c:if test="#{instanceMigrationBean.moduleTOList.size()>0}">
							<h:panelGrid columns="3" cellpadding="5">
								<p:outputLabel>
									<span class="redColor">*</span>Modules :</p:outputLabel>

								<p:selectOneMenu id="moduleList"
									value="#{instanceMigrationBean.selectedModuleId}"
									filterMatchMode="contains" required="true"
									requiredMessage="Please select module">
									<f:selectItem itemLabel="--please select--"
										noSelectionOption="true" />
									<f:selectItems value="#{instanceMigrationBean.moduleTOList}"
										var="module" itemLabel="#{module.moduleName}"
										itemValue="#{module.moduleID}" />
									<p:ajax event="change" update=":instanceMigrationForm"
										listener="#{instanceMigrationController.fetchSchemaList(instanceMigrationBean.selectedModuleId)}">
									</p:ajax>

								</p:selectOneMenu>
							</h:panelGrid>
						</c:if>

					</div>
				</div>
			</p:panel>



			<p:panel id="schemaPanel"
				rendered="#{instanceMigrationBean.renderSchemaPanel}">
				<div class="form_content formPadding">
					<h3>
						<h:outputText value="Schema Info" />
					</h3>
					
				
				<label class="Page_Tittle">Schema List</label>
		
		<div class="listing_Table">
				<p:dataTable widgetVar="schemaDataTable" var="schema"
				value="#{instanceMigrationBean.schemaTOList}" rows="10"
				paginator="true" paginatorAlwaysVisible="true"
				emptyMessage="No Schema Info Found"
					styleClass="table-header" paginatorPosition="bottom"
					selection="#{instanceMigrationBean.selectedSchemaList}"
					rowKey="#{schema.entityID}"
					filteredValue="#{instanceMigrationBean.filteredSchemaTOList}">
					<p:column selectionMode="multiple" id="allcheck" />
					<p:column headerText="Schema Name" sortBy="#{schema.schemaName}"
						filterBy="#{schema.schemaName}">
						<h:outputText value="#{schema.schemaName}" />
					</p:column>
				
					<p:column headerText="Module" >
						<h:outputText value="#{schema.moduleName}" />
					</p:column>
						<p:column headerText="IsClear">
			<h:selectBooleanCheckbox value="#{schema.clear}"/>
													</p:column>
		<p:column>
			<h:inputText value="#{schema.text}"/>
													</p:column>

													
				</p:dataTable>
			</div>

				<p:commandButton value="Migrate" styleClass="Submit_button"
					action="#{instanceMigrationController.migrateSchema}"
					update=":instanceMigrationForm" />
		
		</div>
	</p:panel>
</p:outputPanel>
<p:panel rendered="#{instanceMigrationBean.success}">
<div>
<p:outputLabel value="#{instanceMigrationBean.successMessage}"/>

</div>
<div>
<p:commandButton value="Back" styleClass="Submit_button"
					action="#{instanceMigrationController.initialize}"
					update=":centerForm" />
		

</div>
</p:panel>

	</h:form>

</ui:composition>
