<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysFieldTypeListForm">
		<p:messages id="messages" closable="true"/>
		<label class="Page_Tittle">SysFieldType List</label>
		<p:commandButton icon="ui-icon-plus"
			update=":addSysFieldTypeForm"
			styleClass="btn_right cancel_button" title="AddSysFieldType"
			action="#{sysFieldTypeController.resetSysFieldType}"
			oncomplete="PF('sysFieldTypeAddModal').show()" />

		<div class="listing_Table">
			<p:dataTable widgetVar="sysFieldTypeDataTable"
				var="sysFieldType"
				value="#{sysFieldTypeBean.sysFieldTypeTOList}"
				rows="10" paginator="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">
				<p:column headerText="SysFieldType"
					sortBy="#{sysFieldType.fieldType}"
					filterBy="#{sysFieldType.fieldType}"
					filterMatchMode="contains">
					<h:outputText
						value="#{sysFieldType.fieldType}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show()"
						update=":sysFieldTypeEditForm"
						action="#{sysFieldTypeController.editSysFieldType(sysFieldType)}" />
					<p:spacer height="10" />
				</p:column>

			</p:dataTable>
			
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide(); PF('sysFieldTypeEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>
	<p:dialog header="NEW SYSFIELDTYPE"
		widgetVar="sysFieldTypeAddModal" modal="true"
		resizable="false">
		<h:form id="addSysFieldTypeForm">
			<p:messages id="messages" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>SysFieldType:</p:outputLabel>
				<p:inputText id="SysFieldType" required="true"
					maxlength="50"
					requiredMessage="FieldType Name is required"
					value="#{sysFieldTypeBean.fieldType}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysFieldTypeController.saveSysFieldType()}"
				update=":addSysFieldTypeForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysFieldTypeAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysFieldTypeEditModal" resizable="false"
		header="Update SysFieldType" modal="true">
		<h:form id="sysFieldTypeEditForm">
		<p:messages id="editSysFieldType" closable="true"/>
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>SysFieldType: </p:outputLabel>
				<p:inputText id="updatesysFieldType" required="true"
					maxlength="50"
					value="#{sysFieldTypeBean.sysFieldTypeTO.fieldType}"
					requiredMessage="FieldType Name is required" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" update=":sysFieldTypeEditForm"
				action="#{sysFieldTypeController.updateSysFieldType()}" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				action="#{sysFieldTypeController.resetSysFieldType}"
				oncomplete="PF('sysFieldTypeEditModal').hide();"
				style="float:bottom" required="true" />
		</h:form>
	</p:dialog>

</ui:composition>