<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="updateWorkflowTypeForm">

		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true" />
		<div class="form_content formPadding">
			<h3>
				<h:outputLabel value="Update Workflow Type" />
			</h3>
			<div class="form_content_inner">
				<h:panelGrid columns="4" cellpadding="5" style="border:none">
					<p:outputLabel>
						<span class="redColor">*</span>Module</p:outputLabel>
					<p:selectOneMenu
						value="#{sysWorkflowTypeBean.sysWorkflowTypeTO.moduleId}"
						disabled="#{not empty sysWorkflowTypeBean.sysWorkflowTypeTO.sysWorkflowStageTypeTOs}">
						<f:selectItem itemValue="0" itemLabel="Select Module" />
						<f:selectItems value="#{sysWorkflowTypeBean.sysSubModuleTOList}"
							var="sysSubModuleTO" itemValue="#{sysSubModuleTO.moduleId}"
							itemLabel="#{sysSubModuleTO.moduleName}" />
					</p:selectOneMenu>

					<p:outputLabel>
						<span class="redColor">*</span>Workflow Type</p:outputLabel>
					<p:inputText id="SysWorkFlowType" maxlength="50"
						value="#{sysWorkflowTypeBean.sysWorkflowTypeTO.workflowType}" />
				</h:panelGrid>

				<p:commandButton styleClass="Submit_button" value="Update"
					action="#{sysWorkflowTypeController.editSysWorkfowType}"
					update=":centerForm" style="float:bottom">
				</p:commandButton>

				<p:commandButton styleClass="cancel_button" value="Back"
					update=":centerForm"
					action="#{sysWorkflowTypeController.backFromEditing}"
					immediate="true" />
			</div>
		</div>

		<h:outputLabel value="Workflow Stage Type Group List"
			styleClass="Page_Tittle" />
		<p:commandButton icon="ui-icon-plus"
			action="#{sysWorkflowTypeController.newSysWorkflowStageTypeGroup}"
			styleClass="btn_right cancel_button"
			title="Add New Workflow Stage Type Group"
			oncomplete="PF('newWorkflowStageTypeGroupDialog').show()"
			update=":newWorkflowStageTypeGroupDialogID" />
		<p:dataTable widgetVar="sysWorkflowStageTypeGroupDataTable"
			styleClass="listing_Table"
			value="#{sysWorkflowTypeBean.sysWorkflowTypeTO.sysWorkflowStageTypeGroupTOs}"
			var="sysWorkflowStageTypeGroupTO" rows="10"
			paginatorPosition="bottom" paginator="true">
			<p:column headerText="Group Name" filterMatchMode="contains"
				filterBy="#{sysWorkflowStageTypeGroupTO.workflowStageTypeGroupName}">
				<h:outputText
					value="#{sysWorkflowStageTypeGroupTO.workflowStageTypeGroupName}" />
			</p:column>
			<p:column headerText="Edit">
				<p:commandButton styleClass="cancel_button"
					icon="ui-icon ui-icon-pencil" title="Edit"
					update=":newWorkflowStageTypeGroupDialogID"
					action="#{sysWorkflowTypeController.prepareEditing(sysWorkflowStageTypeGroupTO)}"
					oncomplete="PF('newWorkflowStageTypeGroupDialog').show()" />
			</p:column>
		</p:dataTable>

		<h:outputLabel value="Workflow Stage Type List"
			styleClass="Page_Tittle" />
		<p:commandButton icon="ui-icon-plus"
			action="#{sysWorkflowTypeController.newSysWorkflowStageType}"
			styleClass="btn_right cancel_button"
			title="Add New Workflow Stage Type"
			oncomplete="PF('newWorkflowStageTypeDialog').show()"
			update=":newWorkflowStageTypeDialogID" />
		<p:dataTable widgetVar="sysWorkflowStageTypeDataTable"
			styleClass="listing_Table"
			value="#{sysWorkflowTypeBean.sysWorkflowTypeTO.sysWorkflowStageTypeTOs}"
			var="sysWorkflowStageTypeTO" rows="10" paginatorPosition="bottom"
			paginator="true">
			<p:column headerText="Form Name"
				filterBy="#{sysWorkflowStageTypeTO.formName}"
				filterMatchMode="contains">
				<h:outputText value="#{sysWorkflowStageTypeTO.formName}" />
			</p:column>
			<p:column headerText="Workflow Stage Type"
				filterBy="#{sysWorkflowStageTypeTO.workflowStageType}"
				filterMatchMode="contains">
				<h:outputText value="#{sysWorkflowStageTypeTO.workflowStageType}" />
			</p:column>
			<p:column headerText="Group Name"
				filterBy="#{sysWorkflowStageTypeTO.workflowStageTypeGroupName}"
				filterMatchMode="contains">
				<h:outputText
					value="#{sysWorkflowStageTypeTO.workflowStageTypeGroupName}" />
			</p:column>
			<p:column headerText="Edit">
				<p:commandButton styleClass="cancel_button"
					icon="ui-icon ui-icon-pencil" title="Edit"
					update=":newWorkflowStageTypeDialogID"
					action="#{sysWorkflowTypeController.prepareEditing(sysWorkflowStageTypeTO)}"
					oncomplete="PF('newWorkflowStageTypeDialog').show()" />
			</p:column>
		</p:dataTable>

	</h:form>

	<p:dialog
		header="#{sysWorkflowTypeBean.dialogHeaderPrefix} Workflow Stage Type Group"
		modal="true" resizable="false" draggable="false"
		widgetVar="newWorkflowStageTypeGroupDialog"
		id="newWorkflowStageTypeGroupDialogID">
		<h:form id="newWorkflowStageTypeGroupForm">

			<p:messages showDetail="false" autoUpdate="true" closable="true" />

			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>Workflow Stage Type Group:</p:outputLabel>
				<p:inputText maxlength="50"
					value="#{sysWorkflowTypeBean.sysWorkflowStageTypeGroupTO.workflowStageTypeGroupName}" />
			</h:panelGrid>

			<p:commandButton styleClass="Submit_button"
				value="#{sysWorkflowTypeBean.dialogButtonName}"
				action="#{sysWorkflowTypeController.addOrUpdateSysWorkflowStageTypeGroup}"
				process=":newWorkflowStageTypeGroupForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('newWorkflowStageTypeGroupDialog').hide(); scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>

	<p:dialog
		header="#{sysWorkflowTypeBean.dialogHeaderPrefix} Workflow Stage Type"
		modal="true" resizable="false" draggable="false"
		widgetVar="newWorkflowStageTypeDialog"
		id="newWorkflowStageTypeDialogID">
		<h:form id="newWorkflowStageTypeForm">

			<p:messages showDetail="false" autoUpdate="true" closable="true" />

			<h:panelGrid columns="2" cellpadding="5" style="border:none">

				<p:outputLabel>
					<span class="redColor">*</span>Form Name:</p:outputLabel>
				<p:selectOneMenu
					value="#{sysWorkflowTypeBean.sysWorkflowStageTypeTO.uiFormID}">
					<f:selectItem itemValue="0" itemLabel="Select Form" />
					<f:selectItems value="#{sysWorkflowTypeBean.uiFormTOList}"
						var="uiFormTO" itemValue="#{uiFormTO.formID}"
						itemLabel="#{uiFormTO.formName}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Workflow Stage Type:</p:outputLabel>
				<p:inputText id="SysWorkFlowType" maxlength="50"
					value="#{sysWorkflowTypeBean.sysWorkflowStageTypeTO.workflowStageType}" />

				<p:outputLabel>Group:</p:outputLabel>
				<p:selectOneMenu
					value="#{sysWorkflowTypeBean.sysWorkflowStageTypeTO.workflowStageTypeGroupID}">
					<f:selectItem itemValue="0" itemLabel="Select Group" />
					<f:selectItems
						value="#{sysWorkflowTypeBean.sysWorkflowTypeTO.sysWorkflowStageTypeGroupTOs}"
						var="sysWorkflowStageTypeGroupTO"
						itemValue="#{sysWorkflowStageTypeGroupTO.workflowStageTypeGroupID}"
						itemLabel="#{sysWorkflowStageTypeGroupTO.workflowStageTypeGroupName}" />
				</p:selectOneMenu>

			</h:panelGrid>

			<p:commandButton styleClass="Submit_button"
				value="#{sysWorkflowTypeBean.dialogButtonName}"
				action="#{sysWorkflowTypeController.addOrUpdateSysWorkflowStageType}"
				process=":newWorkflowStageTypeForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('newWorkflowStageTypeDialog').hide(); scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>

</ui:composition>
