<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysWorkflowTypeListForm">

		<p:messages for="MainMessages" closable="true" />

		<label class="Page_Tittle">Workflow Type List</label>

		<p:commandButton icon="ui-icon-plus" update=":workflowTypeAddForm"
			styleClass="btn_right cancel_button" title="Add New Workflow Type"
			action="#{sysWorkflowTypeController.newSysWorkflowType}"
			oncomplete="PF('workflowTypeAddModal').show();" />

		<div class="listing_Table">
			<p:dataTable widgetVar="sysWorkflowTypeDataTable"
				value="#{sysWorkflowTypeBean.sysWorkflowTypeTOList}"
				var="sysWorkflowTypeTO" rows="10" paginatorPosition="bottom"
				paginator="true" rowsPerPageTemplate="10,20,30">
				<p:column headerText="Module"
					filterBy="#{sysWorkflowTypeTO.moduleName}"
					filterMatchMode="contains">
					<h:outputText value="#{sysWorkflowTypeTO.moduleName}" />
				</p:column>
				<p:column headerText="Workflow Type"
					filterBy="#{sysWorkflowTypeTO.workflowType}"
					filterMatchMode="contains">
					<h:outputText value="#{sysWorkflowTypeTO.workflowType}" />
				</p:column>
				<p:column headerText="Edit">
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit" update=":centerForm"
						action="#{sysWorkflowTypeController.prepareEditing(sysWorkflowTypeTO)}" />
				</p:column>
			</p:dataTable>
		</div>
	</h:form>

	<p:dialog header="NEW WORKFLOW TYPE" widgetVar="workflowTypeAddModal"
		modal="true">
		<h:form id="workflowTypeAddForm">
			<p:messages id="workflowTypeAddMessages" showDetail="false"
				autoUpdate="true" closable="true" />

			<h:panelGrid columns="2" cellpadding="5" style="border:none">

				<p:outputLabel>
					<span class="redColor">*</span>Module:</p:outputLabel>
				<p:selectOneMenu
					value="#{sysWorkflowTypeBean.sysWorkflowTypeTO.moduleId}">
					<f:selectItem itemValue="0" itemLabel="Select Module" />
					<f:selectItems value="#{sysWorkflowTypeBean.sysSubModuleTOList}"
						var="sysSubModuleTO" itemValue="#{sysSubModuleTO.moduleId}"
						itemLabel="#{sysSubModuleTO.moduleName}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Workflow Type:</p:outputLabel>
				<p:inputText id="SysWorkFlowType" maxlength="50"
					value="#{sysWorkflowTypeBean.sysWorkflowTypeTO.workflowType}" />

			</h:panelGrid>

			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysWorkflowTypeController.addSysWorkflowType()}"
				process=":workflowTypeAddForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('workflowTypeAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

</ui:composition>