<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysPayCodeParameterMappingListForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true" />
		<label class="Page_Tittle">SysPayCode and SysParameter Mapping
			List</label>

		<p:commandButton
			oncomplete="PF('sysPayCodeParameterMappingAddModal').show();"
			styleClass="btn_right cancel_button" icon="ui-icon-plus"
			title="Add SysPayCode Parameter Mapping Name"
			action="#{sysPayCodeParameterMappingController.resetBean}"
			update=":newSysPayCodeParameterMappingForm,:sysPayCodeParameterMappingListForm">
		</p:commandButton>


		<div class="listing_Table">
			<p:dataTable widgetVar="myDataTable" id="constantListForm"
				var="record"
				value="#{sysPayCodeParameterMappingBean.sysPayCodeParameterMappingTOList}"
				rows="10" paginator="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">

				<f:facet name="{sysPayCodeParameter Name}" />

				<p:column sortBy="#{record.sysPayCodeParameterMappingName}"
					filterBy="#{record.sysPayCodeParameterMappingName}"
					headerText="SysParameter-SysPayCode ">
					<h:outputText value="#{record.sysPayCodeParameterMappingName}" />
				</p:column>


				<p:column sortBy="#{record.sysParameterName}"
					filterBy="#{record.sysParameterName}"
					headerText="System Parameter Name">
					<h:outputText value="#{record.sysParameterName}" />
				</p:column>

				<p:column sortBy="#{record.sysPayCodeName}"
					filterBy="#{record.sysPayCodeName}"
					headerText="System PayCode Name">
					<h:outputText value="#{record.sysPayCodeName}" />
				</p:column>



				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();"
						update=":sysPayCodeParameterMappingListUpdateForm"
						action="#{sysPayCodeParameterMappingController.refreshPopUp(record)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>

			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">

				<div class="confirmDialog_text">
					<label>Please edit carefully because changes made may
						affect the whole System.</label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide();PF('sysPayCodeParameterMappingEditModal').show();" />
					
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>

			</p:dialog>

		</div>
	</h:form>

	<p:dialog header="SysParameter-SysPayCode"
		widgetVar="sysPayCodeParameterMappingAddModal" modal="true">
		<h:form id="newSysPayCodeParameterMappingForm">
			<p:messages id="newSysPayCodeParameterMapping1" showDetail="false"
				autoUpdate="true" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">

				<p:outputLabel>	<span class="redColor">*</span>System Parameter:</p:outputLabel>
				<p:selectOneMenu id="rt"
					value="#{sysPayCodeParameterMappingBean.sysParameterID}"
					filter="true" filterMatchMode="contains" required="true"
					requiredMessage="System Parameter is required">
					<f:selectItem itemLabel="Please Select" itemValue="" />
					<f:selectItems var="record"
						value="#{sysPayCodeParameterMappingBean.parameterDropDownTOList}"
						itemLabel="#{record.sysParameterName}"
						itemValue="#{record.sysParameterID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>System Paycode:</p:outputLabel>
				<p:selectOneMenu id="rtid"
					value="#{sysPayCodeParameterMappingBean.sysPayCodeID}"
					filter="true" filterMatchMode="contains" required="true"
					requiredMessage="System Paycode is required">
					<f:selectItem itemLabel="Please Select" itemValue="" />
					<f:selectItems var="record"
						value="#{sysPayCodeParameterMappingBean.payCodeDropDownTOList}"
						itemLabel="#{record.sysPayCodeName}"
						itemValue="#{record.sysPayCodeID}" />
				</p:selectOneMenu>
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysPayCodeParameterMappingController.save}"
				process=":sysPayCodeParameterMappingListForm,:newSysPayCodeParameterMappingForm"
				update=":newSysPayCodeParameterMappingForm"
				style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysPayCodeParameterMappingAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysPayCodeParameterMappingEditModal"
		header="SysParameter-SysPayCode" modal="true">
		<h:form id="sysPayCodeParameterMappingListUpdateForm">
			<p:messages id="changeSysPayCodeParameterMappingDetails"
				closable="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>SysParameter:</p:outputLabel>
				<p:selectOneMenu id="SysParameter" filter="true"
					filterMatchMode="contains"
					value="#{sysPayCodeParameterMappingBean.sysParameterID}"
					required="true" requiredMessage="Sys Parameter is required">
					<f:selectItems var="record"
						value="#{sysPayCodeParameterMappingBean.parameterDropDownTOList}"
						itemLabel="#{record.sysParameterName}"
						itemValue="#{record.sysParameterID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>SysPaycode:</p:outputLabel>
				<p:selectOneMenu id="SysPayCode" filter="true"
					filterMatchMode="contains"
					value="#{sysPayCodeParameterMappingBean.sysPayCodeID}"
					required="true" requiredMessage="Sys PayCode is required">
					<f:selectItems var="record"
						value="#{sysPayCodeParameterMappingBean.payCodeDropDownTOList}"
						itemLabel="#{record.sysPayCodeName}"
						itemValue="#{record.sysPayCodeID}" />
				</p:selectOneMenu>

			</h:panelGrid>

			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();"
				action="#{sysPayCodeParameterMappingController.update}"
				update=":sysPayCodeParameterMappingListUpdateForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('sysPayCodeParameterMappingEditModal').hide();"
				style="float:bottom" required="true" />
		</h:form>
	</p:dialog>

</ui:composition>