<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysPeakRecurringTypeListForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true"
			rendered="#{!sysPeakRecurringTypeBean.renderErrorMessage}" />
		<label class="Page_Tittle">SysRecurringType List</label>

		<p:commandButton icon="ui-icon-plus" update=":addSysRecurringTypeForm"
			styleClass="btn_right cancel_button" title="Add New RecurringType"
			action="#{sysPeakRecurringTypeController.resetSysPeakRecurringType}"
			oncomplete="PF('sysPeakRecurringTypeAddModal').show();" />

		<div class="listing_Table">
			<p:dataTable widgetVar="sysPeakRecurringTypeDataTable"
				value="#{sysPeakRecurringTypeBean.sysPeakRecurringTypeTOList}"
				var="sysPeakRecurringType" rows="10" rowsPerPageTemplate="10,20,30"
				paginatorPosition="bottom" paginator="true">
				<p:column sortBy="#{sysPeakRecurringType.recurringTypeLabel}"
					filterBy="#{sysPeakRecurringType.recurringTypeLabel}"
					headerText="SysRecurringType" filterMatchMode="in">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="SysRecurringType"
							onchange="PF('sysPeakRecurringTypeDataTable').filter()"
							filterMatchMode="contains" filter="true"
							value="#{sysPeakRecurringTypeBean.selectedPeakRecurringType}">
							<f:selectItems
								value="#{sysPeakRecurringTypeBean.recurringTypeLabel}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{sysPeakRecurringType.recurringTypeLabel}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();"
						update=":sysPeakRecurringTypeEditForm"
						action="#{sysPeakRecurringTypeController.refreshPopUp(sysPeakRecurringType)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide(); PF('sysPeakRecurringTypeEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>

	<p:dialog header="NEW RECURRINGTYPE"
		widgetVar="sysPeakRecurringTypeAddModal" modal="true">
		<h:form id="addSysRecurringTypeForm">
			<p:messages id="newRecurringTypeMessages" showDetail="false"
				autoUpdate="true" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>System RecurringType:</p:outputLabel>
				<p:inputText id="SysRecurringType" required="true" maxlength="200"
					requiredMessage="Please input a SysRecurringType"
					value="#{sysPeakRecurringTypeBean.recurringTypeLabel}" />

			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysPeakRecurringTypeController.addSysPeakRecurringType()}"
				process=":addSysRecurringTypeForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysPeakRecurringTypeAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysPeakRecurringTypeEditModal"
		header="SysRecurringType" modal="true">
		<h:form id="sysPeakRecurringTypeEditForm">
			<p:messages id="editSysRecurringType" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel>
					<span class="redColor">*</span>SysRecurringType:</p:outputLabel>
				<p:inputText value="#{sysPeakRecurringTypeBean.recurringTypeLabel}"
					maxlength="50" required="true"
					requiredMessage="Category Name is required" />

			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();"
				action="#{sysPeakRecurringTypeController.updateSysRecurringType}"
				update=":sysPeakRecurringTypeListForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('sysPeakRecurringTypeEditModal').hide();"
				style="float:bottom" immediate="true" />


		</h:form>
	</p:dialog>

</ui:composition>