<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="DSPTemplateComfig" styleClass="colorBackground">
	<p:messages showDetail="false" autoUpdate="false" closable="true" />

		<p:panel id="mainPanel" style="border:none!important;">
			
			<h:panelGroup id="templateInfoPanel">
				<div class="form_content">
					<h3>Template Info</h3>
					<div class="form_content_inner">
						<h:panelGrid columns="4" columnClasses="td_labelCol,td_outputCol,td_labelCol,td_outputCol">

							<h:panelGroup>
                           
								<h:outputLabel ><span class="redColor">*</span>Template Name:</h:outputLabel>
							</h:panelGroup>
                            <h:panelGroup>
							<p:inputText id="templateName1"
								value="#{dsoTemplateConfigListBean.templateName}" >
							</p:inputText>

                            </h:panelGroup>
                            

							<h:outputLabel value="Description:"></h:outputLabel>
                            <h:panelGroup>
							<p:inputTextarea id="descId"
								value="#{dsoTemplateConfigListBean.description}">
							</p:inputTextarea>

                            </h:panelGroup>

						</h:panelGrid>
					</div>
				</div>
			</h:panelGroup>


			<h:panelGroup id="templateFormatPanel">
				<div class="form_content">
					<h3>Template Format</h3>
					<div class="form_content_inner TemplateFormat" style="padding:10px;">
						<h:panelGrid columns="3" width="100%" 
							columnClasses="td_labelCol,auto,auto">

					
							<h:outputLabel value="To:"></h:outputLabel>
							<p:inputText id="toFieldId"
								disabled="#{dsoTemplateConfigListBean.editDisable}"
								value="#{dsoTemplateConfigListBean.to}">
							</p:inputText>
							<p:commandButton id="to1" value="Choose Recipient"
								action="#{dsoTemplateConfigListController.selectPlaceHolderTO}"
								styleClass="btn-success"
								oncomplete="PF('selectRecipientPanelTo').show();"
								update=":selectRecipientFormTo" process="@this"> 
							</p:commandButton>

							<h:outputLabel value="Cc:"></h:outputLabel>
							<p:inputText id="ccFieldId"
								disabled="#{dsoTemplateConfigListBean.editDisable}"
								value="#{dsoTemplateConfigListBean.cc}"	>
							</p:inputText>
							<p:commandButton id="cc1" value="Choose Recipient"
								action="#{dsoTemplateConfigListController.selectPlaceHolderCC}"
								styleClass="btn-success"
								oncomplete="PF('selectRecipientPanelTo').show();"
								update=":selectRecipientFormTo" process="@this">
							</p:commandButton>
							<h:outputLabel value="BCC:"></h:outputLabel>
							<p:inputText id="bccFieldId"
								disabled="#{dsoTemplateConfigListBean.editDisable}"
								value="#{dsoTemplateConfigListBean.bcc}">
							</p:inputText>
							<p:commandButton id="bcc1" value="Choose Recipient"
								action="#{dsoTemplateConfigListController.selectPlaceHolderBCC}"
								styleClass="btn-success"
								oncomplete="PF('selectRecipientPanelTo').show();"
								update=":selectRecipientFormTo" process="@this">
							</p:commandButton>
							
                
							<h:outputLabel value="Subject:"></h:outputLabel>
							<p:inputText id="subjectFieldId"
								value="#{dsoTemplateConfigListBean.subject}">
							</p:inputText>
                            
						</h:panelGrid>
                        <table>
                        <tr>
                        <td class="td_labelCol">
                        <h:outputLabel value="Body:"></h:outputLabel>
                        </td>
                        <td>
                        <h:panelGroup layout="block">
								<p:editor id="editorId"
									value="#{dsoTemplateConfigListBean.content}" height="300" styleClass="editorStyle">
								</p:editor>
						</h:panelGroup>
                        </td>
                        </tr>
                        </table>
						<div class="listing_Table" style="margin-top:20px;">
							<h2 class="">PLACEHOLDERS</h2>

							<p:dataTable value="#{dsoTemplateConfigListBean.phList}"
								var="xdata" rowIndexVar="rowKey" widgetVar="placeholderLst"
								styleClass="table-header width-full"
								rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
								emptyMessage="No Placeholder has been created for the selected module."
								paginator="true" paginatorAlwaysVisible="true" first="0" rows="15"
								rowsPerPageTemplate="15,30,45,60" paginatorPosition="bottom" >

								<p:columnGroup type="header">
									<p:row>
										<p:column headerText="Placeholder Name"
											sortBy="#{xdata.placeholderValue}" filterBy="#{xdata.placeholderValue}" />
										<p:column headerText="Description"
											sortBy="#{xdata.placeholderLabel}" filterBy="#{xdata.placeholderLabel}"/>
									</p:row>
									
								</p:columnGroup>

								<p:column>
									<h:outputText value="#{xdata.placeholderValue}" />
								</p:column>
								<p:column>
									<h:outputText value="#{xdata.placeholderLabel}" />
								</p:column>
							</p:dataTable>

						</div>



					</div>
				</div>
			</h:panelGroup>
			<div class="BtnRW">

				<h:panelGroup >
					<p:commandButton id="sav" value="Save" styleClass="Submit_button" update=":centerForm" rendered="#{!dsoTemplateConfigListBean.renderupdateBtn}"
						action="#{dsoTemplateConfigListController.save}">
					</p:commandButton>



					<p:commandButton id="upd" value="Update" styleClass="Submit_button" update=":centerForm" rendered="#{dsoTemplateConfigListBean.renderupdateBtn}"
						action="#{dsoTemplateConfigListController.update}">
					</p:commandButton>

				</h:panelGroup>


				<p:commandButton id="canc" value="Cancel" update=":centerForm"
					action="#{dsoTemplateConfigListController.cancel}" process="@this">

				</p:commandButton>


			</div>
			
		</p:panel>

	</h:form>

	<h:form id="selectRecipientFormTo" styleClass="colorBackground">
		<p:dialog widgetVar="selectRecipientPanelTo" header="Select Recipient" modal="true" closable="false"
			id="selectRecipientPanelToPanel" rendered="true" width="662">

			<p:dataTable id="listPlaceHolder1"
				value="#{dsoTemplateConfigListBean.placeHolderListTo}"
				var="placeHolderTo" widgetVar="placeholderWV"
				paginator="true"  rowIndexVar="index"
				paginatorAlwaysVisible="true" rows="10"
				rowsPerPageTemplate="10,20,30,40" paginatorPosition="bottom"
				first="0" rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}" >

				<p:columnGroup type="header">
					<p:row>
						<p:column />
						<p:column headerText="Placeholder"
							sortBy="#{placeHolderTo.placeholderValue}" />
						<p:column headerText="Description"
							sortBy="#{placeHolderTo.placeholderLabel}" />
					</p:row>
					<p:row>
						<p:column />
						<p:column filterMatchMode="contains"
							filterBy="#{placeHolderTo.placeholderValue}" />
						<p:column filterMatchMode="contains"
							filterBy="#{placeHolderTo.placeholderLabel}" />
					</p:row>
				</p:columnGroup>

				<p:column>

					<p:selectBooleanCheckbox value="#{placeHolderTo.selected}">

					</p:selectBooleanCheckbox>
				</p:column>

				<p:column>
			
			#{placeHolderTo.placeholderValue}
		</p:column>

				<p:column>
			
			#{placeHolderTo.placeholderLabel}
		</p:column>

			</p:dataTable>

				<div class="row margin_top_10">
				<p:commandButton value="OK" styleClass="btn-success"
				    update=":DSPTemplateComfig:toFieldId,:DSPTemplateComfig:ccFieldId,:DSPTemplateComfig:bccFieldId"
					action="#{dsoTemplateConfigListController.assignPlaceHolder}"
					oncomplete="PF('selectRecipientPanelTo').hide();">
				</p:commandButton>
			
				<p:commandButton value="Cancel"
					action="#{dsoTemplateConfigListController.cancelPlaceHolder}"
					oncomplete="PF('selectRecipientPanelTo').hide();">
				</p:commandButton>
                </div>
		
		</p:dialog>
	</h:form>

</ui:composition>



