<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="TemplateListForm">
		<p:messages id="messages" closable="true" />
		<label class="Page_Tittle">Template List</label>
		<p:commandButton icon="ui-icon-plus"
			update=":centerForm,:TemplateListForm"
			styleClass="btn_right cancel_button" title="Add New Template"
			action="#{dsoTemplateConfigListController.create}" />

		<div class="listing_Table">
			<p:dataTable id="sysTempConfigList" var="tempConfig"
				value="#{dsoTemplateConfigListBean.dsoTemplateConfigTOList}"
				rows="15" paginator="true" rowsPerPageTemplate="15,30,45"
				styleClass="table-header"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				paginatorPosition="bottom" rowIndexVar="index">
				<p:columnGroup type="header">
					<p:row>

						<p:column headerText="Template Name"
							sortBy="#{tempConfig.templateName}" />
						<p:column headerText="Description"
							sortBy="#{tempConfig.description}" />
						<p:column headerText="To" sortBy="#{tempConfig.to}" />
						<p:column headerText="CC" sortBy="#{tempConfig.cc}" />
						<p:column headerText="Action" />

					</p:row>

					<p:row>

						<p:column filterBy="#{tempConfig.templateName}"
							footerText="startsWith" />
						<p:column filterBy="#{tempConfig.description}"
							footerText="startsWith" />
						<p:column filterBy="#{tempConfig.to}" footerText="startsWith" />
						<p:column filterBy="#{tempConfig.cc}" footerText="startsWith" />
						<p:column />
					</p:row>
				</p:columnGroup>
				<p:column sortBy="#{tempConfig.templateName}">
        
        #{tempConfig.templateName}
        
         					</p:column>


				<p:column>
        #{tempConfig.description}
        </p:column>

				<p:column>
        #{tempConfig.to}
        </p:column>

				<p:column>
        #{tempConfig.cc}
        
        </p:column>
				<p:column>
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit" update=":centerForm"
						action="#{dsoTemplateConfigListController.edit(tempConfig)}" />
					<p:spacer height="10" />

				</p:column>

			</p:dataTable>


		</div>
	</h:form>

</ui:composition>