<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysConstantListForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true" />
		<label class="Page_Tittle">System Constant Name List</label>

		<p:commandButton oncomplete="PF('sysConstantAddModal').show();"
			styleClass="btn_right cancel_button" icon="ui-icon-plus"
			title="Add System Constant Name Type"
			action="#{sysConstantController.resetBean}"
			update=":newSysConstantForm,:sysConstantListForm">
		</p:commandButton>


		<div class="listing_Table">
			<p:dataTable widgetVar="myDataTable" id="constantListForm"
				var="record" value="#{sysConstantBean.constantTOList}" rows="10"
				paginator="true" styleClass="table-header" rowIndexVar="index"
				paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">

				<f:facet name="{Sys Constant}" />
				<p:column sortBy="#{record.sysConstantName}"
					filterBy="#{record.sysConstantName}"
					headerText="System Constant Name">
					<h:outputText value="#{record.sysConstantName}" />
				</p:column>

				<p:column sortBy="#{record.sysConstantCategoryName}"
					filterBy="#{record.sysConstantCategoryName}"
					headerText="System Constant Category Name">
					<h:outputText value="#{record.sysConstantCategoryName}" />
				</p:column>

				<p:column sortBy="#{record.statusType}"
					filterBy="#{record.statusType}">
					<f:facet name="header">
						<h:outputText value="Is Active" />
					</f:facet>

					<h:outputText value="#{record.statusType}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();"
						update=":sysConstantListUpdateForm"
						action="#{sysConstantController.refreshPopUp(record)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>

			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">

				<div class="confirmDialog_text">
					<label>Please edit carefully because changes made may
						affect the whole System.</label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide();PF('sysConstantEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>

			</p:dialog>

		</div>
	</h:form>

	<p:dialog header="New SysConstant" widgetVar="sysConstantAddModal"
		modal="true">
		<h:form id="newSysConstantForm">
			<p:messages id="newSysConstant1" showDetail="false" autoUpdate="true"
				closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">



				<p:outputLabel>System Constant Category:</p:outputLabel>

				<p:selectOneMenu id="rtid"
					value="#{sysConstantBean.sysConstantCategoryID}" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue="" />
					<f:selectItems var="record"
						value="#{sysConstantBean.categoryDropDownTOList}"
						itemLabel="#{record.sysConstantCategoryName}"
						itemValue="#{record.sysConstantCategoryID}" />
				</p:selectOneMenu>


				<p:outputLabel>
					<span class="redColor">*</span>System Constant Name:</p:outputLabel>

				<p:inputText id="SysConstantType" required="true" maxlength="200"
					requiredMessage="Please input a Sys Constant Name"
					value="#{sysConstantBean.sysConstantName}" />

				<p:outputLabel value="Is Active: " />
				<p:selectBooleanCheckbox value="#{sysConstantBean.status}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysConstantController.save}"
				process=":sysConstantListForm,:newSysConstantForm"
				style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysConstantAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysConstantEditModal" header="SysConstant"
		modal="true">
		<h:form id="sysConstantListUpdateForm">
			<p:messages id="changeSysConstantDetails" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>SysConstantCategory:</p:outputLabel>
				<p:selectOneMenu id="SysConstantCategory" filter="true"
					filterMatchMode="contains"
					value="#{sysConstantBean.sysConstantCategoryID}" required="true"
					requiredMessage="Sys Constant Category is required">
					<f:selectItems var="record"
						value="#{sysConstantBean.categoryDropDownTOList}"
						itemLabel="#{record.sysConstantCategoryName}"
						itemValue="#{record.sysConstantCategoryID}" />
				</p:selectOneMenu>

				<p:outputLabel value="SysConstantType:" />
				<p:inputText id="sysConstantType" required="true" maxlength="200"
					value="#{sysConstantBean.sysConstantName}"
					requiredMessage="SysConstant Name is required" />

				<p:outputLabel value="Is Active: " />
				<p:selectBooleanCheckbox value="#{sysConstantBean.status}" />
			</h:panelGrid>

			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" action="#{sysConstantController.update}"
				update=":sysConstantListUpdateForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('sysConstantEditModal').hide();" style="float:bottom"
				required="true" />
		</h:form>
	</p:dialog>

</ui:composition>