<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="config">
		<p:messages id="messages" 	closable="true" />
		
		<div class="btn_left"><label class="Page_Tittle">Download Property File:</label></div>
		<div class="btn_right">
		<p:commandButton ajax="false" styleClass="cancel_button" icon="ui-icon-arrowthickstop-1-s" process=":config"
			action="#{configController.download}"/>
		</div>
			<div class="listing_Table">
				<p:dataTable widgetVar="configDataTable" id = "datatable" value="#{configBean.response}" var="config" 
					emptyMessage="No Data Found in property File." rows="10" rowsPerPageTemplate="10,20,30" paginatorPosition="bottom"	paginator="true">
				    <p:column  sortBy="#{config.propertyKey}"	filterBy="#{config.propertyKey}" >
				    <f:facet name="header">
					<h:outputLabel value="Property Name"></h:outputLabel>
					</f:facet>
				  		 <h:outputLabel id ="Key_#{config.propertyKey}" value="#{config.propertyKey}" />
				   </p:column>

				   <p:column>
				   <f:facet name="header">
					<h:outputLabel value="Property Value"></h:outputLabel>
					</f:facet>
					<p:inplace id="ajax" editor="true">
           				 <p:inputText value="#{config.propertyValue}" />
           				 </p:inplace>
				   </p:column>
	
				</p:dataTable>
			</div>

		<p:commandButton value="Save" action="#{configController.save}"  update =":centerForm,:config" process=":config"
			styleClass="Submit_button" />

		<p:commandButton value="Cancel"  update=":centerForm,:config"	action="#{configController.cancel}" 
			styleClass="cancel_button" />
				
	</h:form>
</ui:component>
