<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:form id="ruleListForm">
		<p:messages globalOnly="true" autoupdate="true" closable="true" />

		<label class="Page_Tittle">Rule List</label>
		<p:commandButton oncomplete="PF('addRuleListModel').show();"
			styleClass="btn_right cancel_button" icon="ui-icon-plus"
			title="Add Rule Type" action="#{sysRuleController.ResetBean}"
			update=":newRuleListForm,:ruleListForm">
		</p:commandButton>

		<div class="listing_Table">
			<p:dataTable widgetVar="myDataTable" id="ruleListForm1" var="record"
				value="#{sysRuleBean.ruleTOList}" rows="10" paginator="true"
				paginatorAlwaysVisible="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				filteredValue="#{sysRuleBean.ruleFilteredList}"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">
				<f:facet name="{Rule Type}">

				</f:facet>

				<p:column sortBy="#{record.ruleMethod}"
					filterBy="#{record.ruleMethod}" headerText="Rule Method">
					<h:outputText value="#{record.ruleMethod}" />
				</p:column>

				<p:column sortBy="#{record.description}"
					filterBy="#{record.description}" headerText="Description">
					<h:outputText value="#{record.description}" />
				</p:column>

				<p:column sortBy="#{record.sysType}" filterBy="#{record.sysType}" headerText="Rule Type">
					<h:outputText value="#{record.sysType}" />
				</p:column>

				<p:column sortBy="#{record.ruleClass}"
					filterBy="#{record.ruleClass}" headerText="Rule Class">
					<h:outputText value="#{record.ruleClass}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();" update=":ruleListUpdateForm"
						action="#{sysRuleController.refreshPopUp(record)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>

			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">

				<div class="confirmDialog_text">
					<label>Please edit carefully because changes made may
						affect the whole System.</label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide();PF('ruleListEditModel').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>

			</p:dialog>

		</div>
	</h:form>

	<p:dialog widgetVar="addRuleListModel" header="Rule" modal="true" width="400">
		<h:form id="newRuleListForm">
			<p:messages id="newRule1" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" columnClasses="labelCol30, auto" styleClass="table">
				<p:outputLabel>
					<span class="redColor">*</span>Rule Method:</p:outputLabel>
				<p:inputText id="eid" value="#{sysRuleBean.ruleMethod}"
					maxlength="50" required="true"
					requiredMessage=" Rule Method is required." />

				<p:outputLabel>Description:</p:outputLabel>
				<p:inputText id="did" value="#{sysRuleBean.description}"
					maxlength="500" />


				<p:outputLabel>RuleType:</p:outputLabel>

				<p:selectOneMenu id="rtid" value="#{sysRuleBean.ruleTypeID}"
					filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue="" />
					<f:selectItems var="record" value="#{sysRuleBean.ruleTypeIDTOList}"
						itemLabel="#{record.sysType}" itemValue="#{record.ruleTypeID}" />
					<p:ajax
					update="newRuleListForm:ruleclassname1"
					listener="#{sysRuleController.changeRuleType(sysRuleBean.ruleTypeID)}" ></p:ajax>
				</p:selectOneMenu>

				<p:outputLabel>Rule Class:</p:outputLabel>
				<p:inputText id="rid" value="#{sysRuleBean.ruleClass}"
					maxlength="250" />

				<p:outputLabel>Method Parameters:</p:outputLabel>
				<p:inputText id="mip" value="#{sysRuleBean.methodParameters}"
					maxlength="1000" />

				<p:outputLabel>Method Return Type:</p:outputLabel>
				<p:inputText id="mrt" value="#{sysRuleBean.methodReturnType}"
					maxlength="250" />

			</h:panelGrid>
			
			<h:panelGrid id="ruleclassname1" columnClasses="labelCol30, auto" styleClass="table" columns="2" cellpadding="5">
			<p:outputLabel rendered="#{sysRuleBean.renderMandatoryRuleClass}"><span class="redColor">*</span>Rule Class Name:</p:outputLabel>
				<p:panel rendered="#{sysRuleBean.renderMandatoryRuleClass}" >
					
					<p:inputText id="rcn1" value="#{sysRuleBean.ruleClassName}"
						maxlength="250"  required="true"
					requiredMessage=" Rule Class Name is required." />
				</p:panel>
				<p:outputLabel rendered="#{!sysRuleBean.renderMandatoryRuleClass}">Rule Class Name:</p:outputLabel>
				<p:panel rendered="#{!sysRuleBean.renderMandatoryRuleClass}" >
					<p:inputText id="rcn2" value="#{sysRuleBean.ruleClassName}"
						maxlength="250" />
				</p:panel>
				
			</h:panelGrid>
			<h:panelGrid columnClasses="labelCol30, auto" styleClass="table" columns="2" cellpadding="5">
				<p:outputLabel>Class Path Convention:</p:outputLabel>
				<p:inputText id="cpc" value="#{sysRuleBean.classPathConvention}"
					maxlength="50" />
			</h:panelGrid>
			
			
			<div class="row margin_top_10">
				<p:commandButton styleClass="Submit_button" value="Save"
					rendered="#{sysRuleBean.renderSaveButton}"
					action="#{sysRuleController.save}"
					update=":ruleListForm,:newRuleListForm" onerror="" />
				<p:commandButton styleClass="cancel_button" value="Cancel"
					onclick="scrollUp();" oncomplete="PF('addRuleListModel').hide();"
					style="float:bottom" required="true" immediate="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog widgetVar="ruleListEditModel" header="Rule" modal="true">
		<h:form id="ruleListUpdateForm">
			<p:messages id="changeRuleDetails" closable="true" />
			<h:panelGrid columnClasses="labelCol30, auto" styleClass="table" columns="2" cellpadding="5">
				<p:outputLabel>
					<span class="redColor">*</span>Rule Method:</p:outputLabel>
				<p:inputText value="#{sysRuleBean.ruleMethod}" maxlength="50"
					required="true" requiredMessage=" Rule Method is required." />

				<p:outputLabel>Description:</p:outputLabel>
				<p:inputText value="#{sysRuleBean.description}" maxlength="500" />

				<p:outputLabel>RuleType:</p:outputLabel>
				<p:selectOneMenu id="rtid" value="#{sysRuleBean.ruleTypeID}" filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue="" />
					<f:selectItems var="record" value="#{sysRuleBean.ruleTypeIDTOList}"
						itemLabel="#{record.sysType}" itemValue="#{record.ruleTypeID}" />
						<p:ajax
					update="ruleListUpdateForm:ruleclassname2"
					listener="#{sysRuleController.changeRuleType(sysRuleBean.ruleTypeID)}" ></p:ajax>
				</p:selectOneMenu>

				<p:outputLabel>Rule Class:</p:outputLabel>
				<p:inputText value="#{sysRuleBean.ruleClass}" maxlength="250" />

				<p:outputLabel>Method Parameters:</p:outputLabel>
				<p:inputText value="#{sysRuleBean.methodParameters}"
					maxlength="1000" />

				<p:outputLabel>Method Return Type:</p:outputLabel>
				<p:inputText value="#{sysRuleBean.methodReturnType}" maxlength="250" />
			</h:panelGrid>
			<h:panelGrid id="ruleclassname2" columnClasses="labelCol30, auto" styleClass="table" columns="2" cellpadding="5">
				<p:outputLabel rendered="#{sysRuleBean.renderMandatoryRuleClass}"><span class="redColor">*</span>Rule Class Name:</p:outputLabel>
				<p:panel rendered="#{sysRuleBean.renderMandatoryRuleClass}" >
					<p:inputText id="rcn11" value="#{sysRuleBean.ruleClassName}"
						maxlength="250"  required="true"
					requiredMessage=" Rule Class Name is required." />
				</p:panel>
				<p:outputLabel rendered="#{!sysRuleBean.renderMandatoryRuleClass}">Rule Class Name:</p:outputLabel>
				<p:panel rendered="#{!sysRuleBean.renderMandatoryRuleClass}" >
					<p:inputText id="rcn22" value="#{sysRuleBean.ruleClassName}"
						maxlength="250" />
				</p:panel>
			</h:panelGrid>
			<h:panelGrid columnClasses="labelCol30, auto" styleClass="table" columns="2" cellpadding="5">
			<p:outputLabel>Class Path Convention:</p:outputLabel>
				<p:inputText value="#{sysRuleBean.classPathConvention}"
					maxlength="50" />

			</h:panelGrid>
			<div class="row margin_top_10">
				<p:commandButton styleClass="Submit_button" value="Update"
					rendered="#{sysRuleBean.renderUpdateButton}" onclick="scrollUp();"
					action="#{sysRuleController.update}"
					update=":ruleListForm,:ruleListUpdateForm" />

				<p:commandButton styleClass="cancel_button" value="Cancel"
					onclick="scrollUp();" oncomplete="PF('ruleListEditModel').hide();"
					style="float:bottom" required="true" />	
		</div>					
		</h:form>
	</p:dialog>
</ui:composition>