<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:form id="SysParameter">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true" />
		<label class="Page_Tittle">Sys Parameter</label>
		<h:panelGrid columns="2" styleClass="btn_right2" cellpadding="5">
			<p:commandButton icon="ui-icon-plus" update=":addSysParameter"
				title="Add New Sys Parameter" styleClass="btn_right cancel_button"
				action="#{sysParameterController.getDropDownList}"
				oncomplete="PF('addSysParameterModal').show()" />


		</h:panelGrid>
		<div class="listing_Table">
			<p:dataTable value="#{sysParameterBean.paramList}" var="sys"
				widgetVar="sysParameterDataTable" rows="10"
				rowsPerPageTemplate="10,20,30" paginatorPosition="bottom"
				paginator="true">

				<p:column headerText="Parameter Label" sortBy="#{sys.paramLabel}"
					filterBy="#{sys.paramLabel}">
					<h:outputText value="#{sys.paramLabel}" />
				</p:column>

				<p:column headerText="Parameter Data Type"
					sortBy="#{sys.dataTypeName}" filterBy="#{sys.dataTypeName}">
					<h:outputText value="#{sys.dataTypeName}" />
				</p:column>

				<p:column headerText="Parameter Discription"
					sortBy="#{sys.paramDescription}" filterBy="#{sys.paramDescription}">
					<h:outputText value="#{sys.paramDescription}" />
				</p:column>

				<p:column headerText="Edit">
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						action="#{sysParameterController.geteditData(sys)}"
						oncomplete="PF('editSysParameterModal').show()" />
				</p:column>

			</p:dataTable>
		</div>
	</h:form>

	<p:dialog header="Add New Sys Parameter"
		widgetVar="addSysParameterModal" modal="true" resizable="false">
		<h:form id="addSysParameter">
			<p:messages id="messag" showDetail="false" autoUpdate="true"
				closable="true" />
			<h:panelGrid columns="4" cellpadding="5" style="border:none">


				<p:outputLabel>
					<span class="redColor">*</span>Parameter Label</p:outputLabel>
				<p:inputText id="parameterLabel" required="true" maxlength="49"
					requiredMessage="Please enter a Valid Parameter Label"
					value="#{sysParameterBean.paramLabel}" />


				<p:outputLabel>
					<span class="redColor">*</span>Parameter Data Type</p:outputLabel>
				<p:selectOneMenu id="ParameterDataType"
					value="#{sysParameterBean.parameterDataTypeId}" filter="true"
					required="true" requiredMessage="Please Select valid Data Type"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="list"
						value="#{sysParameterBean.parameterDataList}"
						itemLabel="#{list.dataTypeName}" itemValue="#{list.dataTypeId}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Parameter Description</p:outputLabel>
				<p:inputText id="paramDescripTion" required="true"
					requiredMessage="Please enter a Valid Parameter Discription"
					value="#{sysParameterBean.paramDescripTion}" />


				<p:commandButton styleClass="Submit_button" value="Save"
					action="#{sysParameterController.saveSysParameter}"
					oncomplete="scrollUp();" />

				<p:commandButton styleClass="cancel_button" value="Cancel"
					onclick="PF('addSysParameterModal').hide(); scrollUp();"
					immediate="true" />

			</h:panelGrid>
		</h:form>
	</p:dialog>



	<p:dialog header="Edit New Sys Parameter"
		widgetVar="editSysParameterModal" modal="true" resizable="false">
		<h:form id="editSysParameter">
			<p:messages id="messagedit" showDetail="false" autoUpdate="true"
				closable="true" />
			<h:panelGrid columns="4" cellpadding="5" style="border:none">


				<p:outputLabel>
					<span class="redColor">*</span>Parameter Label</p:outputLabel>
				<p:inputText id="parameterLabel" required="true" maxlength="49"
					requiredMessage="Please enter a Valid Parameter Label"
					value="#{sysParameterBean.paramLabel}" />


				<p:outputLabel>
					<span class="redColor">*</span>Parameter Data Type</p:outputLabel>
				<p:selectOneMenu id="ParameterDataType"
					value="#{sysParameterBean.parameterDataTypeId}" filter="true"
					required="true" requiredMessage="Please Select valid Data Type"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="list"
						value="#{sysParameterBean.parameterDataList}"
						itemLabel="#{list.dataTypeName}" itemValue="#{list.dataTypeId}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Parameter Description</p:outputLabel>
				<p:inputText id="paramDescripTion" required="true"
					requiredMessage="Please enter a Valid Parameter Discription"
					value="#{sysParameterBean.paramDescripTion}" />


				<p:commandButton styleClass="Submit_button" value="Save"
					process=":editSysParameter"
					action="#{sysParameterController.editData}"
					oncomplete="scrollUp();" />

				<p:commandButton styleClass="cancel_button" value="Cancel"
					onclick="PF('editSysParameterModal').hide(); scrollUp();"
					immediate="true" />

			</h:panelGrid>
		</h:form>
	</p:dialog>




</ui:composition>