<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:form id="sysPinCodeListForm">
		<p:messages id="messages" closable="true"
			rendered="#{!sysPinCodeBean.renderErrorMessage}" />
	    <label class="Page_Tittle">SysPinCode List</label>
	    <p:commandButton icon="ui-icon-plus"
			update=":addSysPinCodeForm"
			styleClass="btn_right cancel_button"
			title="AddSysPinCode"
			action="#{sysPinCodeController.resetSysPinCode}"
			oncomplete="PF('sysPinCodeAddModal').show()" />
			
	    <div class="listing_Table">
			<p:dataTable widgetVar="sysPinCodeDataTable"
				var="sysPinCode"
				value="#{sysPinCodeBean.sysPinCodeTOList}"
				rows="10" paginator="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">
				
				<p:column headerText="Pin Code"
					sortBy="#{sysPinCode.pinCode}"
					filterBy="#{sysPinCode.pinCode}"
					filterMatchMode="contains">
					<h:outputText
						value="#{sysPinCode.pinCode}" />
				</p:column>
				
				<p:column headerText="PostOffice Name"
					sortBy="#{sysPinCode.postOfficeName}"
					filterBy="#{sysPinCode.postOfficeName}"
					filterMatchMode="contains">
					<h:outputText
						value="#{sysPinCode.postOfficeName}" />
				</p:column>
				
				<p:column headerText="City Name"
					sortBy="#{sysPinCode.cityName}"
					filterBy="#{sysPinCode.cityName}"
					filterMatchMode="contains">
					<h:outputText
						value="#{sysPinCode.cityName}" />
				</p:column>	
				
				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('sysPinCodeEditModal').show()"
						update=":sysPinCodeEditForm"
						action="#{sysPinCodeController.editSysPinCode(sysPinCode)}" />
					<p:spacer height="10" />
				</p:column>
							
				</p:dataTable>
				</div>
			</h:form>
<p:dialog header="New PinCode"
		widgetVar="sysPinCodeAddModal" modal="true"
		resizable="false">
		<h:form id="addSysPinCodeForm">
			<p:messages id="messages" autoUpdate="true" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">	
					<p:outputLabel>
						<span class="redColor">*</span>City:</p:outputLabel>
					<p:selectOneMenu value="#{sysPinCodeBean.cityID}"
						required="true" filter="true" filterMatchMode="contains"
						requiredMessage="Please Select City">
						<f:selectItem itemLabel="Select One" noSelectionOption="true" />
						<f:selectItems var="record"
							value="#{sysPinCodeBean.cityList}"
							itemLabel="#{record.cityName}"
							itemValue="#{record.cityID}" />
					</p:selectOneMenu>
					
					<p:outputLabel>
					<span class="redColor">*</span>Pin Code:</p:outputLabel>
				<p:inputText id="SysPinCode" required="true"
					maxlength="50"
					requiredMessage="Please input PinCode"
					value="#{sysPinCodeBean.pinCode}" />
				<p:outputLabel>
					<span class="redColor">*</span>Post Office:</p:outputLabel>
				
					
				<p:dataTable widgetVar="myDataTable" id="tbl" var="record"
					value="#{sysPinCodeBean.postOfficeList}" rows="10"
					styleClass="table-header" rowIndexVar="index"
					paginator="true"
					paginatorPosition="bottom"
					rowKey="#{sysPinCodeBean.rowIndexId}"
					rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
					rowsPerPageTemplate="10,20,30">
					<p:column>
						<h:inputText 
							maxlength="50"
							 value="#{record.postOfficeName}"></h:inputText>
					</p:column>
					<p:column>
						<p:commandButton styleClass="btn_right cancel_button"
						icon="ui-icon-close" title="Remove Post Office"
						action="#{sysPinCodeBean.removePostOffice(record)}"
						update=":addSysPinCodeForm"
						process=":addSysPinCodeForm" style="float:bottom" />
					</p:column>
					</p:dataTable>
					<p:commandButton styleClass="btn_right cancel_button"
					value="Add PO" title="Add Post Office"
					update=":addSysPinCodeForm"
					action="#{sysPinCodeBean.addPostOffice}"/>
			</h:panelGrid>
			
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysPinCodeController.saveSysPinCode()}"
				update=":addSysPinCodeForm"
				process=":addSysPinCodeForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysPinCodeAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>
	
	<p:dialog header="Update PinCode"
		widgetVar="sysPinCodeEditModal" modal="true"
		resizable="false">
		<h:form id="sysPinCodeEditForm">
			<p:messages id="messages" autoUpdate="true" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">	
					<p:outputLabel>
						<span class="redColor">*</span>City:</p:outputLabel>
					<p:selectOneMenu value="#{sysPinCodeBean.cityID}"
						required="true" filter="true" filterMatchMode="contains"
						requiredMessage="Please Select City">
						<f:selectItems var="record"
							value="#{sysPinCodeBean.cityList}"
							itemLabel="#{record.cityName}"
							itemValue="#{record.cityID}" />
					</p:selectOneMenu>
					
					<p:outputLabel>
					<span class="redColor">*</span>Pin Code:</p:outputLabel>
				<p:inputText id="SysPinCode" required="true"
					maxlength="50"
					requiredMessage="Please input PinCode"
					value="#{sysPinCodeBean.pinCode}" />
				<p:outputLabel>
					<span class="redColor">*</span>Post Office:</p:outputLabel>
				<p:dataTable widgetVar="myDataTable" id="tbl" var="record"
					value="#{sysPinCodeBean.postOfficeList}" rows="10"
					styleClass="table-header" rowIndexVar="index"
					paginator="true"
					paginatorPosition="bottom"
					rowKey="#{sysPinCodeBean.rowIndexId}"
					rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
					rowsPerPageTemplate="10,20,30">
					<p:column>
						<h:inputText required="true"
							maxlength="50"
							requiredMessage="Please input PostOffice name" value="#{record.postOfficeName}"></h:inputText>
					</p:column>
					</p:dataTable>
										
			</h:panelGrid>
			
			<p:commandButton styleClass="Submit_button" value="Update"
				action="#{sysPinCodeController.updateSysPinCode()}"
				update=":sysPinCodeEditForm"
				process=":sysPinCodeEditForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysPinCodeEditModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>
	


	</ui:composition>