<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:form>
		<h:panelGroup id="menuPanelGroup">
			<ul>
				<li><h:commandLink update=":centerForm"
						process="menuPanelGroup" ajax="true"
						action="#{menuAction.openLeftMenuForTenant}"
						onstart="PF('processDialog').show()"
						oncomplete="PF('processDialog').hide()">
						<h:outputText value="Tenant" />
					</h:commandLink>
					<div>
						<ul>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{newTenantBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Tenant List" />
								</h:commandLink></li>
						</ul>
					</div></li>
				<li><h:commandLink update=":centerForm"
						process="menuPanelGroup" ajax="true"
						action="#{menuAction.openLeftMenuForOrg}"
						onstart="PF('processDialog').show()"
						oncomplete="PF('processDialog').hide()">
						<h:outputText value="System" />
					</h:commandLink>
					<div>
						<ul>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{dashboardChartBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="DashboardChart" />
								</h:commandLink></li>


							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{urlMigrationBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="InstanceMigration" />
								</h:commandLink></li>

							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{passwordPolicyBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Password Policy" />
								</h:commandLink></li>




							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{dataUploadBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Data SetUp" />
								</h:commandLink></li>

							<li><h:commandLink ajax="true"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SysContent" />
									<span class="ui-icon ui-icon-triangle-1-e arrow"></span>
								</h:commandLink>
								<ul>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysContentCategoryBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysContent Category" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysContentTypeBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysContent Type" />
										</h:commandLink></li>
								</ul></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysDuplicateParameterBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SysDuplicateParameter" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysWorkflowTypeBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Workflow Type" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysRuleBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SysRule" />
								</h:commandLink></li>

							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysGuidedTourFieldBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="sysGuidedTourField" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysPlaceHolderBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SysPlaceHolder" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{uiFormBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="UI FORM" />
								</h:commandLink></li>
							<li><h:commandLink rendered="true" id="sysEntity"
									update=":centerForm" process="menuPanelGroup" ajax="true"
									action="#{menuAction.openSysEntityEditCreationPage}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Sys Entity" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysProductAnnouncementBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SysProduct Announcement" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysSchedulerBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SysScheduler" />
								</h:commandLink></li>

							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysCongratulationAnnouncementBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SysCongratulation Announcement" />
								</h:commandLink></li>
							<li><h:commandLink ajax="true"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SysConstant" />
									<span class="ui-icon ui-icon-triangle-1-e arrow"></span>
								</h:commandLink>
								<ul>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysConstantCategoryBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysConstant Category" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysConstantBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysConstant" />
										</h:commandLink></li>
								</ul></li>
							<li><h:commandLink ajax="true"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SysLocation" />
									<span class="ui-icon ui-icon-triangle-1-e arrow"></span>
								</h:commandLink>
								<ul>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysPinCodeBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysPinCode" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysPtZoneBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysPTZone" />
										</h:commandLink></li>
								</ul></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysParameterBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Sys Parameter" />
								</h:commandLink></li>

							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysPayCodeParameterMappingBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SysPayCode Parameter Mapping" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{tpAppBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="TpAPp" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysPolicyBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Sys Policy" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{dashBoardBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="DashBoard Item" />
								</h:commandLink></li>
							<li><h:commandLink ajax="true"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Alt Integrations" />
									<span class="ui-icon ui-icon-triangle-1-e arrow"></span>
								</h:commandLink>
								<ul>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysMeshModuleBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysMesh Module" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysMeshTagMappingBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysMesh Tag Mapping" />
										</h:commandLink></li>
										<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysMeshTagHierarchyBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysMesh Tag Hierarchy" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{meshRequestBlockingConfigBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="Mesh Request Blocking Config" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{meshRequestTypeBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="Mesh Request Type" />
										</h:commandLink></li>
								</ul></li>
							<li><h:commandLink ajax="true"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="AltBenefits" />
									<span class="ui-icon ui-icon-triangle-1-e arrow"></span>
								</h:commandLink>
								<ul>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysOfferingCategoryBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysOffering Category" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysOfferingTypeBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysOffering Type" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysBenefitsVendorBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="SysBenefits Vendor" />
										</h:commandLink></li>

									<li><h:commandLink>
											<h:outputText value="Vendor Offeing Sequencing" />
											<span class="ui-icon ui-icon-triangle-1-e arrow"></span>
										</h:commandLink>
										<ul>
											<li><h:commandLink update=":centerForm"
													process="menuPanelGroup" ajax="true"
													action="#{sectorVendorOfferingBean.initialize}"
													onstart="PF('processDialog').show()"
													oncomplete="PF('processDialog').hide()">
													<h:outputText value="Sector Based" />
												</h:commandLink></li>
											<li><h:commandLink update=":centerForm"
													process="menuPanelGroup" ajax="true"
													action="#{hrVendorOfferingBean.initialize}"
													onstart="PF('processDialog').show()"
													oncomplete="PF('processDialog').hide()">
													<h:outputText value="Organization Based" />
												</h:commandLink></li>
										</ul></li>

								</ul></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{configBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Config" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{replicateFormSecurityBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Replicate FormSecurity" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysFieldTypeBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SYSFIELDTYPE" />
								</h:commandLink></li>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{sysChatBotValidationTypeBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="SYSCHATBOTVALIDATIONTYPE" />
								</h:commandLink></li>

							<li><h:commandLink ajax="true"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="DSO" />
									<span class="ui-icon ui-icon-triangle-1-e arrow"></span>
								</h:commandLink>
								<ul>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{sysDSOPlaceHolderBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="PlaceHolders" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm"
											process="menuPanelGroup" ajax="true"
											action="#{dsoTemplateConfigListBean.initialize}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="MailTemplate" />
										</h:commandLink></li>
								</ul></li>
						</ul>



					</div></li>

				<li><h:commandLink update=":centerForm"
						process="menuPanelGroup" ajax="true"
						action="#{menuAction.openLeftMenuForOrg}"
						onstart="PF('processDialog').show()"
						oncomplete="PF('processDialog').hide()">
						<h:outputText value="Organisation" />
					</h:commandLink>
					<div>
						<ul>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{newOrganizationBean.initialize}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Organisation List" />
								</h:commandLink></li>
						</ul>
					</div></li>
				<li><h:commandLink update=":centerForm"
						process="menuPanelGroup" ajax="true"
						action="#{menuAction.openAdhocReportViewPage}"
						onstart="PF('processDialog').show()"
						oncomplete="PF('processDialog').hide()">
						<h:outputText value="Report" />
					</h:commandLink>
					<div>
						<ul>
							<li><h:commandLink update=":centerForm"
									process="menuPanelGroup" ajax="true"
									action="#{menuAction.openAdhocReportViewPage}"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="AdhocReport" />
								</h:commandLink></li>
							<li><h:commandLink ajax="true"
									onstart="PF('processDialog').show()"
									oncomplete="PF('processDialog').hide()">
									<h:outputText value="Configuration" />
									<span class="ui-icon ui-icon-triangle-1-e arrow"></span>
								</h:commandLink>
								<ul>
									<li><h:commandLink update=":centerForm" ajax="true"
											action="#{menuAction.openApplicationInputConfigurationPage}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="Application Input" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm" ajax="true"
											action="#{menuAction.openConstantConfigurationPage}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="Constant" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm" ajax="true"
											action="#{menuAction.openProcessingLogicTemplateConfigurationPage}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="Processing Logic Template" />
										</h:commandLink></li>
									<li><h:commandLink update=":centerForm" ajax="true"
											action="#{menuAction.openActivateDeactivateReportsPage}"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="Activate Deactivate Reports" />
										</h:commandLink></li>

									<li><h:commandLink ajax="true"
											onstart="PF('processDialog').show()"
											oncomplete="PF('processDialog').hide()">
											<h:outputText value="Assignment" />
											<span class="ui-icon ui-icon-triangle-1-e arrow"></span>
										</h:commandLink>

										<ul>
											<li><h:commandLink update=":centerForm" ajax="true"
													action="#{menuAction.openOrgReportAssignmentPage}"
													onstart="PF('processDialog').show()"
													oncomplete="PF('processDialog').hide()">
													<h:outputText value="Organization Reports" />
												</h:commandLink></li>
											<li><h:commandLink update=":centerForm" ajax="true"
													action="#{menuAction.openOrgDerivedTableAssignmentPage}"
													onstart="PF('processDialog').show()"
													oncomplete="PF('processDialog').hide()">
													<h:outputText value="Organization Derived Table" />
												</h:commandLink></li>
											<li><h:commandLink update=":centerForm" ajax="true"
													action="#{menuAction.openReportRowsLimitAssignmentPage}"
													onstart="PF('processDialog').show()"
													oncomplete="PF('processDialog').hide()">
													<h:outputText value="Report Rows Limit" />
												</h:commandLink></li>
										</ul></li>
								</ul></li>
						</ul>
					</div></li>

				<li><h:commandLink update=":centerForm" ajax="true"
						process="menuPanelGroup"
						action="#{menuAction.openMenuRedisManager}"
						onstart="PF('processDialog').show()"
						oncomplete="PF('processDialog').hide()">
						<h:outputText value="Redis Manager" />
					</h:commandLink>
					<div>
						<ul>
							<li><a href="redisclient-win32.x86_64.2.0.jar">Redis
									Manager(64 bit)"</a></li>
							<li><a href="redisclient-win32.x86.2.0.jar">Redis
									Manager(32 bit)"</a></li>
						</ul>
					</div></li>

			</ul>
			<div class="fc"></div>
		</h:panelGroup>
	</h:form>
</ui:composition>