<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="updateUIForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true" />
		<div class="form_content formPadding">
			<c:set var="index" value="0"></c:set>
			<c:set var="requiredFlg" value="true"></c:set>
			<h3>
				<h:outputLabel value="Update Form Details" />
			</h3>
			<div class="form_content_inner">
				<h:panelGrid columns="6" cellpadding="2" style="border:none">
					<p:outputLabel>
						<span class="redColor">*</span>FORM NAME</p:outputLabel>
					<p:inputText id="formName" required="true"
						requiredMessage="Please enter a Form Name"
						value="#{uiFormBean.formName}" />

					<p:outputLabel>
						<span class="redColor">*</span>Resource Name</p:outputLabel>
					<p:inputText id="resourceName" required="true"
						requiredMessage="Please enter a Resource Name"
						value="#{uiFormBean.resourceName}" />

					<p:outputLabel>
						<span class="redColor">*</span>Resource Discription</p:outputLabel>
					<p:inputText id="resourceDiscription" required="true"
						requiredMessage="Please enter a Resourec Discription Name"
						value="#{uiFormBean.resourceDiscription}" />

					<p:outputLabel>Entity Name</p:outputLabel>
					<p:selectOneMenu id="EntitName"
						value="#{uiFormBean.primaryEntityID}" style="width:150px"
						filter="true" filterMatchMode="contains">
						<f:selectItem itemLabel="Please Select" itemValue=""
							noSelectionOption="true" />
						<f:selectItems var="record" value="#{uiFormBean.sysEntityList}"
							itemLabel="#{record.primaryEntityName}"
							itemValue="#{record.primaryEntityID}" />
					</p:selectOneMenu>

					<p:outputLabel>Module Name</p:outputLabel>
					<p:selectOneMenu id="moduleName" value="#{uiFormBean.moduleID}"
						style="width:150px" filter="true" filterMatchMode="contains"
						required="true" requiredMessage="Please select valid Module Name">
						<f:selectItem itemLabel="Please Select" itemValue=""
							noSelectionOption="true" />
						<f:selectItems var="record" value="#{uiFormBean.moduleList}"
							itemLabel="#{record.subModuleName}"
							itemValue="#{record.subModuleID}" />
						<p:ajax update="subModuleId,parentFormName"
							listener="#{uiFormController.getSubModuleNameList(uiFormBean.moduleID)}"></p:ajax>
					</p:selectOneMenu>

					<p:outputLabel>Sub Module Name</p:outputLabel>
					<p:selectOneMenu id="subModuleId" value="#{uiFormBean.subModuleID}"
						style="width:150px" filter="true" filterMatchMode="contains">
						<f:selectItem itemLabel="Please Select" itemValue=""
							noSelectionOption="true" />
						<f:selectItems var="record" value="#{uiFormBean.subModuleList}"
							itemLabel="#{record.subModuleName}"
							itemValue="#{record.subModuleID}" />
						<p:ajax update="updateUIForm" process=":updateUIForm"
							listener="#{uiFormController.getParentFormID(uiFormBean.subModuleID)}"></p:ajax>
					</p:selectOneMenu>

					<p:outputLabel>Menu Category</p:outputLabel>
					<p:selectOneMenu id="menuCategory"
						value="#{uiFormBean.menuCategory}" style="width:150px"
						filter="true" filterMatchMode="contains" required="true"
						requiredMessage="Please select valid Menu Category">
						<f:selectItem itemLabel="Please Select" itemValue=""
							noSelectionOption="true" />
						<f:selectItem itemLabel="1" itemValue="1" />
						<f:selectItem itemLabel="2" itemValue="2" />
						<f:selectItem itemLabel="3" itemValue="3" />
						<f:selectItem itemLabel="4" itemValue="4" />
						<p:ajax update=":updateUIForm"
							listener="#{uiFormController.changeMenuSequence(uiFormBean.menuCategory)}"></p:ajax>
					</p:selectOneMenu>

					<p:outputLabel>Parent Form Name </p:outputLabel>
					<p:selectOneMenu id="parentFormName"
						value="#{uiFormBean.parentFormID}" filter="true"
						filterMatchMode="contains">
						<f:selectItem itemLabel="Please Select" itemValue="0"
							noSelectionOption="true" />
						<f:selectItems var="record" value="#{uiFormBean.parentFormList}"
							itemLabel="#{record.parentFormName}"
							itemValue="#{record.parentFormID}" />
						<p:ajax update="sequence"
							listener="#{uiFormController.getSequenceFromParenetform(uiFormBean.parentFormID)}"></p:ajax>
					</p:selectOneMenu>

					<p:outputLabel>URL</p:outputLabel>
					<p:inputText id="url" required="false" value="#{uiFormBean.url}" />

					<p:outputLabel rendered="#{uiFormBean.menuAndSequneceCheck}">Sequence</p:outputLabel>
					<p:inputText id="sequence"
						rendered="#{uiFormBean.menuAndSequneceCheck}"
						value="#{uiFormBean.sequence}" />

					<p:outputLabel>Default Class Call</p:outputLabel>
					<p:inputText id="defaultClassCall"
						value="#{uiFormBean.defaultClassCall}" />

					<p:outputLabel>Disabled Text</p:outputLabel>
					<p:inputText value="#{uiFormBean.disableText}" />
					<p:outputLabel>Disable URL</p:outputLabel>
					<p:inputText value="#{uiFormBean.disableUrl}" />
					<p:outputLabel>Disable Bean</p:outputLabel>
					<p:inputText value="#{uiFormBean.disableBean}" />

					<p:outputLabel>Fragment Class</p:outputLabel>
					<p:inputText value="#{uiFormBean.fragmentClass}" />

                    <p:outputLabel>IOS Side Menu</p:outputLabel>
					<p:inputText value="#{uiFormBean.iosSideMenu}" />
					
					

					<p:outputLabel>Is Custom Component Allowed</p:outputLabel>
					<p:selectBooleanCheckbox id="isCustomComponentAllowed"
						required="true"
						requiredMessage="Please enter is Custom Component Allowed"
						value="#{uiFormBean.customComponentAllowed}" />

					<p:outputLabel rendered="#{uiFormBean.menuAndSequneceCheck}">Is Menu</p:outputLabel>
					<p:selectBooleanCheckbox id="isMenu"
						rendered="#{uiFormBean.menuAndSequneceCheck}"
						value="#{uiFormBean.menu}">
						<p:ajax update="dynamic"></p:ajax>
					</p:selectBooleanCheckbox>

					<h:inputHidden id="resourceId" value="#{uiFormBean.resourceId}" />
					<p:outputLabel></p:outputLabel>
						<p:outputLabel></p:outputLabel>
							<p:outputLabel></p:outputLabel>
				
					
			

				
				 
							<p:outputLabel>Icon Path</p:outputLabel>
                            <h:panelGroup>
							<p:inputText value="#{uiFormBean.iconPath}" style="width:154px!important;"></p:inputText>
							<p:commandButton icon="ui-icon-suitcase" title="Upload Icon"
								styleClass="cancel_button"
								onclick="PF('iconPathModal').show()" />
                            </h:panelGroup>
					 
							<p:outputLabel>Floating Menu Icon Path</p:outputLabel>
                            <h:panelGroup>
							<p:inputText value="#{uiFormBean.floatingMenuIconPath}" style="width:154px!important;"></p:inputText>
							<p:commandButton icon="ui-icon-suitcase" title="Upload Icon"
								styleClass="cancel_button"
								onclick="PF('floatingMenuIconPathModal').show()" />
                                </h:panelGroup>
					 
							<p:outputLabel>Inactive Icon Path</p:outputLabel>
                            <h:panelGroup>
							<p:inputText value="#{uiFormBean.inactiveIconPath}" style="width:154px!important;"></p:inputText>
							<p:commandButton icon="ui-icon-suitcase" title="Upload Icon"
								styleClass="cancel_button"
								onclick="PF('inactiveIconPathModal').show()" />
                                </h:panelGroup>
					 
				</h:panelGrid>
                			<h:panelGrid columns="6" cellpadding="2" id="dynamic" styleClass="new" style="padding-right:130px; padding-left:4px;">
					<c:forEach items="#{uiFormBean.sysBundle}" var="bundle" begin="0"
						step="1" end="#{uiFormBean.sysBundle.size()}">
						<div style="width:5px;"></div>

						<p:outputLabel rendered="#{uiFormBean.menu}">
							<span class="redColor">*</span>Form Name in #{bundle.name}</p:outputLabel>
						<p:inputText rendered="#{uiFormBean.menu}"
							id="bundleText_#{index}"
							value="#{uiFormBean.systextBoxes[index]}"
							required="#{requiredFlg}"
							requiredMessage="Please enter Form Name for #{bundle.name} TextBox Data" />
								<div style="width:70px;"></div>

						<h:panelGrid columns="2" cellpadding="2" styleClass=" new1">
							<p:outputLabel rendered="#{uiFormBean.menu}">Form Title</p:outputLabel>
							<p:inputText rendered="#{uiFormBean.menu}"
								id="bundleTitle_#{index}"
								value="#{uiFormBean.systextBoxesTitle[index]}" />

							<c:set var="index" value="#{index+1}"></c:set>
							<c:set var="requiredFlg" value="true"></c:set>
						</h:panelGrid>
						<div style="width:180px;"></div>
					</c:forEach>
				</h:panelGrid>

				<c:set var="index" value="0"></c:set>

				<p:commandButton styleClass="Submit_button" value="Update"
					action="#{uiFormController.updateFormData}" update=":updateUIForm"
					style="float:bottom">
				</p:commandButton>

				<p:commandButton styleClass="cancel_button" value="Cancel"
					update=":centerForm" action="#{uiFormController.cancelGroupPage}"
					immediate="true" />
			</div>
		</div>
	</h:form>

	<h:form id="groupdatalist">
		<br />
		<label class="Page_Tittle">Field Group List</label>
		<p:commandButton icon="ui-icon-plus" update=":addUIFormGroup"
			styleClass="btn_right cancel_button" title="Add New UI Form Group"
			action="#{uiFormController.addNewGroupData}"
			oncomplete="PF('UIFormGroupAddModal').show();" />

		<p:commandButton value="UI Form Field Upload" update=":centerForm"
			action="#{uiFormController.redirectToUploadPage(uiFormBean.formID)}"
			style="float:right">
		</p:commandButton>

		<div class="listing_Table">

			<p:dataTable value="#{uiFormGroupBean.uiFormResponseTOList}"
				var="uiform" rows="10" rowsPerPageTemplate="10,20,30"
				paginatorPosition="bottom" paginator="true">

				<p:column headerText="Form Name" sortBy="#{uiFormBean.formName}"
					filterBy="#{uiFormBean.formName}">
					<h:outputText value="#{uiFormBean.formName}" />
				</p:column>


				<p:column headerText="Group Name" sortBy="#{uiform.fieldGroupName}"
					filter="true" filterMatchMode="contains"
					filterBy="#{uiform.fieldGroupName}">
					<h:outputText value="#{uiform.fieldGroupName}" />
				</p:column>

				<p:column headerText="Edit">
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit" update=":centerForm"
						action="#{uiFormController.showFieldData(uiform)}" />
				</p:column>
			</p:dataTable>
		</div>
	</h:form>

	<p:dialog header="ADD NEW FORM GROUP" widgetVar="UIFormGroupAddModal"
		modal="true" resizable="false">
		<h:form id="addUIFormGroup">
			<p:messages id="messagesM" showDetail="false" autoUpdate="true"
				closable="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>FORM GROUP NAME</p:outputLabel>
				<p:inputText id="formName" required="true"
					requiredMessage="Please enter a Form Group Name"
					value="#{uiFormGroupBean.fieldGroupName}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{uiFormController.saveFormGroupData}"
				process=":addUIFormGroup" update=":groupdatalist"
				oncomplete="scrollUp();" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('UIFormGroupAddModal').hide(); scrollUp();"
				immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog header="IconPath" widgetVar="iconPathModal" modal="true"
		resizable="false">
		<h:form id="iconPathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Icon: " />
				<p:fileUpload fileUploadListener="#{uiFormBean.handleFileUpload}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000" update=":updateUIForm"
					allowTypes="/(\.|\/)(jpe?g|png)$/" process=":iconPathForm"
					oncomplete="PF('iconPathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>

		</h:form>
	</p:dialog>

	<p:dialog header="FloatingMenuIconPath"
		widgetVar="floatingMenuIconPathModal" modal="true" resizable="false">
		<h:form id="floatingMenuIconPathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Icon: " />
				<p:fileUpload
					fileUploadListener="#{uiFormBean.handleFileUploadForFloatingMenus}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000" update=":updateUIForm"
					allowTypes="/(\.|\/)(jpe?g|png)$/"
					process=":floatingMenuIconPathForm"
					oncomplete="PF('floatingMenuIconPathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>

		</h:form>
	</p:dialog>


	<p:dialog header="InactiveIconPath" widgetVar="inactiveIconPathModal"
		modal="true" resizable="false">
		<h:form id="inactiveIconPathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Icon: " />
				<p:fileUpload
					fileUploadListener="#{uiFormBean.handleFileUploadForInactiveIcon}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000" update=":updateUIForm"
					allowTypes="/(\.|\/)(jpe?g|png)$/" process=":inactiveIconPathForm"
					oncomplete="PF('inactiveIconPathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>

		</h:form>
	</p:dialog>


</ui:composition>