<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:form id="UIFormListForm">
		<!--  <p:messages id="messages" showDetail="true" autoUpdate="false"
		closable="true" /> -->
		<label class="Page_Tittle">UI Form List</label>
		<h:panelGrid columns="2" styleClass="btn_right2" cellpadding="5">
			<p:commandButton icon="ui-icon-plus" update=":addUIForm"
				title="Add UI Form" styleClass="btn_right cancel_button"
				action="#{uiFormController.addNewData}"
				oncomplete="PF('UIFormAddModal').show()" />

			<p:commandButton icon="ui-icon-suitcase" title="Show Menu Form"
				action="#{uiFormController.resetBundleIdDropdown}"
				update=":menuForm1" styleClass="btn_right cancel_button"
				onclick="PF('MenuModal1').show()" />
		</h:panelGrid>
		<div class="listing_Table">
			<p:dataTable value="#{uiFormBean.uiFormResponseTOList}" var="uiform"
				widgetVar="uiformDataTable" rows="10" rowsPerPageTemplate="10,20,30"
				paginatorPosition="bottom" paginator="true">

				<p:column headerText="Form Name" sortBy="#{uiform.formName}"
					 filterMatchMode="contains" filterBy="#{uiform.formName}">
					<h:outputText value="#{uiform.formName}" />
				</p:column>


				<p:column headerText="Resource Name" sortBy="#{uiform.resourceName}"
					 filterMatchMode="contains" filterBy="#{uiform.resourceName}">
					<h:outputText value="#{uiform.resourceName}" />
				</p:column>


				<p:column headerText="Resource Discription"
					sortBy="#{uiform.resourceDiscription}" filterMatchMode="contains" 
					filterBy="#{uiform.resourceDiscription}">
					<h:outputText value="#{uiform.resourceDiscription}" />
				</p:column>



				<p:column headerText="Entity Name" filterMatchMode="contains" 
					sortBy="#{uiform.primaryEntityName}"
					filterBy="#{uiform.primaryEntityName}">
					<h:outputText value="#{uiform.primaryEntityName}" />
				</p:column>


				<p:column headerText="Menu Category" sortBy="#{uiform.menuCategory}"
					 filterMatchMode="contains" filterBy="#{uiform.menuCategory}">
					<h:outputText value="#{uiform.menuCategory}" />
				</p:column>

				<p:column headerText="URL" sortBy="#{uiform.url}"
					 filterMatchMode="contains" filterBy="#{uiform.url}">
					<h:outputText value="#{uiform.url}" />
				</p:column>

				<p:column headerText="Module Name" sortBy="#{uiform.moduleName}"
					 filterMatchMode="contains" filterBy="#{uiform.moduleName}">
					<h:outputText value="#{uiform.moduleName}" />
				</p:column>


				<p:column headerText="SubModule Name" filterMatchMode="contains" 
					sortBy="#{uiform.subModuleName}" filterBy="#{uiform.subModuleName}">
					<h:outputText value="#{uiform.subModuleName}" />
				</p:column>

				<p:column headerText="Parent Form Name"
					sortBy="#{uiform.parentFormName}" filterMatchMode="contains" 
					filterBy="#{uiform.parentFormName}">
					<h:outputText value="#{uiform.parentFormName}" />
				</p:column>

				<p:column headerText="Is Custom Component Allowed"
					sortBy="#{uiform.customComponentAllowed}" filterMatchMode="contains" 
					filterBy="#{uiform.customComponentAllowed}">
					<h:outputText value="#{uiform.customComponentAllowed}" />
				</p:column>

				<p:column headerText="Sequence" sortBy="#{uiform.sequence}"
					 filterMatchMode="contains" filterBy="#{uiform.sequence}">
					<h:outputText value="#{uiform.sequence}" />
				</p:column>

				<p:column headerText="Icon Path" sortBy="#{uiform.iconPath}"
					 filterMatchMode="contains" filterBy="#{uiform.iconPath}">
					<h:outputText value="#{uiform.iconPath}" />
				</p:column>

				<p:column headerText="Floating Menu Icon Path" filterMatchMode="contains" 
					sortBy="#{uiform.floatingMenuIconPath}"
					filterBy="#{uiform.floatingMenuIconPath}">
					<h:outputText value="#{uiform.floatingMenuIconPath}" />
				</p:column>

				<p:column headerText="Inactive Icon Path"
					sortBy="#{uiform.inactiveIconPath}" filterMatchMode="contains" 
					filterBy="#{uiform.inactiveIconPath}">
					<h:outputText value="#{uiform.inactiveIconPath}" />
				</p:column>

				<p:column headerText="Default Class Call"
					sortBy="#{uiform.defaultClassCall}" filterMatchMode="contains" 
					filterBy="#{uiform.defaultClassCall}">
					<h:outputText value="#{uiform.defaultClassCall}" />
				</p:column>

				<p:column headerText="Is Menu" sortBy="#{uiform.menu}"
					 filterMatchMode="contains" filterBy="#{uiform.menu}">
					<h:outputText value="#{uiform.menu}" />
				</p:column>
				<p:column headerText="Fragment Class" filterMatchMode="contains" 
					sortBy="#{uiform.fragmentClass}" filterBy="#{uiform.fragmentClass}">
					<h:outputText value="#{uiform.fragmentClass}" />
				</p:column>
				<h:inputHidden value="#{uiform.resourceId}" />

				<p:column headerText="Edit">
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit #{uiform.formName}" update=":centerForm"
						action="#{uiFormController.showData(uiform)}" />
				</p:column>

			</p:dataTable>
		</div>
	</h:form>

	<p:dialog header="ADD NEW FORM" widgetVar="UIFormAddModal" modal="true"
		resizable="false">
		<h:form id="addUIForm">
			<c:set var="index" value="0"></c:set>
			<c:set var="requiredFlg" value="true"></c:set>
			<p:messages id="messages" showDetail="false" autoUpdate="true"
				closable="true" />
			<h:panelGrid columns="4" cellpadding="5" style="border:none">

				<p:outputLabel>
					<span class="redColor">*</span>Form Name</p:outputLabel>
				<p:inputText id="formName" required="true"
					requiredMessage="Please enter a Form Name"
					value="#{uiFormBean.formName}" />

				<p:outputLabel>
					<span class="redColor">*</span>Resource Name</p:outputLabel>
				<p:inputText id="resourceName" required="true"
					requiredMessage="Please enter a Resource Name"
					value="#{uiFormBean.resourceName}" />

				<p:outputLabel>
					<span class="redColor">*</span>Resource Description</p:outputLabel>
				<p:inputText id="resourceDescription" required="true"
					requiredMessage="Please enter a Resource Description"
					value="#{uiFormBean.resourceDiscription}" />

				<p:outputLabel>Entity Name</p:outputLabel>
				<p:selectOneMenu id="EntitName"
					value="#{uiFormBean.primaryEntityID}" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{uiFormBean.sysEntityList}"
						itemLabel="#{record.primaryEntityName}"
						itemValue="#{record.primaryEntityID}" />
				</p:selectOneMenu>

				<p:outputLabel>Menu Category</p:outputLabel>
				<p:selectOneMenu id="menuCategory"
					value="#{uiFormBean.menuCategory}" style="width:150px"
					filter="true" filterMatchMode="contains" required="true"
					requiredMessage="Please select valid Menu Category">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItem itemLabel="1" itemValue="1" />
					<f:selectItem itemLabel="2" itemValue="2" />
					<f:selectItem itemLabel="3" itemValue="3" />
					<f:selectItem itemLabel="4" itemValue="4" />
					<p:ajax update=":addUIForm:menu,:addUIForm:sequence"
						listener="#{uiFormController.changeMenuSequence(uiFormBean.menuCategory)}"></p:ajax>
				</p:selectOneMenu>

				<p:outputLabel>URL</p:outputLabel>
				<p:inputText id="url" value="#{uiFormBean.url}" />

				<p:outputLabel>Module Name</p:outputLabel>
				<p:selectOneMenu id="moduleName" value="#{uiFormBean.moduleID}"
					style="width:150px" filter="true" filterMatchMode="contains"
					required="true" requiredMessage="Please select valid Module Name">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{uiFormBean.moduleList}"
						itemLabel="#{record.subModuleName}"
						itemValue="#{record.subModuleID}" />
					<p:ajax update="subModuleName,parentFormName"
						listener="#{uiFormController.getSubModuleNameList(uiFormBean.moduleID)}"></p:ajax>
				</p:selectOneMenu>

				<p:outputLabel>SubModule Name</p:outputLabel>
				<p:selectOneMenu id="subModuleName"
					value="#{uiFormBean.subModuleID}" style="width:150px" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{uiFormBean.subModuleList}"
						itemLabel="#{record.subModuleName}"
						itemValue="#{record.subModuleID}" />
					<p:ajax update="parentFormName, sequence"
						listener="#{uiFormController.getParentFormID(uiFormBean.subModuleID)}"></p:ajax>
				</p:selectOneMenu>

				<p:outputLabel>Parent Form Name </p:outputLabel>
				<p:selectOneMenu id="parentFormName"
					value="#{uiFormBean.parentFormID}" style="width:150px"
					filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue="0"
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{uiFormBean.parentFormList}"
						itemLabel="#{record.parentFormName}"
						itemValue="#{record.parentFormID}" />
					<p:ajax update="sequence"
						listener="#{uiFormController.getSequenceFromParenetform(uiFormBean.parentFormID)}"></p:ajax>
				</p:selectOneMenu>


				<p:outputLabel value="Is Custom Component Allowed" />
				<p:selectBooleanCheckbox
					value="#{uiFormBean.customComponentAllowed}" />

				<div>
					<p:panel id="sequence">
						<p:outputLabel styleClass="uifrm_seq"
							rendered="#{uiFormBean.menuAndSequneceCheck}">Sequence</p:outputLabel>
						<p:inputText value="#{uiFormBean.sequence}"
							rendered="#{uiFormBean.menuAndSequneceCheck}" />
					</p:panel>

					<p:outputLabel>Icon Path</p:outputLabel>
					<p:commandButton icon="ui-icon-circle-arrow-n" title="Upload Icon"
						styleClass="cancel_button" onclick="PF('iconPathModal').show()" />

					<p:outputLabel>Floating Menu Icon Path</p:outputLabel>
					<p:commandButton icon="ui-icon-circle-arrow-n" title="Upload Icon"
						styleClass="cancel_button"
						onclick="PF('floatingMenuIconPathModal').show()" />

					<p:outputLabel>Inactive Icon Path</p:outputLabel>
					<p:commandButton icon="ui-icon-circle-arrow-n" title="Upload Icon"
						styleClass="cancel_button"
						onclick="PF('inactiveIconPathModal').show()" />


					<p:outputLabel>Default Class Call</p:outputLabel>
					<p:inputText id="defaultClassCall"
						value="#{uiFormBean.defaultClassCall}" />

					<p:outputLabel>Disabled Text</p:outputLabel>
					<p:inputText value="#{uiFormBean.disableText}" />
					<p:outputLabel>Disable URL</p:outputLabel>
					<p:inputText value="#{uiFormBean.disableUrl}" />
					<p:outputLabel>Disable Bean</p:outputLabel>
					<p:inputText value="#{uiFormBean.disableBean}" />

					<p:outputLabel>Fragment Class</p:outputLabel>
					<p:inputText value="#{uiFormBean.fragmentClass}" />

<p:outputLabel>IOS Side Menu</p:outputLabel>
					<p:inputText value="#{uiFormBean.iosSideMenu}" />
					

					<p:panel id="menu">
						<p:outputLabel value="Is Menu"
							rendered="#{uiFormBean.menuAndSequneceCheck}" />
						<p:selectBooleanCheckbox value="#{uiFormBean.menu}"
							styleClass="uifrm_chckbox"
							rendered="#{uiFormBean.menuAndSequneceCheck}">
							<p:ajax update="dynamic"></p:ajax>
						</p:selectBooleanCheckbox>
					</p:panel>

				</div>
			</h:panelGrid>
			<h:panelGrid columns="3" styleClass="frm_lng2" cellpadding="5"
				id="dynamic">
				<c:forEach items="#{uiFormBean.sysBundle}" var="bundle" begin="0"
					step="1" end="#{uiFormBean.sysBundle.size()}">

					<p:outputLabel rendered="#{uiFormBean.menu}">
						<span class="redColor">*</span>Form Name in #{bundle.name}</p:outputLabel>
					<p:inputText rendered="#{uiFormBean.menu}" id="bundleText_#{index}"
						value="#{uiFormBean.systextBoxes[index]}"
						required="#{requiredFlg}"
						requiredMessage="Please enter a #{bundle.name} TextBox Data" />
					<h:panelGrid columns="4" styleClass="frm_ttl2" cellpadding="5">
						<p:outputLabel rendered="#{uiFormBean.menu}">Form Title</p:outputLabel>
						<p:inputText rendered="#{uiFormBean.menu}"
							id="bundleTitle_#{index}"
							value="#{uiFormBean.systextBoxesTitle[index]}" />

						<c:set var="index" value="#{index+1}"></c:set>
						<c:set var="requiredFlg" value="true"></c:set>
					</h:panelGrid>
				</c:forEach>
			</h:panelGrid>

			<c:set var="index" value="0"></c:set>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{uiFormController.saveFormData}" process=":addUIForm"
				update=":addUIForm,:UIFormListForm" oncomplete="scrollUp();" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('UIFormAddModal').hide(); scrollUp();" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog header="MENU FORM1" widgetVar="MenuModal1" modal="true"
		styleClass="menu_popup" resizable="false">
		<h:form id="menuForm1">
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel value="Language " />

				<p:selectOneMenu id="lang" value="#{uiFormBean.bundleId}"
					filter="true" filterMatchMode="contains" required="false"
					requiredMessage="Please select valid Language">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{uiFormBean.sysBundle}"
						itemLabel="#{record.name}" itemValue="#{record.bundleId}" />
					<p:ajax update="menuForm1"
						listener="#{uiFormController.menuSequence(uiFormBean.bundleId)}"></p:ajax>
				</p:selectOneMenu>
			</h:panelGrid>
			<p:menubar styleClass="menu_uifrm"
				model="#{userSessionBean.userMenu1}" />
		</h:form>
	</p:dialog>

	<p:dialog header="IconPath" widgetVar="iconPathModal" modal="true"
		resizable="false">
		<h:form id="iconPathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Icon: " />
				<p:fileUpload fileUploadListener="#{uiFormBean.handleFileUpload}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000"
					allowTypes="/(\.|\/)(jpe?g|png)$/" process=":iconPathForm"
					oncomplete="PF('iconPathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>

		</h:form>
	</p:dialog>

	<p:dialog header="FloatingMenuIconPath"
		widgetVar="floatingMenuIconPathModal" modal="true" resizable="false">
		<h:form id="floatingMenuIconPathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Icon: " />
				<p:fileUpload
					fileUploadListener="#{uiFormBean.handleFileUploadForFloatingMenus}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000"
					allowTypes="/(\.|\/)(jpe?g|png)$/"
					process=":floatingMenuIconPathForm"
					oncomplete="PF('floatingMenuIconPathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>

		</h:form>
	</p:dialog>


	<p:dialog header="InactiveIconPath" widgetVar="inactiveIconPathModal"
		modal="true" resizable="false">
		<h:form id="inactiveIconPathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Icon: " />
				<p:fileUpload
					fileUploadListener="#{uiFormBean.handleFileUploadForInactiveIcon}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000"
					allowTypes="/(\.|\/)(jpe?g|png)$/" process=":inactiveIconPathForm"
					oncomplete="PF('inactiveIconPathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>

		</h:form>
	</p:dialog>



</ui:composition>