<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="updateUIForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true" />
		<div class="form_content formPadding">
			<h3>
				<h:outputLabel value="Update Field Group Details" />
			</h3>
			<div class="form_content_inner">
				<h:panelGrid columns="2" cellpadding="5" style="border:none">
					<p:outputLabel>
						<span class="redColor">*</span>FORM GROUP NAME</p:outputLabel>
					<p:inputText id="formGroupName" required="true"
						requiredMessage="Please enter a Form Name"
						value="#{uiFormFieldBean.fieldGroupName}" />
				</h:panelGrid>

				<p:commandButton styleClass="Submit_button" value="Update"
					update=":updateUIForm"
					action="#{uiFormController.updateFormGroupData}" />

				<p:commandButton styleClass="cancel_button" value="Cancel"
					update=":centerForm"
					action="#{uiFormController.cancelGroupFieldPage}" immediate="true" />
			</div>
		</div>
	</h:form>

	<h:form id="formField">
		<c:set var="index" value="0"></c:set>
		<c:set var="index1" value="0"></c:set>
		<br />

		<label class="Page_Tittle">Form Field List</label>
		<p:commandButton icon="ui-icon-plus" update=":FieldAdd"
			title="Add UI Form Field" styleClass="btn_right cancel_button"
			action="#{uiFormController.addNewFieldData}"
			oncomplete="PF('UIFormFieldAddModal').show()" />

		<div class="listing_Table">

			<p:dataTable value="#{uiFormFieldBean.uiFormFieldResponseTOList}"
				var="uiformfield" rows="10" rowsPerPageTemplate="10,20,30"
				paginatorPosition="bottom" paginator="true">

				<p:column headerText="Entity Field Column"
					sortBy="#{uiformfield.sysEntityField}"
					filterBy="#{uiformfield.sysEntityField}">
					<h:outputText value="#{uiformfield.sysEntityField}" />
				</p:column>

				<p:column headerText="Client Name" sortBy="#{uiformfield.clientID}">
					<h:outputText value="#{uiformfield.clientID}" />
				</p:column>
				<p:column headerText="Resource Name"
					sortBy="#{uiformfield.sysResourceValue}" filter="true"
					filterMatchMode="contains"
					filterBy="#{uiformfield.sysResourceValue}">
					<h:outputText value="#{uiformfield.sysResourceValue}" />
				</p:column>

				<p:column headerText="Is Action" sortBy="#{uiformfield.action}">
					<h:outputText value="#{uiformfield.action}" />
				</p:column>

				<p:column headerText="Is Master" sortBy="#{uiformfield.master}">
					<h:outputText value="#{uiformfield.master}" />
				</p:column>

				<p:column headerText="Is Attachment Required"
					sortBy="#{uiformfield.attachmentRequired}">
					<h:outputText value="#{uiformfield.attachmentRequired}" />
				</p:column>

				<p:column headerText="Is Approval Required"
					sortBy="#{uiformfield.approvalRequired}">
					<h:outputText value="#{uiformfield.approvalRequired}" />
				</p:column>

				<p:column headerText="Is Effective Date Required"
					sortBy="#{uiformfield.effectiveDateRequired}">
					<h:outputText value="#{uiformfield.effectiveDateRequired}" />
				</p:column>

				<p:column headerText="Is Mandatory"
					sortBy="#{uiformfield.mandatory}">
					<h:outputText value="#{uiformfield.mandatory}" />
				</p:column>

				<p:column headerText="Parent FormField Name"
					sortBy="#{uiformfield.parentClientId}"
					filterBy="#{uiformfield.parentClientId}">
					<h:outputText value="#{uiformfield.parentClientId}" />
				</p:column>

				<p:column headerText="Is AttachmentEnabled"
					sortBy="#{uiformfield.attachmentEnabled}">
					<h:outputText value="#{uiformfield.attachmentEnabled}" />
				</p:column>

				<p:column headerText="Regex" sortBy="#{uiformfield.regex}"
					filterBy="#{uiformfield.regex}">
					<h:outputText value="#{uiformfield.regex}" />
				</p:column>
				
				<p:column headerText="WebConfiguration" sortBy="#{uiformfield.configurationValueWeb}"
					filterBy="#{uiformfield.configurationValueWeb}">
					<h:outputText value="#{uiformfield.configurationValueWeb}" />
				</p:column>
				
				<p:column headerText="MobileConfiguration" sortBy="#{uiformfield.configurationValueMobile}"
					filterBy="#{uiformfield.configurationValueMobile}">
					<h:outputText value="#{uiformfield.configurationValueMobile}" />
				</p:column>
				
				<p:column headerText="SysFieldType" sortBy="#{uiformfield.fieldType}"
					filterBy="#{uiformfield.fieldType}">
					<h:outputText value="#{uiformfield.fieldType}" />
				</p:column>
				
				<p:column headerText="Method" sortBy="#{uiformfield.ruleMethod}"
					filterBy="#{uiformfield.ruleMethod}">
					<h:outputText value="#{uiformfield.ruleMethod}" />
				</p:column>

				<p:column headerText="Edit">
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit" update=":FieldUPDATE"
						action="#{uiFormController.showFieldData(uiformfield)}"
						oncomplete="PF('UIFormFieldUpdateModal').show()" />
				</p:column>

			</p:dataTable>
		</div>

	</h:form>

	<p:dialog header="ADD NEW FORM FIELD" widgetVar="UIFormFieldAddModal"
		modal="true" resizable="false">
		<h:form id="FieldAdd">
			<p:messages id="messagesk" showDetail="false" autoUpdate="true"
				closable="true" />
			<c:set var="index" value="0"></c:set>
			<c:set var="botIndex" value="0"></c:set>
			<c:set var="requiredFlg" value="true"></c:set>
			<p:outputLabel style="text-align:left !important;"> WEB and MOBILE CONFIGURATION </p:outputLabel>
			<h:panelGrid columnClasses="labelCol22, auto, labelCol22, auto" columns="4" cellpadding="5" styleClass="table">
			
			<p:outputLabel>Entity Field Column</p:outputLabel>
				<p:selectOneMenu id="sysEntityField"
					value="#{uiFormFieldBean.entityFieldID}" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{uiFormFieldBean.uiSysEntityFieldResponseTOList}"
						itemLabel="#{record.sysEntityField}"
						itemValue="#{record.entityFieldID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Client Name</p:outputLabel>
				<p:inputText id="clientID" required="true"
					requiredMessage="Please enter a Client Name"
					value="#{uiFormFieldBean.clientID}" />

				<p:outputLabel value="Action" />
				<p:selectBooleanCheckbox id="act" value="#{uiFormFieldBean.action}">
					<p:ajax event="change"
						listener="#{uiFormController.getConfigurationValueForActionField}"
						update=":FieldAdd:wc,:FieldAdd:wm" />
				</p:selectBooleanCheckbox>

				<p:outputLabel value="Master" />
				<p:selectBooleanCheckbox value="#{uiFormFieldBean.master}" />

				<p:outputLabel value="Attachment Required" />
				<p:selectBooleanCheckbox
					value="#{uiFormFieldBean.attachmentRequired}" />

				<p:outputLabel value="Is Approval Required" />
				<p:selectBooleanCheckbox value="#{uiFormFieldBean.approvalRequired}" />

				<p:outputLabel value="Effective Date Required" />
				<p:selectBooleanCheckbox
					value="#{uiFormFieldBean.effectiveDateRequired}" />

				<p:outputLabel value="Mandatory" />
				<p:selectBooleanCheckbox value="#{uiFormFieldBean.mandatory}" />

				<p:outputLabel value="AttachmentEnabled" />
				<p:selectBooleanCheckbox
					value="#{uiFormFieldBean.attachmentEnabled}" />

				<p:outputLabel value="Is Group parameter"></p:outputLabel>
				<p:selectBooleanCheckbox value="#{uiFormFieldBean.groupParameter}" />
				
				<p:outputLabel>Parent FormField ID</p:outputLabel>
				<p:selectOneMenu id="parentFormFieldID"
					value="#{uiFormFieldBean.parentFormFieldID}" style="width:150px"
					filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{uiFormFieldBean.uiParentFormFieldTOList}"
						itemLabel="#{record.clientID}" itemValue="#{record.formFieldID}" />
				</p:selectOneMenu>

				<p:outputLabel>Regex</p:outputLabel>
				<p:inputText id="regex" value="#{uiFormFieldBean.regex}" />
				
				<p:outputLabel value="Web Configuration: " />
				<h:panelGroup id="wc">
					<p:selectOneMenu id="tid1"
						value="#{uiFormFieldBean.webConfiguration}" filter="true"
						filterMatchMode="contains">
						<f:selectItem itemLabel="Please Select" itemValue="" />
						<f:selectItems var="record1"
							value="#{uiFormFieldBean.configurationValuelist}"
							itemLabel="#{record1}" itemValue="#{record1}" />
					</p:selectOneMenu>
				</h:panelGroup>
				
				<p:outputLabel value="Mobile Configuration: " />
				<h:panelGroup id="wm">
					<p:selectOneMenu id="tid"
						value="#{uiFormFieldBean.mobileConfiguration}" filter="true"
						filterMatchMode="contains">
						<f:selectItem itemLabel="Please Select" itemValue="" />
						<f:selectItems var="record2"
							value="#{uiFormFieldBean.configurationValuelist}"
							itemLabel="#{record2}" itemValue="#{record2}" />
					</p:selectOneMenu>
				</h:panelGroup>
				
				<c:forEach items="#{uiFormFieldBean.sysBundle}" var="bundle"
					begin="0" step="1" end="#{uiFormFieldBean.sysBundle.size()}">

					<p:outputLabel>
						<span class="redColor">*</span>#{bundle.name}</p:outputLabel>
					<p:inputText 
						value="#{uiFormFieldBean.systextBoxes[index]}"
						required="true"
						requiredMessage="Please enter a #{bundle.name} TextBox Data" />


					<p:outputLabel>
						<span class="redColor">*</span>Title</p:outputLabel>
					<p:inputText 
						value="#{uiFormFieldBean.systextBoxesTitle[index]}"
						required="true"
						requiredMessage="Please enter a #{bundle.name} Title TextBox Data" />
						
					<c:set var="index" value="#{index+1}"></c:set>
					<c:set var="requiredFlg" value="false"></c:set>
				</c:forEach>
				
				</h:panelGrid>
				
				<p:outputLabel style="text-align:left !important;"> BOT CONFIGURATION </p:outputLabel>
				<h:panelGrid columnClasses="labelCol22, auto, labelCol22, auto" columns="4" cellpadding="5" styleClass="table">
				
				<p:outputLabel value="Bot Configuration: " />
				<h:panelGroup id="cc">
					<p:selectOneMenu id="cid"
						value="#{uiFormFieldBean.chatBotConfiguration}" filter="true"
						filterMatchMode="contains">
						<f:selectItem itemLabel="Please Select" itemValue="" />
						<f:selectItems var="record3"
							value="#{uiFormFieldBean.configurationValuelist}"
							itemLabel="#{record3}" itemValue="#{record3}" />
						<p:ajax update=":FieldAdd:addBotSeq,:FieldAdd:addBotlableTitle"
							listener="#{uiFormController.changeChatBotConfiguration(uiFormFieldBean.chatBotConfiguration)}" ></p:ajax>
					</p:selectOneMenu>
				</h:panelGroup>
				
				<p:outputLabel value="Sys Field Type:" />
				<p:selectOneMenu id="sysFieldType" value="#{uiFormFieldBean.sysFieldTypeID}"
					filter="true" filterMatchMode="contains" >
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{uiFormFieldBean.sysFieldType}"
						itemLabel="#{record.fieldType}" itemValue="#{record.sysFieldTypeID}" />
						<p:ajax update=":FieldAdd:validationTypeId,:FieldAdd:Addsv"
							listener="#{uiFormController.changeSysFieldType(uiFormFieldBean.sysFieldTypeID)}" ></p:ajax>
				</p:selectOneMenu>
				
				</h:panelGrid>
				<h:panelGrid id="addBotSeq" columnClasses="labelCol22, auto, labelCol22, auto" columns="4" cellpadding="5" styleClass="table">
					
				
				<p:outputLabel rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}">
					<span class="redColor">*</span>Bot Sequenece</p:outputLabel>
				<p:inputText  rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}" required="true"
					requiredMessage="Please enter a Bot Sequenece"	value="#{uiFormFieldBean.chatBotSequence}" />
				
				<p:outputLabel  rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}">Bot Sequenece</p:outputLabel>
				<p:inputText rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}" value="#{uiFormFieldBean.chatBotSequence}" />
				
				<p:outputLabel value="Bot Rule:" />
				<p:selectOneMenu id="method" value="#{uiFormFieldBean.ruleID}"
					filter="true" filterMatchMode="contains" >
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{uiFormFieldBean.sysRule}"
						itemLabel="#{record.ruleClassMethodName}" itemValue="#{record.ruleID}" />
				</p:selectOneMenu>
				
				</h:panelGrid>
				<h:panelGrid id="addBotlableTitle"  columnClasses="labelCol22, auto, labelCol22, auto" columns="4" cellpadding="5" styleClass="table">
				
				
				
				<c:forEach items="#{uiFormFieldBean.sysBundle}" var="botBundle"
					begin="0" step="1" end="#{uiFormFieldBean.sysBundle.size()}">
					
					<p:outputLabel rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}">
					<span class="redColor">*</span>Bot#{botBundle.name}</p:outputLabel>
					<p:inputText rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}" required="true" 
						requiredMessage="Please enter a #{botBundle.name} Bot Label" value="#{uiFormFieldBean.sysChatBotTextBoxes[botIndex]}"/>
					
					<p:outputLabel rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}">Bot#{botBundle.name}</p:outputLabel>
					<p:inputText rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}" 
						value="#{uiFormFieldBean.sysChatBotTextBoxes[botIndex]}"/>
					
					<p:outputLabel rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}">
					<span class="redColor">*</span>BotTitle</p:outputLabel>
					<p:inputText rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}" required="true" 
						requiredMessage="Please enter a #{botBundle.name} Bot Title" value="#{uiFormFieldBean.sysChatBotTextBoxesTitle[botIndex]}" /> 
					
					<p:outputLabel rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}">BotTitle</p:outputLabel>
					<p:inputText rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}" 
						value="#{uiFormFieldBean.sysChatBotTextBoxesTitle[botIndex]}" /> 

					<c:set var="botIndex" value="#{botIndex+1}"></c:set>
					
				</c:forEach>
				
					
				<p:outputLabel for="validationTypeId" value="Sys Validation Type:" />
			        <p:selectCheckboxMenu widgetVar="someVarName"  id="validationTypeId" multiple="true"  value="#{uiFormFieldBean.selectedSysChatBotValidationTypeList}"
			                              filter="true" filterMatchMode="startsWith" panelStyle="width:200px" converter="javax.faces.Integer">
			            <f:selectItems var="cbValidationType"  value="#{uiFormFieldBean.sysChatBotValidationTypeList}" 
			            itemLabel="#{cbValidationType.label}" itemValue="#{cbValidationType.sysValidationTypeID}"/>
			            <p:ajax oncomplete="PF('someVarName').show()" listener="#{uiFormController.onColumnLevelValidationSelection}" update=":FieldAdd:Addsv" ></p:ajax>
			        </p:selectCheckboxMenu>
			        
			</h:panelGrid>
			
			<h:panelGrid id="Addsv"  styleClass="table addsvTable">
				<p:row id="validationDetail"
					rendered="#{uiFormFieldBean.showValidationDetailDataTable}">
					<p:column>
						<p:dataTable var="selectedValidation"
							value="#{uiFormFieldBean.validationsSelectedAtColumnLevelBYUser}">
							<p:column headerText="Selected Validations">
								<h:outputText
									value="#{selectedValidation.selectedValidationLabel}" />
							</p:column>
							<p:column headerText="Parameters">
								<ui:repeat var="columnselectedParamInputCounter"
									value="#{selectedValidation.listOfParametersInputByUserForSelectedValidation}">
									<p:inputText
										value="#{columnselectedParamInputCounter.paramValues}" /> <br/><br/> 
								</ui:repeat> 
							</p:column>
						</p:dataTable>
					</p:column>
				</p:row>
			</h:panelGrid>
			
			<div class="row margin_top_10">
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{uiFormController.saveFormField}" process=":FieldAdd"
				update=":formField" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('UIFormFieldAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />
		</div>
		</h:form>
	</p:dialog>

	<p:dialog header="UPDATE FORM FIELD" widgetVar="UIFormFieldUpdateModal"
		modal="true" resizable="false">
		<h:form id="FieldUPDATE">
			<c:set var="index1" value="0"></c:set>
			<c:set var="botIndex1" value="0"></c:set>
			<c:set var="requiredUpdFlg" value="true"></c:set>
			<p:messages id="messagesk" showDetail="false" autoUpdate="true"
				closable="true" />
			
			<p:outputLabel style="text-align:left !important;"> WEB and MOBILE CONFIGURATION </p:outputLabel>
			<h:panelGrid columnClasses="labelCol22, auto, labelCol22, auto" styleClass="table" columns="4" cellpadding="5">
				<p:outputLabel>
					<span class="redColor">*</span>Entity Field Column</p:outputLabel>
				<p:selectOneMenu id="sysEntityField"
					value="#{uiFormFieldBean.entityFieldID}"
					filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{uiFormFieldBean.uiSysEntityFieldResponseTOList}"
						itemLabel="#{record.sysEntityField}"
						itemValue="#{record.entityFieldID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Client ID</p:outputLabel>
				<p:inputText id="clientID" required="true"
					requiredMessage="Please enter a Client ID"
					value="#{uiFormFieldBean.clientID}" />

				<p:outputLabel value="Action" />
				<p:selectBooleanCheckbox id="act" value="#{uiFormFieldBean.action}">
					<p:ajax event="change"
						listener="#{uiFormController.getConfigurationValueForActionField}"
						update=":FieldUPDATE:wc1,:FieldUPDATE:wm1" />
				</p:selectBooleanCheckbox>

				<p:outputLabel value="Master" />
				<p:selectBooleanCheckbox value="#{uiFormFieldBean.master}" />


				<p:outputLabel value="Attachment Required" />
				<p:selectBooleanCheckbox
					value="#{uiFormFieldBean.attachmentRequired}" />


				<p:outputLabel value="Is Approval Required" />
				<p:selectBooleanCheckbox value="#{uiFormFieldBean.approvalRequired}" />

				<p:outputLabel value="Effective Date Required" />
				<p:selectBooleanCheckbox
					value="#{uiFormFieldBean.effectiveDateRequired}" />

				<p:outputLabel value="Mandatory" />
				<p:selectBooleanCheckbox value="#{uiFormFieldBean.mandatory}" />

				<p:outputLabel value="AttachmentEnabled" />
				<p:selectBooleanCheckbox
					value="#{uiFormFieldBean.attachmentEnabled}" />

				<p:outputLabel value="Is Group Parameter: " />
				<p:selectBooleanCheckbox value="#{uiFormFieldBean.groupParameter}">
				</p:selectBooleanCheckbox>
				
				<p:outputLabel>
					<span class="redColor">*</span>Parent FormField ID</p:outputLabel>
				<p:selectOneMenu id="parentFormFieldID"
					value="#{uiFormFieldBean.parentFormFieldID}"
					filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{uiFormFieldBean.uiParentFormFieldTOList}"
						itemLabel="#{record.clientID}" itemValue="#{record.formFieldID}" />
				</p:selectOneMenu>

				<p:outputLabel>Regex</p:outputLabel>
				<p:inputText id="regex" required="false"
					requiredMessage="Please enter a Regex"
					value="#{uiFormFieldBean.regex}" />
				
				<p:outputLabel value="Web Configuration: " />
				<h:panelGroup id="wc1">
					<p:selectOneMenu id="tid11"
						value="#{uiFormFieldBean.webConfiguration}" filter="true"
						filterMatchMode="contains">
						<f:selectItem itemLabel="Please Select" itemValue="" />
						<f:selectItems var="record1"
							value="#{uiFormFieldBean.configurationValuelist}"
							itemLabel="#{record1}" itemValue="#{record1}" />
					</p:selectOneMenu>
				</h:panelGroup>
				
				<p:outputLabel value="Mobile Configuration: " />
				<h:panelGroup id="wm1">
					<p:selectOneMenu id="tid12"
						value="#{uiFormFieldBean.mobileConfiguration}" filter="true"
						filterMatchMode="contains">
						<f:selectItem itemLabel="Please Select" itemValue="" />
						<f:selectItems var="record2"
							value="#{uiFormFieldBean.configurationValuelist}"
							itemLabel="#{record2}" itemValue="#{record2}" />
					</p:selectOneMenu>
				</h:panelGroup>
				
				<c:forEach items="#{uiFormFieldBean.sysBundle}" var="bundle"
					begin="0" step="1" end="#{uiFormFieldBean.sysBundle.size()}">

					<p:outputLabel><span class="redColor">*</span>#{bundle.name}</p:outputLabel>
					<p:inputText value="#{uiFormFieldBean.systextBoxes[index1]}"
						required="true"
						requiredMessage="Please enter a #{bundle.name} TextBox Data" />
						
					<p:outputLabel>
						<span class="redColor">*</span>Title</p:outputLabel>
					<p:inputText value="#{uiFormFieldBean.systextBoxesTitle[index1]}"
						required="true"
						requiredMessage="Please enter a #{bundle.name} Title TextBox Data" />
					 
					<c:set var="index1" value="#{index1+1}"></c:set>
					<c:set var="requiredUpdFlg" value="true"></c:set>

				</c:forEach>
				
				</h:panelGrid>
				
				<p:outputLabel style="text-align:left !important;"> BOT CONFIGURATION </p:outputLabel>
				<h:panelGrid columnClasses="labelCol22, auto, labelCol22, auto" styleClass="table" columns="4" cellpadding="5">
				
				<p:outputLabel value="Bot Configuration: " />
				<h:panelGroup id="cc1">
					
					<p:selectOneMenu id="cid12"
						value="#{uiFormFieldBean.chatBotConfiguration}" filter="true"
						filterMatchMode="contains">
						<f:selectItem itemLabel="Please Select" itemValue="" />
						<f:selectItems var="record3"
							value="#{uiFormFieldBean.configurationValuelist}"
							itemLabel="#{record3}" itemValue="#{record3}" />
						<p:ajax update=":FieldUPDATE:editBotSeq,FieldUPDATE:editBotLabelTitle"
					listener="#{uiFormController.changeChatBotConfiguration(uiFormFieldBean.chatBotConfiguration)}" ></p:ajax>
					</p:selectOneMenu>
				</h:panelGroup>	
				
				
				<p:outputLabel value="Sys Field Type:" />
				<p:selectOneMenu id="sysFieldType" value="#{uiFormFieldBean.sysFieldTypeID}"
					filter="true" filterMatchMode="contains" >
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{uiFormFieldBean.sysFieldType}"
						itemLabel="#{record.fieldType}" itemValue="#{record.sysFieldTypeID}" />
						<p:ajax update=":FieldUPDATE:selectedvalidationTypeId,:FieldUPDATE:editsv"
							listener="#{uiFormController.changeSysFieldType(uiFormFieldBean.sysFieldTypeID)}" ></p:ajax>
				</p:selectOneMenu>
				</h:panelGrid>
				
				<h:panelGrid id="editBotSeq" columnClasses="labelCol22, auto, labelCol22, auto" columns="4" cellpadding="5" styleClass="table">
				
				<p:outputLabel rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}">
					<span class="redColor">*</span>Bot Sequenece</p:outputLabel>
				<p:inputText  rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}" required="true"
					requiredMessage="Please enter a Bot Sequenece"	value="#{uiFormFieldBean.chatBotSequence}" />
				
				<p:outputLabel  rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}">Bot Sequenece</p:outputLabel>
				<p:inputText rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}" value="#{uiFormFieldBean.chatBotSequence}" />
									
				<p:outputLabel value="Bot Rule:" />
				<p:selectOneMenu id="method" value="#{uiFormFieldBean.ruleID}"
					filter="true" filterMatchMode="contains" >
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{uiFormFieldBean.sysRule}"
						itemLabel="#{record.ruleClassMethodName}" itemValue="#{record.ruleID}" />
				</p:selectOneMenu>
				
				</h:panelGrid>
				<h:panelGrid id="editBotLabelTitle" columnClasses="labelCol22, auto, labelCol22, auto" columns="4" cellpadding="5" styleClass="table">
				
				<c:forEach items="#{uiFormFieldBean.sysBundle}" var="botBundle"
					begin="0" step="1" end="#{uiFormFieldBean.sysBundle.size()}">

					<p:outputLabel rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}">
					<span class="redColor">*</span>Bot#{botBundle.name}</p:outputLabel>
					<p:inputText rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}"
					 required="true" requiredMessage="Please enter a #{botBundle.name} Bot Label" value="#{uiFormFieldBean.sysChatBotTextBoxes[botIndex1]}" />
					
					<p:outputLabel rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}" value="Bot#{bundle.name}" />
					<p:inputText rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}"
					 value="#{uiFormFieldBean.sysChatBotTextBoxes[botIndex1]}" />
						
					<p:outputLabel rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}">
					<span class="redColor">*</span>BotTitle</p:outputLabel>
					<p:inputText rendered="#{uiFormFieldBean.chatBotConfiguration != '' and uiFormFieldBean.chatBotConfiguration != 'DENY' and uiFormFieldBean.chatBotConfiguration != null}"
					 required="true" requiredMessage="Please enter a #{botBundle.name} Bot Title" value="#{uiFormFieldBean.sysChatBotTextBoxesTitle[botIndex1]}" />
					
					<p:outputLabel rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}">BotTitle</p:outputLabel>
					<p:inputText rendered="#{uiFormFieldBean.chatBotConfiguration == '' or uiFormFieldBean.chatBotConfiguration == 'DENY' or uiFormFieldBean.chatBotConfiguration == null}" 
					 value="#{uiFormFieldBean.sysChatBotTextBoxesTitle[botIndex1]}" />
						
					<c:set var="botIndex1" value="#{botIndex1+1}"></c:set>
					
				</c:forEach>
				
				<p:outputLabel for="selectedvalidationTypeId" value="Sys Validation Type:" />
			        <p:selectCheckboxMenu id="selectedvalidationTypeId" widgetVar="someVarName"   multiple="true"  value="#{uiFormFieldBean.selectedSysChatBotValidationTypeList}"
			                              filter="true" filterMatchMode="startsWith" panelStyle="width:350px" converter="javax.faces.Integer">
			            <f:selectItems var="cbValidationType"  value="#{uiFormFieldBean.sysChatBotValidationTypeList}" 
			            itemLabel="#{cbValidationType.label}" itemValue="#{cbValidationType.sysValidationTypeID}"/>
			            <p:ajax oncomplete="PF('someVarName').show()" listener="#{uiFormController.onColumnLevelValidationSelection}" update=":FieldUPDATE:editsv" ></p:ajax>
			        </p:selectCheckboxMenu>
			
			</h:panelGrid>
			
			<h:panelGrid id="editsv" styleClass="table editsvTable" cellpadding="5">
				<p:row id="selectedValidation"
					rendered="#{uiFormFieldBean.showValidationDetailDataTable}">
					<p:column>
						<p:dataTable var="selectedValidation"
							value="#{uiFormFieldBean.validationsSelectedAtColumnLevelBYUser}">
							<p:column headerText="Selected Validations">
								<h:outputText
									value="#{selectedValidation.selectedValidationLabel}" />
							</p:column>
							<p:column headerText="Parameters">
								<ui:repeat var="columnselectedParamInputCounter"
									value="#{selectedValidation.listOfParametersInputByUserForSelectedValidation}">
									<p:inputText
										value="#{columnselectedParamInputCounter.paramValues}" /><br/><br/>
								</ui:repeat>
							</p:column>
						</p:dataTable>
					</p:column>
				</p:row>
			</h:panelGrid>
			
		<div class="row margin_top_10">
			<p:commandButton styleClass="Submit_button" value="Update"
				action="#{uiFormController.updateFieldData}" process=":FieldUPDATE"
				update=":formField" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('UIFormFieldUpdateModal').hide(); scrollUp();"
				immediate="true" />
		</div>
		</h:form>
	</p:dialog>
</ui:composition>