<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:form id="dataUploadForm" enctype="multipart/form-data">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true" />
		<div class="form_content formPadding">
			<h3>
				<h:outputLabel value="UI Form Field Upload" />
			</h3>
			<div class="form_content_inner">
				<p:fieldset>

					<h:panelGrid columns="10" cellpadding="8">
					
					<p:outputLabel value="Download Template Format: " />
						<p:commandButton  ajax="false" styleClass="cancel_button"
							icon="ui-icon-arrowthickstop-1-s" process=":dataUploadForm"
							action ="#{uiFormController.downloadTemplate}" />
					
							<p:outputLabel value="Upload Template: " />
							<p:fileUpload label="Choose (Max. 5Mb)"
							fileUploadListener="#{uiFormController.handleFileUpload}"
							mode="advanced" dragDropSupport="true" sizeLimit="100000"
							fileLimit="1" allowTypes="/(\.|\/)(xls|xlsx)$/" update=":dataUploadForm" />
							
							<p:commandLink value="Back to Form Group" styleClass="cancel_button"
							update=":centerForm"  action="#{uiFormController.redirectToGroupPage}"
							immediate="true">
						</p:commandLink>
					</h:panelGrid>

						<p:outputPanel id="masterFormDataPanel"
						rendered="#{uploadFieldsBean.masterFormDataList.size()>0}" >
						<p:dataTable var="uiformfield"
							value="#{uploadFieldsBean.masterFormDataList}"
							emptyMessage="No Master Form Field Data Found.">
							
						

				<p:column headerText="Entity Field">
					<h:outputText value="#{uiformfield.sysEntityField}" />
				</p:column>
				
				<p:column headerText="Client Name">
					<h:outputText value="#{uiformfield.clientID}" />
				</p:column>
			
				
				<p:column headerText="Is Action" >
					<h:outputText value="#{uiformfield.action}" />
				</p:column>
				
				
				<p:column headerText="Is Master" >
					<h:outputText value="#{uiformfield.master}" />
				</p:column>
				
				<p:column headerText="Is Attachment Required" >
					<h:outputText value="#{uiformfield.attachmentRequired}" />
				</p:column>
				
				
				
				<p:column headerText="Is Approval Required" >
					<h:outputText value="#{uiformfield.approvalRequired}" />
				</p:column>
				
				
				<p:column headerText="Is Effective Date Required" >
					<h:outputText value="#{uiformfield.effectiveDateRequired}" />
				</p:column>
				
					<p:column headerText="Is Mandatory" >
					<h:outputText value="#{uiformfield.mandatory}" />
				</p:column>
				
				<p:column headerText="Parent FormField Name" >
					<h:outputText value="#{uiformfield.parentClientId}" />
				</p:column>
				
				
				
				<p:column headerText="Is AttachmentEnabled" >
					<h:outputText value="#{uiformfield.attachmentEnabled}" />
				</p:column>
				
				<p:column headerText="Regex" >
					<h:outputText value="#{uiformfield.regex}" />
				</p:column>
				
					
						<p:column headerText="Processing Summary">
								<h:outputText value="#{uiformfield.summary}"
									rendered="#{uiformfield.summaryList.size()==0}" style="color:green;" />
								<p:commandLink value="#{uiformfield.summary}" update=":centerForm"
									action="#{uiFormController.redirectTosummaryList(uiformfield.summaryList)}"
									oncomplete="PF('summaryBox').show();" immediate="true"
									rendered="#{uiformfield.summaryList.size()>0}" style="color:red;">
								</p:commandLink>
							</p:column>
			</p:dataTable>


	
					</p:outputPanel>

				</p:fieldset>

			</div>

		</div>
<h:inputHidden value="#{uploadFieldsBean.formId}"></h:inputHidden>

	</h:form>
<p:dialog header="Invalid Record Summary" widgetVar="summaryBox"
		resizable="false" closeOnEscape="true" modal="true">
		<h:form id="summaryForm">

			<div>
				<p:dataList value="#{uploadFieldsBean.summaryList}" var="val"
					type="ordered">
					<f:facet name="header">
            Constraints Voilation
        </f:facet>
     #{val}<p:spacer height="10px" />
				</p:dataList>
				<br />
				<p:commandButton value="Back" type="button"
					styleClass="cancel_button" onclick="PF('summaryBox').hide()"
					immediate="true" />
			</div>

		</h:form>
	</p:dialog>

</ui:composition>
