<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysGuidedTourFieldListForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true" />
		<label class="Page_Tittle">SysGuided Tour Field</label>

		<p:commandButton oncomplete="PF('sysGuidedTourFieldAddModal').show();"
			styleClass="btn_right cancel_button" icon="ui-icon-plus"
			title="Add SysGuidedTourField"
			action="#{sysGuidedTourFieldController.resetBean}"
			update=":newSysGuidedTourFieldForm,:sysGuidedTourFieldListForm">
		</p:commandButton>


		<div class="listing_Table">
			<p:dataTable widgetVar="myDataTable" id="sysGuidedTourFieldListForm"
				var="record"
				value="#{sysGuidedTourFieldBean.sysGuidedTourFieldResponseTOList}"
				rows="10" paginator="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">




				<p:column sortBy="#{record.sysForm}" filterBy="#{record.sysForm}"
					headerText="System Form ">
					<h:outputText value="#{record.sysForm}" escape="false" />
				</p:column>



				<p:column sortBy="#{record.selector}" filterBy="#{record.selector}"
					headerText="Selector ">
					<h:outputText value="#{record.selector}" />
				</p:column>

				<p:column sortBy="#{record.clickPath}"
					filterBy="#{record.clickPath}" headerText="Click Path ">
					<h:outputText value="#{record.clickPath}" />
				</p:column>


				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();"
						update=":sysGuidedTourFieldUpdateForm"
						action="#{sysGuidedTourFieldController.refreshPopUp(record)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>

			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">

				<div class="confirmDialog_text">
					<label>Please edit carefully because changes made may
						affect the whole System.</label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide();PF('sysGuidedTourFieldEditModal').show();" />

					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>

			</p:dialog>

		</div>
	</h:form>

	<p:dialog header="Sys GuidedTour Field"
	
		widgetVar="sysGuidedTourFieldAddModal" modal="true" resizable="false">
		<h:form id="newSysGuidedTourFieldForm">
			<p:messages id="newSysGuidedTourField1" showDetail="false"
				autoUpdate="true" closable="true" />
			<h:panelGrid columns="2">

				<p:outputLabel>
					<span class="redColor">*</span>System Form </p:outputLabel>

				<p:selectOneMenu id="ant"
					value="#{sysGuidedTourFieldBean.sysFormId}" filter="true"
					filterMatchMode="contains" required="true"
					requiredMessage="System Form is required">
					<f:selectItem itemLabel="Please Select" itemValue="" />
					<f:selectItems var="record21"
						value="#{sysGuidedTourFieldBean.uiFormList}"
						itemLabel="#{record21.sysForm}" itemValue="#{record21.sysFormId}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Selector:</p:outputLabel>
				<p:inputText id="bd1" value="#{sysGuidedTourFieldBean.selector}"
					required="true" requiredMessage=" Selector is required." />

				<p:outputLabel>Click Path:</p:outputLabel>
				<p:inputText id="bd" value="#{sysGuidedTourFieldBean.clickPath}" />

				<p:outputLabel value="Combine: " />
				<p:selectBooleanCheckbox value="#{sysGuidedTourFieldBean.combine}" />




			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysGuidedTourFieldController.save}"
				process=":newSysGuidedTourFieldForm"
				update=":newSysGuidedTourFieldForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysGuidedTourFieldAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysGuidedTourFieldEditModal" header="SysGuided Tour Field Edit"
		styleClass="ui_dialog400" modal="true" resizable="false">
		<h:form id="sysGuidedTourFieldUpdateForm">
			<p:messages id="changeSysGuidedTourFieldDetails" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>System Form </p:outputLabel>
				<p:selectOneMenu id="ante"
					value="#{sysGuidedTourFieldBean.sysFormId}" filter="true"
					filterMatchMode="contains" required="true"
					requiredMessage="System Form is required">
					<f:selectItem itemLabel="Please Select" itemValue="" />
					<f:selectItems var="record2"
						value="#{sysGuidedTourFieldBean.uiFormList}"
						itemLabel="#{record2.sysForm}" itemValue="#{record2.sysFormId}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Selector:</p:outputLabel>
				<p:inputText id="bd2" value="#{sysGuidedTourFieldBean.selector}"
					required="true" requiredMessage=" Selector is required." />

				<p:outputLabel>Click Path:</p:outputLabel>
				<p:inputText id="bd3" value="#{sysGuidedTourFieldBean.clickPath}" />

				<p:outputLabel value="Combine: " />
				<p:selectBooleanCheckbox value="#{sysGuidedTourFieldBean.combine}" />


			</h:panelGrid>

			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();"
				action="#{sysGuidedTourFieldController.update}"
				update=":sysGuidedTourFieldUpdateForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('sysGuidedTourFieldEditModal').hide();"
				style="float:bottom" required="true" />
		</h:form>
	</p:dialog>




</ui:composition>