<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysContentCategoryListForm">
		<p:messages id="messages" closable="true"
			rendered="#{!sysContentCategoryBean.renderErrorMessage}" />
		<label class="Page_Tittle">Sys Content Category List</label>

		<p:commandButton icon="ui-icon-plus"
			update=":addSysContentCategoryForm"
			styleClass="btn_right cancel_button" title="Add New Content Category"
			action="#{sysContentCategoryController.resetSysContentCategory}"
			oncomplete="PF('sysContentCategoryAddModal').show();" />

		<div class="listing_Table">
			<p:dataTable widgetVar="sysContentCategoryDataTable"
				value="#{sysContentCategoryBean.sysContentCategoryTOList}"
				var="sysContentType" rows="10" rowsPerPageTemplate="10,20,30"
				paginatorPosition="bottom" paginator="true">
				<p:column sortBy="#{sysContentType.categoryName}"
					filterBy="#{sysContentType.categoryName}"
					headerText="SysContentCategory" filterMatchMode="in">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="SysContentCategory"
							onchange="PF('sysContentCategoryDataTable').filter()"
							filterMatchMode="contains" filter="true"
							value="#{sysContentCategoryBean.selectedCategoryName}">
							<f:selectItems value="#{sysContentCategoryBean.sysCategoryName}" />

						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{sysContentType.categoryName}" />
				</p:column>
				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();"
						update=":sysContentCategoryEditForm"
						action="#{sysContentCategoryController.refreshPopUp(sysContentType)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide(); PF('sysContentCategoryEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>

	<p:dialog header="NEW CONTENT CATEGORY"
		widgetVar="sysContentCategoryAddModal" modal="true">
		<h:form id="addSysContentCategoryForm">
			<p:messages id="newContentCategoryMessages" showDetail="false"
				autoUpdate="true" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">

				<p:outputLabel>
					<span class="redColor">*</span>System Content Category:</p:outputLabel>

				<p:inputText id="SysContentCategory" required="true" maxlength="200"
					requiredMessage="Please input a Sys Content Category"
					value="#{sysContentCategoryBean.categoryName}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysContentCategoryController.addSysContentCategory()}"
				process=":addSysContentCategoryForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysContentCategoryAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysContentCategoryEditModal"
		header="SysContentCategory" modal="true">
		<h:form id="sysContentCategoryEditForm">
			<p:messages id="editSysContentCategory" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel>
					<span class="redColor">*</span>SysContentCategory:</p:outputLabel>
				<p:inputText value="#{sysContentCategoryBean.categoryName}"
					maxlength="50" required="true"
					requiredMessage="Category Name is required" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();"
				action="#{sysContentCategoryController.updateSysContentCategory}"
				update=":sysContentCategoryListForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('sysContentCategoryEditModal').hide();"
				style="float:bottom" immediate="true" />


		</h:form>
	</p:dialog>

</ui:composition>