<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysCongratulationAnnouncementListForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true" />
		<label class="Page_Tittle">SysCongratulation Announcement List</label>

		<p:commandButton
			oncomplete="PF('sysCongratulationAnnouncementAddModal').show();"
			styleClass="btn_right cancel_button" icon="ui-icon-plus"
			title="Add SysCongratulationAnnouncement"
			action="#{sysCongratulationAnnouncementController.resetBean}"
			update=":newSysCongratulationAnnouncementForm,:sysCongratulationAnnouncementListForm">
		</p:commandButton>


		<div class="listing_Table">
			<p:dataTable widgetVar="myDataTable"
				id="sysCongratulationAnnouncementListForm" var="record"
				value="#{sysCongratulationAnnouncementBean.sysCongratulationAnnouncementResponseTOList}"
				rows="10" paginator="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">

				<f:facet name="{sysCongratulationAnnouncement}" />



				<p:column sortBy="#{record.sysCongratulationAnnouncement}"
					filterBy="#{record.sysCongratulationAnnouncement}"
					headerText="SysCongratulation Announcement ">
					<h:outputText value="#{record.sysCongratulationAnnouncement}"
						escape="false" />
				</p:column>


				<p:column headerText="Congratulation Image">
					<img src="#{record.sysCongratulationUploadPath}" width="100"
						height="50" />
				</p:column>

				<p:column sortBy="#{record.sysAnnouncementType}"
					filterBy="#{record.sysAnnouncementType}"
					headerText="Sys Congratulation Announcement Type ">
					<h:outputText value="#{record.sysAnnouncementType}" />
				</p:column>


				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();"
						update=":sysCongratulationAnnouncementUpdateForm"
						action="#{sysCongratulationAnnouncementController.refreshPopUp(record)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>

			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">

				<div class="confirmDialog_text">
					<label>Please edit carefully because changes made may
						affect the whole System.</label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide();PF('sysCongratulationAnnouncementEditModal').show();" />

					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>

			</p:dialog>

		</div>
	</h:form>

	<p:dialog header="SysCongratulation Announcement" styleClass="PopUpinCenter_addFilter"
		widgetVar="sysCongratulationAnnouncementAddModal" modal="true" resizable="false">
		<h:form id="newSysCongratulationAnnouncementForm">
			<p:messages id="newSysCongratulationAnnouncement1" showDetail="false"
				autoUpdate="true" closable="true" />
			<h:panelGrid columns="2">

				<p:outputLabel>
					<span class="redColor">*</span>Announcement Type </p:outputLabel>

				<p:selectOneMenu id="ant"
					value="#{sysCongratulationAnnouncementBean.sysAnnouncementType}"
					filter="true" filterMatchMode="contains" required="true"
					requiredMessage="Announcement Type is required">
					<f:selectItem itemLabel="Please Select" itemValue="" />
					<f:selectItems var="record2"
						value="#{sysCongratulationAnnouncementBean.announcementTypeTOList}"
						itemLabel="#{record2.sysType}" itemValue="#{record2.sysType}" />
				</p:selectOneMenu>
				<p:outputLabel>
					<span class="redColor">*</span>Congratulation Announcement:</p:outputLabel>
				<p:editor id="bd"
					value="#{sysCongratulationAnnouncementBean.sysCongratulationAnnouncement}"
					required="true"
					requiredMessage=" Congratulation Announcement is required." />

				<p:outputLabel value="Upload Image: " />
				<img
					src="#{sysCongratulationAnnouncementBean.sysCongratulationUploadPath}"
					width="200" height="100" />
				<p:commandButton icon="ui-icon-suitcase" title="Upload Image"
					styleClass="cancel_button" onclick="PF('ImagePathModal').show()" />

			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysCongratulationAnnouncementController.save}"
				process=":newSysCongratulationAnnouncementForm"
				update=":newSysCongratulationAnnouncementForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysCongratulationAnnouncementAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysCongratulationAnnouncementEditModal" header="" styleClass="ui_dialog400"
		modal="true" resizable="false">
		<h:form id="sysCongratulationAnnouncementUpdateForm">
			<p:messages id="changeSysCongratulationAnnouncementDetails"
				closable="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>Announcement Type </p:outputLabel>
				<p:selectOneMenu id="ante"
					value="#{sysCongratulationAnnouncementBean.sysAnnouncementType}"
					filter="true" filterMatchMode="contains" required="true"
					requiredMessage="Announcement Type is required">
					<f:selectItem itemLabel="Please Select" itemValue="" />
					<f:selectItems var="record2"
						value="#{sysCongratulationAnnouncementBean.announcementTypeTOList}"
						itemLabel="#{record2.sysType}" itemValue="#{record2.sysType}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Congratulation Announcement:</p:outputLabel>
				<p:editor id="bd"
					value="#{sysCongratulationAnnouncementBean.sysCongratulationAnnouncement}"
					required="true"
					requiredMessage=" Congratulation Announcement is required." />

				<p:outputLabel value="Birthday Image: " />
				<img
					src="#{sysCongratulationAnnouncementBean.sysCongratulationUploadPath}"
					width="200" height="100" />
				<p:commandButton icon="ui-icon-suitcase" title="Upload Image"
					styleClass="cancel_button" onclick="PF('ImagePathModal').show()" />
			</h:panelGrid>

			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();"
				action="#{sysCongratulationAnnouncementController.update}"
				update=":sysCongratulationAnnouncementUpdateForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('sysCongratulationAnnouncementEditModal').hide();"
				style="float:bottom" required="true" />
		</h:form>
	</p:dialog>

	<p:dialog header="ImagePath" widgetVar="ImagePathModal" modal="true" 
		styleClass="centeredPopup" resizable="false">
		<h:form id="ImagePathForm">
			<h:panelGrid columns="10" cellpadding="8">
				<p:outputLabel value="Upload Image: " />
				<p:fileUpload
					fileUploadListener="#{sysCongratulationAnnouncementController.handleImage}"
					mode="advanced" dragDropSupport="false" multiple="false"
					sizeLimit="1000000" fileLimit="1000"
					update=":sysCongratulationAnnouncementUpdateForm"
					allowTypes="/(\.|\/)(jpe?g|png)$/" process=":ImagePathForm"
					oncomplete="PF('ImagePathModal').hide()">
				</p:fileUpload>
			</h:panelGrid>
		</h:form>
	</p:dialog>



</ui:composition>