<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysMeshTagHierarchyListForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true"
			rendered="#{sysMeshTagHierarchyBean.renderErrorMessage}" />
		<label class="Page_Tittle">SysMesh Tag Hierarchy List</label>

		<p:commandButton icon="ui-icon-plus"
			update=":addSysMeshTagHierarchyForm, :sysMeshTagHierarchyListForm"
			styleClass="btn_right cancel_button" title="Add New Mesh Tag Hierarchy"
			action="#{sysMeshTagHierarchyController.resetSysMeshTagHierarchy}"
			oncomplete="PF('sysMeshTagHierarchyAddModal').show();" />

		<div class="listing_Table">
			<p:dataTable widgetVar="sysMeshTagHierarchyDataTable"
				value="#{sysMeshTagHierarchyBean.sysMeshTagHierarchyTOList}"
				var="sysMeshTagHierarchy" rows="10" rowsPerPageTemplate="10,20,30"
				paginatorPosition="bottom" paginator="true">
				<p:column sortBy="#{sysMeshTagHierarchy.tagName}"
					filterBy="#{sysMeshTagHierarchy.tagName}"
					headerText="SysTagName" filterMatchMode="contains">
					<h:outputText value="#{sysMeshTagHierarchy.tagName}" />
				</p:column>

				<p:column sortBy="#{sysMeshTagHierarchy.tagHierarchy}"
					filterBy="#{sysMeshTagHierarchy.tagHierarchy}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="TagHierarchy" />
					</f:facet>
					<h:outputText value="#{sysMeshTagHierarchy.tagHierarchy}" />
				</p:column>
				<p:column sortBy="#{sysMeshTagHierarchy.mandatory}"
					filterBy="#{sysMeshTagHierarchy.mandatory}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="IsMandatory" />
					</f:facet>
					<h:outputText value="#{sysMeshTagHierarchy.mandatory}" />
				</p:column>
				<p:column sortBy="#{sysMeshTagHierarchy.uniqueSourceCodeNode}"
					filterBy="#{sysMeshTagHierarchy.uniqueSourceCodeNode}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="IsUniqueSourceCodeNode" />
					</f:facet>
					<h:outputText value="#{sysMeshTagHierarchy.uniqueSourceCodeNode}" />
				</p:column>
				<p:column sortBy="#{sysMeshTagHierarchy.dependentUponItself}"
					filterBy="#{sysMeshTagHierarchy.dependentUponItself}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="IsDependentUponItself" />
					</f:facet>
					<h:outputText value="#{sysMeshTagHierarchy.dependentUponItself}" />
				</p:column>
				
				<p:column sortBy="#{sysMeshTagHierarchy.inboundSupported}"
					filterBy="#{sysMeshTagHierarchy.inboundSupported}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="IsInboundSupported" />
					</f:facet>
					<h:outputText value="#{sysMeshTagHierarchy.inboundSupported}" />
				</p:column>
				<p:column sortBy="#{sysMeshTagHierarchy.outboundSupported}"
					filterBy="#{sysMeshTagHierarchy.outboundSupported}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="IsOutboundSupported" />
					</f:facet>
					<h:outputText value="#{sysMeshTagHierarchy.outboundSupported}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();"
						update=":sysMeshTagHierarchyEditForm, :sysMeshTagHierarchyListForm"
						action="#{sysMeshTagHierarchyController.updateEditSysMeshModule(sysMeshTagHierarchy)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide(); PF('sysMeshTagHierarchyEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>

	<p:dialog header="NEW SYSMESH TAG HIERARCHY"
		widgetVar="sysMeshTagHierarchyAddModal" modal="true">
		<h:form id="addSysMeshTagHierarchyForm">
			<p:messages id="newMeshTagHierarchyMessages" showDetail="false"
				autoUpdate="true" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
			<p:outputLabel>
					<span class="redColor">*</span>SysMeshModule :</p:outputLabel>
				<p:selectOneMenu id="SysModule" label="#{sysMeshTagHierarchyBean.moduleName}"
					value="#{sysMeshTagHierarchyBean.moduleID}" required="true" filter="true"
					filterMatchMode="contains"
					requiredMessage="Please select a Sys Mesh Module">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysMeshTagHierarchyBean.sysMeshModuleList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
						<p:ajax event="change" listener="#{sysMeshTagHierarchyController.onMeshModuleChange}" update="ParentTahHierarchyPanel,ParentTahHierarchyLabel,DependentTahHierarchyPanel,DependentTahHierarchyLabel" />
				</p:selectOneMenu>
				
				<h:outputLabel value="Is Top level Tag :"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.topLevelTag}">
					<p:ajax event="change" update="ParentTahHierarchyPanel,ParentTahHierarchyLabel" />
				</p:selectBooleanCheckbox>
				
				<p:panel id="ParentTahHierarchyLabel">
				<p:outputLabel rendered="#{!sysMeshTagHierarchyBean.topLevelTag and sysMeshTagHierarchyBean.moduleID ne 0}">
					Parent Tag Hierarchy :</p:outputLabel>
					</p:panel>
					<p:panel id="ParentTahHierarchyPanel">
				<p:selectOneMenu rendered="#{!sysMeshTagHierarchyBean.topLevelTag and sysMeshTagHierarchyBean.moduleID ne 0}" id="ParentTahHierarchy" label="#{sysMeshTagHierarchyBean.tagHierarchy}"
					value="#{sysMeshTagHierarchyBean.parentID}" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysMeshTagHierarchyBean.hierarchyList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
				</p:selectOneMenu>
				</p:panel>
				<p:outputLabel>
					<span class="redColor">*</span>SystemTagName :</p:outputLabel>
				<p:inputText id="SysMeshTagHierarchy" required="true"
					maxlength="50"
					requiredMessage="Please input a SystemTagName"
					value="#{sysMeshTagHierarchyBean.tagName}" />
					
					<p:panel id="DependentTahHierarchyLabel">
					<p:outputLabel rendered="#{sysMeshTagHierarchyBean.moduleID ne 0}">
					Dependent Tag Hierarchy :</p:outputLabel>
					</p:panel>
					<p:panel id="DependentTahHierarchyPanel">
				<p:selectOneMenu id="DependentTahHierarchy" rendered="#{sysMeshTagHierarchyBean.moduleID ne 0}" label="#{sysMeshTagHierarchyBean.tagHierarchy}"
					value="#{sysMeshTagHierarchyBean.dependentTagID}" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysMeshTagHierarchyBean.hierarchyList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
				</p:selectOneMenu>
					</p:panel>
					<!-- start -->
					
					 <p:panel id="resourceRadioLable">
				        <p:outputLabel for="console" value="Resource Type:" />
				        </p:panel>
				        <p:panel id="resourceRadioText">
				        <p:selectOneRadio id="console" value="#{sysMeshTagHierarchyBean.resourceType}">
				        	<f:selectItem itemLabel="None" itemValue="None" />
				            <f:selectItem itemLabel="Table" itemValue="Table" />
				            <f:selectItem itemLabel="Column" itemValue="Column" />
				            <p:ajax event="change" listener="#{sysMeshTagHierarchyController.onResourceTypeChange}" update="EntityLabel,EntityText,EntityColumnLabel,EntityColumnText"/>
				        </p:selectOneRadio>
				    </p:panel>
				    
				   			
					
				    <p:panel id="EntityLabel">
					<p:outputLabel rendered="#{sysMeshTagHierarchyBean.resourceType == 'Table' or sysMeshTagHierarchyBean.resourceType == 'Column'}">
					Sys Entity :</p:outputLabel>
					</p:panel>
					<p:panel id="EntityText">
				<p:selectOneMenu id="entityID" rendered="#{sysMeshTagHierarchyBean.resourceType == 'Table' or sysMeshTagHierarchyBean.resourceType == 'Column'}"
					value="#{sysMeshTagHierarchyBean.entityID}" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysMeshTagHierarchyBean.sysEntityList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
						<p:ajax event="change" listener="#{sysMeshTagHierarchyController.onEntityChange}" update="EntityColumnLabel,EntityColumnText"/>
				</p:selectOneMenu>
					</p:panel>
					
					  <p:panel id="EntityColumnLabel">
					<p:outputLabel rendered="#{sysMeshTagHierarchyBean.resourceType == 'Column'}">
					Sys Entity Column:</p:outputLabel>
					</p:panel>
					<p:panel id="EntityColumnText">
				<p:selectOneMenu id="entityColumnID" rendered="#{sysMeshTagHierarchyBean.resourceType == 'Column'}"
					value="#{sysMeshTagHierarchyBean.entityColumnID}" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysMeshTagHierarchyBean.sysEntityColumnList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
				</p:selectOneMenu>
					</p:panel>
				    
					<!-- end -->
				
					<h:outputLabel value="Is Mandatory:"></h:outputLabel>
					<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.mandatory}">
				</p:selectBooleanCheckbox>
					
				
				<h:outputLabel value="Is UniqueSourceCodeNode:"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.uniqueSourceCodeNode}">
				</p:selectBooleanCheckbox>
				
				
				<h:outputLabel value="Is DependentUponItself:"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.dependentUponItself}">
				</p:selectBooleanCheckbox>
				
				
				
				<h:outputLabel value="Is InboundSupported:"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.inboundSupported}">
				</p:selectBooleanCheckbox>
				
				
				
				<h:outputLabel value="Is OutboundSupported:"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.outboundSupported}">
				</p:selectBooleanCheckbox>
				
				
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysMeshTagHierarchyController.addSysMeshTagHierarchy()}"
				process=":addSysMeshTagHierarchyForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysMeshTagHierarchyAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysMeshTagHierarchyEditModal"
		header="EDIT SYS MESH TAG HIERARCHY" modal="true">
		<h:form id="sysMeshTagHierarchyEditForm">
			<p:messages id="editSysMeshTagHierarchy" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel>
					<span class="redColor">*</span>SysMeshModule :</p:outputLabel>
				<p:selectOneMenu id="SysModule" label="#{sysMeshTagHierarchyBean.moduleName}"
					value="#{sysMeshTagHierarchyBean.moduleID}" required="true" filter="true"
					filterMatchMode="contains"
					requiredMessage="Please select a Sys Mesh Module">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysMeshTagHierarchyBean.sysMeshModuleList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
						<p:ajax event="change" listener="#{sysMeshTagHierarchyController.onMeshModuleChange}" update="ParentTahHierarchyPanel,ParentTahHierarchyLabel,DependentTahHierarchyPanel,DependentTahHierarchyLabel" />
				</p:selectOneMenu>
				
				<h:outputLabel value="Is Top level Tag :"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.topLevelTag}">
					<p:ajax event="change" update="ParentTahHierarchyPanel,ParentTahHierarchyLabel" />
				</p:selectBooleanCheckbox>
				<p:panel id="ParentTahHierarchyLabel">
				<p:outputLabel rendered="#{!sysMeshTagHierarchyBean.topLevelTag and sysMeshTagHierarchyBean.moduleID ne 0}">
					Parent Tag Hierarchy :</p:outputLabel>
					</p:panel>
					<p:panel id="ParentTahHierarchyPanel">
				<p:selectOneMenu rendered="#{!sysMeshTagHierarchyBean.topLevelTag and sysMeshTagHierarchyBean.moduleID ne 0}" id="ParentTahHierarchy" label="#{sysMeshTagHierarchyBean.tagHierarchy}"
					value="#{sysMeshTagHierarchyBean.parentID}" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysMeshTagHierarchyBean.hierarchyList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
				</p:selectOneMenu>
				</p:panel>
				<p:outputLabel>
					<span class="redColor">*</span>SystemTagName :</p:outputLabel>
				<p:inputText id="SysMeshTagHierarchy" required="true"
					maxlength="50"
					requiredMessage="Please input a SystemTagName"
					value="#{sysMeshTagHierarchyBean.tagName}" />
					<p:panel id="DependentTahHierarchyLabel">
					<p:outputLabel rendered="#{sysMeshTagHierarchyBean.moduleID ne 0}">
					Dependent Tag Hierarchy :</p:outputLabel>
					</p:panel>
					<p:panel id="DependentTahHierarchyPanel">
				<p:selectOneMenu id="DependentTahHierarchy" rendered="#{sysMeshTagHierarchyBean.moduleID ne 0}" label="#{sysMeshTagHierarchyBean.tagHierarchy}"
					value="#{sysMeshTagHierarchyBean.dependentTagID}" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysMeshTagHierarchyBean.hierarchyList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
				</p:selectOneMenu>
					</p:panel>
				
					<h:outputLabel value="Is Mandatory:"></h:outputLabel>
					<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.mandatory}">
				</p:selectBooleanCheckbox>
					
				
				<h:outputLabel value="Is UniqueSourceCodeNode:"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.uniqueSourceCodeNode}">
				</p:selectBooleanCheckbox>
				
				
				<h:outputLabel value="Is DependentUponItself:"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.dependentUponItself}">
				</p:selectBooleanCheckbox>
				
				
				
				<h:outputLabel value="Is InboundSupported:"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.inboundSupported}">
				</p:selectBooleanCheckbox>
				
				
				
				<h:outputLabel value="Is OutboundSupported:"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sysMeshTagHierarchyBean.outboundSupported}">
				</p:selectBooleanCheckbox>
				
				
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();"
				action="#{sysMeshTagHierarchyController.updateSysMeshTagHierarchy}"
				update=":sysMeshTagHierarchyListForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('sysMeshTagHierarchyEditModal').hide();"
				style="float:bottom" immediate="true" />


		</h:form>
	</p:dialog>

</ui:composition>