<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<style>
#sortable li {
	padding: 2px !important;
}

.form_content_inner {
	margin-left: 16px !important;
	width: 97% !important;
}

li {
	list-style-type: none !important;
}
</style>

	<h:form id="addHrVendorOffering">

		<c:set var="offeringSequence" value="1" />
		<p:messages closable="true" autoUpdate="true" />
		<div class="btn_left">
			<p:commandButton value="Back" styleClass="cancel_button"
			action="#{hrOfferingController.redirectToHome}" update=":centerForm"
			immediate="true" />
		</div>
		
		<div class="form_content formPadding">
			<h3>
				<h:outputText value="Sector/Organization" />
			</h3>
			<div class="form_content_inner role_add">
				<h:panelGrid columns="6" cellpadding="5">
					<p:outputLabel><span class="redColor">*</span> Sector:</p:outputLabel>
					<p:selectOneMenu value="#{hrVendorOfferingBean.sectorID}" filter="true" filterMatchMode="contains" required="true" requiredMessage="please select sector">
						<f:selectItem itemLabel="--Please Select--" itemValue=""
						noSelectionOption="true" />
						<f:selectItems value="#{hrVendorOfferingBean.sectorTOList}"
							var="sector" itemLabel="#{sector.sectorLabel}"
							itemValue="#{sector.sectorID}" />
						<p:ajax event="change" update=":addHrVendorOffering"
							listener="#{hrOfferingController.fetchOrgList}">
						</p:ajax>
					</p:selectOneMenu>
			
				<p:outputLabel><span class="redColor">*</span> Organization:</p:outputLabel>

					<p:selectOneMenu
						value="#{hrVendorOfferingBean.selectedOrganization}" required="true" requiredMessage="Please select organization."
						filter="true" filterMatchMode="contains"> 
								<f:selectItem itemLabel="--Please Select--" noSelectionOption="true" />
						<f:selectItems value="#{hrVendorOfferingBean.orgTOList}" var="org"
							itemLabel="#{org.orgName}" itemValue="#{org.orgID}" />
						<p:ajax event="change" update=":addHrVendorOffering"
							listener="#{hrOfferingController.renderVendorOfferingPanel}">
						</p:ajax>
					</p:selectOneMenu>
			
				</h:panelGrid>

			</div>
		</div>


		<p:panel id="vendorOffering"
			rendered="#{hrVendorOfferingBean.renderVendorOffering}">
			<div class="form_content formPadding">
				<h3><h:outputText value="Vendor Offering Template" /></h3>
				<div class="form_content_inner role_add" style="padding-top: 10px;">
					<div style="width: 100%">
						<ul id="sortable2" class="sortableItems">
							<c:forEach
								items="#{hrVendorOfferingBean.vendorOfferingTemplateTOList}" var="template" begin="0" end="#{hrVendorOfferingBean.vendorOfferingTemplateTOList.size()}" step="1">
								<li class="ui-state-default"
									id="#{offeringSequence}_#{template.hrVendorOfferingID}"><a
									href="#" class="drglist"> 
									<h:panelGrid columns="3" cellpadding="5" columnClasses="a,b,c">
											<p:commandLink value="#{template.vendorName}"
												action="#{hrOfferingController.redirectToVendorMoreInfo(template.benefitVendorTO)}"
												oncomplete="PF('sysVendorModal').show();"
												update=":sysBenefitsVendorForm" />

											<p:commandLink value="#{template.offerTemplateName}"
												action="#{hrOfferingController.redirectToVendoringOfferMoreInfo(template)}"
												oncomplete="PF('OfferTemplateInfoModal').show();"
												update=":offerTemplateMoreInfoForm" />
											<img src="#{template.banner}" width="300" height="100" />
										</h:panelGrid>
								</a></li>
								<c:set var="offeringSequence" value="#{offeringSequence + 1}" />

							</c:forEach>
						</ul>
						<div class="clear"></div>
					</div>
					<h:inputText value="#{hrVendorOfferingBean.sequenceValue}"
						id="inputhid" class="inputhid" style="display:none;" />
					<script type="text/javascript">
						function diskbok() {
							var column1RelArray = [];
							$('ul#sortable2 li').each(function(i) {

								column1RelArray[i] = $(this).attr('id');
							});

							$('.inputhid').val(column1RelArray);
							onHideDialog();
						}
						$(function() {
							$("#sortable2").sortable();
							$("#sortable2").disableSelection();
							$("#sortable2 li").disableSelection();

						});
					</script>

				</div>
			</div>
			<p:commandButton value="Save" styleClass="Submit_button"
				action="#{hrOfferingController.saveHrVendorOfferSequence(false)}"
				update=":centerForm" onclick="diskbok();" />

			<p:commandButton value="Cancel" styleClass="cancel_button"
				action="#{hrOfferingController.redirectToHome}" update=":centerForm"
				immediate="true" />

		</p:panel>
	</h:form>


	<p:dialog header="endoring Offer Template Info"
		widgetVar="OfferTemplateInfoModal" resizable="false"
		closeOnEscape="true" modal="true">
		<h:form id="offerTemplateMoreInfoForm">
			<h:panelGrid columns="4" cellpadding="5">
				<p:outputLabel value="Offer Template Name:" />
				<h:outputLabel value="#{hrVendorOfferingBean.vendorOfferingTemplateTO.offerTemplateName}" />
				<p:outputLabel value="Text:" />
				<h:outputLabel
					value="#{hrVendorOfferingBean.vendorOfferingTemplateTO.text}" />

				<p:outputLabel value="Offering Type:" />
				<h:outputLabel
					value="#{hrVendorOfferingBean.vendorOfferingTemplateTO.offeringType}" />

				<p:outputLabel value="Banner:" />
				<img src="#{hrVendorOfferingBean.vendorOfferingTemplateTO.banner}"
					width="80" height="40" />
				<p:outputLabel value="Offering Link:" />
				<h:outputLabel
					value="#{hrVendorOfferingBean.vendorOfferingTemplateTO.offeringLink}" />

				<p:outputLabel value="Contract Signed Date:" />
				<h:outputLabel
					value="#{hrVendorOfferingBean.vendorOfferingTemplateTO.contractSignedDateString}" />

				<p:outputLabel value="Contract Start Date:" />
				<h:outputLabel
					value="#{hrVendorOfferingBean.vendorOfferingTemplateTO.contractStartDateString}" />

				<p:outputLabel value="Contract End Date:" />
				<h:outputLabel
					value="#{hrVendorOfferingBean.vendorOfferingTemplateTO.contractEndDateString}" />

				<p:outputLabel value="Effective Start Date:" />
				<h:outputLabel
					value="#{hrVendorOfferingBean.vendorOfferingTemplateTO.effectiveStartDateString}" />

				<p:outputLabel value="Effective End Date:" />
				<h:outputLabel
					value="#{hrVendorOfferingBean.vendorOfferingTemplateTO.effectiveEndDateString}" />

				<p:outputLabel value="I Active:" />
				<p:selectBooleanCheckbox
					value="#{hrVendorOfferingBean.vendorOfferingTemplateTO.active}">
				</p:selectBooleanCheckbox>

				<p:outputLabel value="OfferingPeakDetail:" />
				<p:selectBooleanCheckbox
					value="#{hrVendorOfferingBean.renderVendorOffering}">
				</p:selectBooleanCheckbox>
			</h:panelGrid>
			<p:panel id="offeringPeakDetail">
				<p:fieldset legend="Peak Time Details"
					rendered="#{hrVendorOfferingBean.renderVendorOffering}">
					<h:panelGrid columns="4">
						<p:outputLabel value="Peak Recurring Type:" />
						<h:outputLabel
							value="#{hrVendorOfferingBean.peakRecurringDetailTO.peakTimeRecurringTypeLabel}" />

						<p:outputLabel value="Start Date:" />
						<h:outputLabel
							value="#{hrVendorOfferingBean.peakRecurringDetailTO.peakStartDateTimeString}" />
						<p:outputLabel value="End Date:" />
						<h:outputLabel
							value="#{hrVendorOfferingBean.peakRecurringDetailTO.peakEndDateTimeString}" />

						<p:outputLabel value="Start Hour:" />
						<h:outputLabel
							value="#{hrVendorOfferingBean.peakRecurringDetailTO.peakTimeStartHour}" />
						<p:outputLabel value="End Hour:" />
						<h:outputLabel
							value="#{hrVendorOfferingBean.peakRecurringDetailTO.peakTimeEndHour}" />
						<p:outputLabel value="Start Minute:" />

						<h:outputLabel
							value="#{hrVendorOfferingBean.peakRecurringDetailTO.peakTimeStartMin}" />
						<p:outputLabel value="End Minute:" />
						<h:outputLabel
							value="#{hrVendorOfferingBean.peakRecurringDetailTO.peakTimeEndMin}" />
					</h:panelGrid>
				</p:fieldset>
			</p:panel>
					
			<p:panel>
				<p:fieldset legend="Offer Codes Details">

					<div class="listing_Table">
						<p:dataTable id="vendorOfferingCodeList" var="code"
							widgetVar="offerCodeDataTable"
							value="#{hrVendorOfferingBean.vendorOfferingTemplateTO.offeringCodeTOList}"
							emptyMessage="No Offering code exist for this vendor offering"
							rowsPerPageTemplate="10,20,30" paginator="true"
							paginatorAlwaysVisible="true" rows="5"
							paginatorPosition="bottom">
							<p:column headerText="Offer Code" filterBy="#{code.offeringCode}"
								filterMatchMode="contains">
								<h:outputText value="#{code.offeringCode}" />
							</p:column>
							<p:column headerText="Access Type" filterBy="#{code.accessType}"
								filterMatchMode="contains">
								<h:outputText value="#{code.accessType}" />
							</p:column>
							<p:column headerText="Action">
								<p:commandButton icon="ui-icon-info" title="More Info"
									styleClass="cancel_button"
									action="#{hrOfferingController.redirectToOfferCodeMoreInfo(code)}"
									oncomplete="PF('offerCodeMoreIfoModal').show();"
									update=":offerCodeMoreInfoForm" />

							</p:column>
						</p:dataTable>
					</div>
				</p:fieldset>
			</p:panel>
			<p:commandButton styleClass="cancel_button" value="Close"
				style="float:bottom" onclick="PF('OfferTemplateInfoModal').hide();"
				immediate="true" />

		</h:form>
	</p:dialog>
	
	<p:dialog header="Offer Code Info" widgetVar="offerCodeMoreIfoModal"
		resizable="false" closeOnEscape="true" modal="true">
		<h:form id="offerCodeMoreInfoForm">
			<h:panelGrid columns="4" cellpadding="2">
				<h:outputLabel value="Offer Code:" />
				<p:outputLabel
					value="#{hrVendorOfferingBean.offeringCodeTO.offeringCode}" />
				<h:outputLabel value="Access Type:" />
				<p:outputLabel
					value="#{hrVendorOfferingBean.offeringCodeTO.accessType}" />

				<h:outputLabel value="Offer Code Start Date:" />
				<p:outputLabel
					value="#{hrVendorOfferingBean.offeringCodeTO.offeringCodeStartDateString}" />
				<h:outputLabel value="Offer Code End Date:" />
				<p:outputLabel
					value="#{hrVendorOfferingBean.offeringCodeTO.offeringCodeEndDateString}" />

				<h:outputLabel value="Is Active:"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{hrVendorOfferingBean.offeringCodeTO.active}">
				</p:selectBooleanCheckbox>

				<h:outputLabel value="Is LogicBased:"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{hrVendorOfferingBean.offeringCodeTO.logicBased}">
				</p:selectBooleanCheckbox>
				<h:outputLabel value="Is MaximumLimit Applicable:"></h:outputLabel>
				<p:selectBooleanCheckbox
					value="#{hrVendorOfferingBean.offeringCodeTO.maximumLimitApplicable}">
				</p:selectBooleanCheckbox>
			</h:panelGrid>

			<p:panel id="codeMaxLimitDetail">
				<p:fieldset legend="Maximum Limit Applicable Details"
					rendered="#{hrVendorOfferingBean.renderMaximumLimitApplicableDetail}">
					<h:panelGrid columns="2">
						<h:outputLabel value="Maximum Usage Type:" />
						<p:outputLabel
							value="#{hrVendorOfferingBean.offeringCodeTO.codeMaximumLimitTO.maximumUsageType}" />
						<h:outputLabel value="Maximum Usage Duration:" />
						<p:outputLabel
							value="#{hrVendorOfferingBean.offeringCodeTO.codeMaximumLimitTO.maximumUsageDuration}" />

						<h:outputLabel value="Maximum Limit Count:"></h:outputLabel>
						<p:outputLabel
							value="#{hrVendorOfferingBean.offeringCodeTO.codeMaximumLimitTO.maximumUsageCount}" />
					</h:panelGrid>
				</p:fieldset>
			</p:panel>

			<p:commandButton styleClass="cancel_button" value="Close"
				style="float:bottom" onclick="PF('offerCodeMoreIfoModal').hide();"
				immediate="true" />

		</h:form>
	</p:dialog>


	<p:dialog header="Vendor Info" widgetVar="sysVendorModal"
		resizable="false" closeOnEscape="true" modal="true">
		<h:form id="sysBenefitsVendorForm">
			<h:panelGrid columns="4" cellpadding="5">
				<p:outputLabel value="Vendor Name:"></p:outputLabel>
				<h:outputLabel
					value="#{hrVendorOfferingBean.sysBenefitVendorTO.vendorName}" />

				<p:outputLabel value="Vendor Code:"></p:outputLabel>
				<h:outputLabel
					value="#{hrVendorOfferingBean.sysBenefitVendorTO.vendorCode}" />

				<p:outputLabel value="Contract Signed Date:"></p:outputLabel>
				<h:outputLabel
					value="#{hrVendorOfferingBean.sysBenefitVendorTO.contractSignedDateString}" />
				<p:outputLabel value="Contract End Date:"></p:outputLabel>
				<h:outputLabel
					value="#{hrVendorOfferingBean.sysBenefitVendorTO.contractEndDateString}" />
				<p:outputLabel value="Effective Start Date:"></p:outputLabel>
				<h:outputLabel
					value="#{hrVendorOfferingBean.sysBenefitVendorTO.effectiveStartDateString}" />
				<p:outputLabel value="Effective End Date:"></p:outputLabel>
				<h:outputLabel
					value="#{hrVendorOfferingBean.sysBenefitVendorTO.effectiveEndDateString}" />

				<p:outputLabel value="Is Active:"></p:outputLabel>
				<p:selectBooleanCheckbox
					value="#{hrVendorOfferingBean.sysBenefitVendorTO.active}">
				</p:selectBooleanCheckbox>
			</h:panelGrid>
			<p:commandButton styleClass="cancel_button" value="Close"
				style="float:bottom" onclick="PF('sysVendorModal').hide();"
				immediate="true" />

		</h:form>
	</p:dialog>
</ui:composition>