<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	<h:form id="sectorVendorOfferingSequenceForm">
		<p:messages  closable="true" />
		<div class="btn_left">
			<label class="Page_Tittle">Sector Vendor Offering Sequence List</label>
		</div>
		<div class="btn_right">

			<p:commandButton styleClass="btn_right cancel_button"
				icon="ui-icon-plus" title="Add Offering Sequence"
				action="#{sectorWiseOfferingController.redirectToAddOfferingSeqencePage}"
				update=":centerForm">
			</p:commandButton>
		</div>
		<div class="listing_Table">
			<p:dataTable widgetVar="sectorOfferSequenceDataTable" var="offer"
				value="#{sectorVendorOfferingBean.sectorVendorOfferingTOList}"
				rows="10" paginator="true" paginatorAlwaysVisible="true"
				styleClass="table-header" rowIndexVar="index"
				paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">

				<p:column headerText="Sector Name" sortBy="#{offer.sectorLabel}"
					filterBy="#{offer.sectorLabel}">
					<h:outputText value="#{offer.sectorLabel}" />
				</p:column>
			
				<p:column headerText="Vendor" sortBy="#{offer.vendorCompositeName}"
					filterBy="#{offer.vendorCompositeName}">
					<h:outputText value="#{offer.vendorCompositeName}" />
				</p:column>

      				<p:column headerText="Vendor Offering Template" sortBy="#{offer.vendorOfferingCompositeName}"
					filterBy="#{offer.vendorOfferingCompositeName}">
					<h:outputText value="#{offer.vendorOfferingCompositeName}" />
				</p:column>
					<p:column headerText="Operation">
					<p:commandButton styleClass="cancel_button" icon="ui-icon-pencil"
						title="Edit GroupVendoring Sequence"
						action="#{sectorWiseOfferingController.editSectorVendoringSequence(offer)}"
						update=":centerForm" />
					<p:spacer height="10" />
						<p:commandButton icon="ui-icon-info" title="More Info" styleClass="cancel_button"
						action="#{sectorWiseOfferingController.redirectToSectorVendoringSequenceMoreInfo(offer)}"
						update=":centerForm" oncomplete="scrollUp();" />
			</p:column>
			</p:dataTable>
			</div>
			</h:form>
</ui:composition>