<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<style>
.form_content_inner {
	margin-left: 16px !important;
	width: 97% !important;
}
li{
list-style-type:none !important;
}
</style>
	<h:form id="sectorBasedOffering">
		<div class="btn_left">
			<p:commandButton value="Back" styleClass="cancel_button"
			action="#{sectorWiseOfferingController.redirectToHome}"
			update=":centerForm" immediate="true" />
		</div>
		
		<div class="form_content formPadding">
			<h3>
				<h:outputText value="Sector" />
			</h3>
			<div class="form_content_inner role_add" style="padding-bottom: 10px;
    padding-top: 10px;">
					<p:outputLabel
						value="#{sectorVendorOfferingBean.selectedSectorName}" />
			</div>
		</div>

		<div class="form_content formPadding">
			<h3>
				<h:outputText value="Vendor Offering Template" />
			</h3>
			<div class="form_content_inner role_add" style="padding-top: 10px;">
				<div class="listing_Table">
					<p:dataTable widgetVar="vendorOfferingTemplatedatatable"
						var="template"
						value="#{sectorVendorOfferingBean.selectedVendorOfferingTemplateTOList}"
						emptyMessage="No Offering template exist for this group"
						rowsPerPageTemplate="10,20,30" paginator="true"
						paginatorAlwaysVisible="true" rows="10" paginatorPosition="bottom">
						<p:column headerText="Template Name">
							<h:outputText value="#{template.offerTemplateName}" />
						</p:column>
						<p:column headerText="Banner">
							<img src="#{template.banner}" width="200" height="100" />
						</p:column>
						<p:column headerText="Vendor" >
							<p:commandLink value="#{template.vendorName}"
								action="#{sectorWiseOfferingController.redirectToVendorMoreInfo(template.benefitVendorTO)}"
								oncomplete="PF('sysVendorModal').show();"
								update=":sysBenefitsVendorForm">
							</p:commandLink>
						</p:column>


						<p:column headerText="Contract Signed Date">
							<h:outputText value="#{template.contractSignedDateString}" />
						</p:column>
						<p:column headerText="Contract Start Date">
							<h:outputText value="#{template.contractStartDateString}" />
						</p:column>
						<p:column headerText="Contract End Date">
							<h:outputText value="#{template.contractEndDateString}" />
						</p:column>
						<p:column headerText="Action">

				<p:commandButton icon="ui-icon-info" title="More Info" styleClass="cancel_button"
								action="#{sectorWiseOfferingController.redirectToVendoringOfferMoreInfo(template)}"
								oncomplete="PF('OfferTemplateInfoModal').show();"
								update=":offerTemplateMoreInfoForm" />
						</p:column>
					</p:dataTable>
				</div>
			</div>
		</div>
		<p:commandButton value="Cancel" styleClass="cancel_button"
			action="#{sectorWiseOfferingController.redirectToHome}"
			update=":centerForm" immediate="true" />
	</h:form>

	<p:dialog header="Vendoring Offer Template Info"
		widgetVar="OfferTemplateInfoModal" resizable="false"
		closeOnEscape="true" modal="true">
		<h:form id="offerTemplateMoreInfoForm">
			<h:panelGrid columns="4" cellpadding="5">
				<p:outputLabel value="Offer Template Name:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.offerTemplateName}" />
				<p:outputLabel value="Text:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.text}" />

				<p:outputLabel value="Offering Type:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.offeringType}" />

				<p:outputLabel value="Banner:" />
				<img
					src="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.banner}"
					width="80" height="40" />
				<p:outputLabel value="Offering Link:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.offeringLink}" />

				<p:outputLabel value="Contract Signed Date:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.contractSignedDateString}" />

				<p:outputLabel value="Contract Start Date:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.contractStartDateString}" />

				<p:outputLabel value="Contract End Date:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.contractEndDateString}" />

				<p:outputLabel value="Effective Start Date:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.effectiveStartDateString}" />

				<p:outputLabel value="Effective End Date:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.effectiveEndDateString}" />

				<p:outputLabel value="Is Active:" />
				<p:selectBooleanCheckbox
					value="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.active}">
				</p:selectBooleanCheckbox>

				<p:outputLabel value="OfferingPeakDetail:" />
				<p:selectBooleanCheckbox
					value="#{sectorVendorOfferingBean.renderVendorOffering}">
				</p:selectBooleanCheckbox>
			</h:panelGrid>
			<p:panel id="offeringPeakDetail">
				<p:fieldset legend="Peak Time Details"
					rendered="#{sectorVendorOfferingBean.renderVendorOffering}">
					<h:panelGrid columns="4" cellpadding="5">
						<p:outputLabel value="Peak Recurring Type:" />
						<h:outputLabel value="#{sectorVendorOfferingBean.peakRecurringDetailTO.peakTimeRecurringTypeLabel}" />

						<p:outputLabel value="Start Date:" />
						<h:outputLabel value="#{sectorVendorOfferingBean.peakRecurringDetailTO.peakStartDateTimeString}" />
						
						<p:outputLabel value="End Date:" />
						<h:outputLabel value="#{sectorVendorOfferingBean.peakRecurringDetailTO.peakEndDateTimeString}" />

						<p:outputLabel value="Start Hour:" />
						<h:outputLabel value="#{sectorVendorOfferingBean.peakRecurringDetailTO.peakTimeStartHour}" />
						
						<p:outputLabel value="End Hour:" />
						<h:outputLabel value="#{sectorVendorOfferingBean.peakRecurringDetailTO.peakTimeEndHour}" />
						
						<p:outputLabel value="Start Minute:" />
						<h:outputLabel value="#{sectorVendorOfferingBean.peakRecurringDetailTO.peakTimeStartMin}" />
						
						<p:outputLabel value="End Minute:" />
						<h:outputLabel value="#{sectorVendorOfferingBean.peakRecurringDetailTO.peakTimeEndMin}" />
					</h:panelGrid>
				</p:fieldset>
			</p:panel>
			
			<p:panel>
				<p:fieldset legend="Offer Codes Details">
					<div class="listing_Table">
						<p:dataTable id="vendorOfferingCodeList" var="code"
							widgetVar="offerCodeDataTable"
							value="#{sectorVendorOfferingBean.vendorOfferingTemplateTO.offeringCodeTOList}"
							emptyMessage="No Offering code exist for this vendor offering"
							rowsPerPageTemplate="10,20,30" paginator="true"
							paginatorAlwaysVisible="true" rows="5"
							paginatorPosition="bottom">
							<p:column headerText="Offer Code" filterBy="#{code.offeringCode}"
								filterMatchMode="contains">
								<h:outputText value="#{code.offeringCode}" />
							</p:column>
							<p:column headerText="Access Type" filterBy="#{code.accessType}"
								filterMatchMode="contains">
								<h:outputText value="#{code.accessType}" />
							</p:column>
							<p:column headerText="Action">
								<p:commandButton icon="ui-icon-info" title="More Info"
									styleClass="cancel_button"
									action="#{sectorWiseOfferingController.redirectToOfferCodeMoreInfo(code)}"
									oncomplete="PF('offerCodeMoreIfoModal').show();"
									update=":offerCodeMoreInfoForm" />

							</p:column>
						</p:dataTable>
					</div>
				</p:fieldset>
			</p:panel>
			<p:commandButton styleClass="cancel_button" value="Close"
				style="float:bottom" onclick="PF('OfferTemplateInfoModal').hide();"
				immediate="true" />

		</h:form>
	</p:dialog>
	
	<p:dialog header="Offer Code Info" widgetVar="offerCodeMoreIfoModal"
		resizable="false" closeOnEscape="true" modal="true">
		<h:form id="offerCodeMoreInfoForm">
			<h:panelGrid columns="4" cellpadding="2">
				<p:outputLabel value="Offer Code:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.offeringCodeTO.offeringCode}" />
				<p:outputLabel value="Access Type:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.offeringCodeTO.accessType}" />

				<p:outputLabel value="Offer Code Start Date:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.offeringCodeTO.offeringCodeStartDateString}" />
				<p:outputLabel value="Offer Code End Date:" />
				<h:outputLabel
					value="#{sectorVendorOfferingBean.offeringCodeTO.offeringCodeEndDateString}" />

				<p:outputLabel value="Is Active:"/>
				<p:selectBooleanCheckbox
					value="#{sectorVendorOfferingBean.offeringCodeTO.active}">
				</p:selectBooleanCheckbox>

				<p:outputLabel value="Is LogicBased:"/>
				<p:selectBooleanCheckbox
					value="#{sectorVendorOfferingBean.offeringCodeTO.logicBased}">
				</p:selectBooleanCheckbox>
				<p:outputLabel value="Is MaximumLimit Applicable:"/>
				<p:selectBooleanCheckbox
					value="#{sectorVendorOfferingBean.offeringCodeTO.maximumLimitApplicable}">
				</p:selectBooleanCheckbox>
			</h:panelGrid>

			<p:panel id="codeMaxLimitDetail">
				<p:fieldset legend="Maximum Limit Applicable Details"
					rendered="#{sectorVendorOfferingBean.renderMaximumLimitApplicableDetail}">
					<h:panelGrid columns="2">
						<p:outputLabel value="Maximum Usage Type:" />
						<h:outputLabel
							value="#{sectorVendorOfferingBean.offeringCodeTO.codeMaximumLimitTO.maximumUsageType}" />
						<p:outputLabel value="Maximum Usage Duration:" />
						<h:outputLabel
							value="#{sectorVendorOfferingBean.offeringCodeTO.codeMaximumLimitTO.maximumUsageDuration}" />

						<p:outputLabel value="Maximum Limit Count:"/>
						<h:outputLabel
							value="#{sectorVendorOfferingBean.offeringCodeTO.codeMaximumLimitTO.maximumUsageCount}" />
					</h:panelGrid>
				</p:fieldset>
			</p:panel>

			<p:commandButton styleClass="cancel_button" value="Close"
				style="float:bottom" onclick="PF('offerCodeMoreIfoModal').hide();"
				immediate="true" />

		</h:form>
	</p:dialog>
			
	<p:dialog header="Vendor Info" widgetVar="sysVendorModal"
		resizable="false" closeOnEscape="true" modal="true">
		<h:form id="sysBenefitsVendorForm">
			<h:panelGrid columns="4" cellpadding="5">
				<p:outputLabel value="Vendor Name:"></p:outputLabel>
				<h:outputLabel
					value="#{sectorVendorOfferingBean.sysBenefitVendorTO.vendorName}" />

				<p:outputLabel value="Vendor Code:"></p:outputLabel>
				<h:outputLabel
					value="#{sectorVendorOfferingBean.sysBenefitVendorTO.vendorCode}" />

				<p:outputLabel value="Contract Signed Date:"></p:outputLabel>
				<h:outputLabel
					value="#{sectorVendorOfferingBean.sysBenefitVendorTO.contractSignedDateString}" />
				<p:outputLabel value="Contract End Date:"></p:outputLabel>
				<h:outputLabel
					value="#{sectorVendorOfferingBean.sysBenefitVendorTO.contractEndDateString}" />
				<p:outputLabel value="Effective Start Date:"></p:outputLabel>
				<h:outputLabel
					value="#{sectorVendorOfferingBean.sysBenefitVendorTO.effectiveStartDateString}" />
				<p:outputLabel value="Effective End Date:"></p:outputLabel>
				<h:outputLabel
					value="#{sectorVendorOfferingBean.sysBenefitVendorTO.effectiveEndDateString}" />

				<p:outputLabel value="Is Active:"></p:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sectorVendorOfferingBean.sysBenefitVendorTO.active}">
				</p:selectBooleanCheckbox>
			</h:panelGrid>
			<p:commandButton styleClass="cancel_button" value="Close"
				style="float:bottom" onclick="PF('sysVendorModal').hide();"
				immediate="true" />

		</h:form>
	</p:dialog>

</ui:composition>