<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<style>
.ui-selectcheckboxmenu-header .ui-chkbox {
	cursor: pointer;
	display: none !important;
	float: left;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container {
	float: left;
	margin-left: 0px !important;
	position: relative;
	width: 165px;
}
</style>
	<h:form id="offerCodeForm">
		<p:messages closable="true" rendered="#{!sysBenefitsVendorBean.renderFormMessage}" />
		<div class="btn_left"><label class="Page_Tittle">Offering Code List</label></div>
		<div class="btn_right">
			<h:panelGrid columns="2" cellpadding="5">
				<p:commandButton icon="ui-icon-plus" update=":offerCodeAddForm" styleClass="cancel_button" title="Add Offer Code" action="#{sysBenefitsVendorController.addOfferringCode}" oncomplete="PF('offerCodeModal').show()" />
				
				<p:commandButton styleClass="cancel_button" value="Master Data Upload"
					update=":centerForm" action="#{sysBenefitsVendorController.offerCodeMasterDataUpload}" />
			</h:panelGrid>
		</div>
		<div class="listing_Table">
			<p:dataTable id="vendorOfferingCodeList" var="code"
				widgetVar="offerCodeDataTable"
				value="#{sysBenefitsVendorBean.offeringCodeTOList}"
				emptyMessage="No Offering code exist for this vendor offering"
				filteredValue="#{sysBenefitsVendorBean.filtedredOfferingCodeTOlist}"
				rowsPerPageTemplate="10,20,30" paginator="true"
				paginatorAlwaysVisible="true" rows="10" paginatorPosition="bottom">
				<p:column headerText="Offer Code" filterBy="#{code.offeringCode}"
					filterMatchMode="contains">
					<h:outputText value="#{code.offeringCode}" />
				</p:column>
				<p:column headerText="Access Type" filterBy="#{code.accessType}"
					filterMatchMode="in">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="Type"
							onchange="PF('offerCodeDataTable').filter()"
							filterMatchMode="contains" filter="true">
							<f:selectItems
								value="#{sysBenefitsVendorBean.accessTypeNameList}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{code.accessType}" />
				</p:column>
				<p:column headerText="Offer Code Start Date"
					filterBy="#{code.offeringCodeStartDateString}"
					filterMatchMode="contains">
					<h:outputText value="#{code.offeringCodeStartDateString}" />
				</p:column>
				<p:column headerText="Offer Code End Date"
					filterBy="#{code.offeringCodeEndDateString}"
					filterMatchMode="contains">
					<h:outputText value="#{code.offeringCodeEndDateString}" />
				</p:column>
				<p:column headerText="Action">
					<p:commandButton styleClass="cancel_button" icon="ui-icon-pencil"
						title="Edit Offer Code"
						action="#{sysBenefitsVendorController.updateOfferCode(code)}"
						oncomplete="PF('offerCodeModal').show();"
						update=":offerCodeAddForm,:offerCodeForm">
					</p:commandButton>
					<p:spacer height="10" />
					<p:commandButton icon="ui-icon-info" title="More Info"
						styleClass="cancel_button"
						action="#{sysBenefitsVendorController.redirectToOfferCodeMoreInfo(code)}"
						oncomplete="PF('offerCodeMoreIfoModal').show();"
						update=":offerCodeMoreInfoForm" />

				</p:column>
			</p:dataTable>
		</div>
		<br/>
		<p:commandButton value="Back" styleClass="cancel_button"
			action="#{sysBenefitsVendorController.offeringTemplateInitilize(sysBenefitsVendorBean.selectedVendorTO)}"
			update=":centerForm" immediate="true" />
		
	</h:form>
	<p:dialog header="Offer Code addition and modification"
		widgetVar="offerCodeModal" resizable="false" closeOnEscape="true"
		modal="true">
		<h:form id="offerCodeAddForm">
			<p:messages closable="true" autoUpdate="true" />
			<h:panelGrid columns="4" cellpadding="5">
				<p:outputLabel><span class="redColor">*</span>Offer Code:</p:outputLabel>
				<p:inputText required="true"
					requiredMessage="Offer code is required"
					value="#{sysBenefitsVendorBean.offeringCodeTO.offeringCode}" />
				<p:outputLabel>
					<span class="redColor">*</span>Access Type:</p:outputLabel>
				<p:selectOneMenu
					value="#{sysBenefitsVendorBean.offeringCodeTO.accessTypeID}"
					required="true" requiredMessage="Access Type required."
					filter="true" filterMatchMode="contains">
	<f:selectItem itemLabel="--Select--" itemValue="-1" />
					<f:selectItems
						value="#{sysBenefitsVendorBean.offeringAccessTypeTOList}"
						var="accessType" itemValue="#{accessType.sysTypeID}"
						itemLabel="#{accessType.sysType}" />
				</p:selectOneMenu>

				<p:outputLabel><span class="redColor">*</span>Offer Code Start Date:</p:outputLabel>
				<p:calendar required="true"
					requiredMessage="Offer Code Start Date is required"
					value="#{sysBenefitsVendorBean.offeringCodeTO.offeringCodeStartDate}"
					navigator="true" showOn="button" pattern="MMM dd, yyyy"
					mindate="#{sysBenefitsVendorBean.selectedVendorOfferingTemplateTO.contractStartDate}"
					maxdate="#{sysBenefitsVendorBean.selectedVendorOfferingTemplateTO.contractEndDate}"
					>
					<p:ajax event="dateSelect" update="offerCodeEndDateID"></p:ajax>
				</p:calendar>

				<p:outputLabel><span class="redColor">*</span>Offer Code End Date:</p:outputLabel>
				<p:calendar required="true" id="offerCodeEndDateID"
					requiredMessage="Offer Code End Date is required"
					value="#{sysBenefitsVendorBean.offeringCodeTO.offeringCodeEndDate}"
					navigator="true" showOn="button" 
					pattern="MMM dd, yyyy"
					mindate="#{sysBenefitsVendorBean.offeringCodeTO.offeringCodeStartDate}"
					maxdate="#{sysBenefitsVendorBean.selectedVendorOfferingTemplateTO.contractEndDate}"
					
					/>

				<p:outputLabel value="Is Active:"></p:outputLabel>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.offeringCodeTO.active}">
				</p:selectBooleanCheckbox>


				<p:outputLabel value="Is LogicBased:"/>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.offeringCodeTO.logicBased}">
				</p:selectBooleanCheckbox>

				<p:outputLabel value="Is MaximumLimit Applicable:"/>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.offeringCodeTO.maximumLimitApplicable}">
					<p:ajax
						listener="#{sysBenefitsVendorController.renderMaximumLimitApplicableDetailPanel(sysBenefitsVendorBean.offeringCodeTO)}"
						update=":offerCodeAddForm:codeMaxLimitDetail" />
				</p:selectBooleanCheckbox>
			</h:panelGrid>
	
			<p:panel id="codeMaxLimitDetail">
				<p:fieldset legend="Maximum Limit Applicable Details"
					rendered="#{sysBenefitsVendorBean.renderMaximumLimitApplicableDetail}">
					<h:panelGrid columns="4" cellpadding="5">
						<p:outputLabel><span class="redColor">*</span>Maximum Usage Type:</p:outputLabel>
						<p:selectOneMenu
							value="#{sysBenefitsVendorBean.offeringCodeTO.codeMaximumLimitTO.maximumUsageTypeID}"
							required="true" requiredMessage="Maximum Usage Type is required."
							filter="true" filterMatchMode="contains">
							<f:selectItem itemLabel="--Select--" itemValue="-1" />
							<f:selectItems
								value="#{sysBenefitsVendorBean.offeringCodeTO.codeMaximumLimitTO.maximumUsageTypeTOList}"
								var="accessType" itemValue="#{accessType.sysTypeID}"
								itemLabel="#{accessType.sysType}" />
						</p:selectOneMenu>

						<p:outputLabel><span class="redColor">*</span>Maximum Usage Duration:</p:outputLabel>
						<p:selectOneMenu
							value="#{sysBenefitsVendorBean.offeringCodeTO.codeMaximumLimitTO.maximumUsageDurationID}"
							required="true"
							requiredMessage="Maximum Usage Duration is required."
							filter="true" filterMatchMode="contains">
							<f:selectItem itemLabel="--Select--" itemValue="-1" />
							<f:selectItems
								value="#{sysBenefitsVendorBean.offeringCodeTO.codeMaximumLimitTO.maximumUsageDurationTypeTOList}"
								var="maxUsage" itemValue="#{maxUsage.sysTypeID}"
								itemLabel="#{maxUsage.sysType}" />
						</p:selectOneMenu>
						<p:outputLabel><span class="redColor">*</span>Maximum Limit Count:</p:outputLabel>
						<p:inputText 
							value="#{sysBenefitsVendorBean.offeringCodeTO.codeMaximumLimitTO.maximumUsageCount}"
							required="true" maxlength="3"
							requiredMessage="MaximumLimit Count is required."/>
						
						
					</h:panelGrid>
				</p:fieldset>
			</p:panel>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysBenefitsVendorController.saveOfferCode(sysBenefitsVendorBean.offeringCodeTO,false)}"
				update=":offerCodeForm,:offerCodeAddForm" style="float:bottom"
				rendered="#{!sysBenefitsVendorBean.editOfferCodeForm}" />

			<p:commandButton styleClass="Submit_button" value="Update"
				action="#{sysBenefitsVendorController.saveOfferCode(sysBenefitsVendorBean.offeringCodeTO,true)}"
				update=":offerCodeForm,:offerCodeAddForm" style="float:bottom"
				rendered="#{sysBenefitsVendorBean.editOfferCodeForm}" />
			<p:commandButton styleClass="cancel_button" value="Cancel"
				style="float:bottom" onclick="PF('offerCodeModal').hide();"
				immediate="true" />
		</h:form>
	</p:dialog>


	<p:dialog header="Offer Code Info" widgetVar="offerCodeMoreIfoModal"
		resizable="false" closeOnEscape="true" modal="true">
		<h:form id="offerCodeMoreInfoForm">
			<h:panelGrid columns="4" cellpadding="5">
				<p:outputLabel value="Offer Code:" />
				<h:outputLabel
					value="#{sysBenefitsVendorBean.offeringCodeTO.offeringCode}" />
					
				<p:outputLabel value="Access Type:" />
				<h:outputLabel
					value="#{sysBenefitsVendorBean.offeringCodeTO.accessType}" />

				<p:outputLabel value="Offer Code Start Date:" />
				<h:outputLabel
					value="#{sysBenefitsVendorBean.offeringCodeTO.offeringCodeStartDateString}" />
				<p:outputLabel value="Offer Code End Date:" />
				<h:outputLabel
					value="#{sysBenefitsVendorBean.offeringCodeTO.offeringCodeEndDateString}" />

				<p:outputLabel value="Is Active:"/>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.offeringCodeTO.active}">
				</p:selectBooleanCheckbox>

				<p:outputLabel value="Is LogicBased:"/>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.offeringCodeTO.logicBased}">
				</p:selectBooleanCheckbox>
				
				<p:outputLabel value="Is MaximumLimit Applicable:"/>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.offeringCodeTO.maximumLimitApplicable}">
				</p:selectBooleanCheckbox>
			</h:panelGrid>

			<p:panel id="codeMaxLimitDetail">
				<p:fieldset legend="Maximum Limit Applicable Details"
					rendered="#{sysBenefitsVendorBean.renderMaximumLimitApplicableDetail}">
					<h:panelGrid columns="2" cellpadding="5">
						<p:outputLabel value="Maximum Usage Type:" />
						<h:outputLabel value="#{sysBenefitsVendorBean.offeringCodeMaximumLimitTO.maximumUsageType}" />
						<p:outputLabel value="Maximum Usage Duration:" />
						<h:outputLabel value="#{sysBenefitsVendorBean.offeringCodeMaximumLimitTO.maximumUsageDuration}" />

						<p:outputLabel value="Maximum Limit Count:"/>
						<h:outputLabel value="#{sysBenefitsVendorBean.offeringCodeMaximumLimitTO.maximumUsageCount}" />
					</h:panelGrid>
				</p:fieldset>
			</p:panel>

			<p:commandButton styleClass="cancel_button" value="Close" style="float:bottom" onclick="PF('offerCodeMoreIfoModal').hide();"
				immediate="true" />

		</h:form>
	</p:dialog>

</ui:composition>