<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="offerTemplateForm">
		<p:messages closable="true"
			rendered="#{!sysBenefitsVendorBean.renderFormMessage}" />
		<div class="btn_left"><label class="Page_Tittle">Vendor Offering Template List</label></div>
		<div class="btn_right"><h:panelGrid columns="2" styleClass="btn_right">
			<p:commandButton icon="ui-icon-plus" update=":offerTemplateEditForm"
				styleClass="btn_right cancel_button" title="Add Offer Template"
				action="#{sysBenefitsVendorController.opemEditDialogOfOfferTemplate}"
				oncomplete="PF('OfferTemplateEditModal').show()" />
		</h:panelGrid></div>
		<div class="listing_Table">
			<p:dataTable id="vendorOfferingTemplateList" var="template"
				value="#{sysBenefitsVendorBean.offeringTemlateTOlist}"
				emptyMessage="No Offering template exist for this vendor"
				filteredValue="#{sysBenefitsVendorBean.filtedredOfferingTemlateTOlist}"
				rowsPerPageTemplate="10,20,30" paginator="true"
				paginatorAlwaysVisible="true" rows="10" paginatorPosition="bottom">
				<p:column headerText="Template Name"
					filterBy="#{template.offerTemplateName}" filterMatchMode="contains">
					<p:commandLink styleClass="cancel_button"
						value="#{template.offerTemplateName}" title="View offering Code"
						update=":centerForm"
						action="#{sysBenefitsVendorController.offeringCodeInitilize(template)}">
					</p:commandLink>
				</p:column>
				<p:column headerText="Banner" filterMatchMode="contains">
					<img src="#{template.banner}" width="200" height="100" />
				</p:column>
				<p:column headerText="Contract Signed Date"
					filterBy="#{template.contractSignedDateString}"
					filterMatchMode="contains">
					<h:outputText value="#{template.contractSignedDateString}" />
				</p:column>
				<p:column headerText="Contract Start Date"
					filterBy="#{template.contractStartDateString}"
					filterMatchMode="contains">
					<h:outputText value="#{template.contractStartDateString}" />
				</p:column>
				<p:column headerText="Contract End Date"
					filterBy="#{template.contractEndDateString}"
					filterMatchMode="contains">
					<h:outputText value="#{template.contractEndDateString}" />
				</p:column>
				<p:column headerText="Action">
					<p:commandButton styleClass="cancel_button" icon="ui-icon-pencil"
						title="Edit Offer Template"
						action="#{sysBenefitsVendorController.updateOfferTemplate(template)}"
						oncomplete="PF('OfferTemplateEditModal').show();"
						update=":offerTemplateEditForm,:offerTemplateForm">
					</p:commandButton>

					<p:spacer height="10" />
					<p:commandButton icon="ui-icon-info" title="More Info"
						styleClass="cancel_button"
						action="#{sysBenefitsVendorController.redirectToVendoringOfferMoreInfo(template)}"
						oncomplete="PF('OfferTemplateInfoModal').show();"
						update=":offerTemplateMoreInfoForm" />
				</p:column>
			</p:dataTable>
		</div>
		<br/>
		<p:commandButton styleClass="cancel_button" value="Back"
			action="#{sysBenefitsVendorController.backToVendorsPage()}">
		</p:commandButton>
	</h:form>
	<p:dialog header="Offer Template addition and modification"
		widgetVar="OfferTemplateEditModal" resizable="false"
		closeOnEscape="true" modal="true">
		<h:form id="offerTemplateEditForm" enctype="multipart/form-data">
			<p:messages closable="true" autoUpdate="true" />
			<h:panelGrid columns="4" cellpadding="2">
				<p:outputLabel><span class="redColor">*</span>Offer Template Name:</p:outputLabel>
				<p:inputText required="true"
					requiredMessage="Template Name is required"
					value="#{sysBenefitsVendorBean.offeringTemplateTO.offerTemplateName}" />
				<p:outputLabel>
					<span class="redColor">*</span>Text:</p:outputLabel>
				<p:inputText required="true" requiredMessage="Text is required"
					value="#{sysBenefitsVendorBean.offeringTemplateTO.text}" />
				<p:outputLabel>
					<span class="redColor">*</span>Offering Type:</p:outputLabel>
				<p:selectOneMenu
					value="#{sysBenefitsVendorBean.offeringTemplateTO.offeringTypeID}"
					required="true" requiredMessage="Offering Type required."
					filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="--Select--" noSelectionOption="true"/>
					<f:selectItems
						value="#{sysBenefitsVendorBean.sysOfferingTypeTOList}"
						var="offerType" itemValue="#{offerType.offeringTypeID}"
						itemLabel="#{offerType.offeringType}" />
				</p:selectOneMenu>
				<p:outputLabel>Previous Banner:</p:outputLabel>
				<img src="#{sysBenefitsVendorBean.offeringTemplateTO.banner}"
					width="80" height="40" />
				<p:outputLabel>
					<span class="redColor">*</span>Banner:</p:outputLabel>
				<p:fileUpload value="#{sysBenefitsVendorBean.bannerFile}"
					mode="advanced" dragDropSupport="true" multiple="false"
					fileLimit="1" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
					fileUploadListener="#{sysBenefitsVendorController.bannerFileUpload}" fileLimitMessage="Only one file is allowed."/>
				<p:outputLabel>
					<span class="redColor">*</span>Offering Link:</p:outputLabel>
				<p:inputText required="true"
					requiredMessage="Offering link is required"
					value="#{sysBenefitsVendorBean.offeringTemplateTO.offeringLink}" />
				<p:outputLabel>
					<span class="redColor">*</span>Contract Signed Date:</p:outputLabel>
				<p:calendar required="true"
					requiredMessage="contract Signed Date is required"
					value="#{sysBenefitsVendorBean.offeringTemplateTO.contractSignedDate}"
					navigator="true" showOn="button" pattern="MMM dd, yyyy">
					<p:ajax event="dateSelect" update="contractStartDateID"></p:ajax>
				</p:calendar>
				<p:outputLabel>
					<span class="redColor">*</span>Contract Start Date:</p:outputLabel>
				<p:calendar required="true" id="contractStartDateID"
					requiredMessage="contract Start Date is required"
					value="#{sysBenefitsVendorBean.offeringTemplateTO.contractStartDate}"
					navigator="true" showOn="button" pattern="MMM dd, yyyy"
					mindate="#{sysBenefitsVendorBean.offeringTemplateTO.contractSignedDate}">
					<p:ajax event="dateSelect" update="contractEndDateID"></p:ajax>
				</p:calendar>
				<p:outputLabel>
					<span class="redColor">*</span>Contract End Date:</p:outputLabel>

				<p:calendar id="contractEndDateID" required="true"
					requiredMessage="contract End Date is required"
					value="#{sysBenefitsVendorBean.offeringTemplateTO.contractEndDate}"
					navigator="true" showOn="button" pattern="MMM dd, yyyy"
					mindate="#{sysBenefitsVendorBean.offeringTemplateTO.contractStartDate}" >
										<p:ajax event="dateSelect" update="effectStartDateID"></p:ajax>
				</p:calendar>
					

				<p:outputLabel> Effective Start Date:</p:outputLabel>
				<p:calendar id="effectStartDateID"
					value="#{sysBenefitsVendorBean.offeringTemplateTO.effectiveStartDate}"
					navigator="true" showOn="button" pattern="MMM dd, yyyy"
					mindate="#{sysBenefitsVendorBean.offeringTemplateTO.contractStartDate}"
					maxdate="#sysBenefitsVendorBean.offeringTemplateTO.contractEndDate}">
					<p:ajax event="dateSelect" update="effectiveEndDateID"></p:ajax>

				</p:calendar>

				<p:outputLabel>
					 Effective End Date:</p:outputLabel>
				<p:calendar id="effectiveEndDateID"
					value="#{sysBenefitsVendorBean.offeringTemplateTO.effectiveEndDate}"
					navigator="true" showOn="button" pattern="MMM dd, yyyy"
					maxdate="#{sysBenefitsVendorBean.offeringTemplateTO.contractEndDate}"
					mindate="#{sysBenefitsVendorBean.offeringTemplateTO.effectiveStartDate}" />

				<p:outputLabel value="Is Active:"/>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.offeringTemplateTO.active}">
				</p:selectBooleanCheckbox>

				<p:outputLabel value="OfferingPeakDetail:"/>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.offeringPeakDetailActive}">

					<p:ajax
						listener="#{sysBenefitsVendorController.renderOfferingPeakDetail}"
						update=":offerTemplateEditForm:offeringPeakDetail" />
				</p:selectBooleanCheckbox>
			</h:panelGrid>
			<p:panel id="offeringPeakDetail">
				<p:fieldset legend="Peak Time Details"
					rendered="#{sysBenefitsVendorBean.renderPeakDetails}">
					<h:panelGrid columns="4">
						<p:outputLabel value="Peak Recurring Type:">
							<span class="redColor">*</span>
						</p:outputLabel>
						<p:selectOneMenu
							value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakTimeRecurringTypeID}"
							filter="true" filterMatchMode="contains" required="true"
							requiredMessage="Peak Recurring Type is required">

							<f:selectItem itemLabel="--Select--" itemValue="-1" />
							<f:selectItems
								value="#{sysBenefitsVendorBean.peakRecurringDetailTO.sysPeakRecurringTypeTOList}"
								var="peakRecurringType"
								itemValue="#{peakRecurringType.sysTypeID}"
								itemLabel="#{peakRecurringType.sysType}" />
						</p:selectOneMenu>

						<p:outputLabel value="Start Date:">
							<span class="redColor">*</span>
						</p:outputLabel>
						<p:calendar
							value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakStartDateTime}"
							navigator="true" showOn="button"
							required="true" requiredMessage="Peak Start Date Required"
							pattern="MMM dd, yyyy"
							mindate="#{sysBenefitsVendorBean.offeringTemplateTO.contractStartDate}"
							maxdate="#sysBenefitsVendorBean.offeringTemplateTO.contractEndDate}">
							<p:ajax event="dateSelect" update="peakEndDateID"></p:ajax>

						</p:calendar>

						<p:outputLabel value="End Date:">
							<span class="redColor">*</span>
						</p:outputLabel>
						<p:calendar id="peakEndDateID"
							value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakEndDateTime}"
							navigator="true" showOn="button"
							required="true" requiredMessage="Peak End Date Required"
							pattern="MMM dd, yyyy"
							mindate="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakStartDateTime}"
							maxdate="#sysBenefitsVendorBean.offeringTemplateTO.contractEndDate}"/>
	
						<p:outputLabel value="Start Hour:" />
							<p:selectOneMenu
								value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakTimeStartHour}">
								<f:selectItem itemLabel="--Select--" itemValue="-1" />
								<f:selectItems
									value="#{sysBenefitsVendorBean.peakRecurringDetailTO.hourListMap.entrySet()}"
									var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}" />
							</p:selectOneMenu>

							<p:outputLabel value="End Hour:" />
							<p:selectOneMenu
								value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakTimeEndHour}">
								<f:selectItem itemLabel="--Select--" itemValue="-1" />
								<f:selectItems
									value="#{sysBenefitsVendorBean.peakRecurringDetailTO.hourListMap.entrySet()}"
									var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}" />
							</p:selectOneMenu>

							<p:outputLabel value="Start Minute:" />
							<p:selectOneMenu
								value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakTimeStartMin}">
								<f:selectItem itemLabel="--Select--" itemValue="-1" />
								<f:selectItems
									value="#{sysBenefitsVendorBean.peakRecurringDetailTO.minuteListMap.entrySet()}"
									var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}" />
							</p:selectOneMenu>


							<p:outputLabel value="End Minute:" />
							<p:selectOneMenu
								value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakTimeEndMin}">
								<f:selectItem itemLabel="--Select--" itemValue="-1" />
								<f:selectItems
									value="#{sysBenefitsVendorBean.peakRecurringDetailTO.minuteListMap.entrySet()}"
									var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}" />
							</p:selectOneMenu>
					</h:panelGrid>
				</p:fieldset>
			</p:panel>

			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysBenefitsVendorController.saveBenefitVendorTemplate(sysBenefitsVendorBean.offeringTemplateTO,false)}"
				update=":offerTemplateForm,:offerTemplateEditForm"
				style="float:bottom"
				rendered="#{sysBenefitsVendorBean.addOfferTemplateFlag}" />

			<p:commandButton styleClass="Submit_button" value="Update"
				action="#{sysBenefitsVendorController.saveBenefitVendorTemplate(sysBenefitsVendorBean.offeringTemplateTO,true)}"
				update=":offerTemplateForm,:offerTemplateEditForm"
				style="float:bottom"
				rendered="#{sysBenefitsVendorBean.updateOfferTemplateFlag}" />
			<p:commandButton styleClass="cancel_button" value="Cancel"
				style="float:bottom" onclick="PF('OfferTemplateEditModal').hide();"
				immediate="true" />
		</h:form>
	</p:dialog>


	<p:dialog header="Vendoring Offer Template Info"
		widgetVar="OfferTemplateInfoModal" resizable="false"
		closeOnEscape="true" modal="true">
		<h:form id="offerTemplateMoreInfoForm">
			<h:panelGrid columns="4" cellpadding="5">
				<p:outputLabel value="Offer Template Name:" />
				<h:outputLabel value="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.offerTemplateName}" />
				
				<p:outputLabel value="Text:" />
				<h:outputLabel value="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.text}" />

				<p:outputLabel value="Offering Type:" />
				<h:outputLabel value="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.offeringType}" />

				<p:outputLabel value="Banner:" />
				<img src="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.banner}" width="80" height="40" />
				
				<p:outputLabel value="Offering Link:" />
				<h:outputLabel value="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.offeringLink}" />

				<p:outputLabel value="Contract Signed Date:" />
				<h:outputLabel value="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.contractSignedDateString}" />

				<p:outputLabel value="Contract Start Date:" />
				<h:outputLabel value="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.contractStartDateString}" />

				<p:outputLabel value="Contract End Date:" />
				<h:outputLabel value="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.contractEndDateString}" />

				<p:outputLabel value="Effective Start Date:" />
				<h:outputLabel value="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.effectiveStartDateString}" />

				<p:outputLabel value="Effective End Date:" />
				<h:outputLabel value="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.effectiveEndDateString}" />

				<p:outputLabel value="Is Active:" />
				<p:selectBooleanCheckbox 
					value="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.active}">
				</p:selectBooleanCheckbox>

				<p:outputLabel value="OfferingPeakDetail:" />
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.renderVendorOffering}">
				</p:selectBooleanCheckbox>
				
			</h:panelGrid>
			<p:panel id="offeringPeakDetail">
				<p:fieldset legend="Peak Time Details"
					rendered="#{sysBenefitsVendorBean.renderVendorOffering}">
					<h:panelGrid columns="4">
						<p:outputLabel value="Peak Recurring Type:" />
						<h:outputLabel value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakTimeRecurringTypeLabel}" />

						<p:outputLabel value="Start Date:" />
						<h:outputLabel value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakStartDateTimeString}" />
						
						<p:outputLabel value="End Date:" />
						<h:outputLabel value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakEndDateTimeString}" />

						<p:outputLabel value="Start Hour:" />
						<h:outputLabel value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakTimeStartHour}" />
						
						<p:outputLabel value="End Hour:" />
						<h:outputLabel value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakTimeEndHour}" />
						
						<p:outputLabel value="Start Minute:" />
						<h:outputLabel value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakTimeStartMin}" />
						
						<p:outputLabel value="End Minute:" />
						<h:outputLabel value="#{sysBenefitsVendorBean.peakRecurringDetailTO.peakTimeEndMin}" />
					</h:panelGrid>
				</p:fieldset>
			</p:panel>

			<p:panel>
				<p:fieldset legend="Offer Codes Details">

					<div class="listing_Table">
						<p:dataTable id="vendorOfferingCodeList" var="code"
							widgetVar="offerCodeDataTable"
							value="#{sysBenefitsVendorBean.vendorOfferingTemplateTO.offeringCodeTOList}"
							emptyMessage="No Offering code exist for this vendor offering"
							filteredValue="#{sysBenefitsVendorBean.filtedredOfferingCodeTOlist}"
							rowsPerPageTemplate="10,20,30" paginator="true"
							paginatorAlwaysVisible="true" rows="5" paginatorPosition="bottom">
							<p:column headerText="Offer Code" filterBy="#{code.offeringCode}"
								filterMatchMode="contains">
								<h:outputText value="#{code.offeringCode}" />
							</p:column>
							<p:column headerText="Access Type" filterBy="#{code.accessType}"
								filterMatchMode="contains">
								<h:outputText value="#{code.accessType}" />
							</p:column>
							<p:column headerText="Action">
								<p:commandButton icon="ui-icon-info" title="More Info"
									styleClass="cancel_button"
									action="#{sysBenefitsVendorController.redirectToOfferCodeMoreInfo(code)}"
									oncomplete="PF('offerCodeMoreIfoModal').show();"
									update=":offerCodeMoreInfoForm" />

							</p:column>
						</p:dataTable>
					</div>
				</p:fieldset>
			</p:panel>
			<p:commandButton styleClass="cancel_button" value="Close"
				style="float:bottom" onclick="PF('OfferTemplateInfoModal').hide();" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog header="Offer Code Info" widgetVar="offerCodeMoreIfoModal"
		resizable="false" closeOnEscape="true" modal="true">
		<h:form id="offerCodeMoreInfoForm">
			<h:panelGrid columns="4" cellpadding="5">
				<p:outputLabel value="Offer Code:" />
				<h:outputLabel
					value="#{sysBenefitsVendorBean.offeringCodeTO.offeringCode}" />
				<p:outputLabel value="Access Type:" />
				<h:outputLabel
					value="#{sysBenefitsVendorBean.offeringCodeTO.accessType}" />

				<p:outputLabel value="Offer Code Start Date:" />
				<h:outputLabel
					value="#{sysBenefitsVendorBean.offeringCodeTO.offeringCodeStartDateString}" />
				<p:outputLabel value="Offer Code End Date:" />
				<h:outputLabel
					value="#{sysBenefitsVendorBean.offeringCodeTO.offeringCodeEndDateString}" />

				<p:outputLabel value="Is Active:"/>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.offeringCodeTO.active}">
				</p:selectBooleanCheckbox>

				<p:outputLabel value="Is LogicBased:"/>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.offeringCodeTO.logicBased}">
				</p:selectBooleanCheckbox>
				
				<p:outputLabel value="Is MaximumLimit Applicable:"/>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.offeringCodeTO.maximumLimitApplicable}">
				</p:selectBooleanCheckbox>
			</h:panelGrid>

			<p:panel id="codeMaxLimitDetail">
				<p:fieldset legend="Maximum Limit Applicable Details"
					rendered="#{sysBenefitsVendorBean.renderMaximumLimitApplicableDetail}">
					<h:panelGrid columns="2">
						<p:outputLabel value="Maximum Usage Type:" />
						<h:outputLabel
							value="#{sysBenefitsVendorBean.offeringCodeMaximumLimitTO.maximumUsageType}" />
						<p:outputLabel value="Maximum Usage Duration:" />
						<h:outputLabel
							value="#{sysBenefitsVendorBean.offeringCodeMaximumLimitTO.maximumUsageDuration}" />

						<p:outputLabel value="Maximum Limit Count:"/>
						<h:outputLabel
							value="#{sysBenefitsVendorBean.offeringCodeMaximumLimitTO.maximumUsageCount}" />
					</h:panelGrid>
				</p:fieldset>
			</p:panel>

			<p:commandButton styleClass="cancel_button" value="Close"
				style="float:bottom" onclick="PF('offerCodeMoreIfoModal').hide();" immediate="true" />

		</h:form>
	</p:dialog>

</ui:composition>