<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	<h:form id="vendorForm">
		<p:messages closable="true"
			rendered="#{!sysBenefitsVendorBean.renderFormMessage}" />
		<div class="btn_left"><label class="Page_Tittle">SysBenefitsVendor List</label></div>
		<div class="btn_right">
			<h:panelGrid columns="2" styleClass="btn_right">
				<p:commandButton icon="ui-icon-plus" update=":sysBenefitsVendorForm"
					styleClass="btn_right cancel_button" title="Add New Vendor"
					action="#{sysBenefitsVendorController.addSysBenefitsVendor}"
					oncomplete="PF('sysVendorModal').show()" />
			</h:panelGrid>
		</div>
		<div class="listing_Table">
			<p:dataTable id="vendorDataTableList" var="vendor"
				value="#{sysBenefitsVendorBean.sysBenefitVendorTOList}"
				emptyMessage="No Benefits Vendor Found."
				widgetVar="sysVendorModalDataTable"
				filteredValue="#{sysBenefitsVendorBean.filteredSysBenefitVendorTOList}"
				rowsPerPageTemplate="10,20,30" paginator="true"
				paginatorAlwaysVisible="true" rows="10" paginatorPosition="bottom">
				<p:column headerText="Vendor Name" filterBy="#{vendor.vendorName}"
					filterMatchMode="contains">
					<p:commandLink value="#{vendor.vendorName}"
						title="View offering Template" update=":centerForm"
						action="#{sysBenefitsVendorController.offeringTemplateInitilize(vendor)}">
					</p:commandLink>
				</p:column>
				<p:column headerText="Vendor Code" filterBy="#{vendor.vendorCode}"
					filterMatchMode="contains">
					<h:outputText value="#{vendor.vendorCode}" />
				</p:column>
				
				<p:column headerText="Logo" filterMatchMode="contains">
					<img src="#{vendor.vendorLogo}" width="200" height="80" />
				</p:column>
				
				<p:column headerText="Contract Signed Date"
					filterBy="#{vendor.contractSignedDateString}"
					filterMatchMode="contains">
					<h:outputText value="#{vendor.contractSignedDateString}" />
				</p:column>
				<p:column headerText="Contract Start Date"
					filterBy="#{vendor.contractStartDateString}"
					filterMatchMode="contains">
					<h:outputText value="#{vendor.contractStartDateString}" />
				</p:column>
				<p:column headerText="Status" filterBy="#{vendor.status}"
					filterMatchMode="contains">
					<h:outputText value="#{vendor.status}" />
				</p:column>

				<p:column headerText="Action">
					<p:commandButton styleClass="cancel_button" icon="ui-icon-pencil"
						title="Edit Vendor"
						action="#{sysBenefitsVendorController.editBenefitsVendor(vendor)}"
						oncomplete="PF('sysVendorModal').show();"
						update=":sysBenefitsVendorForm">
					</p:commandButton>
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button" icon="ui-icon-stop"
						title="Inactive" rendered="#{vendor.active}"
						actionListener="#{sysBenefitsVendorController.changeBenefitVendorStatus(vendor)}"
						update=":vendorForm" />
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button" icon="ui-icon-play"
						title="Active" rendered="#{!vendor.active}"
						actionListener="#{sysBenefitsVendorController.changeBenefitVendorStatus(vendor)}"
						update=":vendorForm" />
				</p:column>
			</p:dataTable>
		</div>
	</h:form>

	<p:dialog header="SysBenefits Vendor Configuration"
		widgetVar="sysVendorModal" resizable="false" closeOnEscape="true"
		modal="true" width="870">
		<h:form id="sysBenefitsVendorForm" enctype="multipart/form-data">
			<div>
			<p:messages closable="true" autoUpdate="true" />
			<div class="listing_Table fixed1">
			<h:panelGrid columns="4" cellpadding="5">
				<p:outputLabel>
					<span class="redColor">*</span>Vendor Name:</p:outputLabel>
				<p:inputText required="true"
					requiredMessage="Vendor name is required"
					value="#{sysBenefitsVendorBean.sysBenefitVendorTO.vendorName}" />
				<p:outputLabel>
					<span class="redColor">*</span>Vendor Code:</p:outputLabel>
				<p:inputText required="true"
					requiredMessage="Vendor code is required"
					value="#{sysBenefitsVendorBean.sysBenefitVendorTO.vendorCode}" />
								<p:outputLabel>
					<span class="redColor">*</span>Logo:</p:outputLabel>
				<p:fileUpload value="#{sysBenefitsVendorBean.vendorLogoFile}"
					mode="advanced" dragDropSupport="true" multiple="false"
					fileLimit="1" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
					fileUploadListener="#{sysBenefitsVendorController.handleVendorLogoUpload}" fileLimitMessage="Only one file is allowed."/>
				
					<p:outputLabel>Previous Logo:</p:outputLabel>
				<img src="#{sysBenefitsVendorBean.sysBenefitVendorTO.vendorLogo}"
					width="80" height="40" />
					
					
				<p:outputLabel>
					<span class="redColor">*</span>Contract Signed Date:</p:outputLabel>
				<p:calendar required="true"
					requiredMessage="contract Signed Date is required"
					value="#{sysBenefitsVendorBean.sysBenefitVendorTO.contractSignedDate}"
					navigator="true" showOn="button" pattern="MMM dd, yyyy">
					<p:ajax event="dateSelect" update="contractStartDateID"></p:ajax>
				</p:calendar>
				<p:outputLabel>
					<span class="redColor">*</span>Contract Start Date:</p:outputLabel>
				<p:calendar id="contractStartDateID" required="true"
					requiredMessage="contract Start Date is required"
					value="#{sysBenefitsVendorBean.sysBenefitVendorTO.contractStartDate}"
					navigator="true" showOn="button" pattern="MMM dd, yyyy"
					mindate="#{sysBenefitsVendorBean.sysBenefitVendorTO.contractSignedDate}">
					<p:ajax event="dateSelect" update="contractEndDateID"></p:ajax>
				</p:calendar>
				<p:outputLabel>
					<span class="redColor">*</span>Contract End Date:</p:outputLabel>

				<p:calendar id="contractEndDateID" required="true"
					requiredMessage="contract End Date is required"
					value="#{sysBenefitsVendorBean.sysBenefitVendorTO.contractEndDate}"
					navigator="true" showOn="button" pattern="MMM dd, yyyy"
					mindate="#{sysBenefitsVendorBean.sysBenefitVendorTO.contractStartDate}">
					<p:ajax event="dateSelect" update="effectStartDateID"></p:ajax>
				</p:calendar>


				<p:outputLabel> Effective Start Date:</p:outputLabel>
				<p:calendar id="effectStartDateID"
					value="#{sysBenefitsVendorBean.sysBenefitVendorTO.effectiveStartDate}"
					navigator="true" showOn="button" pattern="MMM dd, yyyy"
					mindate="#{sysBenefitsVendorBean.sysBenefitVendorTO.contractStartDate}"
					maxdate="#{sysBenefitsVendorBean.sysBenefitVendorTO.contractEndDate}">
					<p:ajax event="dateSelect" update="effectiveEndDateID"></p:ajax>

				</p:calendar>
				<p:outputLabel>
					 Effective End Date:</p:outputLabel>
				<p:calendar id="effectiveEndDateID"
					value="#{sysBenefitsVendorBean.sysBenefitVendorTO.effectiveEndDate}"
					navigator="true" showOn="button" pattern="MMM dd, yyyy"
					maxdate="#{sysBenefitsVendorBean.sysBenefitVendorTO.contractEndDate}"
					mindate="#{sysBenefitsVendorBean.sysBenefitVendorTO.effectiveStartDate}" />

				<p:outputLabel value="Is Active:"/>
				<p:selectBooleanCheckbox
					value="#{sysBenefitsVendorBean.sysBenefitVendorTO.active}">
				</p:selectBooleanCheckbox>
			</h:panelGrid>
		
		
			Terms And Conditions:	
				<p:editor value="#{sysBenefitsVendorBean.sysBenefitVendorTO.termAndConditions}"  required="true"
					requiredMessage="Terms And Conditions is required"/>
		</div>
	</div>
		<div class="fixed_button">
			<p:commandButton styleClass="Submit_button" value="Add" onclick="scrollUp();"
				action="#{sysBenefitsVendorController.saveBenefitVendor(sysBenefitsVendorBean.sysBenefitVendorTO,false)}"
				update=":sysBenefitsVendorForm,:vendorForm" style="float:bottom"
				rendered="#{!sysBenefitsVendorBean.editVendorForm}" />

			<p:commandButton styleClass="Submit_button" value="Update" onclick="scrollUp();"
				rendered="#{sysBenefitsVendorBean.editVendorForm}"
				action="#{sysBenefitsVendorController.saveBenefitVendor(sysBenefitsVendorBean.sysBenefitVendorTO,true)}"
				update=":sysBenefitsVendorForm,:vendorForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				style="float:bottom" onclick="PF('sysVendorModal').hide();"
				immediate="true" />
		</div>
		</h:form>
	</p:dialog>
</ui:composition>