<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="dataUploadForm" enctype="multipart/form-data">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true" />
		<div class="form_content formPadding">
			<h3>
				<h:outputLabel value="Vednor Offering Offer Codes Upload" />
			</h3>
			<div class="form_content_inner">
				<p:fieldset>
					<h:panelGrid columns="10" cellpadding="8">
						<p:outputLabel value="Download Template Format: " />
						<p:commandButton ajax="false" styleClass="cancel_button"
							icon="ui-icon-arrowthickstop-1-s" process=":dataUploadForm"
							action="#{sysBenefitsVendorController.downloadTemplate}" />
						<p:outputLabel value="Upload Template: " />
						<p:fileUpload label="Choose (Max. 5Mb)"
							fileUploadListener="#{sysBenefitsVendorController.handleFileUpload}"
							mode="advanced" dragDropSupport="true" sizeLimit="100000"
							fileLimit="1" allowTypes="/(\.|\/)(xls|xlsx)$/"
							update=":dataUploadForm" />
						<p:commandButton styleClass="Submit_button" value="Submit"
							update=":dataUploadForm,:dataUploadForm:masterOffercodeDataPanel"
							action="#{sysBenefitsVendorController.uploadOfferCodeMasterData}" />

						<p:commandButton value="Back" styleClass="cancel_button"
							action="#{sysBenefitsVendorController.offeringTemplateInitilize(sysBenefitsVendorBean.selectedVendorTO)}"
							update=":centerForm" immediate="true" />

					</h:panelGrid>

					<p:outputPanel id="masterOffercodeDataPanel"
						rendered="#{sysBenefitsVendorBean.masterOfferDataList!=null}">
						<p:dataTable var="offerCode"
							value="#{sysBenefitsVendorBean.masterOfferDataList}"
							emptyMessage="No Master Offer Data Found.">

							<p:column headerText="Offer Code">
								<h:outputText value="#{offerCode.offeringCode}" />
							</p:column>

							<p:column headerText="Acceess Type">
								<h:outputText value="#{offerCode.accessType}" />
							</p:column>
							<p:column headerText="Start Date">
								<h:outputText value="#{offerCode.offeringCodeStartDateString}" />
							</p:column>
							<p:column headerText="End Date">
								<h:outputText value="#{offerCode.offeringCodeEndDateString}" />
							</p:column>
							<p:column headerText="status">
								<h:outputText value="Active" rendered="#{offerCode.active}" />
								<h:outputText value="Inactive" rendered="#{!offerCode.active}" />
							</p:column>

							<p:column headerText="Max Limit Applicable">
								<h:outputText value="Yes"
									rendered="#{offerCode.maximumLimitApplicable}" />
								<h:outputText value="No"
									rendered="#{!offerCode.maximumLimitApplicable}" />
							</p:column>
								<p:column headerText="Max Limit Count">
								
									<h:outputText
										value="#{offerCode.codeMaximumLimitTO.maximumUsageCount}" rendered="#{offerCode.maximumLimitApplicable}"/>
								</p:column>
								<p:column headerText="Max Usage Type">
									<h:outputText
										value="#{offerCode.codeMaximumLimitTO.maximumUsageType}" rendered="#{offerCode.maximumLimitApplicable}"/>
								</p:column>
								<p:column headerText="Max Usage Duration">
									<h:outputText
										value="#{offerCode.codeMaximumLimitTO.maximumUsageDuration}" rendered="#{offerCode.maximumLimitApplicable}"/>
								</p:column>

										<p:column headerText="Summary">
								<h:outputText value="#{offerCode.summary}"
									rendered="#{offerCode.summaryList.size()==0}"
									style="color:green;" />
								<p:commandLink value="#{offerCode.summary}"
									update=":summaryForm"
									action="#{sysBenefitsVendorController.redirectTosummaryList(offerCode.summaryList)}"
									oncomplete="PF('summaryBox').show();"
									rendered="#{offerCode.summaryList.size()>0}" style="color:red;">
								</p:commandLink>
							</p:column>
						</p:dataTable>
					</p:outputPanel>
				</p:fieldset>
			</div>
		</div>
	</h:form>
	<p:dialog header="Invalid Record Summary" widgetVar="summaryBox"
		resizable="false" closeOnEscape="true" modal="true">
		<h:form id="summaryForm">

			<div>
				<p:dataList value="#{sysBenefitsVendorBean.summaryList}" var="val"
					type="ordered">
					<f:facet name="header">
            Constraints Voilation
        </f:facet>
     #{val}<p:spacer height="10px" />
				</p:dataList>
				<br />
				<p:commandButton value="Back" type="button"
					styleClass="cancel_button" onclick="PF('summaryBox').hide()"
					immediate="true" />
			</div>

		</h:form>
	</p:dialog>

</ui:composition>
