<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="sysPtZoneListForm">
		<p:messages id="messages" closable="true" 
			rendered="#{!sysPtZoneBean.renderErrorMessage}" />
		<label class="Page_Tittle">SysPTZone List</label>
		<p:commandButton icon="ui-icon-plus" update=":addSysPtZoneForm"
			styleClass="btn_right cancel_button" title="AddSysPtZone"
			action="#{sysPtZoneController.resetSysPtZone}"
			oncomplete="PF('sysPtZoneAddModal').show()" />

		<div class="listing_Table">
			<p:dataTable widgetVar="sysPtZoneDataTable" var="sysPtZone"
				value="#{sysPtZoneBean.sysPtZoneTOList}" rows="10" paginator="true"
				styleClass="table-header" rowIndexVar="index"
				paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">

				<p:column headerText="PtZone Name" sortBy="#{sysPtZone.ptZoneName}"
					filterBy="#{sysPtZone.ptZoneName}" filterMatchMode="contains">
					<h:outputText value="#{sysPtZone.ptZoneName}" />
				</p:column>

				<p:column headerText="PtZone Code" sortBy="#{sysPtZone.ptZoneCode}"
					filterBy="#{sysPtZone.ptZoneCode}" filterMatchMode="contains">
					<h:outputText value="#{sysPtZone.ptZoneCode}" />
				</p:column>

				<p:column headerText="State Name" sortBy="#{sysPtZone.stateName}"
					filterBy="#{sysPtZone.stateName}" filterMatchMode="contains">
					<h:outputText value="#{sysPtZone.stateName}" />
				</p:column>
				<p:column headerText="Operation" stylClass="mg_top">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('sysPtZoneEditModal').show()"
						update=":sysPtZoneEditForm"
						action="#{sysPtZoneController.editSysPtZone(sysPtZone)}" />
					<p:spacer height="10" />
				</p:column>

			</p:dataTable>
		</div>
	</h:form>

	<p:dialog header="NEW PtZone" widgetVar="sysPtZoneAddModal"
		modal="true" resizable="false">
		<h:form id="addSysPtZoneForm">
			<p:messages id="messages" autoUpdate="true" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>PtZone Name:</p:outputLabel>
				<p:inputText id="SysPtZoneName" required="true" maxlength="50"
					requiredMessage="Please input a PTZone Name"
					value="#{sysPtZoneBean.ptZoneName}" />

				<p:outputLabel>
					<span class="redColor">*</span>PtZone Code:</p:outputLabel>
				<p:inputText id="SysPtZoneCode" maxlength="50" required="true"
					requiredMessage="Please input PtZone Code"
					value="#{sysPtZoneBean.ptZoneCode}" />

				<p:outputLabel>
					<span class="redColor">*</span>State:</p:outputLabel>
				<p:selectOneMenu value="#{sysPtZoneBean.stateID}" required="true"
					filter="true" filterMatchMode="contains"
					requiredMessage="Please Select State">
					<f:selectItem itemLabel="Select One" noSelectionOption="true" />
					<f:selectItems var="record" value="#{sysPtZoneBean.stateList}"
						itemLabel="#{record.stateName}" itemValue="#{record.stateID}" />
				</p:selectOneMenu>

			</h:panelGrid>

			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysPtZoneController.saveSysPtZone()}"
				update=":addSysPtZoneForm" process=":addSysPtZoneForm"
				style="float:bottom" />

			<p:commandButton styleClass="Submit_button" value="Cancel"
				action="#{sysPtZoneController.resetSysPtZone}"
				oncomplete="PF('sysPtZoneAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysPtZoneEditModal" resizable="false"
		header="SysPtZone" modal="true">
		<h:form id="sysPtZoneEditForm">
			<p:messages id="editSysPtZone" autoUpdate="true" closable="false" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>PtZone Name: </p:outputLabel>
				<p:inputText id="updatesysPtZone" required="true" maxlength="50"
					value="#{sysPtZoneBean.ptZoneName}"
					requiredMessage="PtZone Name is required" />

				<p:outputLabel>
					<span class="redColor">*</span>PtZone Code: </p:outputLabel>
				<p:inputText id="sysPtZone2" required="true" maxlength="50"
					value="#{sysPtZoneBean.ptZoneCode}"
					requiredMessage="PtZone Code is required" />

				<p:outputLabel>
					<span class="redColor">*</span>State:</p:outputLabel>
				<p:selectOneMenu value="#{sysPtZoneBean.stateID}" required="false"
					filter="true" filterMatchMode="contains"
					requiredMessage="Please select State">
					<f:selectItem itemLabel="Select One" noSelectionOption="true" />
					<f:selectItems var="record" value="#{sysPtZoneBean.stateList}"
						itemLabel="#{record.stateName}" itemValue="#{record.stateID}" />
				</p:selectOneMenu>

			</h:panelGrid>

			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" update=":sysPtZoneEditForm"
				action="#{sysPtZoneController.updateSysPtZone()}" />

			<p:commandButton styleClass="Submit_button" value="Cancel"
				action="#{sysPtZoneController.resetSysPtZone}"
				oncomplete="PF('sysPtZoneEditModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>

</ui:composition>