<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysChatBotValidationTypeListForm">
		<p:messages id="messages" closable="true"/>
		<label class="Page_Tittle">SysBotValidationType List</label>
		<p:commandButton icon="ui-icon-plus"
			update=":addSysChatBotValidationTypeForm"
			styleClass="btn_right cancel_button" title="AddSysBotValidationType"
			action="#{sysChatBotValidationTypeController.addSysChatBotValidationType}"
			oncomplete="PF('sysChatBotValidationTypeAddModal').show()" />

		<div class="listing_Table">
			<p:dataTable widgetVar="sysChatBotValidationTypeDataTable"
				var="sysChatBotValidationType"
				value="#{sysChatBotValidationTypeBean.sysChatBotValidationTypeTOList}"
				rows="10" paginator="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">
				
				<p:column headerText="SysFieldType"	>
					<h:outputText
						value="#{sysChatBotValidationType.fieldType}" />
				</p:column>
				
				<p:column headerText="NoOfParameters"
					sortBy="#{sysChatBotValidationType.noOfParameters}"
					filterBy="#{sysChatBotValidationType.noOfParameters}"
					filterMatchMode="contains">
					<h:outputText
						value="#{sysChatBotValidationType.noOfParameters}" />
				</p:column>
				
				<p:column headerText="Label"
					sortBy="#{sysChatBotValidationType.label}"
					filterBy="#{sysChatBotValidationType.label}"
					filterMatchMode="contains">
					<h:outputText
						value="#{sysChatBotValidationType.label}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show()"
						update=":sysChatBotValidationTypeEditForm"
						action="#{sysChatBotValidationTypeController.editSysChatBotValidationType(sysChatBotValidationType)}" />
					<p:spacer height="10" />
				</p:column>

			</p:dataTable>
			
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide(); PF('sysChatBotValidationTypeEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>
	<p:dialog header="NEW SYSBOTVALIDATIONTYPE"
		widgetVar="sysChatBotValidationTypeAddModal" modal="true"
		resizable="false">
		<h:form id="addSysChatBotValidationTypeForm">
			<p:messages id="messages" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
			
			<p:outputLabel>SysFieldType:</p:outputLabel>

				<p:selectOneMenu value="#{sysChatBotValidationTypeBean.sysFieldTypeID}"
					filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{sysChatBotValidationTypeBean.sysFieldTypeTOList}"
						itemLabel="#{record.fieldType}" itemValue="#{record.sysFieldTypeID}" />
				</p:selectOneMenu>
			
				<p:outputLabel>
					<span class="redColor">*</span>No of Paramenter:</p:outputLabel>
				<p:inputText id="NoOfParameters" required="true"
					maxlength="50"
					requiredMessage="No of Parameters required"
					value="#{sysChatBotValidationTypeBean.noOfParameters}" />
					
				<p:outputLabel>
					<span class="redColor">*</span>Label:</p:outputLabel>
				<p:inputText id="Label" required="true"
					maxlength="50"
					requiredMessage="Label required"
					value="#{sysChatBotValidationTypeBean.label}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysChatBotValidationTypeController.saveSysChatBotValidationType()}"
				update=":addSysChatBotValidationTypeForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysChatBotValidationTypeAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysChatBotValidationTypeEditModal" resizable="false"
		header="Update SysBotValidationType" modal="true">
		<h:form id="sysChatBotValidationTypeEditForm">
		<p:messages id="editSysChatBotValidationType" closable="true"/>
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>SysFieldType:</p:outputLabel>

				<p:selectOneMenu id="rtid" value="#{sysChatBotValidationTypeBean.sysFieldTypeID}"
					filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{sysChatBotValidationTypeBean.sysFieldTypeTOList}"
						itemLabel="#{record.fieldType}" itemValue="#{record.sysFieldTypeID}" />
				</p:selectOneMenu>
			
				<p:outputLabel>
					<span class="redColor">*</span>No of Paramenter:</p:outputLabel>
				<p:inputText id="NoOfParameters" required="true"
					maxlength="50"
					requiredMessage="No of Parameters required"
					value="#{sysChatBotValidationTypeBean.sysChatBotValidationTypeTO.noOfParameters}" />
					
				<p:outputLabel>
					<span class="redColor">*</span>Label:</p:outputLabel>
				<p:inputText id="Label" required="true"
					maxlength="50"
					requiredMessage="Label required"
					value="#{sysChatBotValidationTypeBean.sysChatBotValidationTypeTO.label}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" update=":sysChatBotValidationTypeEditForm"
				action="#{sysChatBotValidationTypeController.updateSysChatBotValidationType}" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				action="#{sysChatBotValidationTypeController.addSysChatBotValidationType}"
				oncomplete="PF('sysChatBotValidationTypeEditModal').hide();"
				style="float:bottom" required="true" />
		</h:form>
	</p:dialog>

</ui:composition>