<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="SuperAdminEAR">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="AltAdminEJB" deploy-path="/" handle="module:/resource/AltAdminEJB/AltAdminEJB">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="SuperAdminWAR.war" deploy-path="/" handle="module:/resource/SuperAdminWAR/SuperAdminWAR">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jsf-api-2.0.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/javax/faces/jsf-api/2.0/jsf-api-2.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="httpclient-4.4-beta1.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/apache/httpcomponents/httpclient/4.4-beta1/httpclient-4.4-beta1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="httpcore-4.4-beta1.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/apache/httpcomponents/httpcore/4.4-beta1/httpcore-4.4-beta1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-logging-1.1.3.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/commons-logging/commons-logging/1.1.3/commons-logging-1.1.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-codec-1.6.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/commons-codec/commons-codec/1.6/commons-codec-1.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="CommonATS-0.0.1-SNAPSHOT.jar" deploy-path="/lib/" handle="module:/resource/CommonATS/CommonATS">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jersey-client-1.8.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/com/sun/jersey/jersey-client/1.8/jersey-client-1.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jersey-core-1.8.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/com/sun/jersey/jersey-core/1.8/jersey-core-1.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="primefaces-5.2.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/primefaces/primefaces/5.2/primefaces-5.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AdhocReports-0.0.1-SNAPSHOT.jar" deploy-path="/lib/" handle="module:/resource/AltAdhocReports/AltAdhocReports">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-commons-annotations-3.2.0.Final.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-commons-annotations/3.2.0.Final/hibernate-commons-annotations-3.2.0.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="log4j-1.2.14.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/log4j/log4j/1.2.14/log4j-1.2.14.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-httpclient-3.1.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/commons-httpclient/commons-httpclient/3.1/commons-httpclient-3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="poi-3.7.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/apache/poi/poi/3.7/poi-3.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="poi-ooxml-3.7.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/apache/poi/poi-ooxml/3.7/poi-ooxml-3.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="poi-ooxml-schemas-3.7.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/apache/poi/poi-ooxml-schemas/3.7/poi-ooxml-schemas-3.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="geronimo-stax-api_1.0_spec-1.0.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/apache/geronimo/specs/geronimo-stax-api_1.0_spec/1.0/geronimo-stax-api_1.0_spec-1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="itextpdf-5.5.5.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/com/itextpdf/itextpdf/5.5.5/itextpdf-5.5.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xmlworker-5.5.5.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/com/itextpdf/tool/xmlworker/5.5.5/xmlworker-5.5.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xmlbeans-2.6.0.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/apache/xmlbeans/xmlbeans/2.6.0/xmlbeans-2.6.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="stax-api-1.0.1.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/stax/stax-api/1.0.1/stax-api-1.0.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="gson-2.2.4.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/com/google/code/gson/gson/2.2.4/gson-2.2.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-lang3-3.0.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/apache/commons/commons-lang3/3.0/commons-lang3-3.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jsch-0.1.51.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/com/jcraft/jsch/0.1.51/jsch-0.1.51.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javaee-web-api-6.0.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/javax/javaee-web-api/6.0/javaee-web-api-6.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="axis-1.4.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/apache/axis/axis/1.4/axis-1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jsoup-1.8.3.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/jsoup/jsoup/1.8.3/jsoup-1.8.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="simplemagic-1.11.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/com/j256/simplemagic/simplemagic/1.11/simplemagic-1.11.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jmimemagic-0.1.2.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/jmimemagic/jmimemagic/0.1.2/jmimemagic-0.1.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="oro-2.0.8.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/oro/oro/2.0.8/oro-2.0.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xercesImpl-2.7.1.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/xerces/xercesImpl/2.7.1/xercesImpl-2.7.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xml-apis-1.0.b2.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/xml-apis/xml-apis/1.0.b2/xml-apis-1.0.b2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xmlParserAPIs-2.0.2.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/xml-apis/xmlParserAPIs/2.0.2/xmlParserAPIs-2.0.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="tika-core-1.16.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/apache/tika/tika-core/1.16/tika-core-1.16.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AltCommonEntity-0.0.1-SNAPSHOT.jar" deploy-path="/lib/" handle="module:/resource/AltCommonEntity/AltCommonEntity">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-validator-4.3.2.Final.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-validator/4.3.2.Final/hibernate-validator-4.3.2.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="validation-api-1.0.0.GA.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/javax/validation/validation-api/1.0.0.GA/validation-api-1.0.0.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="DataHubEntity-0.0.1-SNAPSHOT.jar" deploy-path="/lib/" handle="module:/resource/AltDataHubEntity/AltDataHubEntity">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="DataManagerEntity-0.0.1-SNAPSHOT.jar" deploy-path="/lib/" handle="module:/resource/AltDataManagerEntity/AltDataManagerEntity">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="RecruitEntity-0.0.1-SNAPSHOT.jar" deploy-path="/lib/" handle="module:/resource/TalentPactATSEntity/TalentPactATSEntity">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AuthEntity-0.0.1-SNAPSHOT.jar" deploy-path="/lib/" handle="module:/resource/TalentPactAuthEntity/TalentPactAuthEntity">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="WorklifeEntity-0.0.1-SNAPSHOT.jar" deploy-path="/lib/" handle="module:/resource/TalentPactEntity/TalentPactEntity">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="SurveyEntity-0.0.1-SNAPSHOT.jar" deploy-path="/lib/" handle="module:/resource/TalentPactFormEngineNewEntity/TalentPactFormEngineNewEntity">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AnalyticsEntity-0.0.1-SNAPSHOT.jar" deploy-path="/lib/" handle="module:/resource/TalentPactInsightsAggEntity/TalentPactInsightsAggEntity">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="AltAdminRemote-0.0.1-SNAPSHOT.jar" deploy-path="/lib/" handle="module:/resource/AltAdminRemote/AltAdminRemote">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-net-3.1.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/commons-net/commons-net/3.1/commons-net-3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-core-4.1.5.Final.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-core/4.1.5.Final/hibernate-core-4.1.5.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jboss-logging-3.1.0.GA.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/jboss/logging/jboss-logging/3.1.0.GA/jboss-logging-3.1.0.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jboss-transaction-api_1.1_spec-1.0.0.Final.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/jboss/spec/javax/transaction/jboss-transaction-api_1.1_spec/1.0.0.Final/jboss-transaction-api_1.1_spec-1.0.0.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dom4j-1.6.1.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/dom4j/dom4j/1.6.1/dom4j-1.6.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-jpa-2.0-api-1.0.1.Final.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/hibernate/javax/persistence/hibernate-jpa-2.0-api/1.0.1.Final/hibernate-jpa-2.0-api-1.0.1.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javassist-3.15.0-GA.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/javassist/javassist/3.15.0-GA/javassist-3.15.0-GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-commons-annotations-4.0.1.Final.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/hibernate/common/hibernate-commons-annotations/4.0.1.Final/hibernate-commons-annotations-4.0.1.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-entitymanager-4.1.5.Final.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-entitymanager/4.1.5.Final/hibernate-entitymanager-4.1.5.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jedis-2.6.0.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/redis/clients/jedis/2.6.0/jedis-2.6.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-pool2-2.0.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/apache/commons/commons-pool2/2.0/commons-pool2-2.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="slf4j-api-1.6.1.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-api/1.6.1/slf4j-api-1.6.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="logback-classic-1.0.13.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/ch/qos/logback/logback-classic/1.0.13/logback-classic-1.0.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="logback-core-1.0.13.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/ch/qos/logback/logback-core/1.0.13/logback-core-1.0.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jcl-over-slf4j-1.6.1.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/slf4j/jcl-over-slf4j/1.6.1/jcl-over-slf4j-1.6.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-mapper-asl-1.9.13.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/codehaus/jackson/jackson-mapper-asl/1.9.13/jackson-mapper-asl-1.9.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jackson-core-asl-1.9.13.jar" deploy-path="/lib/" handle="module:/classpath/var/M2_REPO/org/codehaus/jackson/jackson-core-asl/1.9.13/jackson-core-asl-1.9.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="SuperAdminEAR"/>
        <property name="java-output-path" value="/SuperAdminEAR/build/classes"/>
    </wb-module>
</project-modules>
