<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="replicateFormSecurityForm">
		<p:messages id="messages" closable="true" />
		<div class="btn_left">
			<label class="Page_Tittle">Replicate Form Security </label>
		</div>
		<br />
		<br />
		<h:panelGrid columns="2" cellpadding="5" style="border:none">

			<p:outputLabel>
				<span class="redColor">*</span>SourceOrganization:</p:outputLabel>
			<p:selectOneMenu id="SourceOrganization"
				label="#{replicateFormSecurityBean.sourceOrganizationName}"
				value="#{replicateFormSecurityBean.sourceOrganizationID}"
				required="true" filter="true" filterMatchMode="contains"
				requiredMessage="Please select the Source Organization">
				<f:selectItem itemLabel="Select One" itemValue=""
					noSelectionOption="true" />
				<f:selectItems var="record"
					value="#{replicateFormSecurityBean.sourceOrganizationTOList}"
					itemLabel="#{record.organizationName}"
					itemValue="#{record.organizationID}" />
				<p:ajax event="change" update=":replicateFormSecurityForm"
					listener="#{replicateFormSecurityController.getDestinationOrganizationList()}" />
			</p:selectOneMenu>

			<p:outputLabel>
				<span class="redColor">*</span>DestinationOrganization:</p:outputLabel>
			<p:selectOneMenu id="DestinationOrganization"
				label="#{replicateFormSecurityBean.destinationOrganizationName}"
				value="#{replicateFormSecurityBean.destinationOrganizationID}"
				required="true" filter="true" filterMatchMode="contains"
				requiredMessage="Please select the Destination Organization">
				<f:selectItem itemLabel="Select One" itemValue=""
					noSelectionOption="true" />
				<f:selectItems var="record"
					value="#{replicateFormSecurityBean.destinationOrganizationTOList}"
					itemLabel="#{record.organizationName}"
					itemValue="#{record.organizationID}" />
				<p:ajax event="change" update=":replicateFormSecurityForm"
					listener="#{replicateFormSecurityController.getSourceModuleList()}" />
			</p:selectOneMenu>

			<p:outputLabel>
				<span class="redColor">*</span>Module:</p:outputLabel>
			<p:selectOneMenu id="SourceModule"
				label="#{replicateFormSecurityBean.moduleName}"
				value="#{replicateFormSecurityBean.sysModuleID}" required="true"
				filter="true" filterMatchMode="contains"
				requiredMessage="Please select the Module">
				<f:selectItem itemLabel="Select One" itemValue=""
					noSelectionOption="true" />
				<f:selectItems var="record"
					value="#{replicateFormSecurityBean.sourceModuleTOList}"
					itemLabel="#{record.moduleName}" itemValue="#{record.sysModuleID}" />
				<p:ajax event="change"
					update=":replicateFormSecurityForm,:existingFormSecurityValidateModal"
					listener="#{replicateFormSecurityController.validateExistingFormSecurity()}" />
			</p:selectOneMenu>

		</h:panelGrid>
		<p:commandButton styleClass="Submit_button" value="Copy"
			rendered="#{replicateFormSecurityBean.copyButtonVisible}"
			process=":replicateFormSecurityForm"
			action="#{replicateFormSecurityController.isWorkFlowEnabled()}"
			update=":replicateFormSecurityForm, :replicateFormSecurityHistoryForm"
			style="float:bottom" />

		<p:dialog header="Copy Form Security without WorkFlow stages"
			widgetVar="confirmDlgBox" resizable="false" closeOnEscape="true"
			modal="true" id="confirmForm">
			<div class="confirmDialog_text">
				<label styleClass="ui-widget-header"><b> Form Security
						in Source Organization involves security with WorkFlow Stages.
						Form Security for Destination Organization will be copied without
						WorkFlow Stages. Do you want to continue?</b></label> <br />
			</div>
			<div class="confirmDialog_btn_panel">
				<p:commandButton value="Yes" styleClass="Submit_button"
					icon="ui-icon-check" oncomplete="PF('confirmDlgBox').hide(); "
					action="#{replicateFormSecurityController.replicateFormSecurity()}"
					update=":replicateFormSecurityForm, :replicateFormSecurityHistoryForm" />
				<p:spacer width="20px" />
				<p:commandButton value="No" type="button" styleClass="cancel_button"
					icon="ui-icon-close" onclick="PF('confirmDlgBox').hide();"
					immediate="true" />
			</div>
		</p:dialog>

	</h:form>

	<p:dialog id="existingFormSecurityValidateModal"
		widgetVar="existingFormSecurityValidateModal"
		header="ExistingFormSecurity" modal="true" resizable="false">
		<h:form id="existingFormSecurityValidateForm">
			<p:messages id="existingFormSecurityValidate" closable="true"
				autoUpdate="true" />
			
FormSecurity for the selected module already exists. Do you want to deactivate the existing form security and copy the new one?
<br />
			<p:commandButton styleClass="Submit_button"
				value="DeactivateFormSecurity" onclick="scrollUp();"
				action="#{replicateFormSecurityController.deactivateExistingFormSecurity()}"
				update=":replicateFormSecurityForm"
				oncomplete="PF('existingFormSecurityValidateModal').hide();" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('existingFormSecurityValidateModal').hide();"
				action="#{replicateFormSecurityController.removeCopyButton()}"
				update=":replicateFormSecurityForm" style="float:bottom"
				required="true" />
		</h:form>
	</p:dialog>

	<br />
	<br />

	<h:form id="replicateFormSecurityHistoryForm">

		<div class="btn_left">
			<label class="Page_Tittle">Replicate Form Security History:</label>
		</div>
		<br />
		<br />
		<div class="listing_Table">
			<p:dataTable widgetVar="myDataTable"
				id="replicateFormSecurityHistoryDataTable" var="record"
				value="#{replicateFormSecurityBean.replicateFormSecurityHistoryTOList}"
				rows="10" paginator="true" rowIndexVar="index"
				paginatorAlwaysVisible="true" styleClass="table-header"
				paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30" style="margin-bottom:20px">

				<p:column sortBy="#{record.sourceOrganizationName}"
					filterBy="#{record.sourceOrganizationName}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="SourceOrganizationName" />
					</f:facet>
					<h:outputText value="#{record.sourceOrganizationName}" />
				</p:column>

				<p:column sortBy="#{record.destinationOrganizationName}"
					filterBy="#{record.destinationOrganizationName}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="DestinationOrganizationName" />
					</f:facet>
					<h:outputText value="#{record.destinationOrganizationName}" />
				</p:column>

				<p:column sortBy="#{record.moduleName}"
					filterBy="#{record.moduleName}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="ModuleName" />
					</f:facet>
					<h:outputText value="#{record.moduleName}" />
				</p:column>

				<p:column sortBy="#{record.userName}" filterBy="#{record.userName}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="ReplicatedByUser" />
					</f:facet>
					<h:outputText value="#{record.userName}" />
				</p:column>

				<p:column sortBy="#{record.createdDate}"
					filterBy="#{record.createdDate}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="ReplicatedOn" />
					</f:facet>
					<h:outputText value="#{record.createdDate}" />
				</p:column>
			</p:dataTable>
		</div>
	</h:form>

</ui:composition>
