<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="DSOPlaceHolderListForm">
		<p:messages id="messages" closable="true"/>
		<label class="Page_Tittle">DSO Placeholder List</label>
		<p:commandButton icon="ui-icon-plus"
			update=":addDSOPlaceHolderForm"
			styleClass="btn_right cancel_button" title="Add Placeholder"
			action="#{sysDSOPlaceHolderController.resetDSOPlaceHolder}"
			oncomplete="PF('dsoPlaceHolderAddModal').show()" />

		<div class="listing_Table">
			<p:dataTable widgetVar="dsoPlaceHolderDataTable"
				var="dsoPlaceHolder"
				value="#{sysDSOPlaceHolderBean.DSOPlaceHolderTOList}"
				rows="10" paginator="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">
				<p:column headerText="Placeholder Label"
					sortBy="#{dsoPlaceHolder.placeholderLabel}"
					filterBy="#{dsoPlaceHolder.placeholderLabel}"
					filterMatchMode="contains">
					<h:outputText
						value="#{dsoPlaceHolder.placeholderLabel}" />
				</p:column>

				<p:column headerText="Placeholder Type"
					sortBy="#{dsoPlaceHolder.placeholderType}"
					filterBy="#{dsoPlaceHolder.placeholderType}"
					filterMatchMode="contains">
					<h:outputText
						value="#{dsoPlaceHolder.placeholderType}" />
				</p:column>
				
				<p:column headerText="Placeholder Value"
					sortBy="#{dsoPlaceHolder.placeholderValue}"
					filterBy="#{dsoPlaceHolder.placeholderValue}"
					filterMatchMode="contains">
					<h:outputText
						value="#{dsoPlaceHolder.placeholderValue}" />
				</p:column>
				
				<p:column headerText="Status"
					sortBy="#{dsoPlaceHolder.isActive}"
					filterBy="#{dsoPlaceHolder.isActive}"
					filterMatchMode="contains">
					<h:outputText
						value="#{dsoPlaceHolder.isActive}" />
				</p:column>
				
				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show()"
						update=":dsoPlaceHolderEditForm"
						action="#{sysDSOPlaceHolderController.editDSOPlaceHolder(dsoPlaceHolder)}" />
					<p:spacer height="10" />
				</p:column>

			</p:dataTable>
			
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide(); PF('dsoPlaceHolderEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>
	<p:dialog header="NEW DSOPLACEHOLDER"
		widgetVar="dsoPlaceHolderAddModal" modal="true"
		resizable="false">
		<h:form id="addDSOPlaceHolderForm">
			<p:messages id="messages" closable="true" />
			<h:panelGrid columns="4" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>Placeholder Label:</p:outputLabel>
				<p:inputText id="PlaceHolderLabel" required="true"
					maxlength="50"
					requiredMessage="Placeholder Label is required"
					value="#{sysDSOPlaceHolderBean.placeHolderLabel}" />
				
				<p:outputLabel>
					<span class="redColor">*</span>Placeholder Value:</p:outputLabel>
				<p:inputText id="PlaceholderValue" required="true"
					maxlength="50"
					requiredMessage="PlaceHolder Value is required"
					value="#{sysDSOPlaceHolderBean.placeHolderValue}" />
					
				<p:outputLabel>
					<span class="redColor">*</span>Placeholder Type:</p:outputLabel>
				<p:selectOneMenu id="PlaceHolderType"
					value="#{sysDSOPlaceHolderBean.placeHolderType}" filter="true"
					filterMatchMode="contains"  required="true" requiredMessage="Placeholder Type is required">
					<f:selectItem itemLabel="Please Select" itemValue="" />
					<f:selectItems var="record"
						value="#{sysDSOPlaceHolderBean.placeHolderTypelist}"
						itemLabel="#{record}" itemValue="#{record}" />
				</p:selectOneMenu>
					
				<p:outputLabel>
					<span class="redColor">*</span>IsActive:</p:outputLabel>
				<p:selectBooleanCheckbox   value="#{sysDSOPlaceHolderBean.isActive}" />
				
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysDSOPlaceHolderController.saveDSOPlaceHolder()}"
				update=":addDSOPlaceHolderForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('dsoPlaceHolderAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>

	<p:dialog widgetVar="dsoPlaceHolderEditModal" resizable="false"
		header="Update DSO PlaceHolder" modal="true">
		<h:form id="dsoPlaceHolderEditForm">
		<p:messages id="editDSOPlaceHolder" closable="true"/>
			<h:panelGrid columns="4" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>Placeholder Label: </p:outputLabel>
				<p:inputText id="updatePlaceHolderLabel" required="true"
					maxlength="50"
					value="#{sysDSOPlaceHolderBean.dsoPlaceHolderTO.placeholderLabel}"
					requiredMessage="Placeholder Label is required" />
				<p:outputLabel>
					<span class="redColor">*</span>Placeholder Value: </p:outputLabel>
				<p:inputText id="updatePlaceHolderValue" required="true"
					maxlength="50"
					value="#{sysDSOPlaceHolderBean.dsoPlaceHolderTO.placeholderValue}"
					requiredMessage="Placeholder Value is required" />
				<p:outputLabel>
					<span class="redColor">*</span>Placeholder Type: </p:outputLabel>
				<p:selectOneMenu id="updatePlaceHolderType"
					value="#{sysDSOPlaceHolderBean.dsoPlaceHolderTO.placeholderType}" filter="true"
					filterMatchMode="contains"  required="true" requiredMessage="Placeholder Type is required">
					<f:selectItem itemLabel="Please Select" itemValue="" />
					<f:selectItems var="record1"
						value="#{sysDSOPlaceHolderBean.placeHolderTypelist}"
						itemLabel="#{record1}" itemValue="#{record1}" />
				</p:selectOneMenu>
				<p:outputLabel>
					<span class="redColor">*</span>IsActive: </p:outputLabel>
				<p:selectBooleanCheckbox  id="updateIsActive" value="#{sysDSOPlaceHolderBean.dsoPlaceHolderTO.isActive}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" update=":dsoPlaceHolderEditForm"
				action="#{sysDSOPlaceHolderController.updateDSOPlaceHolder()}" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				action="#{sysDSOPlaceHolderController.resetDSOPlaceHolder}"
				oncomplete="PF('dsoPlaceHolderEditModal').hide();"
				style="float:bottom" required="true" />
		</h:form>
	</p:dialog>

</ui:composition>