<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
	<title>Super Admin Portal</title>
	<link rel="icon" type="image/png" href="/images/diffcgfa.png"/>
		
	<link rel="stylesheet" type="text/css" href="../css/home.css"></link>
		<script type="text/javascript" src="../javascript/common.js"></script>
			
		<script type="text/javascript">
			$(document).ready(function() {
				$('.top_menu ul li:first-child').addClass('active');
				$('.top_menu ul li').click(function() {
					$(this).addClass('active');
					$(this).siblings().removeClass('active');
				});
			});
		</script>
	</h:head>
	<h:body>
	<div class="container_header">
		<div class="header">
			<div class="fl">
				<img src="../images/pslogo.png" />
			</div>
			
			<div class="fc"></div>
			<div class="matteroff">
				<div class="matteron">
				<p:graphicImage styleClass="matteronUserPic" style="border:none" height="26px" width="26px" value="/images/User_image.png"></p:graphicImage>
					<div class="nameLoginBlock">
						<span class="givenName">Super Admin</span>
						<input type="hidden" name="loginCheck" value="#{loginChecker}" /> 
						<!--<span class="last_login">Last Login : 01 Jul 2016, 10:42</span>-->
					</div>

					<div class="headright">
						<div class="first"></div>
						<ul>
							<li><span class="lion45"></span> <p:commandLink
									styleClass="preferences" value="Preferences" /></li>
							<li><span class="lion45"></span> <p:commandLink
									styleClass="password" value="Change Password"  /></li>
							<li><span class="lion45"></span> <p:commandLink
									styleClass="logout" value="Logout"
									action="#{loginActionController.logout}" /></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="menu">
			<ui:include src="/pages/menu.xhtml" />
		</div>
	</div>
		<div class="central">
			<h:panelGroup id="centerForm">
				<ui:include src="#{menuBean.page}" />
			</h:panelGroup>
		</div>
	<p:ajaxStatus  onsuccess="PF('processDialog').hide();" onerror="PF('processDialog').hide();" onstart="PF('processDialog').show();" oncomplete="PF('processDialog').hide();" />
	
<p:dialog  id="ajaxDialog" widgetVar="processDialog" styleClass="loader_block dialog popup_center" modal="true" draggable="false"  closable="false" resizable="false" showHeader="false" >

    <div class="loader_img">
        <img alt="" src="../images/ajax-loader.gif" />
    </div>
    <div class="loader_text">Loading...</div>	
</p:dialog>


	</h:body>
</html>