<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<style>
#sortable li {
	padding: 2px !important;
}

.form_content_inner {
	margin-left: 16px !important;
	width: 97% !important;
}

li {
	list-style-type: none !important;
}
</style>
	<h:form id="dashBoardListForm">
		<p:messages id="messages" closable="true" />
		<label class="Page_Tittle">System DashBoard List</label>
		<h:panelGrid columns="2" styleClass="btn_right">
			<p:commandButton icon="ui-icon-plus"
				styleClass="btn_right cancel_button" title="Add System DashBoard"
				action="#{dashBoardController.createSysDashBoard}"
				update=":dashBoardEditModalForm"
				oncomplete="PF('dashBoardEditModal').show()" />
		</h:panelGrid>
		<div class="listing_Table">
			<p:dataTable id="sysDashBoardList" var="dash"
				value="#{dashBoardBean.dashBoardTOList}"
				emptyMessage="No DashBoard Item Exist right now"
				filteredValue="#{dashBoardBean.filtedredDashBoardTOList}"
				rowsPerPageTemplate="10,20,30" paginator="true"
				paginatorAlwaysVisible="true" rows="10" paginatorPosition="bottom">
				<p:column headerText="DashBoard Name"
					filterBy="#{dash.dashboardItemName}" filterMatchMode="contains">
					<h:outputText value="#{dash.dashboardItemName}" />
				</p:column>
				<p:column headerText="DashBoard Url"
					filterBy="#{dash.dashboardItemURL}" filterMatchMode="contains">
					<h:outputText value="#{dash.dashboardItemURL}" />
				</p:column>
				<p:column headerText="Module Name">
					<h:outputText value="#{dash.parentModuleName}" />
				</p:column>
				<p:column headerText="Sub Module Name">
					<h:outputText value="#{dash.moduleName}" />
				</p:column>
				<p:column headerText="Column Position">
					<h:outputText value="#{dash.columnPositionName}" />
				</p:column>
				<p:column headerText="DashBoardItemCode">
					<h:outputText value="#{dash.dashBoardItemCode}" />
				</p:column>
				<p:column headerText="Status">
					<h:outputText value="Active" rendered="#{dash.status}" />
					<h:outputText value="InActive" rendered="#{!dash.status}" />
				</p:column>
				<p:column headerText="Action">
					<p:commandButton styleClass="cancel_button" icon="ui-icon-pencil"
						title="Edit DashBoard"
						action="#{dashBoardController.updateDashBoard(dash)}"
						update=":dashBoardEditModalForm"
						oncomplete="PF('dashBoardEditModal').show();">
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</div>
		<br />
	</h:form>
	<p:dialog header="Dash Board Edit" widgetVar="dashBoardEditModal"
		modal="true">
		<h:form id="dashBoardEditModalForm">
			<p:messages id="messages1" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>Module:</p:outputLabel>
				<p:selectOneMenu
					label="#{dashBoardBean.dashBoardTO.parentModuleName}"
					value="#{dashBoardBean.dashBoardTO.parentModuleID}" required="true"
					filter="true" filterMatchMode="contains"
					requiredMessage="Please select a module">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{dashBoardBean.parentModuleList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
					<p:ajax update=":dashBoardEditModalForm"
						listener="#{dashBoardController.getSubModuleList(dashBoardBean.dashBoardTO.parentModuleID)}"></p:ajax>
				</p:selectOneMenu>
				<p:outputLabel>
					<span class="redColor"></span>Sub Module:</p:outputLabel>
				<p:selectOneMenu label="#{dashBoardBean.dashBoardTO.moduleName}"
					value="#{dashBoardBean.dashBoardTO.moduleID}" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record" value="#{dashBoardBean.moduleList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
				</p:selectOneMenu>
				<p:outputLabel>
					<span class="redColor">*</span>DashBoard Name:</p:outputLabel>
				<p:inputText id="dashBoardName" required="true"
					requiredMessage="Please enter a DashBoard Item name "
					value="#{dashBoardBean.dashBoardTO.dashboardItemName}" />
				<p:outputLabel>
					<span class="redColor">*</span>DashBoard URL:</p:outputLabel>
				<p:inputText id="dashBoardURL" required="true"
					requiredMessage="Please enter a DashBoard URL "
					value="#{dashBoardBean.dashBoardTO.dashboardItemURL}" />
					<p:outputLabel>
					<span class="redColor">*</span>Card Code:</p:outputLabel>
				<p:inputText id="dacode" required="false" requiredMessage=""
					value="#{dashBoardBean.dashBoardTO.dashBoardItemCode}" />
				<p:outputLabel>
					<span class="redColor">*</span>Column Position:</p:outputLabel>
				<p:selectOneMenu
					label="#{dashBoardBean.dashBoardTO.columnPositionName}"
					value="#{dashBoardBean.dashBoardTO.columnPosition}" required="true"
					filter="true" filterMatchMode="contains"
					requiredMessage="Please select Column Position">
					<f:selectItem itemLabel="Please Select" itemValue=""
						noSelectionOption="true" />
					<f:selectItem itemLabel="Left" itemValue="1" />
					<f:selectItem itemLabel="Middle" itemValue="2" />
					<f:selectItem itemLabel="Right" itemValue="3" />
				</p:selectOneMenu>
				<p:outputLabel>Is Active:</p:outputLabel>
				<p:selectBooleanCheckbox value="#{dashBoardBean.dashBoardTO.status}"
					id="statusactivated">
				</p:selectBooleanCheckbox>
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				rendered="#{dashBoardBean.saveFlag}"
				action="#{dashBoardController.saveDashBoard(true)}"
				update=":dashBoardEditModalForm" oncomplete="scrollUp();" />

			<p:commandButton styleClass="Submit_button" value="Update"
				rendered="#{!dashBoardBean.saveFlag}"
				action="#{dashBoardController.saveDashBoard(false)}"
				update=":dashBoardEditModalForm" oncomplete="scrollUp();" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('dashBoardEditModal').hide(); scrollUp();"
				immediate="true" />

		</h:form>
	</p:dialog>
</ui:composition>