<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysSchedulerListForm">
		<p:messages id="messages" closable="true"
			rendered="#{!sysSchedulerBean.renderErrorMessage}" />
			<label class="Page_Tittle">SysScheduler List</label>
			<p:commandButton icon="ui-icon-plus"
			update=":addSysSchedulerForm"
			styleClass="btn_right cancel_button"
			title="AddSysScheduler"
			action="#{sysSchedulerController.resetSysScheduler}"
			oncomplete="PF('sysSchedulerAddModal').show()" />
			
			<div class="listing_Table">
			<p:dataTable widgetVar="sysSchedulerDataTable"
				var="sysScheduler"
				value="#{sysSchedulerBean.sysSchedulerTOList}"
				rows="10" paginator="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">
				<p:column headerText="Scheduler Name"
					sortBy="#{sysScheduler.sysSchedulerName}"
					filterBy="#{sysScheduler.sysSchedulerName}"
					filterMatchMode="contains">
					<h:outputText
						value="#{sysScheduler.sysSchedulerName}" />
				</p:column>

				<p:column
					sortBy="#{sysScheduler.sysSchedulerDescription}"
					filterBy="#{sysScheduler.sysSchedulerDescription}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Scheduler Description" />
					</f:facet>
					<h:outputText
						value="#{sysScheduler.sysSchedulerDescription}" />
				</p:column>
				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('sysSchedulerEditModal').show()"
						update=":sysSchedulerEditForm"
						action="#{sysSchedulerController.editSysScheduler(sysScheduler)}" />
					<p:spacer height="10" />
				</p:column>
				
				</p:dataTable>
				</div>
			</h:form>
			
<p:dialog header="NEW SYSSCHEDULER"
		styleClass="PopUpinCenter_addFilter"
		widgetVar="sysSchedulerAddModal" modal="true"
		resizable="false">
		<h:form id="addSysSchedulerForm">
			<p:messages id="messages" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>Scheduler Name:</p:outputLabel>
				<p:inputText id="SysSchedulerType" required="true"
					maxlength="50"
					requiredMessage="Please input a Scheduler Name"
					value="#{sysSchedulerBean.sysSchedulerName}" />
				
				<p:outputLabel>
					<span class="redColor">*</span>Scheduler Description:</p:outputLabel>
				<p:inputText id="SysSchedulerDescription"
					required="true"
					requiredMessage="Please input Scheduler Description"
					value="#{sysSchedulerBean.sysSchedulerDescription}"/>
			</h:panelGrid>
			
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysSchedulerController.saveSysScheduler()}"
				update=":addSysSchedulerForm"
				process=":addSysSchedulerForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysSchedulerAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>
	
	<p:dialog widgetVar="sysSchedulerEditModal" resizable="false"
		styleClass="PopUpinCenter_addFilter" header="SysScheduler"
		modal="true">
		<h:form id="sysSchedulerEditForm">
			<p:messages id="editSysScheduler" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>Scheduler Name: </p:outputLabel>
				<p:inputText id="updatesysScheduler" required="true"
					maxlength="50"
					value="#{sysSchedulerBean.sysSchedulerTO.sysSchedulerName}"
					requiredMessage="Scheduler Name is required" />
					
					<p:outputLabel>
					<span class="redColor">*</span>Scheduler Description: </p:outputLabel>
				<p:inputText id="sysScheduler2" required="true"
					maxlength="50"
					value="#{sysSchedulerBean.sysSchedulerTO.sysSchedulerDescription}"
					requiredMessage="Scheduler Description is required" />
					
					</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" update=":sysSchedulerEditForm"
				action="#{sysSchedulerController.updateSysScheduler()}"
				process=":sysSchedulerEditForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				action="#{sysSchedulerController.resetSysScheduler}"
				oncomplete="PF('sysSchedulerEditModal').hide();"
				style="float:bottom" required="true" />
		</h:form>
	</p:dialog>

		</ui:composition>