<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysOfferingCategoryListForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true"
			rendered="#{!sysOfferingCategoryBean.renderErrorMessage}" />
		<label class="Page_Tittle">SysOfferingCategory List</label>

		<p:commandButton icon="ui-icon-plus"
			update=":addSysOfferingCategoryForm"
			styleClass="btn_right cancel_button" title="Add NewOfferingCategory"
			action="#{sysOfferingCategoryController.resetSysOfferingCategory}"
			oncomplete="PF('sysOfferingCategoryAddModal').show();" />

		<div class="listing_Table">
			<p:dataTable widgetVar="sysOfferingCategoryDataTable"
				value="#{sysOfferingCategoryBean.sysOfferingCategoryTOList}"
				var="sysOfferingCategory" rows="10" rowsPerPageTemplate="10,20,30"
				paginatorPosition="bottom" paginator="true">
				<p:column sortBy="#{sysOfferingCategory.offeringCategory}"
					filterBy="#{sysOfferingCategory.offeringCategory}"
					headerText="SysOfferingCategory" filterMatchMode="in">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="SysOfferingCategory"
							onchange="PF('sysOfferingCategoryDataTable').filter()"
							filterMatchMode="contains" filter="true"
							value="#{sysOfferingCategoryBean.selectedOfferingCategory}">
							<f:selectItems
								value="#{sysOfferingCategoryBean.sysOfferingCategory}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{sysOfferingCategory.offeringCategory}" />
				</p:column>

				<p:column sortBy="#{sysOfferingCategory.description}"
					filterBy="#{sysOfferingCategory.description}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Description" />
					</f:facet>
					<h:outputText value="#{sysOfferingCategory.description}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show();"
						update=":sysOfferingCategoryEditForm"
						action="#{sysOfferingCategoryController.refreshPopUp(sysOfferingCategory)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide(); PF('sysOfferingCategoryEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>

	<p:dialog header="NEW OFFERINGCATEGORY"
		widgetVar="sysOfferingCategoryAddModal" modal="true">
		<h:form id="addSysOfferingCategoryForm">
			<p:messages id="newOfferingCategoryMessages" showDetail="false"
				autoUpdate="true" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>System OfferingCategory:</p:outputLabel>
				<p:inputText id="SysOfferingCategory" required="true"
					maxlength="200"
					requiredMessage="Please input a SysOfferingCategory"
					value="#{sysOfferingCategoryBean.offeringCategory}" />
				<p:outputLabel>
					Description:</p:outputLabel>
				<p:inputText id="Description" maxlength="200"
					requiredMessage="Please input a Description"
					value="#{sysOfferingCategoryBean.description}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysOfferingCategoryController.addSysOfferingCategory()}"
				process=":addSysOfferingCategoryForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysOfferingCategoryAddModal').hide(); scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysOfferingCategoryEditModal"
		header="SysOfferingCategory" modal="true">
		<h:form id="sysOfferingCategoryEditForm">
			<p:messages id="editSysOfferingCategory" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel>
					<span class="redColor">*</span>SysOfferingCategory:</p:outputLabel>
				<p:inputText value="#{sysOfferingCategoryBean.offeringCategory}"
					maxlength="50" required="true"
					requiredMessage="Category Name is required" />
				<p:outputLabel>
					<span class="redColor">*</span>Description:</p:outputLabel>
				<p:inputText value="#{sysOfferingCategoryBean.description}"
					maxlength="50" requiredMessage="Description is required" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();"
				action="#{sysOfferingCategoryController.updateSysOfferingCategory}"
				update=":sysOfferingCategoryListForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				oncomplete="PF('sysOfferingCategoryEditModal').hide();"
				style="float:bottom" immediate="true" />


		</h:form>
	</p:dialog>

</ui:composition>