<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:form id="customForm">
		
		<div class="well">
			<b> Custom MultiSelectChechboxMenu:</b>
			
			 <select id="customForm"  multiple="multiple">
				<option value="Menu1">Menu1</option>
				<option value="Menu2">Menu2</option>
				<option value="Menu3">Menu3</option>
				<option value="Menu4">Menu4</option>
				<option value="Menu5">Menu5</option>
				<option value="Menu6">Menu6</option>
				<option value="Menu7">Menu7</option>
				<option value="Menu8">Menu8</option>
				<option value="Menu9">Menu9</option>
			</select>
		</div>
		<script type="text/javascript" >
			$('#customForm').multiselect({
				nonSelectedText : 'Select Menu',
				includeSelectAllOption : true,
				enableFiltering : true,
				numberDisplayed : 10000,
			});
		</script>

	</h:form>
</ui:composition>