<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysOfferingTypeListForm">
		<p:messages id="messages" closable="true"
			rendered="#{!sysOfferingTypeBean.renderErrorMessage}" />
		<label class="Page_Tittle">SysOfferingType List</label>
		<p:commandButton icon="ui-icon-plus" update=":addSysOfferingTypeForm"
			styleClass="btn_right cancel_button" title="AddOfferingType"
			action="#{sysOfferingTypeController.resetSysOfferingType}"
			oncomplete="PF('sysOfferingTypeAddModal').show()" />
		<div class="listing_Table">
			<p:dataTable widgetVar="sysOfferingTypeDataTable"
				var="sysOfferingType"
				value="#{sysOfferingTypeBean.offeringTypeTOList}" rows="10"
				paginator="true" styleClass="table-header" rowIndexVar="index"
				paginatorPosition="bottom"
				filteredValue="#{sysOfferingTypeBean.offeringTypeFilteredList}"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">

				<f:facet name="{Sys Offering Type}" />
				<p:column sortBy="#{sysOfferingType.offeringCategory}"
					filterBy="#{sysOfferingType.offeringCategory}"
					headerText="Sys Offering Category" filterMatchMode="in">
					<f:facet name="filter">
						<p:selectCheckboxMenu label="Sys Offering Category"
							onchange="PF('sysOfferingTypeDataTable').filter()"
							filterMatchMode="contains" filter="true"
							value="#{sysOfferingTypeBean.selectedOfferingTypeList}">
							<f:selectItems value="#{sysOfferingTypeBean.offeringTypeList}" />

						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{sysOfferingType.offeringCategory}" />
				</p:column>

				<p:column headerText="SysOfferingType"
					sortBy="#{sysOfferingType.offeringType}"
					filterBy="#{sysOfferingType.offeringType}"
					filterMatchMode="contains">
					<h:outputText value="#{sysOfferingType.offeringType}" />
				</p:column>

				<p:column sortBy="#{sysOfferingType.description}"
					filterBy="#{sysOfferingType.description}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Description" />
					</f:facet>
					<h:outputText value="#{sysOfferingType.description}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show()"
						action="#{sysOfferingTypeController.updateEditSysOfferingType(sysOfferingType)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check" update=":sysOfferingTypeEditForm"
						oncomplete="PF('confirmDlgBox').hide(), PF('sysOfferingTypeEditModal').show()" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide()" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>

	<p:dialog header="NEWOFFERINGTYPE" widgetVar="sysOfferingTypeAddModal"
		modal="true">
		<h:form id="addSysOfferingTypeForm">
			<p:messages id="messages" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">

				<p:outputLabel>
					<span class="redColor">*</span>System Offering Category:</p:outputLabel>
				<p:selectOneMenu id="SysOfferingCategory"
					label="#{sysOfferingTypeBean.offeringCategory}"
					value="#{sysOfferingTypeBean.offeringCategoryID}" required="true"
					filter="true" filterMatchMode="contains"
					requiredMessage="Please select a System Offering Category">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysOfferingTypeBean.newOfferingCategoryTOList}"
						itemLabel="#{record.offeringCategory}"
						itemValue="#{record.offeringCategoryID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>System Offering Type:</p:outputLabel>
				<p:inputText id="SysOfferingType" required="true" maxlength="200"
					requiredMessage="Please input a Sys Offering Type"
					value="#{sysOfferingTypeBean.offeringType}" />
				<p:outputLabel>
					Description:</p:outputLabel>
				<p:inputText id="Description" maxlength="200"
					requiredMessage="Please input a Description"
					value="#{sysOfferingTypeBean.description}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysOfferingTypeController.addSysOfferingType()}"
				update=":addSysOfferingTypeForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysOfferingTypeAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysOfferingTypeEditModal" header="SysOfferingType"
		modal="true">
		<h:form id="sysOfferingTypeEditForm">
			<p:messages id="editSysOfferingType" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>SysOfferingCategory:</p:outputLabel>
				<p:selectOneMenu id="SysOfferingCategory" filter="true"
					filterMatchMode="contains"
					value="#{sysOfferingTypeBean.offeringCategoryID}" required="true"
					requiredMessage="Sys Offering Category is required">
					<f:selectItems var="record"
						value="#{sysOfferingTypeBean.offeringCategoryList}"
						itemLabel="#{record.offeringCategory}"
						itemValue="#{record.offeringCategoryID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>SysOfferingType: </p:outputLabel>
				<p:inputText id="sysOfferingType" required="true" maxlength="200"
					value="#{sysOfferingTypeBean.offeringType}"
					requiredMessage="SysOfferingType is required" />
				<p:outputLabel>
					Description:</p:outputLabel>
				<p:inputText value="#{sysOfferingTypeBean.description}"
					maxlength="50" requiredMessage="Description is required" />

			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" update=":sysOfferingTypeEditForm"
				action="#{sysOfferingTypeController.saveSysOfferingType()}" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				action="#{sysOfferingTypeController.resetSysOfferingType}"
				oncomplete="PF('sysOfferingTypeEditModal').hide();"
				style="float:bottom" required="true" />


		</h:form>
	</p:dialog>
</ui:composition>