<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:form id="meshRequestBlockingConfigListForm">
		<p:messages id="messages" showDetail="true" autoUpdate="false"
			closable="true"
			rendered="#{!meshRequestBlockingConfigBean.renderErrorMessage}" />
        <label class="Page_Tittle">MeshRequestBlockingConfig List</label>
        <p:commandButton icon="ui-icon-plus" update=":addMeshRequestBlockingConfigForm, :meshRequestBlockingConfigListForm"
                         styleClass="btn_right cancel_button" title="Add MeshRequestBlockingConfig"
                         action="#{meshRequestBlockingConfigController.resetMeshRequestBlockingConfig}"
                         oncomplete="PF('meshRequestBlockingConfigAddModal').show()" />
        <div class="listing_Table">
            <p:dataTable widgetVar="meshRequestBlockingConfigDataTable"
                         value="#{meshRequestBlockingConfigBean.meshRequestBlockingConfigTOList}"
                         var="meshRequestBlockingConfig" rows="10" rowsPerPageTemplate="10,20,30"
                         paginatorPosition="bottom" paginator="true">

                <p:column sortBy="#{meshRequestBlockingConfig.requestTypeName}"
                          filterBy="#{meshRequestBlockingConfig.requestTypeName}"
                          filterMatchMode="contains">
                    <f:facet name="header">
                        <h:outputText value="RequestType Name" />
                    </f:facet>
                    <h:outputText value="#{meshRequestBlockingConfig.requestTypeName}" />
                </p:column>

                <p:column sortBy="#{meshRequestBlockingConfig.blockingRequestTypeName}"
                          filterBy="#{meshRequestBlockingConfig.blockingRequestTypeName}"
                          filterMatchMode="contains">
                    <f:facet name="header">
                        <h:outputText value="BlockingRequestType Name" />
                    </f:facet>
                    <h:outputText value="#{meshRequestBlockingConfig.blockingRequestTypeName}" />
                </p:column>

                <p:column headerText="Operation">
                    <p:spacer height="10" />
                    <p:commandButton styleClass="cancel_button"
                                     icon="ui-icon ui-icon-pencil" title="Edit"
                                     oncomplete="PF('confirmDlgBox').show();"
                                     update=":meshRequestBlockingConfigEditForm, :meshRequestBlockingConfigListForm"
                                     action="#{meshRequestBlockingConfigController.refreshPopUp(meshRequestBlockingConfig)}" />
                    <p:spacer height="10" />
                </p:column>
            </p:dataTable>
            <p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
                      resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
                <div class="confirmDialog_text">
                    <label styleClass="ui-widget-header"><b> Please edit
                        carefully, changes made might affect the whole setup. </b></label> <br />
                </div>
                <div class="confirmDialog_btn_panel">
                    <p:commandButton value="Yes" styleClass="Submit_button"
                                     icon="ui-icon-check"
                                     oncomplete="PF('confirmDlgBox').hide(); PF('meshRequestBlockingConfigEditModal').show();" />
                    <p:spacer width="20px" />
                    <p:commandButton value="No" type="button"
                                     styleClass="cancel_button" icon="ui-icon-close"
                                     onclick="PF('confirmDlgBox').hide();" immediate="true" />
                </div>
            </p:dialog>
        </div>
    </h:form>

    <p:dialog header="NEW MESHREQUESTBLOCKINGCONFIG" widgetVar="meshRequestBlockingConfigAddModal"
              modal="true">
        <h:form id="addMeshRequestBlockingConfigForm">
            <p:messages id="messages" closable="true"  showDetail="false" autoUpdate="true"/>
            <h:panelGrid columns="2" cellpadding="5" style="border:none">
                <p:outputLabel>
                    <span class="redColor">*</span>RequestType Name:
                </p:outputLabel>
                <p:selectOneMenu value="#{meshRequestBlockingConfigBean.requestTypeId}"
                                 required="true" filter="true" filterMatchMode="contains"
                                 requiredMessage="Please select RequestType.">
                    <f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
                    <f:selectItems var="record"
                                   value="#{meshRequestBlockingConfigBean.meshRequestTypes}"
                                   itemLabel="#{record.requestTypeName}"
                                   itemValue="#{record.requestTypeId}" />
                </p:selectOneMenu>
                <p:outputLabel>
                    <span class="redColor">*</span>BlockingRequestType Name:
                </p:outputLabel>
                <p:selectOneMenu value="#{meshRequestBlockingConfigBean.blockingRequestTypeId}"
                                 required="true" filter="true" filterMatchMode="contains"
                                 requiredMessage="Please select BlockingRequestType.">
                    <f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
                    <f:selectItems var="record"
                                   value="#{meshRequestBlockingConfigBean.meshRequestTypes}"
                                   itemLabel="#{record.requestTypeName}"
                                   itemValue="#{record.requestTypeId}" />
                </p:selectOneMenu>
            </h:panelGrid>
            <p:commandButton styleClass="Submit_button" value="Save"
                             action="#{meshRequestBlockingConfigController.addMeshRequestBlockingConfig()}"
                             process=":addMeshRequestBlockingConfigForm" />

            <p:commandButton styleClass="cancel_button" value="Cancel"
                             onclick="PF('meshRequestBlockingConfigAddModal').hide(), scrollUp();"
                             style="float:bottom" immediate="true" />
        </h:form>
    </p:dialog>

    <p:dialog widgetVar="meshRequestBlockingConfigEditModal"
              header="MeshRequestBlockingConfig" modal="true">
        <h:form id="meshRequestBlockingConfigEditForm">
            <p:messages id="editMeshRequestBlockingConfig" closable="true" />
            <h:panelGrid columns="2" cellpadding="5">
               <p:outputLabel>
                    <span class="redColor">*</span>RequestType Name:
                </p:outputLabel>
                <p:selectOneMenu value="#{meshRequestBlockingConfigBean.requestTypeId}"
                                 required="true" filter="true" filterMatchMode="contains"
                                 requiredMessage="Please select RequestType.">
                    <f:selectItems var="record"
                                   value="#{meshRequestBlockingConfigBean.meshRequestTypes}"
                                   itemLabel="#{record.requestTypeName}"
                                   itemValue="#{record.requestTypeId}" />
                </p:selectOneMenu>
                <p:outputLabel>
                    <span class="redColor">*</span>BlockingRequestType Name:
                </p:outputLabel>
                <p:selectOneMenu value="#{meshRequestBlockingConfigBean.blockingRequestTypeId}"
                                 required="true" filter="true" filterMatchMode="contains"
                                 requiredMessage="Please select BlockingRequestType.">
                    <f:selectItems var="record"
                                   value="#{meshRequestBlockingConfigBean.meshRequestTypes}"
                                   itemLabel="#{record.requestTypeName}"
                                   itemValue="#{record.requestTypeId}" />
                </p:selectOneMenu>
            </h:panelGrid>
            <p:commandButton styleClass="Submit_button" value="Update"
                             onclick="scrollUp();"
                             action="#{meshRequestBlockingConfigController.updateMeshRequestBlockingConfig}"/>

            <p:commandButton styleClass="cancel_button" value="Cancel"
                             onclick="scrollUp();"
                             oncomplete="PF('meshRequestBlockingConfigEditModal').hide();"
                             style="float:bottom" immediate="true" />
        </h:form>
    </p:dialog>
</ui:composition>