<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:form id="growlDiv">
		<p:messages showDetail="false" autoUpdate="true" closable="true"
			escape="false" />
	</h:form>

	<h:form id="sysConstantCategoryListForm">


		<label class="Page_Tittle">System Constant Category</label>

		<p:commandButton
			onsuccess="PF('addSysConstantCategoryModal').show();"
			styleClass="btn_right cancel_button" icon="ui-icon-plus"
			title="Add SysConstant Category"
			action="#{sysConstantCategoryController.resetBean}"
			update=":newSysConstantCategoryForm">
		</p:commandButton>

		<div class="listing_Table">
			<p:dataTable widgetVar="myDataTable"
				id="sysConstantCategoryListForm1" var="record"
				value="#{sysConstantCategoryBean.sysConstantCategoryTOList}"
				rows="10" paginator="true" paginatorAlwaysVisible="true"
				styleClass="table-header" rowIndexVar="index"
				paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">
				<f:facet name="{Bands}">

				</f:facet>

				<p:column sortBy="#{record.sysConstantCategoryName}"
					filterBy="#{record.sysConstantCategoryName}">
					<f:facet name="header">
						<h:outputText value="SysConstantCategoryName" />
					</f:facet>

					<h:outputText value="#{record.sysConstantCategoryName}" />
				</p:column>


				<p:column>
					<f:facet name="header">
						<h:outputText value="Operation" />
					</f:facet>
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit" immediate="true"
						onsuccess="PF('sysConstantCategoryUpdateModal').show();"
						update=":sysConstantCategoryEditForm"
						action="#{sysConstantCategoryController.refreshPopUp(record)}" />
					<p:spacer height="10" />
				</p:column>

			</p:dataTable>

			<p:dialog header="Status Change Confirmation"
				widgetVar="confirmDlgBox" resizable="false" closeOnEscape="true"
				modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					Do you really want to change status? <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						actionListener="#{sysConstantCategoryController.updateStatus}"
						onsuccess="PF('confirmDlgBox').hide();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide()" immediate="true" />
				</div>
			</p:dialog>

		</div>
	</h:form>

	<p:dialog widgetVar="addSysConstantCategoryModal"
		header="SysConstantCategory" modal="true">
		<h:form id="newSysConstantCategoryForm">

			<p:messages id="newSysConstantCategory" autoUpdate="true"
				closable="true" />
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel>
					<span class="redColor">*</span>SysConstantCategory Name:</p:outputLabel>
				<p:inputText
					value="#{sysConstantCategoryBean.sysConstantCategoryName}"
					maxlength="100" />

				<p:commandButton styleClass="Submit_button" value="Save"
					update=":newSysConstantCategoryForm"
					action="#{sysConstantCategoryController.save()}" />

				<p:commandButton styleClass="cancel_button" value="Cancel"
					onclick="scrollUp();" 
					onsuccess="PF('addSysConstantCategoryModal').hide();"
					style="float:bottom" immediate="true" />
			</h:panelGrid>
		</h:form>
	</p:dialog>


	<p:dialog widgetVar="sysConstantCategoryUpdateModal" rendered="true"
		header="SysConstantCategory" modal="true">
		<h:form id="sysConstantCategoryEditForm">
			<p:messages id="changesysConstantCategoryDetails" autoUpdate="true"
				closable="true" />
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel value="Name: " />
				<p:inputText
					value="#{sysConstantCategoryBean.sysConstantCategoryName}"
					maxlength="100" />

				<p:commandButton styleClass="Submit_button" value="Update"
					action="#{sysConstantCategoryController.update}"
					onclick="scrollUp();" onsuccess="PF('sysConstantCategoryUpdateModal').hide();"
					update=":sysConstantCategoryListForm" />
				<p:commandButton styleClass="cancel_button" value="Cancel"
					onclick="scrollUp();"
					onsuccess="PF('sysConstantCategoryUpdateModal').hide();"
					style="float:bottom"  immediate="true"  />
			</h:panelGrid>
		</h:form>
	</p:dialog>


</ui:component>