<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysPolicyListForm">
		<p:messages id="messages" closable="true"
			rendered="#{!sysPolicyBean.renderErrorMessage}" />
		<label class="Page_Tittle">Sys Policy List</label>
		<p:commandButton icon="ui-icon-plus" update=":addSysPolicyForm"
			styleClass="btn_right cancel_button" title="Add Sys Policy"
			action="#{sysPolicyController.resetSysPolicy}"
			oncomplete="PF('sysPolicyAddModal').show()" />
		<div class="listing_Table">
			<p:dataTable widgetVar="sysPolicyDataTable" var="sysPolicy"
				value="#{sysPolicyBean.sysPolicyTOList}" rows="10" paginator="true"
				styleClass="table-header" rowIndexVar="index"
				paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">

				<p:column headerText="ModuleName" sortBy="#{sysPolicy.moduleName}"
					filterBy="#{sysPolicy.moduleName}" filterMatchMode="contains">
					<h:outputText value="#{sysPolicy.moduleName}" />
				</p:column>
				<p:column headerText="EntityName" sortBy="#{sysPolicy.entityName}"
					filterBy="#{sysPolicy.entityName}" filterMatchMode="contains">
					<h:outputText value="#{sysPolicy.entityName}" />
				</p:column>
				<p:column headerText="PolicyCode" sortBy="#{sysPolicy.policyCode}"
					filterBy="#{sysPolicy.policyCode}" filterMatchMode="contains">
					<h:outputText value="#{sysPolicy.policyCode}" />
				</p:column>
				<p:column headerText="PolicyName" sortBy="#{sysPolicy.policyName}"
					filterBy="#{sysPolicy.policyName}" filterMatchMode="contains">
					<h:outputText value="#{sysPolicy.policyName}" />
				</p:column>
				<p:column headerText="PolicyLabel" sortBy="#{sysPolicy.policyLabel}"
					filterBy="#{sysPolicy.policyLabel}" filterMatchMode="contains">
					<h:outputText value="#{sysPolicy.policyLabel}" />
				</p:column>
				<p:column headerText="PolicyType" sortBy="#{sysPolicy.policyType}"
					filterBy="#{sysPolicy.policyType}" filterMatchMode="contains">
					<h:outputText value="#{sysPolicy.policyType}" />
				</p:column>
				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show()"
						action="#{sysPolicyController.updateEditSysPolicy(sysPolicy)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>
		</div>
	</h:form>

	<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
		resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
		<h:form>
			<div class="confirmDialog_text">
				<label styleClass="ui-widget-header"><b> Please edit
						carefully, changes made might affect the whole setup. </b></label> <br />
			</div>
			<div class="confirmDialog_btn_panel">
				<p:commandButton value="Yes" styleClass="Submit_button"
					icon="ui-icon-check" update=":sysPolicyEditForm"
					oncomplete="PF('confirmDlgBox').hide(), PF('sysPolicyEditModal').show()" />
				<p:spacer width="20px" />
				<p:commandButton value="No" type="button" styleClass="cancel_button"
					icon="ui-icon-close" onclick="PF('confirmDlgBox').hide()"
					immediate="true" />
			</div>
		</h:form>
	</p:dialog>


	<p:dialog header="NEW SYS POLICY" widgetVar="sysPolicyAddModal"
		modal="true" resizable="false">
		<h:form id="addSysPolicyForm">
			<p:messages id="messages" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">

				<p:outputLabel>
					<span class="redColor">*</span>SysModule:</p:outputLabel>
				<p:selectOneMenu id="SysModule" label="#{sysPolicyBean.moduleName}"
					value="#{sysPolicyBean.moduleID}" required="true" filter="true"
					filterMatchMode="contains"
					requiredMessage="Please select a Sys Module">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysPolicyBean.sysModuleTOList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					SysEntity:</p:outputLabel>
				<p:selectOneMenu id="SysEntity" label="#{sysPolicyBean.entityName}"
					value="#{sysPolicyBean.entityID}" filter="true"
					filterMatchMode="contains" required="true"
					requiredMessage="Please select a Sys Entity">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="record"
						value="#{sysPolicyBean.sysEntityTOList}"
						itemLabel="#{record.entityName}" itemValue="#{record.entityID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Policy Type:</p:outputLabel>
				<p:selectOneMenu id="PolicyType" label="#{sysPolicyBean.policyType}"
					value="#{sysPolicyBean.policyTypeID}" filter="true"
					filterMatchMode="contains">
					<f:selectItem itemLabel="Select One" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="r"
						value="#{sysPolicyBean.sysContentTypeTOList}"
						itemLabel="#{r.sysType}" itemValue="#{r.sysTypeID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>SysPolicy Code:</p:outputLabel>

				<p:inputText id="SysPolicyCode" required="true" maxlength="200"
					requiredMessage="Please input a Sys Policy Code"
					value="#{sysPolicyBean.policyCode}" />

				<p:outputLabel>
					<span class="redColor">*</span>SysPolicy Name:</p:outputLabel>

				<p:inputText id="SysPolicyName" required="true" maxlength="200"
					requiredMessage="Please input a Sys Policy Name"
					value="#{sysPolicyBean.policyName}" />

				<p:outputLabel>
					<span class="redColor">*</span>SysPolicy Label:</p:outputLabel>

				<p:inputText id="SysPolicyLabel" required="true" maxlength="200"
					requiredMessage="Please input a Sys Policy Label"
					value="#{sysPolicyBean.policyLabel}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysPolicyController.saveSysPolicy}"
				process=":addSysPolicyForm" update=":addSysPolicyForm"
				style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysPolicyAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />

		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysPolicyEditModal" header="SysPolicy"
		modal="true">
		<h:form id="sysPolicyEditForm">
			<p:messages id="editSysPolicy" closable="true" autoUpdate="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>SysModule:</p:outputLabel>
				<p:selectOneMenu id="SysModule" filter="true"
					filterMatchMode="contains" value="#{sysPolicyBean.moduleID}"
					required="true" requiredMessage="Sys Module is required">
					<f:selectItems var="record"
						value="#{sysPolicyBean.sysModuleTOList}"
						itemLabel="#{record.moduleName}" itemValue="#{record.moduleID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					SysEntity:</p:outputLabel>
				<p:selectOneMenu id="SysEntity" filter="true"
					filterMatchMode="contains" value="#{sysPolicyBean.entityID}"
					required="true" requiredMessage="Please select a Sys Entity">
					<f:selectItems var="record"
						value="#{sysPolicyBean.sysEntityTOList}"
						itemLabel="#{record.entityName}" itemValue="#{record.entityID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>Policy Type:</p:outputLabel>
				<p:selectOneMenu id="PolicyType" label="#{sysPolicyBean.policyType}"
					value="#{sysPolicyBean.policyTypeID}" required="true" filter="true"
					filterMatchMode="contains"
					requiredMessage="Please select a Policy Type">
					<f:selectItems var="r1"
						value="#{sysPolicyBean.sysContentTypeTOList}"
						itemLabel="#{r1.sysType}" itemValue="#{r1.sysTypeID}" />
				</p:selectOneMenu>

				<p:outputLabel>
					<span class="redColor">*</span>SysPolicyCode:</p:outputLabel>
				<p:inputText id="sysPolicyCode" required="true" maxlength="200"
					value="#{sysPolicyBean.policyCode}"
					requiredMessage="SysPolicyCode is required" />

				<p:outputLabel>
					<span class="redColor">*</span>SysPolicyLabel:</p:outputLabel>
				<p:inputText id="sysPolicyLabel" required="true" maxlength="200"
					value="#{sysPolicyBean.policyLabel}"
					requiredMessage="SysPolicyLabel is required" />

				<p:outputLabel>
					<span class="redColor">*</span>SysPolicyName:</p:outputLabel>
				<p:inputText id="sysPolicyName" required="true" maxlength="200"
					value="#{sysPolicyBean.policyName}"
					requiredMessage="SysPolicyName is required" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" update=":sysPolicyEditForm"
				process=":sysPolicyEditForm"
				action="#{sysPolicyController.updateSysPolicy()}" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();" action="#{sysPolicyController.resetSysPolicy}"
				oncomplete="PF('sysPolicyEditModal').hide();" style="float:bottom"
				required="true" />

		</h:form>
	</p:dialog>
</ui:composition>