<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

              <ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<style>
.ui-selectcheckboxmenu-header .ui-chkbox {
	cursor: pointer;
	display: none !important;
	float: left;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container {
	float: left;
	margin-left: 0px !important;
	position: relative;
	width: 165px;
}



.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-icon {
    position: absolute;
    right: 148px !important;
    top: 2px;
}

.error{
margin-top: 64px;
color: red !important;
}
.PPcontainer{
width: 78%;
margin-left: 75px;
margin-top: 19px;
border: 1px solid #aecfeb;
height: 120px;
}
.PPtype{
width: 78%;
margin-left: 75px;

}
.btn-centerEdit{
margin-left:45%;
width:10%;
}
.pad_container{
  padding:4px;
  border-color: #aecfeb;
}
.forsuper{
margin-left: 5%;
width: 79%;
}
.btn_left{
display:inline-block;
}
.title_pp{
color: #575757;
}
</style>

<p:outputPanel id="passwordPolicyPanel">

<p:messages closable="true" autoUpdate="true" rendered="#{!passwordPolicyBean.showHome}"/>

	
				
	
<h:form id="passwordPolicyFormList" rendered="#{!passwordPolicyBean.showHome}">
<div class="row margin_top_10">	
	<p:commandButton  styleClass="btn_right cancel_button" icon="ui-icon-plus" title="Create New Policy"
							action="#{passwordPolicyController.buildPasswordPolicySetting}"
							update=":passwordPolicyPanel" oncomplete="scrollUp();" rendered="#{!passwordPolicyBean.passwordPolicyTO.edit}"/>					
</div>
					
	<div class="form_content">
<h3>Setting up password policy</h3>
<div class="form_content_inner">				
					<c:if test="#{!passwordPolicyBean.passwordPolicyTO.edit and !passwordPolicyBean.showHome}">
					<p:outputLabel styleClass="error margin_bottom_10">
					No Password Policy found. Please create default policy.</p:outputLabel>
					
					</c:if>
						
				
			<c:if test="#{passwordPolicyBean.passwordPolicyTO.edit and !passwordPolicyBean.showHome}">
				<h:panelGrid columns="4" styleClass="" columnClasses="td_labelCol,td_outputCol,td_labelCol,td_outputCol">
			<p:outputLabel>No. of minimum characters:</p:outputLabel>
			#{passwordPolicyBean.passwordPolicyTO.minimumCharacters}
					
			<p:outputLabel>Reset Password on first login: </p:outputLabel>
				#{passwordPolicyBean.passwordPolicyTO.resetPasswordOnFirstLogin==true?"Yes":"No"}
 
		
		<p:outputLabel>Force change password frequency: </p:outputLabel>
				#{passwordPolicyBean.passwordPolicyTO.forcePasswordChangeFrequency}
				
				<p:outputLabel>No. of password attempts:</p:outputLabel>
				#{passwordPolicyBean.passwordPolicyTO.noOfAttempts}
				
				<p:outputLabel>Blocking Duration (in mins):</p:outputLabel>
				#{passwordPolicyBean.passwordPolicyTO.blockingDuration}
				
					
						<p:outputLabel>Show captcha after invalid attempts:</p:outputLabel>
						#{passwordPolicyBean.passwordPolicyTO.showCapchaAfter}
						
						
						<p:outputLabel>Allow repeat of old password after:</p:outputLabel>
						#{passwordPolicyBean.passwordPolicyTO.allowRepeatOldPasswordAfter}
</h:panelGrid>


						
</c:if>

	
	</div>
</div>
<p:dataTable styleClass="listing_Table box_table form_content" value="#{passwordPolicyBean.passwordPolicyTO.passwordTypeMap.entrySet()}" var="type">

<p:column headerText="Password Type" style="font-weight:bold;" >
								<h:outputText value="#{type.key}" />
							</p:column>
					<p:column headerText="Mandatory">
#{passwordPolicyBean.passwordPolicyTO.passwordTypeMap[type.key]==true?"Mandatory":"Non-Mandatory"}		
		</p:column>
</p:dataTable>	
<div class="row margin_top_10">	

<p:commandButton value="Edit" styleClass="btn btn-primary submit-button"
							action="#{passwordPolicyController.buildPasswordPolicySetting}"
							update=":passwordPolicyPanel"  rendered="#{passwordPolicyBean.passwordPolicyTO.edit}"  />
							
</div>
</h:form>
	
	<h:form id="passwordPolicyForm" rendered="#{passwordPolicyBean.showHome}">
	<p:messages closable="true" autoUpdate="true" />
	<div class="form_content">
<h3>Setting up password policy</h3>
<div class="form_content_inner">
	<h:panelGrid columns="4" styleClass="" columnClasses="td_labelCol,td_outputCol,td_labelCol,td_outputCol">
			<p:outputLabel><span class="redColor">*</span>No. of minimum characters:</p:outputLabel>
				<p:selectOneMenu 	value="#{passwordPolicyBean.passwordPolicyTO.minimumCharacters}"
									required="true"
									requiredMessage="Please select minimum characters">
									<f:selectItem itemLabel="--please select--"
										noSelectionOption="true" />
									<f:selectItems value="#{passwordPolicyBean.minCharactersList}"
										 />
						</p:selectOneMenu>
							
					
			<p:outputLabel><span class="redColor">*</span>Reset Password on first login: </p:outputLabel>
			<h:selectOneRadio id="console" styleClass="radioTable radioTablePass " value="#{passwordPolicyBean.passwordPolicyTO.resetPasswordOnFirstLogin}">
            <f:selectItem itemLabel="Yes" itemValue="true" />
            <f:selectItem itemLabel="No" itemValue="false" />
			</h:selectOneRadio>
		
		<p:outputLabel><span class="redColor">*</span>Force change password frequency: </p:outputLabel>
				<p:selectOneMenu 	value="#{passwordPolicyBean.passwordPolicyTO.forcePasswordChangeFrequency}"
									required="true"
									requiredMessage="Please select force change password frequency">
									<f:selectItem itemLabel="--please select--"
										noSelectionOption="true" />
									<f:selectItems value="#{passwordPolicyBean.passwordChangeFrequency}" var="type" itemLabel="#{type.sysType}"
						itemValue="#{type.sysType}"
										 />
		
				</p:selectOneMenu>
				
				<p:outputLabel><span class="redColor">*</span>No. of password attempts:</p:outputLabel>
				<p:selectOneMenu 	value="#{passwordPolicyBean.passwordPolicyTO.noOfAttempts}"
									required="true"
									requiredMessage="Please select password attempts:">
									<f:selectItem itemLabel="--please select--"
										noSelectionOption="true" />
									<f:selectItems value="#{passwordPolicyBean.characterListForPasswordAttemp}"
										 />
						</p:selectOneMenu>
						
						<p:outputLabel><span class="redColor">*</span>Blocking Duration (in mins):</p:outputLabel>
					<p:inputText value="#{passwordPolicyBean.passwordPolicyTO.blockingDuration}" onkeypress="return isNumber(event)"/>
						
						<p:outputLabel><span class="redColor">*</span>Show captcha after invalid attempts:</p:outputLabel>
				<p:selectOneMenu 	value="#{passwordPolicyBean.passwordPolicyTO.showCapchaAfter}"
									required="true"
									requiredMessage="Please select show captcha:">
									<f:selectItem itemLabel="--please select--"
										noSelectionOption="true" />
											<f:selectItem itemLabel="0" itemValue="0"/>
									<f:selectItems value="#{passwordPolicyBean.characterListForOldPasswordAttemp}"
										 />
						</p:selectOneMenu>
						
						
						<p:outputLabel><span class="redColor">*</span>Allow repeat of old password after:</p:outputLabel>
				<p:selectOneMenu 	value="#{passwordPolicyBean.passwordPolicyTO.allowRepeatOldPasswordAfter}"
									required="true"
									requiredMessage="Please select allow repeat of old password after:">
									<f:selectItem itemLabel="--please select--"
										noSelectionOption="true" />
									<f:selectItems value="#{passwordPolicyBean.characterListForOldPasswordAttemp}"
										 />
						</p:selectOneMenu>
					 
										 
									
				


	<p:outputLabel><span class="redColor">*</span>Password Type:</p:outputLabel>
	<p:selectCheckboxMenu  value="#{passwordPolicyBean.passwordTypes}" label="select"
                              filter="true" filterMatchMode="startsWith" >
            <f:selectItems value="#{passwordPolicyBean.passwordTypeList}" 	/>
				<p:ajax event="change" update=":passwordPolicyForm"
										listener="#{passwordPolicyController.updatePasswordTypeList()}" >
									</p:ajax>
        </p:selectCheckboxMenu>	 
	<p:spacer height="0"/>
	<p:spacer height="0"/>
	</h:panelGrid>	
	<h:panelGrid  styleClass="" columnClasses="td_labelCol,td_outputCol,td_labelCol,td_outputCol">
<p:spacer height="0"/>

	<p:panel id="selectedPasswordType" rendered="#{passwordPolicyBean.renderpasswordTypePanel}">
<p:dataTable styleClass="listing_Table box_table" value="#{passwordPolicyBean.passwordPolicyTO.passwordTypeMap.entrySet()}" var="type">
<p:column headerText="Password Type" style="font-weight:bold;" >
								<h:outputText value="#{type.key}"  />
							</p:column>
					<p:column headerText="Mandatory">
		<p:selectBooleanCheckbox value="#{passwordPolicyBean.passwordPolicyTO.passwordTypeMap[type.key]}">
        </p:selectBooleanCheckbox>
									</p:column>
</p:dataTable>
	</p:panel>

<p:spacer height="0"/>
<p:spacer height="0"/>
</h:panelGrid>
<h:panelGrid  styleClass="" columnClasses="td_labelCol,td_outputCol,td_labelCol,td_outputCol">
<p:spacer height="0"/>
<h:panelGroup>
	<p:commandButton value="Save" styleClass="btn btn-primary submit-button "
	action="#{passwordPolicyController.savePasswordPolicySetting}"
	update=":passwordPolicyPanel" oncomplete="scrollUp();" rendered="#{!passwordPolicyBean.passwordPolicyTO.edit}" />
	<p:commandButton value="Update" styleClass="btn btn-primary submit-button"
	action="#{passwordPolicyController.savePasswordPolicySetting}"
	update=":passwordPolicyPanel" oncomplete="scrollUp();" rendered="#{passwordPolicyBean.passwordPolicyTO.edit}"/>
	<p:commandButton value="Back" styleClass="btn btn-primary"
	action="#{passwordPolicyController.initialize}"
	update=":passwordPolicyPanel" immediate="true"/>
</h:panelGroup>
<p:spacer height="0"/>
<p:spacer height="0"/>

</h:panelGrid>
	
		</div>
</div>		
				
			</h:form>
			
			</p:outputPanel>
	
</ui:composition>
