<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysProductAnnouncementListForm">
		<p:messages id="messages" closable="true"
			rendered="#{!sysProductAnnouncementBean.renderErrorMessage}" />
		<label class="Page_Tittle">SysProduct Announcement List</label>
		<p:commandButton icon="ui-icon-plus"
			update=":addSysProductAnnouncementForm"
			styleClass="btn_right cancel_button"
			title="AddSysProductAnnouncement"
			action="#{sysProductAnnouncementController.resetSysProductAnnouncement}"
			oncomplete="PF('sysProductAnnouncementAddModal').show()" />
		<div class="listing_Table">
			<p:dataTable widgetVar="sysProductAnnouncementDataTable"
				var="sysProductAnnouncement"
				value="#{sysProductAnnouncementBean.sysProductAnnouncementTOList}"
				rows="10" paginator="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">

				<p:column headerText="SysProduct Announcement"
					sortBy="#{sysProductAnnouncement.sysProductAnnouncement}"
					filterBy="#{sysProductAnnouncement.sysProductAnnouncement}"
					filterMatchMode="contains">
					<h:outputText
						value="#{sysProductAnnouncement.sysProductAnnouncement}" />
				</p:column>

				<p:column
					sortBy="#{sysProductAnnouncement.sysProductAnnouncementLabel}"
					filterBy="#{sysProductAnnouncement.sysProductAnnouncementLabel}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="SysProduct Announcement Label" />
					</f:facet>
					<h:outputText
						value="#{sysProductAnnouncement.sysProductAnnouncementLabel}" />
				</p:column>

				<p:column headerText="Valid From"
					sortBy="#{sysProductAnnouncement.strValidFrom}"
					filterBy="#{sysProductAnnouncement.strValidFrom}"
					filterMatchMode="contains">
					<h:outputText value="#{sysProductAnnouncement.strValidFrom}">
						<f:convertDateTime pattern="dd-MMM-yyyy" timeZone="IST" />
					</h:outputText>
				</p:column>

				<p:column headerText="Valid To"
					sortBy="#{sysProductAnnouncement.strValidTo}"
					filterBy="#{sysProductAnnouncement.strValidTo}">
					<h:outputText value="#{sysProductAnnouncement.strValidTo}"
						filterMatchMode="contains">
						<f:convertDateTime pattern="dd-MMM-yyyy" timeZone="IST" />
					</h:outputText>
				</p:column>

				<p:column sortBy="#{sysProductAnnouncement.status}"
					filterBy="#{sysProductAnnouncement.status}">
					<f:facet name="header">
						<h:outputText value="Status" />
					</f:facet>
					<h:outputText value="#{sysProductAnnouncement.status}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('sysProductAnnouncementEditModal').show()"
						update=":sysProductAnnouncementEditForm"
						action="#{sysProductAnnouncementController.editSysProductAnnouncement(sysProductAnnouncement)}" />
					<p:spacer height="10" />
				</p:column>
			</p:dataTable>
		</div>
	</h:form>

	<p:dialog header="NEW SYSPRODUCTANNOUNCEMENT"
		styleClass="PopUpinCenter_addFilter"
		widgetVar="sysProductAnnouncementAddModal" modal="true"
		resizable="false">
		<h:form id="addSysProductAnnouncementForm">
			<p:messages id="messages" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>System Product Announcement:</p:outputLabel>
				<p:inputText id="SysProductAnnouncementType" required="true"
					maxlength="50"
					requiredMessage="Please input a System Product Announcement"
					value="#{sysProductAnnouncementBean.sysProductAnnouncement}" />
				<p:outputLabel>
					<span class="redColor">*</span>System Product Announcement Label:</p:outputLabel>
				<p:editor
					value="#{sysProductAnnouncementBean.sysProductAnnouncementLabel}"
					required="true"
					requiredMessage="Please input System Product Announcement Label Value" />

			</h:panelGrid>
			<h:panelGrid columns="4" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>Valid From:</p:outputLabel>
				<p:calendar value="#{sysProductAnnouncementBean.validFrom}"
					showOn="button" readonlyInput="true" timeZone="IST"
					pattern="dd-MMM-yyyy" required="true"
					mindate="#{sysProductAnnouncementBean.currentDate}"
					requiredMessage="Please select ValidFrom date">
					<p:ajax event="dateSelect" update="validTo" />
				</p:calendar>

				<p:outputLabel>
					<span class="redColor">*</span>Valid To:</p:outputLabel>
				<p:calendar id="validTo"
					value="#{sysProductAnnouncementBean.validTo}" showOn="button"
					readonlyInput="true" timeZone="IST" pattern="dd-MMM-yyyy"
					mindate="#{sysProductAnnouncementBean.validFrom}" required="true"
					requiredMessage="Please select ValidTo date" />

									<p:outputLabel>Banner:</p:outputLabel>
				<p:fileUpload value="#{sysProductAnnouncementBean.announcementBannerFile}"
					mode="advanced" dragDropSupport="true" multiple="false"
					fileLimit="1" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
					fileUploadListener="#{sysProductAnnouncementController.handleAnnouncementBannerUpload}" fileLimitMessage="Only one file is allowed."/>
				
					<p:outputLabel>Banner Url:</p:outputLabel>
					
					<p:inputText value="#{sysProductAnnouncementBean.bannerUrl}" />
					
				<p:outputLabel value="IsActive: " />
				<h:selectBooleanCheckbox
					value="#{sysProductAnnouncementBean.active}" />

					
				<p:outputLabel value="OrganizationList: " />
				<p:selectCheckboxMenu id="OrganizationList" styleClass="sys_annc"
					value="#{sysProductAnnouncementBean.selectedOrganizations}"
					filter="true" filterMatchMode="contains"
					label="Select Organizations">
					<f:selectItems var="record"
						value="#{sysProductAnnouncementBean.organizationTOMap.entrySet()}"
						itemLabel="#{record.value.organizationName}"
						itemValue="#{record.key}" />
				</p:selectCheckboxMenu>
</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysProductAnnouncementController.saveSysProductAnnouncement()}"
				update=":addSysProductAnnouncementForm"
				process=":addSysProductAnnouncementForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysProductAnnouncementAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysProductAnnouncementEditModal" resizable="false"
		styleClass="PopUpinCenter_addFilter" header="SysProductAnnouncement"
		modal="true">
		<h:form id="sysProductAnnouncementEditForm">
			<p:messages id="editSysProductAnnouncement" closable="true" />
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>SysProduct Announcement: </p:outputLabel>
				<p:inputText id="sysProductAnnouncement" required="true"
					maxlength="50"
					value="#{sysProductAnnouncementBean.sysProductAnnouncementTO.sysProductAnnouncement}"
					requiredMessage="SysProductAnnouncement is required" />
				<p:outputLabel>
					<span class="redColor">*</span>SysProduct Announcement Label: </p:outputLabel>
				<p:editor
					value="#{sysProductAnnouncementBean.sysProductAnnouncementTO.sysProductAnnouncementLabel}"
					required="true"
					requiredMessage="SysProductAnnouncementLabel is required" />
	</h:panelGrid>
			<h:panelGrid columns="6" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>Valid From:</p:outputLabel>
				<p:calendar
					value="#{sysProductAnnouncementBean.sysProductAnnouncementTO.validFrom}"
					showOn="button" readonlyInput="true" timeZone="IST"
					pattern="dd-MMM-yyyy" required="true"
					requiredMessage="Please select ValidFrom date">
					<p:ajax event="dateSelect" update="validTo" />
				</p:calendar>

				<p:outputLabel>
					<span class="redColor">*</span>Valid To:</p:outputLabel>
				<p:calendar id="validTo"
					value="#{sysProductAnnouncementBean.sysProductAnnouncementTO.validTo}"
					showOn="button" readonlyInput="true" timeZone="IST"
					pattern="dd-MMM-yyyy"
					mindate="#{sysProductAnnouncementBean.sysProductAnnouncementTO.validFrom}"
				required="true" requiredMessage="Please select ValidTo date" />

				<p:outputLabel>Banner:</p:outputLabel>
				<p:fileUpload value="#{sysProductAnnouncementBean.announcementBannerFile}"
					mode="advanced" dragDropSupport="true" multiple="false"
					fileLimit="1" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
					fileUploadListener="#{sysProductAnnouncementController.handleAnnouncementBannerUpload}" fileLimitMessage="Only one file is allowed."/>
				
<p:outputLabel >Previous Banner:</p:outputLabel>
				<img src="#{sysProductAnnouncementBean.sysProductAnnouncementTO.announcementBanner}"
					width="80" height="40"  />
		
	
				
					<p:outputLabel>Banner Url:</p:outputLabel>
					
					<p:inputText value="#{sysProductAnnouncementBean.sysProductAnnouncementTO.bannerUrl}" />
				<p:outputLabel value="OrganizationList: " />
				<p:selectCheckboxMenu id="OrganizationList" styleClass="sys_annc"
					value="#{sysProductAnnouncementBean.selectedOrganizations}"
					filter="true" filterMatchMode="contains"
					label="Select Organizations">
					<f:selectItems var="record"
						value="#{sysProductAnnouncementBean.organizationTOMap.entrySet()}"
						itemLabel="#{record.value.organizationName}"
						itemValue="#{record.key}" />
				</p:selectCheckboxMenu>

				
				<p:outputLabel value="IsActive: " />
				<h:selectBooleanCheckbox
					value="#{sysProductAnnouncementBean.sysProductAnnouncementTO.active}" />

	
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" update=":sysProductAnnouncementEditForm"
				action="#{sysProductAnnouncementController.updateSysProductAnnouncement()}"
				process=":sysProductAnnouncementEditForm" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				action="#{sysProductAnnouncementController.resetSysProductAnnouncement}"
				oncomplete="PF('sysProductAnnouncementEditModal').hide();"
				style="float:bottom" required="true" />
		</h:form>
	</p:dialog>
</ui:composition>