<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="sysDuplicateParameterListForm">
		<p:messages id="messages" closable="true"/>
		<label class="Page_Tittle">SysDuplicateParameter List</label>
		<p:commandButton icon="ui-icon-plus"
			update=":addSysDuplicateParameterForm"
			styleClass="btn_right cancel_button" title="AddSysDuplicateParameter"
			action="#{sysDuplicateParameterController.resetSysDuplicateParameter}"
			oncomplete="PF('sysDuplicateParameterAddModal').show()" />

		<div class="listing_Table">
			<p:dataTable widgetVar="sysDuplicateParameterDataTable"
				var="sysDuplicateParameter"
				value="#{sysDuplicateParameterBean.sysDuplicateParameterTOList}"
				rows="10" paginator="true" styleClass="table-header"
				rowIndexVar="index" paginatorPosition="bottom"
				rowStyleClass="datatable-rowstyle-#{index % 2 eq 0}"
				rowsPerPageTemplate="10,20,30">
				<p:column headerText="SysDuplicateParameter Name"
					sortBy="#{sysDuplicateParameter.sysDuplicateParameterName}"
					filterBy="#{sysDuplicateParameter.sysDuplicateParameterName}"
					filterMatchMode="contains">
					<h:outputText
						value="#{sysDuplicateParameter.sysDuplicateParameterName}" />
				</p:column>

				<p:column headerText="Operation">
					<p:spacer height="10" />
					<p:commandButton styleClass="cancel_button"
						icon="ui-icon ui-icon-pencil" title="Edit"
						oncomplete="PF('confirmDlgBox').show()"
						update=":sysDuplicateParameterEditForm"
						action="#{sysDuplicateParameterController.editSysDuplicateParameter(sysDuplicateParameter)}" />
					<p:spacer height="10" />
				</p:column>

			</p:dataTable>
			
			<p:dialog header="Edit Confirmation" widgetVar="confirmDlgBox"
				resizable="false" closeOnEscape="true" modal="true" id="confirmForm">
				<div class="confirmDialog_text">
					<label styleClass="ui-widget-header"><b> Please edit
							carefully, changes made might affect the whole setup. </b></label> <br />
				</div>
				<div class="confirmDialog_btn_panel">
					<p:commandButton value="Yes" styleClass="Submit_button"
						icon="ui-icon-check"
						oncomplete="PF('confirmDlgBox').hide(); PF('sysDuplicateParameterEditModal').show();" />
					<p:spacer width="20px" />
					<p:commandButton value="No" type="button"
						styleClass="cancel_button" icon="ui-icon-close"
						onclick="PF('confirmDlgBox').hide();" immediate="true" />
				</div>
			</p:dialog>
		</div>
	</h:form>
	<p:dialog header="NEW SYSDUPLICATEPARAMETER"
		widgetVar="sysDuplicateParameterAddModal" modal="true"
		resizable="false">
		<h:form id="addSysDuplicateParameterForm">
			<p:messages id="messages" closable="true" />
			<h:panelGrid columns="2" cellpadding="5" style="border:none">
				<p:outputLabel>
					<span class="redColor">*</span>SysDuplicateParameter Name:</p:outputLabel>
				<p:inputText id="SysDuplicateParameterName" required="true"
					maxlength="50"
					requiredMessage="DuplicateParameter Name is required"
					value="#{sysDuplicateParameterBean.sysDuplicateParameterName}" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Save"
				action="#{sysDuplicateParameterController.saveSysDuplicateParameter()}"
				update=":addSysDuplicateParameterForm" style="float:bottom" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="PF('sysDuplicateParameterAddModal').hide(), scrollUp();"
				style="float:bottom" immediate="true" />
		</h:form>
	</p:dialog>

	<p:dialog widgetVar="sysDuplicateParameterEditModal" resizable="false"
		header="Update SysDuplicateParameter" modal="true">
		<h:form id="sysDuplicateParameterEditForm">
			<p:messages id="editSysDuplicateParameter" closable="true"/>
			<h:panelGrid columns="2" cellpadding="5">

				<p:outputLabel>
					<span class="redColor">*</span>SysDuplicateParameter Name: </p:outputLabel>
				<p:inputText id="updatesysDuplicateParameter" required="true"
					maxlength="50"
					value="#{sysDuplicateParameterBean.sysDuplicateParameterTO.sysDuplicateParameterName}"
					requiredMessage="DuplicateParameter Name is required" />
			</h:panelGrid>
			<p:commandButton styleClass="Submit_button" value="Update"
				onclick="scrollUp();" update=":sysDuplicateParameterEditForm"
				action="#{sysDuplicateParameterController.updateSysDuplicateParameter()}" />

			<p:commandButton styleClass="cancel_button" value="Cancel"
				onclick="scrollUp();"
				action="#{sysDuplicateParameterController.resetSysDuplicateParameter}"
				oncomplete="PF('sysDuplicateParameterEditModal').hide();"
				style="float:bottom" required="true" />
		</h:form>
	</p:dialog>

</ui:composition>