<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui" 
	  xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="modulesForm" prependId="false">
		
		<p:panel id="hcm" header="HCM">
		
		
		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
        <h:outputText value="HRIS"/>  
        <p:selectOneRadio id="hris12" value="#{modulesBean.number}">  
            <f:selectItems value="#{modulesBean.itemList}"/>
        </p:selectOneRadio>  
        </h:panelGrid> 
		
		
		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
        <h:outputText value="HRIS"/>  
        <p:selectOneRadio id="hris" value="#{modulesBean.number}">  
            <f:selectItem itemLabel="ON" itemValue="1"/>  
            <f:selectItem itemLabel="OFF" itemValue="2"/> 
        <p:ajax event="change" listener="#{modulesController.change}"  />
        </p:selectOneRadio>  
        </h:panelGrid> 
	
		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
        <h:outputText value="LEAVE"/>  
        <p:selectOneRadio id="leave" value="">  
            <f:selectItem itemLabel="ON" itemValue="1"/>  
            <f:selectItem itemLabel="OFF" itemValue="2"/>  
        </p:selectOneRadio>  
        </h:panelGrid> 
	   
	   
	   	<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
        <h:outputText value="ATTENDENCE"/>  
        <p:selectOneRadio id="attendence" value="">  
            <f:selectItem itemLabel="ON" itemValue="1"/>  
            <f:selectItem itemLabel="OFF" itemValue="2"/>  
        </p:selectOneRadio>  
        </h:panelGrid> 
	
	
		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
        <h:outputText value="EXIT"/>  
        <p:selectOneRadio id="exit" value="">  
            <f:selectItem itemLabel="ON" itemValue="1"/>  
            <f:selectItem itemLabel="OFF" itemValue="2"/>  
        </p:selectOneRadio>  
        </h:panelGrid> 
		
		
	     <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
        <h:outputText value="PAYROLL"/>  
        <p:selectOneRadio id="payroll" value="">  
            <f:selectItem itemLabel="ON" itemValue="1"/>  
            <f:selectItem itemLabel="OFF" itemValue="2"/>  
        </p:selectOneRadio>  
        </h:panelGrid> 
	
		
		</p:panel>
		
		
		<p:panel id="hiredplus" header="HIRED+">
		
		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
        <h:outputText value="CORE"/>  
        <p:selectOneRadio id="core" value="">  
            <f:selectItem itemLabel="ON" itemValue="1"/>  
            <f:selectItem itemLabel="OFF" itemValue="2"/>  
        </p:selectOneRadio>  
        </h:panelGrid> 
	
	     
	     	<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
        <h:outputText value="VENDOR PORTAL"/>  
        <p:selectOneRadio id="vp" value="">  
            <f:selectItem itemLabel="ON" itemValue="1"/>  
            <f:selectItem itemLabel="OFF" itemValue="2"/>  
        </p:selectOneRadio>  
        </h:panelGrid> 
	
	
		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
        <h:outputText value="CANDIDATE PORTAL"/>  
        <p:selectOneRadio id="cp" value="">  
            <f:selectItem itemLabel="ON" itemValue="1"/>  
            <f:selectItem itemLabel="OFF" itemValue="2"/>  
        </p:selectOneRadio>  
        </h:panelGrid> 
	   
	   
	   	<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
        <h:outputText value="BUSINESS PORTAL"/>  
        <p:selectOneRadio id="bp" value="">  
            <f:selectItem itemLabel="ON" itemValue="1"/>  
            <f:selectItem itemLabel="OFF" itemValue="2"/>  
        </p:selectOneRadio>  
        </h:panelGrid> 
	
		
		</p:panel>
		
		
		<p:panel id="insights" header="INSIGHTS">
		
		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">  
        <h:outputText value="WORKFORCE DEMOGRAPHICS"/>  
        <p:selectOneRadio id="wd" value="">  
            <f:selectItem itemLabel="ON" itemValue="1"/>  
            <f:selectItem itemLabel="OFF" itemValue="2"/>  
        </p:selectOneRadio>  
        </h:panelGrid> 
	
	   	
		</p:panel>
		
	
	</h:form>

</html>